SHT_Sensor-Weatherman/bin/FLOW - myHOME- Weatherman_20190510.md
[{"id":"f92924be.ce59a8","type":"tab","label":"myHOME - Weatherman DB","disabled":false,"info":""},{"id":"f5e1274e.3321a8","type":"mysql","z":"f92924be.ce59a8","mydb":"cc4f672b.e6b7c8","name":"","x":1100,"y":120,"wires":[["3176fa09.669fc2"]]},{"id":"3176fa09.669fc2","type":"function","z":"f92924be.ce59a8","name":"INIT - DEVICES - Weatherman","func":"// \n// Weatherman\n//\n// - SQL-/CSV-Datenbankabfrage Devices auswerten\n// - Globale Flow Variablen setzen\n//\n// myFlow_DeviceArray_Count\n// myFlow_DeviceArray[]\n// myFlow_DeviceReadingsLast[]\n//\nvar myMsg;\nvar i = 0;\nvar mySqlAnzahl = 0;\nvar mySqlArray  = [];\nvar mySqlArrayLast = [];\nvar state = 0;\nvar stateName = \"DB\";\n\nif (Number(flow.get('myFlow_Db_Flag')) === 0 ) {\n  stateName = \"CSV\";\n}\n\n// Globale Flow Variablen zuruecksetzen\nflow.set('myFlow_DeviceArray_Count', mySqlAnzahl);\nflow.set('myFlow_DeviceArray', mySqlArray);\n\nmyMsg = msg.payload[1];\nif (myMsg && typeof myMsg === 'object') {\n  // Devices\n  mySqlAnzahl = myMsg.length;\n  if (mySqlAnzahl > 0) {\n    // alle Devices einlesen\n    for (i = 0; i < mySqlAnzahl; i=i+1) {\n      // zeilenweise uebernehmen\n      mySqlArray[i] = myMsg[i];\n    }\n    // Device-Eintraege im Flow merken\n    flow.set('myFlow_DeviceArray', mySqlArray);\n    // Anzahl der Device-Eintraege im Flow merken\n    flow.set('myFlow_DeviceArray_Count', mySqlAnzahl);\n    state = mySqlAnzahl;\n    // Init letzter Device-Wert Array\n    for (i = 0; i < mySqlAnzahl; i=i+1) {\n      // zeilenweiser Initwert\n      mySqlArrayLast[i] = '';\n    }\n    // Device-Werte im Flow merken\n    flow.set('myFlow_DeviceReadingsLast', mySqlArrayLast);\n  }\n}\n\n// Display initial state\nif (state !== 0 ) {\n  node.status( {fill:\"green\", shape:\"dot\", text:stateName + \" - init devices: \" + state} );\n  return msg;\n} else {\n  node.status( {fill:\"red\", shape:\"ring\", text:stateName + \" - no devices: \" + state} );\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1440,"y":120,"wires":[["53b6b008.949c04"]]},{"id":"a3e93cbc.ce452","type":"tcp in","z":"f92924be.ce59a8","name":"Listen Weatherman","server":"server","host":"","port":"8181","datamode":"single","datatype":"utf8","newline":"","topic":"","base64":false,"x":120,"y":430,"wires":[["731d8b91.3e17cc"]]},{"id":"45eb98c3.bae6c4","type":"switch","z":"f92924be.ce59a8","name":"Check INIT - DEVICES","property":"myFlow_DeviceArray_Count","propertyType":"flow","rules":[{"t":"neq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":430,"wires":[["ae9274df.874ef"]]},{"id":"c538220a.816b88","type":"function","z":"f92924be.ce59a8","name":"READ - DEVICES - Weatherman","func":"// \n// Weatherman\n//\n// - Globale Flow Variablen zuruecksetzen\n// - SQL-Datenbankabfrage Devices\n//\n\n// SQL - alle aktiven Device-Eintraege aus Datenbank holen\nmsg.topic = \"USE `myHOME`;\" +\n           \"SELECT * FROM SENSOR_DEVICES WHERE DEV_NAME = 'Weatherman' AND DEV_FL_ACT <> 0;\"\n\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":120,"wires":[["221b5451.a53d28"]]},{"id":"731d8b91.3e17cc","type":"function","z":"f92924be.ce59a8","name":"Check EOT and add Timestamp","func":"// \n// Weatherman\n//\n// - JSON auf Vollstaendigkeit pruefen (EOT-Zeichen)\n// - Timestamp erzeugen und in msg aufnehmen\n//   (allgemein gueltige Textversion 'yyyy-mm-dd hh:mm:ss')\n//\n//\nvar myJSON = msg.payload;\n\n// Regex to match the unicode characters for EOT\nvar grepEOT = /(.*)(\\u0003|\\u0004)/;\nvar match = grepEOT.exec(myJSON);\n\n// String contains EOT, should be complete\nif (match !== null) {\n  // Try to parse JSON and validate object\n  msg.payload = JSON.parse(match[1]);\n  if (msg.payload && typeof msg.payload === 'object') {\n    // Timestamp\n    myTime = new Date();\n    myTime = (myTime.getFullYear() + '-' + ('00' + (myTime.getMonth()+1)).slice(-2) + '-' + ('00' + myTime.getDate()).slice(-2) + ' ' + ('00' + myTime.getHours()).slice(-2) + ':' + ('00' + myTime.getMinutes()).slice(-2) + ':' + ('00' + myTime.getSeconds()).slice(-2));\n    msg.timestamp = myTime;\n    return msg;\n  } else {\n    node.error('Unvollständige oder beschädigte JSON-Nachricht', msg);\n  }\n// No EOT found or parse error. Possibly trunctuated / corrupt message\n} else {\n  node.error('Kein EOT oder unvollständige oder beschädigte JSON-Nachricht', msg);\n}\n","outputs":1,"noerr":0,"x":370,"y":430,"wires":[["45eb98c3.bae6c4","8e17307d.b667b"]],"outputLabels":["bla"]},{"id":"5238ca44.a4101","type":"comment","z":"f92924be.ce59a8","name":"Weatherman DB - System","info":"","x":1700,"y":30,"wires":[]},{"id":"8e17307d.b667b","type":"rbe","z":"f92924be.ce59a8","name":"WatchDog","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":270,"y":320,"wires":[["31d57a34.96a332","45c88ade.f39cb4","7ec74e5e.849518"]]},{"id":"31d57a34.96a332","type":"trigger","z":"f92924be.ce59a8","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"2","extend":true,"units":"min","reset":"1","bytopic":"all","name":"Timeout (2 min)","x":450,"y":280,"wires":[["92c6ee02.10ebc"]]},{"id":"92c6ee02.10ebc","type":"switch","z":"f92924be.ce59a8","name":"Check Timeout","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":640,"y":260,"wires":[["5b0c6e94.b7d81c"],["77f17f75.f8998"]]},{"id":"5b0c6e94.b7d81c","type":"change","z":"f92924be.ce59a8","name":"Timeout - false","rules":[{"t":"set","p":"payload","pt":"msg","to":"con_ok","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":240,"wires":[["aac90ec.c9d8f3"]]},{"id":"77f17f75.f8998","type":"change","z":"f92924be.ce59a8","name":"Timeout - true","rules":[{"t":"set","p":"payload","pt":"msg","to":"con_timeout","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":280,"wires":[["aac90ec.c9d8f3"]]},{"id":"45c88ade.f39cb4","type":"trigger","z":"f92924be.ce59a8","op1":"0","op2":"1","op1type":"num","op2type":"num","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"Heart Beat","x":850,"y":320,"wires":[["aac90ec.c9d8f3"]]},{"id":"a6688b78.9ff3","type":"ui_template","z":"f92924be.ce59a8","group":"7d71ea35.7bd9c","name":"WM - Status - Text","order":22,"width":"6","height":"5","format":"<script>\n// ( function(scope ) {\n//   scope.$watch('msg', function(msg) {\n//     if (msg != null) {\n//     } else {\n//     }\n//   });\n// } (scope) );\n</script>\n<table width=\"100%\" border=\"0\">\n  <tbody>\n    <tr>\n      <td width=\"120\">Verbindung:</td>\n      <td>\n        <font color={{msg.ledcolor}}><i class=\"fa fa-circle\" style=\"font-size:10px;\"></i></font>\n      </td>\n      <td>{{msg.txtstatus}}</td>\n    </tr>\n    <tr>\n      <td>ID:</td>\n      <td colspan=\"2\">{{msg.iddev}}</td>\n    </tr>\n    <tr>\n      <td>Firmware:</td>\n      <td colspan=\"2\">{{msg.iddevfw}}</td>\n    </tr>\n    <tr>\n      <td>WLAN:</td>\n      <td colspan=\"2\">{{msg.wlan}}</td>\n    </tr>\n    <tr>\n      <td>Letzte Aktivität:</td>\n      <td colspan=\"2\">{{msg.timestamp}}</td>\n    </tr>\n    <tr>\n      <td>Empfang:</td>\n      <td colspan=\"2\">{{msg.jsonstatus}}<br>{{msg.jsonerror.message}}</td>\n    </tr>\n    <tr>\n      <td colspan=\"3\"><font size=\"-3\"><br>CC BY-NC-SA 4.0<br>(c) by Dipl.-Ing. Wolfram Winter</font></td>\n    </tr>\n  </tbody>\n</table>","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":1190,"y":340,"wires":[[]]},{"id":"35ad6577.a4e44a","type":"comment","z":"f92924be.ce59a8","name":"Weatherman DB - Monitoring und Fehlerbehandlung","info":"","x":220,"y":230,"wires":[]},{"id":"4eb6faa5.cafb8c","type":"catch","z":"f92924be.ce59a8","name":"JSON Error","scope":["731d8b91.3e17cc"],"x":850,"y":360,"wires":[["aac90ec.c9d8f3"]]},{"id":"14a7463f.ed55c6","type":"function","z":"f92924be.ce59a8","name":"Create payload_xxx","func":"// \n// Weatherman\n//\n// - Zentrale Verarbeitung der Weatherman msg\n//\n\n\n// DEBUG - Info\n//   console.log (msg.payload);\n//\n// console.log (flow.get('myFlow_DeviceArray[1]'));\n//\n//   var myTime = new Date();\n//   myTime = myTime.toLocaleString();\n//   console.log (myTime + \" - WM-Nachricht\");\n\n\nvar myObject_Syst = msg.payload.Systeminfo;\nvar myObject_Vars = msg.payload.vars;\nvar myObject = '';\n\nvar myOrgName = '';\nvar myOrgValue = '';\nvar myValUnit = '';\nvar myAvgValue = '';\nvar arrayOrgName = [];\nvar arrayOrgLength = 0;\n\nvar myResultsSys  = [];\nvar myResultsSql  = [];\nvar myResultsNew  = [];\nvar myResultsMqtt = [];\nvar myResultsAvg  = [];\n\nvar i = 0;\nvar myTmp;\nvar myTmpIndex = 0;\n\n// Flow-Verweise\nvar myDeviceArray        = flow.get ('myFlow_DeviceArray');\nvar myDeviceArrayCount   = flow.get (\"myFlow_DeviceArray_Count\");\nvar myDeviceReadingsLast = flow.get ('myFlow_DeviceReadingsLast');\nvar myDeviceReadingsAvg  = flow.get ('myFlow_DeviceReadingsAvg');\n\nvar myFlagNewOnly        = flow.get('myFlow_Flag_NewOnly');\nvar myFlagNewOnlyDefault = flow.get('myFlow_Flag_NewOnly_Default');\n\n// console.log(myDeviceArrayCount); \n\n// -------------------------------\n// --- Weatherman - Systeminfo ---\n// -------------------------------\nmyObject = myObject_Syst;\nif (myObject && typeof myObject === 'object') {\n  arrayOrgName   = Object.keys(myObject);\n  arrayOrgLength = arrayOrgName.length;\n  // console.log(arrayOrgLength);   \n  // Ueber alle Eintrage\n  for (i = 0; i < arrayOrgLength; i=i+1) {\n    myOrgName  = arrayOrgName[i];  \n    myOrgValue = myObject[myOrgName];\n    // Index fuer den Eintrag suchen\n    myTmp = GetDeviceIndex(\"Systeminfo\", myOrgName);\n    if (myTmp !== '') {\n\t  // Index-Eintrag gefunden\t\n      myTmpIndex = Number(myTmp);\n      // Device-Reading behandeln, wenn ...\n      // - alle Device-Readings beruecksichtigt werden sollen\n\t  // - nur die Device-Readings beruecksichtigt werden sollen, die deren Werte sich geaendert haben\n\t  if ((myFlagNewOnly === 0) || ((myFlagNewOnly !== 0) && (myDeviceReadingsLast[myTmpIndex] !== myOrgValue))) {\n        // console.log(msg.timestamp + \" - \" + myOrgName + \" - \" + myOrgValue + \" - \" + myTmp + \" - \" + myDeviceArray[myTmpIndex].ID_DEV); \n        // neuen Wert merken  \n        myDeviceReadingsLast[myTmpIndex] = myOrgValue;  \n        // wenn das Flag fuer das Speichern in der Datenbank gesetzt ist ...\n        // SQL-Insert in SQl payload-Array ablegen\n        if ( Number(myDeviceArray[myTmpIndex].DEV_FL_STO) !== 0 ) {\n          //\n          // `ID_READ`     DATETIME(0) NOT NULL,\n          // `ID_DEV`      INT(10) UNSIGNED,\n          // `READ_TIME`   VARCHAR(25),\n          // `READ_VALUE`  VARCHAR(50),\n          // `READ_FLAG`   TINYINT UNSIGNED DEFAULT 0\n          //\n          // ID_READ wird automatisch vom Trigger der Datenbank gesetzt\n          //\n          // INSERT INTO SENSOR_READINGS (ID_DEV, READ_TIME, READ_VALUE) values ( '1', '2000-01-01 01:01:01', '47.11' );\n          // myTmp = \"INSERT INTO SENSOR_READINGS (ID_DEV, READ_TIME, READ_VALUE) values (\";\n          // myTmp = myTmp + \"'\" + myDeviceArray[myTmpIndex].ID_DEV + \"'\";\n          // myTmp = myTmp + \", '\" + msg.timestamp +  \"'\";\n          // myTmp = myTmp + \", '\" + myOrgValue +  \"'\";\n          // myTmp = myTmp + \");\"\n          //\n          // INSERT INTO SENSOR_READINGS SET ID_DEV='101901', READ_TIME='2000-01-01 01:01:01', READ_VALUE='47.11';\n          myTmp = \"INSERT INTO SENSOR_READINGS SET\";\n          myTmp = myTmp +  \" ID_DEV='\" + myDeviceArray[myTmpIndex].ID_DEV + \"'\";\n          myTmp = myTmp + \", READ_TIME='\" +  msg.timestamp + \"'\";\n          myTmp = myTmp + \", READ_VALUE='\" +  myOrgValue + \"'\";\n          myTmp = myTmp + \";\"\n          // console.log(myTmp);\n    \n          // Push SQL-Insert in Msg-Ausgabe-Array\n          // myResultsSql.push( {sql: myTmp} );\n          myResultsSql.push( myTmp );\n        }\n        \n        // `ID_DEV`='100901', \n        // `DEV_NAME` = 'Weatherman', \n        // `DEV_TYP` = 'wm_sys_mac-adr'\n        // `DEV_DESC` = 'Wetterstation'\n        // `DEV_LOC` = 'Garten'\n        // `DEV_VAL_DESC` = 'MAC-Adresse'\n        // `DEV_VAL_UNIT` = ''\n        // `DEV_OLD_NAME` = 'Systeminfo'\n        // `DEV_OLD_TYP` = 'MAC-Adresse'\n        // `DEV_MQTT` = '/myHOME/sensor/devices/Weatherman'\n        // `DEV_FL_ACT` = 1 \n        // `DEV_FL_STO` = 0 \n        // `DEV_FL_MQTT` = 0\n        // `DEV_FL_INT` = 0\n       \n        // neues msg-Objekt zusammensetzen\n        myTmp = { \"ID_DEV\": myDeviceArray[myTmpIndex].ID_DEV,\n                  \"READ_TIME\": msg.timestamp,\n                  \"READ_VALUE\": myOrgValue,\n                  \"DEV_NAME\": myDeviceArray[myTmpIndex].DEV_NAME,\n                  \"DEV_TYP\": myDeviceArray[myTmpIndex].DEV_TYP,\n                  \"DEV_DESC\": myDeviceArray[myTmpIndex].DEV_DESC,\n                  \"DEV_LOC\": myDeviceArray[myTmpIndex].DEV_LOC,\n                  \"DEV_VAL_DESC\": myDeviceArray[myTmpIndex].DEV_VAL_DESC,\n                  \"DEV_VAL_UNIT\": myDeviceArray[myTmpIndex].DEV_VAL_UNIT,\n                  \"DEV_MQTT\": myDeviceArray[myTmpIndex].DEV_MQTT,\n                  \"DEV_FL_ACT\": myDeviceArray[myTmpIndex].DEV_FL_ACT,\n                  \"DEV_FL_STO\": myDeviceArray[myTmpIndex].DEV_FL_STO,\n                  \"DEV_FL_MQTT\": myDeviceArray[myTmpIndex].DEV_FL_MQTT,\n                  \"DEV_FL_INT\": myDeviceArray[myTmpIndex].DEV_FL_INT\n                };\n        // console.log(myTmp);\n\n        // Push NEW-Insert in Msg-Ausgabe-Array\n        myResultsSys.push( myTmp );\n\n        // wenn MQTT Ausgabe, dann auch in MQTT-Liste uebernehmen\n        if ((myDeviceArray[myTmpIndex].DEV_FL_MQTT > 0) && (myDeviceArray[myTmpIndex].DEV_MQTT.length > 0)) {\n\n          // neues MQTT-Objekt zusammensetzen\n          myTmp = { \"ID_DEV\": myDeviceArray[myTmpIndex].ID_DEV,\n                    \"READ_TIME\": msg.timestamp,\n                    \"READ_VALUE\": myOrgValue,\n                    \"DEV_NAME\": myDeviceArray[myTmpIndex].DEV_NAME,\n                    \"DEV_TYP\": myDeviceArray[myTmpIndex].DEV_TYP,\n                    \"DEV_DESC\": myDeviceArray[myTmpIndex].DEV_DESC,\n                    \"DEV_LOC\": myDeviceArray[myTmpIndex].DEV_LOC,\n                    \"DEV_VAL_DESC\": myDeviceArray[myTmpIndex].DEV_VAL_DESC,\n                    \"DEV_VAL_UNIT\": myDeviceArray[myTmpIndex].DEV_VAL_UNIT,\n                    \"DEV_MQTT\": myDeviceArray[myTmpIndex].DEV_MQTT\n                  };\n          // console.log(myTmp);\n\n          // Push NEW-Insert in Msg-Ausgabe-Array\n          myResultsMqtt.push( myTmp );\n        }\n          \n      } else {\n      // Wert hat sich nicht geaendert - Eintrag wird ignoriert\n      // console.log(myOrgName + \" - \" + myOrgValue + \" - unveraendert\"); \n      }\n\n    } else {\n      // keinen Index gefunden - Eintrag wird ignoriert\n      // console.log(myOrgName + \" - \" + myOrgValue + \" - !!! FEHLT !!!\");     \n    }\n\n  }\n}\n\nmyOrgName = '';\nmyOrgValue = '';\narrayOrgName = [];\narrayOrgLength = 0;\n\n// ----------------------------------\n// --- Weatherman - vars Readings ---\n// ----------------------------------\nmyObject = myObject_Vars;\nif (myObject && typeof myObject === 'object') {\n  arrayOrgName   = Object.keys(myObject);\n  arrayOrgLength = arrayOrgName.length\n  // console.log(\"--- vars: \" + arrayOrgLength);\n  // Ueber alle Eintrage\n  for (i = 0; i < arrayOrgLength; i=i+1) {\n    myOrgName  = myObject_Vars[i].name;  \n    myOrgValue = myObject_Vars[i].value;\n    // Index fuer den Eintrag suchen\n    myTmp = GetDeviceIndex(\"name\", myOrgName);\n    if (myTmp !== '') {\n\t  // Index-Eintrag gefunden\n      myTmpIndex = Number(myTmp);\n      // Gleitenden Mittelwert fuer alle numerischen Werte\n      if (isNaN(myOrgValue) === false) {\n        if (myDeviceReadingsAvg[myTmpIndex] === undefined) {\n          // erstmalige / erneute Intialisierung\n          myDeviceReadingsAvg[myTmpIndex] = Number(myOrgValue);   \n        } else {\n          // Berechnung gleitender Mittelwert\n          myDeviceReadingsAvg[myTmpIndex] = FloatingAvg(myDeviceReadingsAvg[myTmpIndex], Number(myOrgValue), 2);\n        }\n        myAvgValue = myDeviceReadingsAvg[myTmpIndex];\n      } else {\n        myAvgValue = myOrgValue;\n      }\n      // Parameter-Bezeichnung fuer Baro_NN erzeugen\n      myValUnit = myDeviceArray[myTmpIndex].DEV_VAL_UNIT;\n      // console.log(\"---\" + myOrgName);\n      if ( myOrgName === flow.get('myFlow_wm_name_baro_NN') ) {\n        myValUnit = myObject_Vars[i].desc + \" \" + myValUnit;\n        // console.log(\"---\" + myDeviceArray[myTmpIndex].ID_DEV);\n        // console.log(\"-\" +  myValUnit);\n      }\n      // neues msg-Objekt AVG zusammensetzen\n      myTmp = { \"ID_DEV\": myDeviceArray[myTmpIndex].ID_DEV,\n                \"READ_TIME\": msg.timestamp,\n                \"READ_VALUE\": myAvgValue,\n                \"DEV_NAME\": myDeviceArray[myTmpIndex].DEV_NAME,\n                \"DEV_TYP\": myDeviceArray[myTmpIndex].DEV_TYP,\n                \"DEV_DESC\": myDeviceArray[myTmpIndex].DEV_DESC,\n                \"DEV_LOC\": myDeviceArray[myTmpIndex].DEV_LOC,\n                \"DEV_VAL_DESC\": myDeviceArray[myTmpIndex].DEV_VAL_DESC,\n             // \"DEV_VAL_UNIT\": myDeviceArray[myTmpIndex].DEV_VAL_UNIT,\n                \"DEV_VAL_UNIT\": myValUnit,\n                \"DEV_MQTT\": myDeviceArray[myTmpIndex].DEV_MQTT,\n                \"DEV_FL_ACT\": myDeviceArray[myTmpIndex].DEV_FL_ACT,\n                \"DEV_FL_STO\": myDeviceArray[myTmpIndex].DEV_FL_STO,\n                \"DEV_FL_MQTT\": myDeviceArray[myTmpIndex].DEV_FL_MQTT,\n                \"DEV_FL_INT\": myDeviceArray[myTmpIndex].DEV_FL_INT\n              };\n      // console.log(myTmp);\n      // Push NEW-Insert in Msg-Ausgabe-Array\n      myResultsAvg.push( myTmp );\n      // if (myDeviceReadingsAvg[myTmpIndex] !== undefined) {\n      //   console.log(myDeviceReadingsAvg[myTmpIndex]);\n      // }\n\n      // Device-Reading behandeln, wenn ...\n      // - alle Device-Readings beruecksichtigt werden sollen\n\t  // - nur die Device-Readings beruecksichtigt werden sollen, die deren Werte sich geaendert haben\n\t  if ((myFlagNewOnly === 0) || ((myFlagNewOnly !== 0) && (myDeviceReadingsLast[myTmpIndex] !== myOrgValue))) {\n        // console.log(msg.timestamp + \" - \" + myOrgName + \" - \" + myOrgValue + \" - \" + myTmp + \" - \" + myDeviceArray[myTmpIndex].ID_DEV); \n        // neuen Wert merken  \n        myDeviceReadingsLast[myTmpIndex] = myOrgValue;  \n        // wenn das Flag fuer das Speichern in der Datenbank gesetzt ist ...\n        // SQL-Insert in SQl payload-Array ablegen\n        if ( Number(myDeviceArray[myTmpIndex].DEV_FL_STO) !== 0 ) {\n          //\n          // `ID_READ`     DATETIME(0) NOT NULL,\n          // `ID_DEV`      INT(10) UNSIGNED,\n          // `READ_TIME`   VARCHAR(25),\n          // `READ_VALUE`  VARCHAR(50),\n          // `READ_FLAG`   TINYINT UNSIGNED DEFAULT 0\n          //\n          // ID_READ wird automatisch vom Trigger der Datenbank gesetzt\n          //\n          // INSERT INTO SENSOR_READINGS (ID_DEV, READ_TIME, READ_VALUE) values ( '1', '2000-01-01 01:01:01', '47.11' );\n          // myTmp = \"INSERT INTO SENSOR_READINGS (ID_DEV, READ_TIME, READ_VALUE) values (\";\n          // myTmp = myTmp + \"'\" + myDeviceArray[myTmpIndex].ID_DEV + \"'\";\n          // myTmp = myTmp + \", '\" + msg.timestamp +  \"'\";\n          // myTmp = myTmp + \", '\" + myOrgValue +  \"'\";\n          // myTmp = myTmp + \");\"\n          //\n          // INSERT INTO SENSOR_READINGS SET ID_DEV='101901', READ_TIME='2000-01-01 01:01:01', READ_VALUE='47.11';\n          myTmp = \"INSERT INTO SENSOR_READINGS SET\";\n          myTmp = myTmp +  \" ID_DEV='\" + myDeviceArray[myTmpIndex].ID_DEV + \"'\";\n          myTmp = myTmp + \", READ_TIME='\" +  msg.timestamp + \"'\";\n          myTmp = myTmp + \", READ_VALUE='\" +  myOrgValue + \"'\";\n          myTmp = myTmp + \";\"\n          // console.log(myTmp);\n    \n          // Push SQL-Insert in Msg-Ausgabe-Array\n          // myResultsSql.push( {sql: myTmp} );\n          myResultsSql.push( myTmp );\n        }\n\n        // `ID_DEV`='100001', \n        // `DEV_NAME` = 'Weatherman', \n        // `DEV_TYP` = 'wm_temp'\n        // `DEV_DESC` = 'Wetterstation'\n        // `DEV_LOC` = 'Garten'\n        // `DEV_VAL_DESC` = 'Temperatur-Aussen'\n        // `DEV_VAL_UNIT` = '?C'\n        // `DEV_OLD_NAME` = 'name'\n        // `DEV_OLD_TYP` = '1'\n        // `DEV_MQTT` = '/myHOME/sensor/devices/Weatherman'\n        // `DEV_FL_ACT` = 1 \n        // `DEV_FL_STO` = 1 \n        // `DEV_FL_MQTT` = 1;\n        // `DEV_FL_INT` = 0;\n        \n        // neues msg-Objekt zusammensetzen\n        myTmp = { \"ID_DEV\": myDeviceArray[myTmpIndex].ID_DEV,\n                  \"READ_TIME\": msg.timestamp,\n                  \"READ_VALUE\": myOrgValue,\n                  \"DEV_NAME\": myDeviceArray[myTmpIndex].DEV_NAME,\n                  \"DEV_TYP\": myDeviceArray[myTmpIndex].DEV_TYP,\n                  \"DEV_DESC\": myDeviceArray[myTmpIndex].DEV_DESC,\n                  \"DEV_LOC\": myDeviceArray[myTmpIndex].DEV_LOC,\n                  \"DEV_VAL_DESC\": myDeviceArray[myTmpIndex].DEV_VAL_DESC,\n               // \"DEV_VAL_UNIT\": myDeviceArray[myTmpIndex].DEV_VAL_UNIT,\n                  \"DEV_VAL_UNIT\": myValUnit,\n                  \"DEV_MQTT\": myDeviceArray[myTmpIndex].DEV_MQTT,\n                  \"DEV_FL_ACT\": myDeviceArray[myTmpIndex].DEV_FL_ACT,\n                  \"DEV_FL_STO\": myDeviceArray[myTmpIndex].DEV_FL_STO,\n                  \"DEV_FL_MQTT\": myDeviceArray[myTmpIndex].DEV_FL_MQTT,\n                  \"DEV_FL_INT\": myDeviceArray[myTmpIndex].DEV_FL_INT\n                };\n        // console.log(myTmp);\n\n        // Push NEW-Insert in Msg-Ausgabe-Array\n        myResultsNew.push( myTmp );\n\n        // wenn MQTT Ausgabe, dann auch in MQTT-Liste uebernehmen\n        if ((myDeviceArray[myTmpIndex].DEV_FL_MQTT > 0) && (myDeviceArray[myTmpIndex].DEV_MQTT.length > 0)) {\n\n          // neues MQTT-Objekt zusammensetzen\n          myTmp = { \"ID_DEV\": myDeviceArray[myTmpIndex].ID_DEV,\n                    \"READ_TIME\": msg.timestamp,\n                    \"READ_VALUE\": myOrgValue,\n                    \"DEV_NAME\": myDeviceArray[myTmpIndex].DEV_NAME,\n                    \"DEV_TYP\": myDeviceArray[myTmpIndex].DEV_TYP,\n                    \"DEV_DESC\": myDeviceArray[myTmpIndex].DEV_DESC,\n                    \"DEV_LOC\": myDeviceArray[myTmpIndex].DEV_LOC,\n                    \"DEV_VAL_DESC\": myDeviceArray[myTmpIndex].DEV_VAL_DESC,\n                 // \"DEV_VAL_UNIT\": myDeviceArray[myTmpIndex].DEV_VAL_UNIT,\n                    \"DEV_VAL_UNIT\": myValUnit,\n                    \"DEV_MQTT\": myDeviceArray[myTmpIndex].DEV_MQTT\n                  };\n          // console.log(myTmp);\n\n          // Push NEW-Insert in Msg-Ausgabe-Array\n          myResultsMqtt.push( myTmp );\n        }\n\n      } else {\n      // Wert hat sich nicht geaendert - Eintrag wird ignoriert\n      // console.log(myOrgName + \" - \" + myOrgValue + \" - unveraendert\"); \n      }\n\n    } else {\n      // keinen Index gefunden - Eintrag wird ignoriert\n      // console.log(myOrgName + \" - \" + myOrgValue + \" - !!! FEHLT !!!\");     \n    }\n\n  }\n  \n  // Flag fuer die Device-Reading Verarbeitung wird auf den Default-Wert gesetzt\n  // - muss beim Start auf 0 gesetzt sein, damit beim ersten eingehenden\n  //   JSON-Satz ALLE Werte fuer eine Initialiserung aller Reading-Slots \n  //   in den Flow-Bereiche einmalig uebernommen werden (gesamter Satz)\n  // - danach wird der Wert des globalen Flags 'myFlow_Flag_NewOnly_Default'\n  //   Flags gesetzt - so kann global gesteuert werden, ob dann nur neue \n  //   oder immer alle Readings verarbeitet werden sollen\n  flow.set('myFlow_Flag_NewOnly', myFlagNewOnlyDefault);\n\n}\n\n// neue Datensammlungen in msg-Objekt einhaengen\nmsg.payload_sys  = myResultsSys;\nmsg.payload_var  = myResultsNew;\nmsg.payload_avg  = myResultsAvg;\nmsg.payload_sql  = myResultsSql;\nmsg.payload_mqtt = myResultsMqtt;\n\nreturn msg;\n\n\nfunction FloatingAvg(fOldAvg, fNewVal, iDiv) {\n  // Berechnung Gleitender Mittelwert\n  // Der gleitende Mittelwert (gmw) einmal initialisiert \n  // und dann jeweils um einen neuen Wert (nw) wie folgt ergänzt:\n  // gmw = gmw – gmw / i + nw / i;\n  // Man zieht also den i-ten Teil vom Mittelwert ab und fügt den i-ten teil des neuen Wert hinzu.\n  // i muss immer größer gleich 1 sein.\n  // Je größer man i wählt, desto träger ändert sich der gmw.\n  // Bei i=1 ist gmw = nw.\n\n  var OldAvg = parseFloat(fOldAvg).toFixed(10);\n  var NewVal = parseFloat(fNewVal).toFixed(10);\n  var Div    = parseInt(iDiv);\n  \n  if (Div <= 0) { Div = 1; }\n  \n  var Add_1 = (OldAvg !== 0) ? OldAvg/iDiv : 0;\n  var Add_2 = (NewVal !== 0) ? NewVal/iDiv : 0;\n  \n  var myRtn = OldAvg - Add_1 + Add_2;\n  \n  return myRtn;\n}\n\nfunction GetDeviceIndex(sName, sTyp) {\n  // Gibt die lfd. Index-Nummer im 'myFlow_DeviceArray' zuruck,\n  // wenn 'sName' und 'sTyp ' gefunden wurden - ansonsten ''\n  var myIndex = '';\n  var myAnzahl = 0;\n  var myArray = [];\n\n  myAnzahl = flow.get (\"myFlow_DeviceArray_Count\");\n  myArray  = flow.get ('myFlow_DeviceArray');\n  \n  // console.log(myAnzahl);   \n  \n  for (var j = 0; j < myAnzahl; j=j+1) {\n      if ((myArray[j].DEV_OLD_NAME === sName ) && (myArray[j].DEV_OLD_TYP === sTyp)) {\n        // myIndex = myArray[j].ID_DEV;\n        myIndex = j;\n        j = myAnzahl;\n    }\n  }\n  return myIndex;\n}\n","outputs":1,"noerr":0,"x":1120,"y":430,"wires":[["58ea14e3.103178","b2006d0.719971","74750477.256894","d97bc3b2.1ba7a","e5bf7813.339b28","3c5d9a4e.710f9e"]]},{"id":"d597c1b0.9a3438","type":"comment","z":"f92924be.ce59a8","name":"Version 1.1.0.0 - 10.05.2019 - Readme - WW-myHOME - Weatherman DB","info":"111111------------------------------------------------------------------------\nReadme - WW-myHOME - Weatherman DB\n------------------------------------------------------------------------\n(c) by Dipl.Ing. Wolfram Winter - wolfram.winter@web.de\n\nThis work is licensed under a\nCreative Commons Attribution-NonCommercial-ShareAlike 4.0 International License.\n\nYou should have received a copy of the license along with this work. If\nnot, see <http://creativecommons.org/licenses/by-nc-sa/4.0/>.\n\n------------------------------------------------------------------------\nFunktion:\n\nÜbernahme, Aufbereitung, Deployment und Visualisierung der per WiFi \nversandten Sensordaten der Wetterstation 'Weatherman' (Dr. Stall) \ndurch Node-RED\n\n------------------------------------------------------------------------\nDoku:\n\nhttps://github.com/wolwin/WW-myHOME/tree/master/myHOME%20-%20Weatherman\n\n------------------------------------------------------------------------\n    Erstellt:   10.11.2018 - Winter\n    Änderungen: 13.12.2018 - Winter\n                - Version 1.0.0.0\n                13.03.2019 - Winter\n                - Version 1.0.0.1\n                  - Fix DBdata Flag\n                10.05.2019 - Winter\n                - Version 1.1.0.0\n------------------------------------------------------------------------\n","x":280,"y":30,"wires":[]},{"id":"c704e7c1.4f7f58","type":"mqtt out","z":"f92924be.ce59a8","name":"Data to MQTT","topic":"","qos":"1","retain":"true","broker":"907d3f79.5c45a","x":1210,"y":750,"wires":[]},{"id":"73a311b2.e0106c","type":"mysql","z":"f92924be.ce59a8","mydb":"cc4f672b.e6b7c8","name":"","x":830,"y":810,"wires":[[]]},{"id":"58ea14e3.103178","type":"function","z":"f92924be.ce59a8","name":"VAR READINGS - Weatherman - DB","func":"// \n// Weatherman\n//\n// - SQL-Datenbank Devices INSERT zusammenfuegen \n//   oder x als leere Rueckgabe (keine Datenbankaktion)\n//\nvar mySqlAnzahl = 0;\nvar mySqlText = \"x\";\n\nmySqlAnzahl = msg.payload_sql.length;\nfor (var i = 0; i < mySqlAnzahl; i=i+1) {\n  if (i === 0) { mySqlText = \"\"; }  \n  mySqlText = mySqlText + \" \" + msg.payload_sql[i];\n}\n\nif (mySqlText !== \"x\") {\n  mySqlText = \"USE `myHOME`; \" +  mySqlText \n}\n\nmsg.topic = mySqlText;\n\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":630,"wires":[["eae924de.355088"]]},{"id":"eae924de.355088","type":"switch","z":"f92924be.ce59a8","name":"Check INSERT - DB","property":"topic","propertyType":"msg","rules":[{"t":"neq","v":"x","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":800,"y":690,"wires":[["aa47716c.a4cd28"]]},{"id":"aa47716c.a4cd28","type":"function","z":"f92924be.ce59a8","name":"DBdata - Flow on / off","func":"var state = flow.get('myFlow_DbData_Flag') || 0;\nvar stateName = \"\";\n\nif (Number(flow.get('myFlow_Db_Flag')) === 0 ) {\n  state = 0;\n  stateName = \"DB Flag - \"\n}\n\n// Display initial state\nif (state !== 0 ) {\n  node.status( {fill:\"green\", shape:\"dot\", text:\"on\"} );\n  return msg;\n} else {\n  node.status( {fill:\"red\", shape:\"ring\", text:stateName + \"off\"} );\n}","outputs":1,"noerr":0,"x":800,"y":750,"wires":[["73a311b2.e0106c"]]},{"id":"4cf11968.e6b824","type":"comment","z":"f92924be.ce59a8","name":"Weatherman DB - OUT - Database myHOME","info":"","x":730,"y":580,"wires":[]},{"id":"74750477.256894","type":"function","z":"f92924be.ce59a8","name":"VAR READINGS - Weatherman - MQTT","func":"// \n// Weatherman\n//\n// - MQTT Devices einzeln versenden\n//   oder keine MQTT-Aktion\n//\nvar myMqttAnzahl = 0;\nvar myMqttMsg = msg.payload_mqtt;\nvar myMqttTop = '';\n\nmyMqttAnzahl = myMqttMsg.length;\nfor (var i = 0; i < myMqttAnzahl; i=i+1) {\n  \n  myMqttTop = myMqttMsg[i].DEV_MQTT;\n  myMqttMsg[i].DEV_MQTT = undefined;\n  \n  node.send( {topic:myMqttTop, payload:myMqttMsg[i]} );\n\n}\n\n// gesamtes Msg-Objekt loeschen\nmsg = undefined;\n\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":630,"wires":[["58059125.5c6a74"]]},{"id":"58059125.5c6a74","type":"function","z":"f92924be.ce59a8","name":"MQTTdata - Flow on / off","func":"var state = flow.get('myFlow_MqttData_Flag') || 0;\n\n// Display initial state\nif (state !== 0 ) {\n  node.status( {fill:\"green\", shape:\"dot\", text:\"on\"} );\n  return msg;\n} else {\n  node.status( {fill:\"red\", shape:\"ring\", text:\"off\"} );\n}","outputs":1,"noerr":0,"x":1180,"y":690,"wires":[["c704e7c1.4f7f58"]]},{"id":"a052587e.ed6f98","type":"comment","z":"f92924be.ce59a8","name":"Weatherman DB - OUT -  MQTT myHOME","info":"","x":1140,"y":580,"wires":[]},{"id":"b2006d0.719971","type":"change","z":"f92924be.ce59a8","name":"payload_var","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload_var","tot":"msg"},{"t":"delete","p":"payload_mqtt","pt":"msg"},{"t":"delete","p":"payload_sys","pt":"msg"},{"t":"delete","p":"payload_sql","pt":"msg"},{"t":"delete","p":"payload_avg","pt":"msg"},{"t":"delete","p":"timestamp","pt":"msg"},{"t":"delete","p":"payload_var","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":470,"wires":[["4bb5b2f9.7b4154"]]},{"id":"eea8448f.4a94a8","type":"ui_gauge","z":"f92924be.ce59a8","name":"Temperatur-Aussen","group":"b0d43de3.9d93a","order":1,"width":"3","height":"2","gtype":"gage","title":"{{payload.DEV_VAL_DESC}}","label":"{{payload.DEV_VAL_UNIT}}","format":"{{payload.READ_VALUE}}","min":"-20","max":"50","colors":["#0000e6","#73e600","#e67200"],"seg1":"","seg2":"","x":2110,"y":30,"wires":[]},{"id":"ff5f0f1d.56dec","type":"switch","z":"f92924be.ce59a8","name":"Switch VAR","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"wm_sys_ip","vt":"str"},{"t":"eq","v":"wm_temp","vt":"str"},{"t":"eq","v":"wm_temp_windchill","vt":"str"},{"t":"eq","v":"wm_temp_dewpoint","vt":"str"},{"t":"eq","v":"wm_temp_sky","vt":"str"},{"t":"eq","v":"wm_hum_pro","vt":"str"},{"t":"eq","v":"wm_hum_abs","vt":"str"},{"t":"eq","v":"wm_rain_activity","vt":"str"},{"t":"eq","v":"wm_rain_status","vt":"str"},{"t":"eq","v":"wm_rain_intensity","vt":"str"},{"t":"eq","v":"wm_rain_volume_1","vt":"str"},{"t":"eq","v":"wm_rain_volume_24","vt":"str"},{"t":"eq","v":"wm_rain_yesterday","vt":"str"},{"t":"eq","v":"wm_rain_hours_24","vt":"str"},{"t":"eq","v":"wm_baro","vt":"str"},{"t":"eq","v":"wm_baro_nn","vt":"str"},{"t":"eq","v":"wm_baro_trend","vt":"str"},{"t":"eq","v":"wm_wind_avg","vt":"str"},{"t":"eq","v":"wm_wind_peak","vt":"str"},{"t":"eq","v":"wm_wind_force","vt":"str"},{"t":"eq","v":"wm_wind_direction","vt":"str"},{"t":"eq","v":"wm_wind_dir","vt":"str"},{"t":"eq","v":"wm_sun_lux","vt":"str"},{"t":"eq","v":"wm_sun_temp","vt":"str"},{"t":"eq","v":"wm_sun_temp_diff","vt":"str"},{"t":"eq","v":"wm_sun_status","vt":"str"},{"t":"eq","v":"wm_sun_elevation","vt":"str"},{"t":"eq","v":"wm_sun_azimut","vt":"str"},{"t":"eq","v":"wm_sun_today_hours","vt":"str"},{"t":"eq","v":"wm_sun_before_sunrise","vt":"str"},{"t":"eq","v":"wm_sun_before_sunset","vt":"str"},{"t":"eq","v":"wm_ground_hum","vt":"str"}],"checkall":"true","repair":false,"outputs":32,"x":1740,"y":430,"wires":[[],["eea8448f.4a94a8","a043c850.3c9548"],["bb91f773.61fbf8"],["9c02f970.135058"],[],["ca689597.b0d7c8"],["b11b4ece.11039"],["f0d8102.b0a953"],["f0d8102.b0a953"],["5d7aefb7.49ee78"],["da599624.8a0a68"],["721a018d.04f39"],["5365123b.00046"],["9fe6a6df.78c51"],["ac7fc48.847ab38"],["b159c5bf.c52cc8"],["e2a9b63c.614dd"],["a1b1a6e6.cc453"],["4bc4b5f8.a85a2"],["a8b21536.c57cf8"],["596d1d59.29d408"],["596d1d59.29d408"],["81bf77e7.263ac8"],["a043c850.3c9548"],["a043c850.3c9548"],["8385f921.566e18"],[],[],["e61b5165.c515b8"],[],[],[]]},{"id":"4bb5b2f9.7b4154","type":"function","z":"f92924be.ce59a8","name":"VAR Readings","func":"// \n// Weatherman\n//\n// - VAR Devices einzeln versenden\n//   oder keine VAR-Aktion\n//\nvar myVarAnzahl = 0;\n\nmyVarAnzahl = msg.payload.length;\nfor (var i = 0; i < myVarAnzahl; i=i+1) {\n\n  node.send( {topic:msg.payload[i].DEV_TYP, payload:msg.payload[i]} );\n\n}\n\nreturn [msg];","outputs":1,"noerr":0,"x":1530,"y":470,"wires":[["ff5f0f1d.56dec"]]},{"id":"9c02f970.135058","type":"ui_gauge","z":"f92924be.ce59a8","name":"Temperatur-Taupunkt","group":"b0d43de3.9d93a","order":3,"width":"3","height":"2","gtype":"gage","title":"{{payload.DEV_VAL_DESC}}","label":"{{payload.DEV_VAL_UNIT}}","format":"{{payload.READ_VALUE}}","min":"-20","max":"50","colors":["#0000e6","#73e600","#e67200"],"seg1":"","seg2":"","x":2110,"y":90,"wires":[]},{"id":"bb91f773.61fbf8","type":"ui_gauge","z":"f92924be.ce59a8","name":"Temperatur-Gefuehlt","group":"b0d43de3.9d93a","order":4,"width":"3","height":"2","gtype":"gage","title":"{{payload.DEV_VAL_DESC}}","label":"{{payload.DEV_VAL_UNIT}}","format":"{{payload.READ_VALUE}}","min":"-20","max":"50","colors":["#0000e6","#73e600","#e67200"],"seg1":"","seg2":"","x":2110,"y":60,"wires":[]},{"id":"c9af83d8.5ce63","type":"function","z":"f92924be.ce59a8","name":"Misc","func":"//\n// Weatherman\n//\nvar msgRtn = {};\n\nmsgRtn.topic   = msg.payload.DEV_VAL_DESC;\nmsgRtn.payload = parseFloat(msg.payload.READ_VALUE).toFixed(1);\n\nreturn msgRtn;","outputs":1,"noerr":0,"x":1930,"y":770,"wires":[["64a48ddc.fd2c0c"]]},{"id":"64a48ddc.fd2c0c","type":"ui_chart","z":"f92924be.ce59a8","name":"Verlauf-Temperatur","group":"d9cd92d6.7e9c7","order":9,"width":"0","height":"0","label":"Verlauf - Temperatur °C","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"outputs":1,"x":2120,"y":770,"wires":[[]]},{"id":"ca689597.b0d7c8","type":"ui_gauge","z":"f92924be.ce59a8","name":"Luftfeuchtigkeit-Aussen (Prozent)","group":"b0d43de3.9d93a","order":5,"width":"3","height":"2","gtype":"gage","title":"{{payload.DEV_VAL_DESC}}","label":"{{payload.DEV_VAL_UNIT}}","format":"{{payload.READ_VALUE}}","min":"0","max":"100","colors":["#E6E600","#73e600","#0000e6"],"seg1":"","seg2":"","x":2070,"y":130,"wires":[]},{"id":"b11b4ece.11039","type":"ui_gauge","z":"f92924be.ce59a8","name":"Luftfeuchtigkeit-Aussen (absolut)","group":"b0d43de3.9d93a","order":6,"width":"3","height":"2","gtype":"gage","title":"{{payload.DEV_VAL_DESC}}","label":"{{payload.DEV_VAL_UNIT}}","format":"{{payload.READ_VALUE}}","min":"0","max":"30","colors":["#E6E600","#73e600","#0000e6"],"seg1":"10","seg2":"20","x":2070,"y":160,"wires":[]},{"id":"e8ab355e.fcf4c8","type":"inject","z":"f92924be.ce59a8","name":"DEBUG - SET NewOnly - on","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":580,"wires":[["fd4573b8.dee09"]]},{"id":"fd4573b8.dee09","type":"function","z":"f92924be.ce59a8","name":"NewOnly - on","func":"// \n// Weatherman\n//\n\n// NewOnly - on\n\nvar myTmpNewOnly_Default = 1;\n\nflow.set('myFlow_Flag_NewOnly_Default', myTmpNewOnly_Default);\nflow.set('myFlow_Flag_NewOnly', 0);\n","outputs":1,"noerr":0,"x":420,"y":580,"wires":[[]]},{"id":"d8632f13.8464a","type":"function","z":"f92924be.ce59a8","name":"NewOnly - off","func":"// \n// Weatherman\n//\n\n// NewOnly - off\n\nvar myTmpNewOnly_Default = 0;\n\nflow.set('myFlow_Flag_NewOnly_Default', myTmpNewOnly_Default);\nflow.set('myFlow_Flag_NewOnly', 0);\n","outputs":1,"noerr":0,"x":420,"y":620,"wires":[[]]},{"id":"904afb1f.88eed","type":"inject","z":"f92924be.ce59a8","name":"DEBUG - SET NewOnly - off","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":620,"wires":[["d8632f13.8464a"]]},{"id":"ab911c1c.796de","type":"function","z":"f92924be.ce59a8","name":"SYS Readings","func":"// \n// Weatherman\n//\n// - SYS Devices einzeln versenden\n//   oder keine SYS-Aktion\n//\nvar mySysAnzahl = 0;\n\nmySysAnzahl = msg.payload.length;\nfor (var i = 0; i < mySysAnzahl; i=i+1) {\n\n  node.send( {topic:msg.payload[i].DEV_TYP, payload:msg.payload[i]} );\n\n}\n\nreturn [msg];","outputs":1,"noerr":0,"x":1530,"y":430,"wires":[["441d429c.ccf67"]]},{"id":"441d429c.ccf67","type":"switch","z":"f92924be.ce59a8","name":"Switch SYS","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"wm_sys_mac-adr","vt":"str"},{"t":"eq","v":"wm_sys_hm-ccu-ip","vt":"str"},{"t":"eq","v":"wm_sys_wlan-ssid","vt":"str"},{"t":"eq","v":"wm_sys_wlan-signal-dbm","vt":"str"},{"t":"eq","v":"wm_sys_sec-seit-reset","vt":"str"},{"t":"eq","v":"wm_sys_zeitpunkt","vt":"str"},{"t":"eq","v":"wm_sys_firmware","vt":"str"}],"checkall":"true","repair":false,"outputs":7,"x":1740,"y":100,"wires":[[],[],[],[],[],[],[]]},{"id":"d97bc3b2.1ba7a","type":"change","z":"f92924be.ce59a8","name":"payload_sys","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload_sys","tot":"msg"},{"t":"delete","p":"payload_mqtt","pt":"msg"},{"t":"delete","p":"payload_var","pt":"msg"},{"t":"delete","p":"payload_sql","pt":"msg"},{"t":"delete","p":"payload_avg","pt":"msg"},{"t":"delete","p":"timestamp","pt":"msg"},{"t":"delete","p":"payload_sys","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":430,"wires":[["ab911c1c.796de"]]},{"id":"f1f6e9de.74d0e","type":"comment","z":"f92924be.ce59a8","name":"Weatherman DB - Vars","info":"","x":1720,"y":180,"wires":[]},{"id":"f58305a7.6301b8","type":"ui_gauge","z":"f92924be.ce59a8","name":"Luftdruck NN","group":"b0d43de3.9d93a","order":7,"width":"3","height":"2","gtype":"gage","title":"{{payload.DEV_VAL_DESC}}","label":"{{payload.DEV_VAL_UNIT}}","format":"{{payload.READ_VALUE}}","min":"960","max":"1060","colors":["#0000e6","#73e600","#e67200"],"seg1":"","seg2":"","x":2130,"y":230,"wires":[]},{"id":"6f8e52f2.c0b9a8","type":"ui_text","z":"f92924be.ce59a8","group":"b0d43de3.9d93a","order":8,"width":"3","height":"2","name":"Luftdruck-Trend","label":"{{payload.DEV_VAL_DESC}}","format":"{{payload.READ_VALUE}}","layout":"col-center","x":2130,"y":260,"wires":[]},{"id":"b159c5bf.c52cc8","type":"function","z":"f92924be.ce59a8","name":"Misc","func":"//\n// Weatherman\n//\n// Ergaenzt DEV_VAL_UNIT mit allgemeinen Luftdruckangaben\n// \n// < 980      sehr tief - stuermisch \n// 980-1000   tief - regnerisch \n// 1000-1020  normal - wechselhaft \n// 1020-1040  hoch - sonnig \n// > 1040     sehr hoch - sehr trocken\n\nvar myVal = msg.payload.READ_VALUE;\nvar myTxt = \"\";\n\nmyVal = Number(myVal).toFixed(1);\n\nswitch (true) {\n  case (myVal < 980):                   myTxt = \"sehr tief - stürmisch\";    break;\n  case ( 980 <= myVal && myVal < 1000): myTxt = \"tief - regnerisch\";        break;\n  case (1000 <= myVal && myVal < 1020): myTxt = \"normal - wechselhaft\";     break;\n  case (1020 <= myVal && myVal < 1040): myTxt = \"hoch - sonnig\";            break;\n  case (myVal > 1000):                  myTxt = \"sehr hoch - sehr trocken\"; break;\n}\n\nmsg.payload.READ_VALUE   = myVal;\nmsg.payload.DEV_VAL_DESC = msg.payload.DEV_VAL_DESC;\nmsg.payload.DEV_VAL_UNIT = msg.payload.DEV_VAL_UNIT + \"\\n\" + myTxt;\n\nreturn msg;","outputs":1,"noerr":0,"x":1930,"y":230,"wires":[["f58305a7.6301b8"]]},{"id":"377f5438.9e578","type":"ui_gauge","z":"f92924be.ce59a8","name":"Wind-Staerke","group":"2ebc5c58.76aeec","order":8,"width":"3","height":"2","gtype":"gage","title":"{{payload.DEV_VAL_DESC}}","label":"{{payload.DEV_VAL_UNIT}}","format":"{{payload.READ_VALUE}}","min":"0","max":"12","colors":["#0000e6","#73e600","#e67200"],"seg1":"","seg2":"","x":2130,"y":300,"wires":[]},{"id":"b8cf87b4.a8cbd8","type":"ui_gauge","z":"f92924be.ce59a8","name":"Wind-Staerke AVG","group":"2ebc5c58.76aeec","order":10,"width":"3","height":"2","gtype":"gage","title":"{{payload.DEV_VAL_DESC}}","label":"{{payload.DEV_VAL_UNIT}}","format":"{{payload.READ_VALUE}}","min":"0","max":"120","colors":["#0000e6","#73e600","#e67200"],"seg1":"","seg2":"","x":2120,"y":390,"wires":[]},{"id":"22a5ee5e.d9ab66","type":"ui_gauge","z":"f92924be.ce59a8","name":"Wind-Staerke PEAK","group":"2ebc5c58.76aeec","order":11,"width":"3","height":"2","gtype":"gage","title":"{{payload.DEV_VAL_DESC}}","label":"{{payload.DEV_VAL_UNIT}}","format":"{{payload.READ_VALUE}}","min":"0","max":"120","colors":["#0000e6","#73e600","#e67200"],"seg1":"","seg2":"","x":2110,"y":360,"wires":[]},{"id":"e2a9b63c.614dd","type":"function","z":"f92924be.ce59a8","name":"Misc","func":"//\n// Weatherman\n//\n// Entfernt Unterstrich im Baro-Trend und\n// ersetzt ihn durch ein Leerzeichen\n\nvar str = msg.payload.READ_VALUE;\nvar pos = str.indexOf(\"_\");\n\nif (pos > 0) {\n  msg.payload.READ_VALUE = str.slice(0, pos) + \" \" + str.slice(pos+1);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1930,"y":260,"wires":[["6f8e52f2.c0b9a8"]]},{"id":"596d1d59.29d408","type":"function","z":"f92924be.ce59a8","name":"Misc","func":"// \n//\n//\n// wm_wind_dir\n// Label: {{payload.DEV_VAL_DESC}}\n// Value: {{payload.READ_VALUE}}\n// Units: {{payload.DEV_VAL_UNIT}}\n\nvar msgRtn = {};\n\nvar my_wind_desc  = context.get(\"my_wind_desc\")  || context.set(\"my_wind_desc\",  \"?\");\nvar my_wind_value = context.get(\"my_wind_value\") || context.set(\"my_wind_value\", 0);\nvar my_wind_unit  = context.get(\"my_wind_unit\")  || context.set(\"my_wind_unit\",  \"?\");\nvar my_wind_udir  = context.get(\"my_wind_udir\")  || context.set(\"my_wind_udir\",  \"?\");\n\n// console.log (\"### DEV_TYP ### = \" + msg.payload.DEV_TYP);\n\nif ( msg.payload.DEV_TYP === \"wm_wind_dir\" ) {\n  context.set('my_wind_desc' , msg.payload.DEV_VAL_DESC);\n  context.set('my_wind_value', msg.payload.READ_VALUE);\n  context.set('my_wind_unit' , msg.payload.DEV_VAL_UNIT);\n}\nif ( msg.payload.DEV_TYP === \"wm_wind_direction\" ) {\n  context.set('my_wind_udir', msg.payload.READ_VALUE);\n}\n\n// console.log (\"- my_wind_desc  = \" + context.get('my_wind_desc'));\n// console.log (\"- my_wind_value = \" + context.get('my_wind_value'));\n// console.log (\"- my_wind_unit  = \" + context.get('my_wind_unit'));\n// console.log (\"- my_wind_udir  = \" + context.get('my_wind_udir'));\n// console.log (\"=\");\n\nmsgRtn.topic   = context.get('my_wind_desc');\nmsgRtn.payload = context.get('my_wind_value') + context.get('my_wind_unit');\nmsgRtn.units   = \"\\n\\n\" + context.get('my_wind_udir');\n\nreturn msgRtn;","outputs":1,"noerr":0,"x":1930,"y":330,"wires":[["5597c185.24071c"]]},{"id":"5597c185.24071c","type":"ui_gauge","z":"f92924be.ce59a8","name":"Wind-Richtung X","group":"2ebc5c58.76aeec","order":9,"width":"3","height":"2","gtype":"compass","title":"{{topic}}","label":"{{units}}","format":"{{payload}}","min":0,"max":"360","colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":2120,"y":330,"wires":[]},{"id":"a8b21536.c57cf8","type":"function","z":"f92924be.ce59a8","name":"Misc","func":"\n//\n// Weatherman\n//\n// Ergaenzt DEV_VAL_UNIT mit allgemeinen Wind-Angaben\n// \n\n// https://de.wikipedia.org/wiki/Beaufortskala\n// Windstärke\n// in Bft  Bezeichnung         m/s         km/h  \n// 0   Windstille, Flaute   0,0 – < 0,3    0 – 1\n// 1   leiser Zug           0,3 – < 1,6    1 – 5\n// 2   leichte Brise        1,6 – < 3,4    6 – 11\n// 3   schwache Brise       3,4 – < 5,5   12 – 19\n// 4   mäßige Brise         5,5 – < 8,0   20 – 28\n// 5   frische Brise        8,0 – < 10,8  29 – 38\n// 6   starker Wind        10,8 – < 13,9  39 – 49\n// 7   steifer Wind        13,9 – < 17,2  50 – 61\n// 8   stürmischer Wind    17,2 – < 20,8  62 – 74\n// 9   Sturm               20,8 – < 24,5  75 – 88\n// 10  schwerer Sturm      24,5 – < 28,5  89 – 102\n// 11  orkanartiger Sturm  28,5 – < 32,7 103 – 117\n// 12  Orkan                    ≥ 32,7       ≥ 118  \n\nvar myTxt   = \"\";\nvar myTxtKm = \"\";\nvar myVal   = Number(msg.payload.READ_VALUE);\n\nif (isNaN(myVal)) {\n  myVal = 0;\n}\n\nswitch (true) {\n  case (myVal === 0):  myTxt = \"Windstille\";         myTxtKm = \"0-1\";      break;\n  case (myVal === 1):  myTxt = \"leiser Zug\";         myTxtKm = \"1-5\";      break;\n  case (myVal === 2):  myTxt = \"leichte Brise\";      myTxtKm = \"6-11\";     break;\n  case (myVal === 3):  myTxt = \"schwache Brise\";     myTxtKm = \"12-19\";    break;\n  case (myVal === 4):  myTxt = \"mäßige Brise\";       myTxtKm = \"20-28\";    break;\n  case (myVal === 5):  myTxt = \"frische Brise\";      myTxtKm = \"29-38\";    break;\n  case (myVal === 6):  myTxt = \"starker Wind\";       myTxtKm = \"39-49\";    break;\n  case (myVal === 7):  myTxt = \"steifer Wind\";       myTxtKm = \"50-61\";    break;\n  case (myVal === 8):  myTxt = \"stürmischer Wind\";   myTxtKm = \"62-74\";    break;\n  case (myVal === 9):  myTxt = \"Sturm\";              myTxtKm = \"75-88\";    break;\n  case (myVal === 10): myTxt = \"schwerer Sturm\";     myTxtKm = \"89-102\";   break;\n  case (myVal === 11): myTxt = \"orkanartiger Sturm\"; myTxtKm = \"103-117\";  break;\n  case (myVal === 12): myTxt = \"Orkan\";              myTxtKm = \"≥118\";     break;\n}\n\nmsg.payload.DEV_VAL_UNIT = msg.payload.DEV_VAL_UNIT + \" (\" + myTxtKm + \" km/h)\" + \"\\n\" + myTxt;\n\nreturn msg;","outputs":1,"noerr":0,"x":1930,"y":300,"wires":[["377f5438.9e578"]]},{"id":"494c8fff.63edb","type":"ui_text","z":"f92924be.ce59a8","group":"bc8c0d14.2ff3a","order":13,"width":"3","height":"2","name":"Regen-Status X","label":"{{msg.payload}}","format":"<font color={{msg.color}}><i class=\"fa fa-circle\" style=\"font-size:10px;\"></i></font>","layout":"row-spread","x":2130,"y":460,"wires":[]},{"id":"f0d8102.b0a953","type":"function","z":"f92924be.ce59a8","name":"Misc","func":"\n//\n// Weatherman\n//\n// LED Regenstatus\n// \n// wm_rain_xxx\n// Label: {{payload.DEV_VAL_DESC}}\n// Value: {{payload.READ_VALUE}}\n// Units: {{payload.DEV_VAL_UNIT}}\n//\n// <font color={{msg.color}}><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>\n// <font color={{msg.color}}><i class=\"fa fa-lightbulb-o fa-2x nr-dashboard-ok\" style=\"font-size:24px;\"></i></font>\n// <font color={{msg.color}}><i class=\"fa fa-lightbulb-o fa-2x nr-dashboard-warning\" style=\"font-size:24px;\"></i></font>\n// <font color={{msg.color}}><i class=\"fa fa-lightbulb-o fa-2x nr-dashboard-error\" style=\"font-size:24px;\"></i></font>\n// <font color={{msg.color}}><i class=\"fa fa-lightbulb-o fa-2x nr-dashboard-dim\" style=\"font-size:24px;\"></i></font>\n// <font color={{msg.color}}><i class=\"fa fa-lightbulb-o fa-2x nr-dashboard-color\" style=\"font-size:24px;\"></i></font>\n\nvar msgRtn = {};\n\nvar my_rain_desc   = context.get(\"my_rain_desc\")   || context.set(\"my_rain_desc\",   \"Regen-Status\");\nvar my_rain_value  = context.get(\"my_rain_value\")  || context.set(\"my_rain_value\",  0);\nvar my_rain_status = context.get(\"my_rain_status\") || context.set(\"my_rain_status\", false);\n\n// console.log (\"### DEV_TYP ### = \" + msg.payload.DEV_TYP);\n\nif ( msg.payload.DEV_TYP === \"wm_rain_activity\" ) {\n  context.set('my_rain_value', msg.payload.READ_VALUE);\n}\nif ( msg.payload.DEV_TYP === \"wm_rain_status\" ) {\n  context.set('my_rain_desc'  , msg.payload.DEV_VAL_DESC);\n  context.set('my_rain_status', msg.payload.READ_VALUE);\n}\n\n// console.log (\"- my_rain_desc   = \" + context.get('my_rain_desc'));\n// console.log (\"- my_rain_status = \" + context.get('my_rain_status'));\n// console.log (\"- my_rain_value  = \" + context.get('my_rain_value'));\n// console.log (\"=\");\n\nmsgRtn.color   = (context.get('my_rain_status') === \"true\") ? \"#0072E6\" : \"#B8B8B8\";\nmsgRtn.payload = context.get('my_rain_desc') + \"\\n\\n[\" + context.get('my_rain_value') + \"]\";\n\nreturn msgRtn;","outputs":1,"noerr":0,"x":1930,"y":460,"wires":[["494c8fff.63edb"]]},{"id":"5d7aefb7.49ee78","type":"ui_gauge","z":"f92924be.ce59a8","name":"Regen-Staerke","group":"bc8c0d14.2ff3a","order":12,"width":"3","height":"2","gtype":"gage","title":"{{payload.DEV_VAL_DESC}}","label":"{{payload.DEV_VAL_UNIT}}","format":"{{payload.READ_VALUE}}","min":"0","max":"50","colors":["#73B8FE","#0072E6","#0000e6"],"seg1":"","seg2":"","x":2130,"y":430,"wires":[]},{"id":"da599624.8a0a68","type":"ui_gauge","z":"f92924be.ce59a8","name":"Regen-Vol-1","group":"bc8c0d14.2ff3a","order":14,"width":"3","height":"2","gtype":"gage","title":"{{payload.DEV_VAL_DESC}}","label":"{{payload.DEV_VAL_UNIT}}","format":"{{payload.READ_VALUE}}","min":"0","max":"50","colors":["#73B8FE","#0072E6","#0000e6"],"seg1":"","seg2":"","x":2140,"y":490,"wires":[]},{"id":"721a018d.04f39","type":"ui_gauge","z":"f92924be.ce59a8","name":"Regen-Vol-24","group":"bc8c0d14.2ff3a","order":15,"width":"3","height":"2","gtype":"gage","title":"{{payload.DEV_VAL_DESC}}","label":"{{payload.DEV_VAL_UNIT}}","format":"{{payload.READ_VALUE}}","min":"0","max":"50","colors":["#73B8FE","#0072E6","#0000e6"],"seg1":"","seg2":"","x":2130,"y":520,"wires":[]},{"id":"5365123b.00046","type":"ui_gauge","z":"f92924be.ce59a8","name":"Regen-Vol-Y","group":"bc8c0d14.2ff3a","order":16,"width":"3","height":"2","gtype":"gage","title":"{{payload.DEV_VAL_DESC}}","label":"{{payload.DEV_VAL_UNIT}}","format":"{{payload.READ_VALUE}}","min":"0","max":"50","colors":["#73B8FE","#0072E6","#0000e6"],"seg1":"","seg2":"","x":2140,"y":550,"wires":[]},{"id":"5c307432.2f9a64","type":"ui_gauge","z":"f92924be.ce59a8","name":"Sonne-Lux","group":"7fabc34f.1e9ce","order":1,"width":"3","height":"2","gtype":"gage","title":"{{payload.DEV_VAL_DESC}}","label":"{{payload.DEV_VAL_UNIT}}","format":"{{payload.READ_VALUE}}","min":"0","max":"90000","colors":["#575700","#d7d700","#fefe3b"],"seg1":"","seg2":"","x":2140,"y":620,"wires":[]},{"id":"81bf77e7.263ac8","type":"function","z":"f92924be.ce59a8","name":"Misc","func":"\n//\n// Weatherman\n//\n// Rundet READ_VALUE ohne Nachkommastellen\n// \n\nmsg.payload.READ_VALUE = parseFloat(msg.payload.READ_VALUE).toFixed(0);\n\nreturn msg;","outputs":1,"noerr":0,"x":1930,"y":620,"wires":[["5c307432.2f9a64"]]},{"id":"bd14092b.d88588","type":"ui_gauge","z":"f92924be.ce59a8","name":"Sonne-Temperatur","group":"7fabc34f.1e9ce","order":3,"width":"3","height":"2","gtype":"gage","title":"{{topic}}","label":"{{units}}","format":"{{payload}}","min":"-20","max":"50","colors":["#0000e6","#73e600","#e67200"],"seg1":"","seg2":"","x":2120,"y":680,"wires":[]},{"id":"a043c850.3c9548","type":"function","z":"f92924be.ce59a8","name":"Misc","func":"\n//\n// Weatherman\n//\n// LED Sonnenstatus\n// \n// wm_sun_xxx\n// Label: {{payload.DEV_VAL_DESC}}\n// Value: {{payload.READ_VALUE}}\n// Units: {{payload.DEV_VAL_UNIT}}\n//\n// <font color={{msg.color}}><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>\n// <font color={{msg.color}}><i class=\"fa fa-lightbulb-o fa-2x nr-dashboard-ok\" style=\"font-size:24px;\"></i></font>\n// <font color={{msg.color}}><i class=\"fa fa-lightbulb-o fa-2x nr-dashboard-warning\" style=\"font-size:24px;\"></i></font>\n// <font color={{msg.color}}><i class=\"fa fa-lightbulb-o fa-2x nr-dashboard-error\" style=\"font-size:24px;\"></i></font>\n// <font color={{msg.color}}><i class=\"fa fa-lightbulb-o fa-2x nr-dashboard-dim\" style=\"font-size:24px;\"></i></font>\n// <font color={{msg.color}}><i class=\"fa fa-lightbulb-o fa-2x nr-dashboard-color\" style=\"font-size:24px;\"></i></font>\n\nvar msgRtn = {};\nvar myVal = 0;\n\nvar my_temp_desc  = context.get(\"my_temp_desc\")  || context.set(\"my_temp_desc\",  \"Temperatur\");\nvar my_temp_value = context.get(\"my_temp_value\") || context.set(\"my_temp_value\", 0);\nvar my_temp_unit  = context.get(\"my_temp_unit\")  || context.set(\"my_temp_unit\",  \"°C\");\n\nvar my_sun_flag  = context.get(\"my_sun_flag\")  || context.set(\"my_sun_flag\",  false);\nvar my_sun_desc  = context.get(\"my_sun_desc\")  || context.set(\"my_sun_desc\",  \"Sonne-Temperatur\");\nvar my_sun_value = context.get(\"my_sun_value\") || context.set(\"my_sun_value\", 0);\nvar my_sun_unit  = context.get(\"my_sun_unit\")  || context.set(\"my_sun_unit\",  \"°C\");\nvar my_sun_delta = context.get(\"my_sun_delta\") || context.set(\"my_sun_delta\", 0);\n\nvar my_sun_diff_desc  = context.get(\"my_sun_diff_desc\")  || context.set(\"my_sun_diff_desc\",  \"Sonne-Diff.Temp.\");\nvar my_sun_diff_value = context.get(\"my_sun_diff_value\") || context.set(\"my_sun_diff_value\", 0);\nvar my_sun_diff_unit  = context.get(\"my_sun_diff_unit\")  || context.set(\"my_sun_diff_unit\",  \"°C\");\n\n// console.log (\"### DEV_TYP ### = \" + msg.payload.DEV_TYP);\n\nif ( msg.payload.DEV_TYP === \"wm_sun_temp_diff\" ) {\n  context.set('my_sun_diff_desc' , msg.payload.DEV_VAL_DESC);\n  context.set('my_sun_diff_value', msg.payload.READ_VALUE);\n  context.set('my_sun_diff_unit' , msg.payload.DEV_VAL_UNIT);\n}\nif ( msg.payload.DEV_TYP === \"wm_sun_temp\" ) {\n  context.set('my_sun_desc' , msg.payload.DEV_VAL_DESC);\n  context.set('my_sun_value', msg.payload.READ_VALUE);\n  context.set('my_sun_unit' , msg.payload.DEV_VAL_UNIT);\n  context.set('my_sun_flag' , true);\n}\nif ( msg.payload.DEV_TYP === \"wm_temp\" ) {\n  context.set('my_temp_desc' , msg.payload.DEV_VAL_DESC);\n  context.set('my_temp_value', msg.payload.READ_VALUE);\n  context.set('my_temp_unit' , msg.payload.DEV_VAL_UNIT);\n}\n\n// console.log (\"- my_temp_desc  = \" + context.get('my_temp_desc'));\n// console.log (\"- my_temp_value = \" + context.get('my_temp_value'));\n// console.log (\"- my_temp_unit  = \" + context.get('my_temp_unit'));\n// console.log (\"- my_sun_desc  = \" + context.get('my_sun_desc'));\n// console.log (\"- my_sun_value = \" + context.get('my_sun_value'));\n// console.log (\"- my_sun_unit  = \" + context.get('my_sun_unit'));\n// console.log (\"- my_sun_flag  = \" + context.get('my_sun_flag'));\n// console.log (\"- my_sun_diff_desc  = \" + context.get('my_sun_diff_desc'));\n// console.log (\"- my_sun_diff_value = \" + context.get('my_sun_diff_value'));\n// console.log (\"- my_sun_diff_unit  = \" + context.get('my_sun_diff_unit'));\n// console.log (\"=\");\n\nif (context.get('my_sun_flag') === true) {\n  myVal = context.get('my_sun_value');\n} else {\n  myVal = context.get('my_temp_value') + context.get('my_diff_value');\n}\nif (isNaN(myVal)) {\n  myVal = 0;\n}\nmyVal = parseFloat(myVal).toFixed(1);\n\nmsgRtn.topic   = context.get('my_sun_desc');\nmsgRtn.payload = myVal;\nmsgRtn.units   = context.get('my_sun_unit') + \"\\nDelta Temp. \" + context.get('my_sun_diff_value') + \" \" + context.get('my_sun_diff_unit');\n\nreturn msgRtn;","outputs":1,"noerr":0,"x":1930,"y":680,"wires":[["bd14092b.d88588"]]},{"id":"2c029c9a.0c6a4","type":"ui_text","z":"f92924be.ce59a8","group":"7fabc34f.1e9ce","order":2,"width":"3","height":"2","name":"Sonne-Status X","label":"{{msg.payload}}","format":"<font color={{msg.color}}><i class=\"fa fa-circle\" style=\"font-size:10px;\"></i></font>","layout":"row-spread","x":2130,"y":650,"wires":[]},{"id":"8385f921.566e18","type":"function","z":"f92924be.ce59a8","name":"Misc","func":"//\n// Weatherman\n//\n// LED Sonnenstatus\n// \n// wm_sun_xxx\n// Label: {{payload.DEV_VAL_DESC}}\n// Value: {{payload.READ_VALUE}}\n// Units: {{payload.DEV_VAL_UNIT}}\n//\n// <font color={{msg.color}}><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>\n// <font color={{msg.color}}><i class=\"fa fa-lightbulb-o fa-2x nr-dashboard-ok\" style=\"font-size:24px;\"></i></font>\n// <font color={{msg.color}}><i class=\"fa fa-lightbulb-o fa-2x nr-dashboard-warning\" style=\"font-size:24px;\"></i></font>\n// <font color={{msg.color}}><i class=\"fa fa-lightbulb-o fa-2x nr-dashboard-error\" style=\"font-size:24px;\"></i></font>\n// <font color={{msg.color}}><i class=\"fa fa-lightbulb-o fa-2x nr-dashboard-dim\" style=\"font-size:24px;\"></i></font>\n// <font color={{msg.color}}><i class=\"fa fa-lightbulb-o fa-2x nr-dashboard-color\" style=\"font-size:24px;\"></i></font>\n\nvar msgRtn = {};\n\nmsgRtn.payload = msg.payload.DEV_VAL_DESC;\nmsgRtn.color   = (msg.payload.READ_VALUE === \"true\") ? \"#E6E600\" : \"#B8B8B8\";\n\nreturn msgRtn;","outputs":1,"noerr":0,"x":1930,"y":650,"wires":[["2c029c9a.0c6a4"]]},{"id":"7805e268.ba4064","type":"function","z":"f92924be.ce59a8","name":"Misc","func":"//\n// Weatherman\n//\nvar msgRtn = {};\n\nmsgRtn.topic   = msg.payload.DEV_VAL_DESC;\nmsgRtn.payload = parseFloat(msg.payload.READ_VALUE).toFixed(1);\n\nreturn msgRtn;","outputs":1,"noerr":0,"x":1930,"y":800,"wires":[["64a48ddc.fd2c0c"]]},{"id":"2e40019e.93116a","type":"function","z":"f92924be.ce59a8","name":"Misc","func":"//\n// Weatherman\n//\nvar msgRtn = {};\n\nmsgRtn.topic   = msg.payload.DEV_VAL_DESC;\nmsgRtn.payload = parseFloat(msg.payload.READ_VALUE).toFixed(1);\n\nreturn msgRtn;","outputs":1,"noerr":0,"x":1930,"y":860,"wires":[["1f4eee95.4d4b79"]]},{"id":"1f4eee95.4d4b79","type":"ui_chart","z":"f92924be.ce59a8","name":"Verlauf-Feuchte","group":"d9cd92d6.7e9c7","order":9,"width":"6","height":"5","label":"Verlauf - Feuchte","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":2130,"y":860,"wires":[[]]},{"id":"8808cecd.9103f8","type":"function","z":"f92924be.ce59a8","name":"Misc","func":"//\n// Weatherman\n//\nvar msgRtn = {};\n\nmsgRtn.topic   = msg.payload.DEV_VAL_DESC;\nmsgRtn.payload = parseFloat(msg.payload.READ_VALUE).toFixed(1);\n\nreturn msgRtn;","outputs":1,"noerr":0,"x":1930,"y":830,"wires":[["f1064d23.8f3888"]]},{"id":"f1064d23.8f3888","type":"ui_chart","z":"f92924be.ce59a8","name":"Verlauf-Luftdruck NN","group":"d9cd92d6.7e9c7","order":9,"width":"0","height":"0","label":"Verlauf - Luftdruck NN hPa","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":2110,"y":830,"wires":[[]]},{"id":"24242137.3e895e","type":"ui_text","z":"f92924be.ce59a8","group":"b0d43de3.9d93a","order":2,"width":"3","height":"2","name":"WM - Status - LED","label":"{{msg.txtled}}","format":"<font color={{msg.ledcolor}}><i class=\"fa fa-circle\" style=\"font-size:10px;\"></i></font>","layout":"row-spread","x":1200,"y":300,"wires":[]},{"id":"aac90ec.c9d8f3","type":"function","z":"f92924be.ce59a8","name":"Status","func":"\n//\n// Weatherman\n//\n// Status Text und LED\n// \n\nvar msgRtn = {};\n\nvar myColor = \"#B8B8B8\";\nvar myTxtLed     = \"Verbunden\";\nvar myTxtStatus  = \"aktiv\";\nvar myMqttStatus = \"online\";\nvar myJsonStatus = \"ok.\";\nvar myJsonError  = \"\";\nvar myWlanStatus = flow.get('myFlow_Wlan_signal') + \" dBm\";\n                   if (flow.get('myFlow_Wlan_ssid') !== \"?\") {\n                     myWlanStatus = flow.get('myFlow_Wlan_ssid') + \" (\" + myWlanStatus + \")\";\n                   }\nvar myModulID    = flow.get('myFlow_ModulID');\nvar myModulID_FW = flow.get('myFlow_ModulID_FW');\n\n    if (msg !== null) {\n      if (msg.payload === 1) {\n        myColor = \"lime\";\n      } else if (msg.payload === 0) {\n        myColor = \"blue\";\n        myTxtStatus = \"Empfang\";\n      } else if (msg.payload === \"con_ok\") {\n        myColor = \"green\";\n      } else if (msg.payload === \"con_timeout\") {\n        myColor = \"red\";\n        myTxtLed     = \"Verbindung unterbrochen\";\n        myTxtStatus  = \"unterbrochen\";\n        myMqttStatus = \"offline\";\n        myWlanStatus = \"-\";\n        myModulID    = \"-\";\n        myModulID_FW = \"-\"; \n      }\n      if (msg.error !== undefined) {\n        // Timestamp\n        var myTime = new Date();\n        myTime = (myTime.getFullYear() + '-' + ('00' + (myTime.getMonth()+1)).slice(-2) + '-' + ('00' + myTime.getDate()).slice(-2) + ' ' + ('00' + myTime.getHours()).slice(-2) + ':' + ('00' + myTime.getMinutes()).slice(-2) + ':' + ('00' + myTime.getSeconds()).slice(-2));\n        msg.timestamp = myTime;\n        // Fehler\n        myColor = \"yellow\";\n        myJsonStatus = \"JSON Fehler:\";\n        myTxtLed     = \"JSON Fehler\";\n        myTxtStatus  = myTxtLed;\n        myMqttStatus = \"offline\";\n        myJsonError  = msg.error;\n      }\n    }\n\nmsgRtn.payload    = msg.payload;\nmsgRtn.timestamp  = msg.timestamp;\nmsgRtn.txtled     = myTxtLed;\nmsgRtn.txtstatus  = myTxtStatus;\nmsgRtn.mqttstatus = myMqttStatus;\nmsgRtn.jsonstatus = myJsonStatus;\nmsgRtn.jsonerror  = myJsonError;\nmsgRtn.ledcolor   = myColor;\nmsgRtn.wlan       = myWlanStatus;\nmsgRtn.iddev      = myModulID;\nmsgRtn.iddevfw    = myModulID_FW;\n\nreturn msgRtn;","outputs":1,"noerr":0,"x":1010,"y":300,"wires":[["24242137.3e895e","a6688b78.9ff3","6c956982.e540c8"]]},{"id":"33270006.ec5258","type":"mqtt out","z":"f92924be.ce59a8","name":"State to MQTT","topic":"","qos":"1","retain":"true","broker":"907d3f79.5c45a","x":1430,"y":250,"wires":[]},{"id":"6c956982.e540c8","type":"function","z":"f92924be.ce59a8","name":"MQTTstate - Flow on / off","func":"\n//\n// Weatherman\n//\n// MQTT Online Status \n// \n\nvar myMqttMsg = [];\nvar myTmp = \"\";\n\nvar myDevFlag = flow.get('myFlow_MqttState_Flag') || 0;\nvar myDevName = flow.get('myFlow_MqttState_DevName');\nvar myDevMqtt = flow.get('myFlow_MqttState_DevMqtt');\n\n// Display initial state\nif (myDevFlag !== 0 ) {\n  node.status( {fill:\"green\", shape:\"dot\", text:\"on\"} );\n} else {\n  node.status( {fill:\"red\", shape:\"ring\", text:\"off\"} );\n}\n\n// MQTTstatus\nif (myDevFlag && myDevMqtt && myDevMqtt.length > 0) {\n\n  myTmp = { \"DEV_NAME\":myDevName,\n            \"READ_TIME\": msg.timestamp,\n            \"state\":msg.mqttstatus,\n            \"wlan\":msg.wlan,\n            \"iddev\":msg.iddev,\n            \"iddevfw\":msg.iddevfw,\n            \"ledcolor\":msg.ledcolor,\n            \"txtled\":msg.txtled,\n            \"txtstatus\":msg.txtstatus,\n            \"jsonstatus\":msg.jsonstatus,\n            \"jsonerror\":msg.jsonerror\n            // , \"DEV_MQTT\":myDevMqtt\n          };\n  myMqttMsg.push( myTmp );\n  node.send( {topic:myDevMqtt, payload:myTmp} );\n\n  return node;\n}\n","outputs":1,"noerr":0,"x":1210,"y":250,"wires":[["33270006.ec5258"]]},{"id":"efdaf8aa.4fedd","type":"comment","z":"f92924be.ce59a8","name":"Config ...","info":"In INIT Flow evtl. die Parameter anpassen, ob\n- MQTT Status Ausgabe\n- MQTT Daten Ausgabe","x":300,"y":120,"wires":[]},{"id":"c71498d5.3d89d","type":"inject","z":"f92924be.ce59a8","name":"DEBUG - SET MQTTstate - on","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":740,"wires":[["37b99cf4.4f6f34"]]},{"id":"37b99cf4.4f6f34","type":"function","z":"f92924be.ce59a8","name":"MQTTstate - on","func":"// \n// Weatherman\n//\n\n// MQTTstate - on\n\nflow.set('myFlow_MqttState_Flag', 1);\n","outputs":1,"noerr":0,"x":420,"y":740,"wires":[[]]},{"id":"d3955749.5ee328","type":"function","z":"f92924be.ce59a8","name":"MQTTstate- off","func":"// \n// Weatherman\n//\n\n// MQTTstate - off\n\nflow.set('myFlow_MqttState_Flag', 0);\n","outputs":1,"noerr":0,"x":420,"y":780,"wires":[[]]},{"id":"26fcf51a.c86246","type":"inject","z":"f92924be.ce59a8","name":"DEBUG - SET MQTTstate - off","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":780,"wires":[["d3955749.5ee328"]]},{"id":"2f4a0004.a1a81c","type":"inject","z":"f92924be.ce59a8","name":"DEBUG - SET MQTTdata - on","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":660,"wires":[["c6d8d826.8a54b"]]},{"id":"c6d8d826.8a54b","type":"function","z":"f92924be.ce59a8","name":"MQTTdata - on","func":"// \n// Weatherman\n//\n\n// MQTTdata - on\n\nflow.set('myFlow_MqttData_Flag', 1);\n","outputs":1,"noerr":0,"x":420,"y":660,"wires":[[]]},{"id":"f9ab1420.11b7b","type":"function","z":"f92924be.ce59a8","name":"MQTTdata- off","func":"// \n// Weatherman\n//\n\n// MQTTdata - off\n\nflow.set('myFlow_MqttData_Flag', 0);\n","outputs":1,"noerr":0,"x":420,"y":700,"wires":[[]]},{"id":"9d3c617a.3dbae8","type":"inject","z":"f92924be.ce59a8","name":"DEBUG - SET MQTTdata - off","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":700,"wires":[["f9ab1420.11b7b"]]},{"id":"7cd9ec25.9ef114","type":"inject","z":"f92924be.ce59a8","name":"DEBUG - SET DBdata - on","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":900,"wires":[["27b9f240.c37e2a"]]},{"id":"27b9f240.c37e2a","type":"function","z":"f92924be.ce59a8","name":"DBdata - on","func":"// \n// Weatherman\n//\n\n// DBdata - on\n\nflow.set('myFlow_DbData_Flag', 1);\n","outputs":1,"noerr":0,"x":410,"y":900,"wires":[[]]},{"id":"826caab0.af4fc","type":"function","z":"f92924be.ce59a8","name":"DBdata- off","func":"// \n// Weatherman\n//\n\n// DBdata - off\n\nflow.set('myFlow_DbData_Flag', 0);\n","outputs":1,"noerr":0,"x":410,"y":940,"wires":[[]]},{"id":"a22779c9.64d688","type":"inject","z":"f92924be.ce59a8","name":"DEBUG - SET DBdata - off","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":940,"wires":[["826caab0.af4fc"]]},{"id":"216e440e.e06518","type":"csv","z":"f92924be.ce59a8","name":"Read CSV","sep":";","hdrin":true,"hdrout":"","multi":"mult","ret":"\\n","temp":"","skip":"0","x":920,"y":180,"wires":[["77193560.cb8"]]},{"id":"846ff31b.1ef498","type":"file in","z":"f92924be.ce59a8","name":"myHOME_Devices_WM.csv","filename":"/home/pi/.node-red/public/myHOME_Devices_WM.csv","format":"utf8","chunk":false,"sendError":false,"x":700,"y":180,"wires":[["216e440e.e06518"]]},{"id":"53b6b008.949c04","type":"debug","z":"f92924be.ce59a8","name":"INIT - Result","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1480,"y":180,"wires":[]},{"id":"ad2a4d48.ef2ac8","type":"switch","z":"f92924be.ce59a8","name":"Check - DB Flag","property":"myFlow_Db_Flag","propertyType":"flow","rules":[{"t":"neq","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":150,"wires":[["c538220a.816b88"],["846ff31b.1ef498"]]},{"id":"566c9769.7b8d54","type":"inject","z":"f92924be.ce59a8","name":"DEBUG - Init Flow","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":540,"wires":[["f1fa70cc.3d9878"]]},{"id":"77193560.cb8","type":"function","z":"f92924be.ce59a8","name":"CSV - DEVICES - Weatherman","func":"// \n// Weatherman\n//\n// CSV aktive Devices\n//\n\nvar myMsg;\nvar myTmpMsg   = [];\nvar myTmpArray = [];\n\n// eingelesene CSV Devices - nur aktive Devices\nmyMsg = msg.payload;\nif (myMsg && typeof myMsg === 'object') {\n  var arrayLength = myMsg.length;\n  for (var i = 0; i < arrayLength; i=i+1) {\n  \n    if (myMsg[i].DEV_FL_ACT !== 0);\n    \n      // CSV Textfelder mit 'undefined' korrigieren und als Textfeld (Zahlen!!) setzen\n      myMsg[i].ID_DEV       = (myMsg[i].ID_DEV       !== undefined ? myMsg[i].ID_DEV       + \"\" : \"\");\n      myMsg[i].DEV_NAME     = (myMsg[i].DEV_NAME     !== undefined ? myMsg[i].DEV_NAME     + \"\" : \"\");\n      myMsg[i].DEV_TYP      = (myMsg[i].DEV_TYP      !== undefined ? myMsg[i].DEV_TYP      + \"\" : \"\");\n      myMsg[i].DEV_DESC     = (myMsg[i].DEV_DESC     !== undefined ? myMsg[i].DEV_DESC     + \"\" : \"\");\n      myMsg[i].DEV_LOC      = (myMsg[i].DEV_LOC      !== undefined ? myMsg[i].DEV_LOC      + \"\" : \"\");\n      myMsg[i].DEV_VAL_DESC = (myMsg[i].DEV_VAL_DESC !== undefined ? myMsg[i].DEV_VAL_DESC + \"\" : \"\");\n      myMsg[i].DEV_VAL_UNIT = (myMsg[i].DEV_VAL_UNIT !== undefined ? myMsg[i].DEV_VAL_UNIT + \"\" : \"\");\n      myMsg[i].DEV_OLD_NAME = (myMsg[i].DEV_OLD_NAME !== undefined ? myMsg[i].DEV_OLD_NAME + \"\" : \"\");\n      myMsg[i].DEV_OLD_TYP  = (myMsg[i].DEV_OLD_TYP  !== undefined ? myMsg[i].DEV_OLD_TYP  + \"\" : \"\");\n      myMsg[i].DEV_MQTT     = (myMsg[i].DEV_MQTT     !== undefined ? myMsg[i].DEV_MQTT     + \"\" : \"\");\n\n      myTmpMsg.push(myMsg[i]);\n    }\n    \n}\n\n// Fake DB Rueckgabe\nmyTmpArray.push({ \"rtn\":\"none\" });\nmyTmpArray.push(myTmpMsg);\n\nmsg.payload = myTmpArray;\n\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":180,"wires":[["3176fa09.669fc2"]]},{"id":"34c313ae.327364","type":"inject","z":"f92924be.ce59a8","name":"Autostart Flow","topic":"","payload":"Started!","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":130,"y":150,"wires":[["f1fa70cc.3d9878"]]},{"id":"f1fa70cc.3d9878","type":"function","z":"f92924be.ce59a8","name":"INIT Flow","func":"// \n// Weatherman\n//\n// - Globale Flow Variablen - Init\n//   - SQL-Datenbank Devices\n//   - Verhalten bei Device-Reading Verarbeitung\n//\n// myFlow_Flag_NewOnly_Default\n// myFlow_Flag_NewOnly\n//\n// myFlow_Db_Flag\n//\n// myFlow_DbData_Flag\n//\n// myFlow_MqttData_Flag\n// myFlow_MqttState_Flag\n// myFlow_MqttState_DevName\n// myFlow_MqttState_DevMqtt\n// myFlow_MqttAvg_Flag\n// myFlow_MqttAvg_DevMqtt\n//\n// myFlow_DeviceArray_Count\n// myFlow_DeviceArray[]\n// myFlow_DeviceReadingsLast\n// myFlow_DeviceReadingsAvg\n//\n// myFlow_ModulID\n// myFlow_ModulID_FW\n// myFlow_Wlan_ssid\n// myFlow_Wlan_signal\n//\n// myFlow_Baro_NN\n\n// =====================================\n// === Ab hier Anpassungen vornehmen ===\n// =====================================\n\n// Altitude [m] - eigene Ortshoehe ueber N.N. zur Berechnung\n// des barometrischen Luftdrucks in Bezug auf N.N.\n// - Definitionen:\n//   - absoluter Luftdruck = Luftdruckmessung am Standort des WM (ohne Korrekturwert)\n//   - relativer Luftdruck - auf Meereshoehe reduzierter Luftdruckmesswert NN des WM (mit Korrekturwert)\n// - Wird im Weatherman eine Ortshoehe <> 0 eingetragen mit\n//   http://<IP-Adresse Weatherman>/?param:20:<Ortshoehe>:\n//   erfolgt die Ausgabe im Feld 'w_barometer' als relativer \n//   Luftdruckwert => dann muss hier 'var myBaro_NN = -<Ortshoehe>;' \n//   gesetzt werden, um auch den absoluten Luftdruckwert ermitteln zu können\n// - Wird im Weatherman eine Ortshoehe == 0 (--bitte so einstellen--) eingetragen mit\n//   http://<IP-Adresse Weatherman>/?param:20:0:\n//   erfolgt die Ausgabe im Feld 'w_barometer' als absoluter \n//   Luftdruckwert => dann muss hier 'var myBaro_NN = <Ortshoehe>;' \n//   gesetzt werden, um auch den relativen Luftdruckwert ermitteln zu können\n// - Wird hier 'var myBaro_NN = 0;' eingegeben, dann wird der Luftdruckwert\n//   des WM (gleich welche Ortshoehe im 'param:20' eingestellt ist) ohne Korrektur ausgegeben\n// Mit der Ortshoehe werden automatisch die richtigen Werte fuer 'wm_baro' (absoluter Luftdruck) \n// und 'wm_baro_nn' (relativer Luftdruck) gesetzt - das gilt auch fuer die Werteanzeigen \n// 'Luftdruck' und 'Luftdruck NN' im Dashboard\n// var myBaro_NN = -190;\n// var myBaro_NN = 0;\n// var myBaro_NN = 190;\nvar myBaro_NN = 190;\n\n// Flow-Vorgabe, ob nur neue Readings oder alle Readings \n// eines Devices beruecksichtigt werden sollen\n// = 0 - alle Readings\n// > 0 - nur neue Readings (default)\nvar myTmpNewOnly_Default = 1;\n\n// Flow-Vorgabe, ob eine DB Datenbank benutzt wird\n// myDb_Flag = 0 - keine DB Datenbank\n// myDb_Flag > 0 - mit DB Datenbank (default)\nvar myDb_Flag = 1;\n\n// Flow-Vorgabe, ob eine DB Data Ausgabe fuer das \n// 'DEV_NAME' Device erfolgen soll\n// gesteuert wird die Ausgabe ueber den Inhalt von\n// myDbData_Flag = 0 - keine DB Data Ausgabe\n// myDbData_Flag > 0 - DB Data Ausgabe (default)\nvar myDbData_Flag = 1;\n\n// Flow-Vorgabe, ob eine MQTT Data Ausgabe fuer das \n// 'DEV_NAME' Device erfolgen soll\n// gesteuert wird die Ausgabe ueber den Inhalt von\n// myMqttData_Flag = 0 - keine MQTT Data Ausgabe\n// myMqttData_Flag > 0 - MQTT Data Ausgabe (default)\nvar myMqttData_Flag = 1;\n\n// Flow-Vorgabe, ob eine MQTT Status Ausgabe fuer das \n// 'DEV_NAME' Device erfolgen soll\n// gesteuert wird die Ausgabe ueber den Inhalt von\n// myMqttState_Flag = 0 - keine MQTT Status Ausgabe\n// myMqttState_Flag > 0 - MQTT Status Ausgabe (default)\nvar myMqttState_Flag = 1;\nvar myMqttState_DevName = \"Weatherman\";\nvar myMqttState_DevMqtt = \"/myHOME/sensor/devices/Weatherman/state\";\n\n// Flow-Vorgabe, ob eine MQTT Ausgabe fuer den gleitenden Mittelwert (AVG)\n// aller numerischen Felder des 'DEV_NAME' Device erfolgen soll\n// gesteuert wird die Ausgabe ueber den Inhalt von\n// myMqttAvg_Flag = 0 - keine MQTT AVG Ausgabe\n// myMqttAvg_Flag > 0 - MQTT AVG Ausgabe (default)\nvar myMqttAvg_Flag = 1;\nvar myMqttAvg_DevMqtt = \"/myHOME/sensor/devices/Weatherman/avg\";\n\n// ===========================================\n// === Ab hier KEINE Anpassungen vornehmen ===\n// ===========================================\n\nvar myTmpAnzahl   = 0;\nvar myTmpArrayDev = [];\nvar myTmpArrayVal = [];\nvar myTmpArrayAvg = [];\nvar myTmp;\n\n// Reset all\nflow.set('myFlow_DeviceArray',          undefined);\nflow.set('myFlow_DeviceArray_Count',    undefined);\nflow.set('myFlow_DeviceReadingsLast',   undefined);\nflow.set('myFlow_DeviceReadingsAvg',    undefined);\nflow.set('myFlow_Flag_NewOnly_Default', undefined);\nflow.set('myFlow_Flag_NewOnly',         undefined);\nflow.set('myFlow_Db_Flag',              undefined);    \nflow.set('myFlow_DbData_Flag',          undefined);    \nflow.set('myFlow_MqttData_Flag',        undefined);    \nflow.set('myFlow_MqttState_Flag',       undefined);    \nflow.set('myFlow_MqttState_DevName',    undefined);\nflow.set('myFlow_MqttState_DevMqtt',    undefined);\nflow.set('myFlow_MqttAvg_Flag',         undefined);    \nflow.set('myFlow_MqttAvg_DevMqtt',      undefined);\n\nflow.set('myFlow_ModulID',              undefined);\nflow.set('myFlow_ModulID_FW',           undefined);\nflow.set('myFlow_Wlan_ssid',            undefined);\nflow.set('myFlow_Wlan_signal',          undefined);\n\nflow.set('myFlow_Baro_NN',              undefined);\nflow.set('myFlow_Baro_temp',            undefined);\nflow.set('myFlow_Baro_baro',            undefined);\nflow.set('myFlow_Baro_baro_NN',         undefined);\n\n// SQL-Datenbank - Device-Angaben\n// myTmp = flow.get('myFlow_DeviceArray');\n// if (myTmp === undefined) {\n  flow.set('myFlow_DeviceArray', myTmpArrayDev);\n// }\n// SQL-Datenbank - Anzahl der Device-Eintraege\n// myTmp = flow.get('myFlow_DeviceArray_Count');\n// if (myTmp === undefined) {\n  flow.set('myFlow_DeviceArray_Count', myTmpAnzahl);\n// }\n\n// Array der letzten Device-Readings\n// myTmp = flow.get('myFlow_DeviceReadingsLast');\n// if (myTmp === undefined) {\n  flow.set('myFlow_DeviceReadingsLast', myTmpArrayVal);\n// }\n// Array der letzten Device-Readings - gleitender Mittelwert\n// myTmp = flow.get('myFlow_DeviceReadingsLast');\n// if (myTmp === undefined) {\n  flow.set('myFlow_DeviceReadingsAvg', myTmpArrayAvg);\n// }\n\n// Flow-Vorgabe - alle / nur neuee Readings eines Devices\n// myTmp = flow.get('myFlow_Flag_NewOnly_Default');\n// if (myTmp === undefined) {\n  flow.set('myFlow_Flag_NewOnly_Default', myTmpNewOnly_Default);\n// }\n// Flag fuer die Device-Reading Verarbeitung\n// - muss beim Start auf 0 gesetzt sein, damit beim ersten eingehenden\n//   JSON-Satz ALLE Werte fuer eine Initialiserung aller Reading-Slots \n//   in den Flow-Bereiche einmalig uebernommen werden (gesamter Satz)\n// - danach wird der Wert des globalen Flags 'myFlow_Flag_NewOnly_Default'\n//   Flags gesetzt - so kann global gesteuert werden, ob dann nur neue \n//   oder immer alle Readings verarbeitet werden sollen\n// myTmp = flow.get('myFlow_Flag_NewOnly');\n// if (myTmp === undefined) {\n  flow.set('myFlow_Flag_NewOnly', myTmpNewOnly_Default);\n// }\n\n// Flow-Vorgabe, ob eine DB Datenbank\n// myTmp = flow.get('myFlow_Db_Flag');\n// if (myTmp === undefined) {\n  flow.set('myFlow_Db_Flag', myDb_Flag);    \n// }\n\n// Flow-Vorgabe, ob eine DB Data Ausgabe\n// myTmp = flow.get('myFlow_DbData_Flag');\n// if (myTmp === undefined) {\n  flow.set('myFlow_DbData_Flag', myDbData_Flag);    \n// }\n\n// Flow-Vorgabe, ob eine MQTT Data Ausgabe\n// myTmp = flow.get('myFlow_MqttData_Flag');\n// if (myTmp === undefined) {\n  flow.set('myFlow_MqttData_Flag', myMqttData_Flag);    \n// }\n\n// Flow-Vorgabe, ob eine MQTT Status Ausgabe\n// myTmp = flow.get('myFlow_MqttState_Flag');\n// if (myTmp === undefined) {\n  flow.set('myFlow_MqttState_Flag',    myMqttState_Flag);    \n  flow.set('myFlow_MqttState_DevName', myMqttState_DevName);\n  flow.set('myFlow_MqttState_DevMqtt', myMqttState_DevMqtt);\n// }\n\n// Flow-Vorgabe, ob eine MQTT AVG Ausgabe\n// myTmp = flow.get('myFlow_MqttAvg_Flag');\n// if (myTmp === undefined) {\n  flow.set('myFlow_MqttAvg_Flag',    myMqttAvg_Flag);    \n  flow.set('myFlow_MqttAvg_DevMqtt', myMqttAvg_DevMqtt);\n// }\n\n// Flow-Speicher fuer Modul-Info\nflow.set('myFlow_ModulID',    '?');\nflow.set('myFlow_ModulID_FW', '?');\n\n// Flow-Speicher fuer WLAN-Info\nflow.set('myFlow_Wlan_ssid',   '?');\nflow.set('myFlow_Wlan_signal', '?');\n\n// Altitude [m] - eigene Ortshoehe ueber N.N.\nflow.set('myFlow_Baro_NN',         myBaro_NN);\nflow.set('myFlow_wm_name_temp',    \"1\");\nflow.set('myFlow_wm_name_baro',    \"3\");\nflow.set('myFlow_wm_name_baro_NN', \"701\");\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":150,"wires":[["ad2a4d48.ef2ac8"]]},{"id":"221b5451.a53d28","type":"delay","z":"f92924be.ce59a8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":950,"y":120,"wires":[["f5e1274e.3321a8"]]},{"id":"a43c0e3.43743f","type":"comment","z":"f92924be.ce59a8","name":"Weatherman DB - INIT Flow","info":"","x":140,"y":80,"wires":[]},{"id":"d2db3c63.b0a06","type":"comment","z":"f92924be.ce59a8","name":"Weatherman DB - START Flow","info":"","x":150,"y":380,"wires":[]},{"id":"b2d68146.575e2","type":"comment","z":"f92924be.ce59a8","name":"DEBUG - Section","info":"","x":100,"y":500,"wires":[]},{"id":"7ec74e5e.849518","type":"function","z":"f92924be.ce59a8","name":"Info WLAN","func":"// \n// Weatherman \n// \n// WLAN Infos merken\n//\n\nvar myObject = msg.payload;\n\nif (myObject && typeof myObject === 'object') {\n\n  myTmp = msg.payload.modultyp;\n  if (myTmp) {\n    flow.set('myFlow_ModulID', myTmp);\n  } else {\n    flow.set('myFlow_ModulID', '?');\n  }\n\n}\n\nmyObject = msg.payload.Systeminfo;\nif (myObject && typeof myObject === 'object') {\n\n  var myTmp = myObject.WLAN_ssid;\n  if (myTmp) {\n    flow.set('myFlow_Wlan_ssid', myTmp);\n  } else {\n    flow.set('myFlow_Wlan_ssid', '?');      \n  }\n  \n  myTmp = myObject.WLAN_Signal_dBm;\n  if (myTmp) {\n    flow.set('myFlow_Wlan_signal', myTmp);\n  } else {\n    flow.set('myFlow_Wlan_signal', '?');\n  }\n\n  myTmp = myObject.firmware;\n  if (myTmp) {\n    flow.set('myFlow_ModulID_FW', myTmp);\n  } else {\n    flow.set('myFlow_ModulID_FW', '?');\n  }\n\n}\n","outputs":1,"noerr":0,"x":460,"y":350,"wires":[[]]},{"id":"ae9274df.874ef","type":"function","z":"f92924be.ce59a8","name":"XXX_pressure to N.N.","func":"//\n// Weatherman \n//\n// Luftdruck auf hPa Einheit bringen und auf NN reduzieren \n//\n\nvar i_pres = null;\nvar i_temp = null;\n\nvar myAlti = null;\nvar myPres = null;\nvar myTemp = null;\nvar myDesc = null;\n\n// Datensatz - Kopie\nvar myObjectTmp = {};\n    \nvar myObject_Vars = msg.payload.vars;\n\nmyObject = myObject_Vars;\nif (myObject && typeof myObject === 'object') {\n  var arrayLength = myObject.length;\n  // console.log(arrayLength);   \n  // Ueber alle Eintrage\n  for (var i = 0; i < arrayLength; i=i+1) {\n\n    // if (myObject[i].name === \"3\") {\n    if (myObject[i].name === flow.get('myFlow_wm_name_baro')) {\n      // w_barometer\n      i_pres = i;\n    }\n    // if (myObject[i].name === \"1\") {\n    if (myObject[i].name === flow.get('myFlow_wm_name_temp')) {\n      // w_temperature\n      i_temp = i;\n    }\n  }\n  // Baro Wert nach Baro-NN Wert\n  if ((i_pres >= 0) && (i_temp >= 0)) {\n\n    myAlti = flow.get('myFlow_Baro_NN');\n    myPres = myObject[i_pres].value;\n    myTemp = myObject[i_temp].value;\n    \n    myDesc = \"\";  \n\n    if (myAlti > 0) {\n      // Im Original-Datensatz steht der absolute Luftdruckwert (WM: param:20:0:)\n      // Umrechnung auf relativen Luftdruck - NN-Hoehe \n      myPres = baro2baroNN(myObject[i_pres].value, myTemp, myAlti);\n      myDesc = Number(myObject[i_pres].value);\n      myDesc = myDesc.toFixed(1);\n      myDesc = \"(\" + myAlti + \" m) - \" + myDesc;\n    } else if (myAlti < 0) {\n      // Im Original-Datensatz steht der relative Luftdruckwert (WM: param:20:<Ortshoehe>:)\n      // Umrechnung auf absoluten Luftdruck - Standort-Hoehe\n      myObject[i_pres].value = baro2baroNN(myObject[i_pres].value, myTemp, myAlti);\n      myDesc = Number(myObject[i_pres].value);\n      myDesc = myDesc.toFixed(1);\n      myDesc = \"(\" + Math.abs(myAlti) + \" m) - \" + myDesc;\n    } else {\n      // Im Original-Datensatz steht ein Luftdruckwert - Wert wird ohne Aenderung uebernommen\n      myDesc = \"\";  \n    }\n\n    // Datensatz - Kopie anlegen\n    Object.assign(myObjectTmp, myObject[i_pres]);\n\n    // Werte in Kopie aendern - mit den berechneten NN-Angaben fuellen\n    myObjectTmp.name = flow.get('myFlow_wm_name_baro_NN');\n    myObjectTmp.value = myPres.toString();\n    myObjectTmp.desc = myDesc;\n \n    // Kopie anfuegen\n    myObject.push( myObjectTmp );\n\n  }\n }\n\nreturn msg;\n\nfunction baro2baroNN(baro_value, temp_value, hoehe_value) {\n    \n  // Der Temperaturgradient gibt an, wie schnell die Temperatur mit der Höhe fällt. Eine gute Schätzung bei normalem Wetter ist 0,0065 °C/Meter.\t\t\t\t\t\t\t\t\t\t\n  // Temperaturschätzung: Temperatur auf Meereshöhe = Temperatur + Temperaturgradient * Höhe\t\t\t\t\t\t\t\t\t\t\n  // Barometrische Höhenformel:\t\t\t\t\t\t\t\t\t\t\n  // Luftdruck auf Meereshöhe = Barometeranzeige / (1-Temperaturgradient*Höhe/Temperatur auf Meereshöhe in Kelvin)^(0,03416/Temperaturgradient)\t\t\t\t\t\t\t\t\t\t\n  // Celsius nach Kelvin: CelsiusWert + 273 = KelvinWert\n\n  var myVal  = Number(baro_value);\n  var myVal2 = 0.0065;\n  var myVal1 = (1.0 - myVal2 * Number(hoehe_value) / (Number(temp_value) + 273.0));\n  myVal2 = (0.03416 / myVal2);\n\n  myVal = myVal / Math.pow(myVal1, myVal2);\n  myVal = myVal.toFixed(4);\n\n  return myVal;\n}\n","outputs":1,"noerr":0,"x":890,"y":430,"wires":[["14a7463f.ed55c6"]]},{"id":"e5bf7813.339b28","type":"change","z":"f92924be.ce59a8","name":"payload_avg","rules":[{"t":"delete","p":"payload_var","pt":"msg"},{"t":"delete","p":"payload_mqtt","pt":"msg"},{"t":"delete","p":"payload_sys","pt":"msg"},{"t":"delete","p":"payload_sql","pt":"msg"},{"t":"delete","p":"timestamp","pt":"msg"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":510,"wires":[["a943769f.58bec"]]},{"id":"a943769f.58bec","type":"trigger","z":"f92924be.ce59a8","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"5","extend":false,"units":"min","reset":"1","bytopic":"all","name":"AVG Timeout (5 min)","x":1510,"y":840,"wires":[["a5a3951d.28cda8"]]},{"id":"a5a3951d.28cda8","type":"switch","z":"f92924be.ce59a8","name":"Check AVG Timeout","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1510,"y":890,"wires":[["1eed01e9.691c6e","39b33577.8a9ece"]]},{"id":"1eed01e9.691c6e","type":"function","z":"f92924be.ce59a8","name":"AVG Readings","func":"// \n// Weatherman\n//\n// - AVG Devices einzeln versenden\n//   oder keine AVG-Aktion\n//\nvar i = 0;\nvar myAvgAnzahl = 0;\n\nif ( msg.payload_avg !== undefined) {\n  myAvgAnzahl = msg.payload_avg.length;\n  for (i = 0; i < myAvgAnzahl; i=i+1) {\n\n    node.send( {topic:msg.payload_avg[i].DEV_TYP, payload:msg.payload_avg[i]} );\n\n  }\n}\n\n// alle AVG-Werte zuruecksetzen\nvar myDeviceReadingsAvg = flow.get ('myFlow_DeviceReadingsAvg');\nmyAvgAnzahl = myDeviceReadingsAvg.length;\nfor (i = 0; i < myAvgAnzahl; i=i+1) {\n  myDeviceReadingsAvg[i] = undefined;\n}\n\nreturn [msg];","outputs":1,"noerr":0,"x":1530,"y":940,"wires":[["971db976.cbd68"]]},{"id":"971db976.cbd68","type":"switch","z":"f92924be.ce59a8","name":"Switch AVG","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"wm_sys_ip","vt":"str"},{"t":"eq","v":"wm_temp","vt":"str"},{"t":"eq","v":"wm_temp_windchill","vt":"str"},{"t":"eq","v":"wm_temp_dewpoint","vt":"str"},{"t":"eq","v":"wm_temp_sky","vt":"str"},{"t":"eq","v":"wm_hum_pro","vt":"str"},{"t":"eq","v":"wm_hum_abs","vt":"str"},{"t":"eq","v":"wm_rain_activity","vt":"str"},{"t":"eq","v":"wm_rain_status","vt":"str"},{"t":"eq","v":"wm_rain_intensity","vt":"str"},{"t":"eq","v":"wm_rain_volume_1","vt":"str"},{"t":"eq","v":"wm_rain_volume_24","vt":"str"},{"t":"eq","v":"wm_rain_yesterday","vt":"str"},{"t":"eq","v":"wm_rain_hours_24","vt":"str"},{"t":"eq","v":"wm_baro","vt":"str"},{"t":"eq","v":"wm_baro_nn","vt":"str"},{"t":"eq","v":"wm_baro_trend","vt":"str"},{"t":"eq","v":"wm_wind_avg","vt":"str"},{"t":"eq","v":"wm_wind_peak","vt":"str"},{"t":"eq","v":"wm_wind_force","vt":"str"},{"t":"eq","v":"wm_wind_direction","vt":"str"},{"t":"eq","v":"wm_wind_dir","vt":"str"},{"t":"eq","v":"wm_sun_lux","vt":"str"},{"t":"eq","v":"wm_sun_temp","vt":"str"},{"t":"eq","v":"wm_sun_temp_diff","vt":"str"},{"t":"eq","v":"wm_sun_status","vt":"str"},{"t":"eq","v":"wm_sun_elevation","vt":"str"},{"t":"eq","v":"wm_sun_azimut","vt":"str"},{"t":"eq","v":"wm_sun_today_hours","vt":"str"},{"t":"eq","v":"wm_sun_before_sunrise","vt":"str"},{"t":"eq","v":"wm_sun_before_sunset","vt":"str"},{"t":"eq","v":"wm_ground_hum","vt":"str"}],"checkall":"true","repair":false,"outputs":32,"x":1740,"y":940,"wires":[[],["c9af83d8.5ce63"],[],["7805e268.ba4064"],[],["2e40019e.93116a"],[],["3a1c3254.583f2e"],[],["76027ace.3c1474"],[],[],[],[],[],["8808cecd.9103f8"],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[]]},{"id":"8931c597.29b2d","type":"comment","z":"f92924be.ce59a8","name":"Weatherman DB - AVG","info":"","x":1710,"y":690,"wires":[]},{"id":"3c5d9a4e.710f9e","type":"debug","z":"f92924be.ce59a8","name":"payload_xxx","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1340,"y":390,"wires":[]},{"id":"4bc4b5f8.a85a2","type":"function","z":"f92924be.ce59a8","name":"Misc","func":"\n//\n// Weatherman\n//\n// Wandelt Wert und Bezeichnung von m/sec in km/h\n// \n\nvar myVal = Number(msg.payload.READ_VALUE);\nif (isNaN(myVal)) {\n  myVal = 0;\n}\nmyVal = Number(myVal) * 3.6;\nmyVal = parseFloat(myVal).toFixed(0);\n\nmsg.payload.DEV_VAL_UNIT = \"km/h\\n\" + msg.payload.READ_VALUE + \" \" + msg.payload.DEV_VAL_UNIT;\nmsg.payload.READ_VALUE = myVal;\n\nreturn msg;","outputs":1,"noerr":0,"x":1930,"y":360,"wires":[["22a5ee5e.d9ab66"]]},{"id":"a1b1a6e6.cc453","type":"function","z":"f92924be.ce59a8","name":"Misc","func":"\n//\n// Weatherman\n//\n// Wandelt Wert und Bezeichnung von m/sec in km/h\n// \n\nvar myVal = Number(msg.payload.READ_VALUE);\nif (isNaN(myVal)) {\n  myVal = 0;\n}\nmyVal = Number(myVal) * 3.6;\nmyVal = parseFloat(myVal).toFixed(0);\n\nmsg.payload.DEV_VAL_UNIT = \"km/h\\n\" + msg.payload.READ_VALUE + \" \" + msg.payload.DEV_VAL_UNIT;\nmsg.payload.READ_VALUE = myVal;\n\nreturn msg;","outputs":1,"noerr":0,"x":1930,"y":390,"wires":[["b8cf87b4.a8cbd8"]]},{"id":"75b452f7.c1b94","type":"function","z":"f92924be.ce59a8","name":"Testdatensatz Weatherman FW 58","func":"//\n// Weatherman - Testdatensatz - FW 58\n//\n\nvar myStr = '{\"modultyp\":\"weatherman\",\"vars\":[{\"name\":\"0\",\"homematic_name\":\"w_ip\",\"desc\":\"weatherman_ip\",\"type\":\"string\",\"unit\":\"\",\"value\":\"192.168.168.100\"},{\"name\":\"1\",\"homematic_name\":\"w_temperature\",\"desc\":\"aussentemperatur\",\"type\":\"number\",\"unit\":\"gradC\",\"value\":20.0},{\"name\":\"21\",\"homematic_name\":\"w_windchill\",\"desc\":\"gefuehlte_temperatur\",\"type\":\"number\",\"unit\":\"gradC\",\"value\":20.0},{\"name\":\"9\",\"homematic_name\":\"w_taupunkt\",\"desc\":\"taupunkt\",\"type\":\"number\",\"unit\":\"gradC\",\"value\":10.5},{\"name\":\"2\",\"homematic_name\":\"w_humidity\",\"desc\":\"rel_feuchte\",\"type\":\"number\",\"unit\":\"%\",\"value\":54.4},{\"name\":\"17\",\"homematic_name\":\"w_hum_abs\",\"desc\":\"abs_feuchte\",\"type\":\"number\",\"unit\":\"g/m3\",\"value\":9.4},{\"name\":\"4\",\"homematic_name\":\"w_wind_avg\",\"desc\":\"avg_windgeschwindigkeit\",\"type\":\"number\",\"unit\":\"m/s\",\"value\":1.0},{\"name\":\"5\",\"homematic_name\":\"w_wind_peak\",\"desc\":\"peak_windgeschwindigkeit\",\"type\":\"number\",\"unit\":\"m/s\",\"value\":1.4},{\"name\":\"24\",\"homematic_name\":\"w_windstaerke\",\"desc\":\"bft_windgeschwindigkeit\",\"type\":\"number\",\"unit\":\"bft\",\"value\":1},{\"name\":\"23\",\"homematic_name\":\"w_wind_direction\",\"desc\":\"windrichtung\",\"type\":\"string\",\"unit\":\"\",\"value\":\"N\"},{\"name\":\"6\",\"homematic_name\":\"w_wind_dir\",\"desc\":\"windwinkel\",\"type\":\"number\",\"unit\":\"grad\",\"value\":0},{\"name\":\"18\",\"homematic_name\":\"w_rain_activity\",\"desc\":\"regenmelderwert\",\"type\":\"number\",\"unit\":\"\",\"value\":5},{\"name\":\"7\",\"homematic_name\":\"w_rain_status\",\"desc\":\"regenstatus\",\"type\":\"boolean\",\"unit\":\"\",\"value\":false},{\"name\":\"8\",\"homematic_name\":\"w_rain_intensity\",\"desc\":\"regenstaerke\",\"type\":\"number\",\"unit\":\"mm/h\",\"value\":0.0},{\"name\":\"19\",\"homematic_name\":\"w_rain_volume_1\",\"desc\":\"regen_pro_h\",\"type\":\"number\",\"unit\":\"mm\",\"value\":0.0},{\"name\":\"20\",\"homematic_name\":\"w_rain_volume_24\",\"desc\":\"regen_pro_24h\",\"type\":\"number\",\"unit\":\"mm\",\"value\":0.0},{\"name\":\"27\",\"homematic_name\":\"w_rain_yesterday\",\"desc\":\"regen_gestern\",\"type\":\"number\",\"unit\":\"mm\",\"value\":0.0},{\"name\":\"25\",\"homematic_name\":\"w_bodenfeuchte\",\"desc\":\"bodenfeuchtewert\",\"type\":\"number\",\"unit\":\"\",\"value\":0},{\"name\":\"3\",\"homematic_name\":\"w_barometer\",\"desc\":\"nn_luftdruck\",\"type\":\"number\",\"unit\":\"mb\",\"value\":1014.77},{\"name\":\"11\",\"homematic_name\":\"w_barotrend\",\"desc\":\"luftdrucktrend\",\"type\":\"string\",\"unit\":\"\",\"value\":\"not_valid\"},{\"name\":\"14\",\"homematic_name\":\"w_sky_temp\",\"desc\":\"himmel_temperatur\",\"type\":\"number\",\"unit\":\"gradC\",\"value\":0.0},{\"name\":\"15\",\"homematic_name\":\"w_sun_temp\",\"desc\":\"sonnentemperatur\",\"type\":\"number\",\"unit\":\"gradC\",\"value\":20.4},{\"name\":\"22\",\"homematic_name\":\"w_diff_temp\",\"desc\":\"sonnen_difftemperatur\",\"type\":\"number\",\"unit\":\"gradC\",\"value\":0.4},{\"name\":\"16\",\"homematic_name\":\"w_sonne_scheint\",\"desc\":\"sonne_scheint\",\"type\":\"boolean\",\"unit\":\"\",\"value\":false},{\"name\":\"10\",\"homematic_name\":\"w_lux\",\"desc\":\"helligkeit\",\"type\":\"number\",\"unit\":\"lux\",\"value\":0.0},{\"name\":\"12\",\"homematic_name\":\"w_elevation\",\"desc\":\"sonne_elevation\",\"type\":\"number\",\"unit\":\"grad\",\"value\":-29.1},{\"name\":\"13\",\"homematic_name\":\"w_azimut\",\"desc\":\"sonne_azimut\",\"type\":\"number\",\"unit\":\"grad\",\"value\":296.8}],\"Systeminfo\":{\"MAC-Adresse\":\"3b:fc:17:2d:e6:b4\",\"Homematic_CCU_ip\":\"192.168.168.1\",\"WLAN_ssid\":\"myTest\",\"WLAN_Signal_dBm\":-90,\"sec_seit_reset\":999,\"zeitpunkt\":\" 4 21:51\",\"firmware\":\"weatherman_58\"}}\\u0004';\n\nmsg.payload = myStr;\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":990,"wires":[["731d8b91.3e17cc"]]},{"id":"499fa878.18603c","type":"inject","z":"f92924be.ce59a8","name":"DEBUG - Weatherman Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":990,"wires":[["75b452f7.c1b94"]]},{"id":"2d38150c.9ecbf6","type":"function","z":"f92924be.ce59a8","name":"Testdatensatz Weatherman FW 87","func":"//\n// Weatherman - Testdatensatz - FW 87\n//\n\nvar myStr = '{\"modultyp\":\"weatherman\",\"vars\":[{\"name\":\"0\",\"homematic_name\":\"w_ip\",\"desc\":\"weatherman_ip\",\"type\":\"string\",\"unit\":\"\",\"value\":\"192.168.168.100\"},{\"name\":\"1\",\"homematic_name\":\"w_temperatur\",\"desc\":\"aussentemperatur\",\"type\":\"number\",\"unit\":\"gradC\",\"value\":4.5},{\"name\":\"21\",\"homematic_name\":\"w_windchill\",\"desc\":\"gefuehlte_temperatur\",\"type\":\"number\",\"unit\":\"gradC\",\"value\":3.5},{\"name\":\"9\",\"homematic_name\":\"w_taupunkt\",\"desc\":\"taupunkt_temperatur\",\"type\":\"number\",\"unit\":\"gradC\",\"value\":2.8},{\"name\":\"14\",\"homematic_name\":\"w_himmeltemperatur\",\"desc\":\"himmel_temperatur\",\"type\":\"number\",\"unit\":\"gradC\",\"value\":1037.5},{\"name\":\"2\",\"homematic_name\":\"w_feuchte_rel\",\"desc\":\"rel_feuchte\",\"type\":\"number\",\"unit\":\"%\",\"value\":88.4},{\"name\":\"17\",\"homematic_name\":\"w_feuchte_abs\",\"desc\":\"abs_feuchte\",\"type\":\"number\",\"unit\":\"g/m3\",\"value\":5.8},{\"name\":\"18\",\"homematic_name\":\"w_regensensor_wert\",\"desc\":\"regenmelderwert\",\"type\":\"number\",\"unit\":\"\",\"value\":8},{\"name\":\"7\",\"homematic_name\":\"w_regenmelder\",\"desc\":\"regenstatus\",\"type\":\"boolean\",\"unit\":\"\",\"value\":false},{\"name\":\"8\",\"homematic_name\":\"w_regenstaerke\",\"desc\":\"regenstaerke\",\"type\":\"number\",\"unit\":\"mm/h\",\"value\":0.0},{\"name\":\"19\",\"homematic_name\":\"w_regen_letzte_h\",\"desc\":\"regen_pro_h\",\"type\":\"number\",\"unit\":\"mm\",\"value\":0.0},{\"name\":\"20\",\"homematic_name\":\"w_regen_mm_heute\",\"desc\":\"regen_mm_heute\",\"type\":\"number\",\"unit\":\"mm\",\"value\":0.0},{\"name\":\"32\",\"homematic_name\":\"w_regenstunden_heute\",\"desc\":\"regenstunden_heute\",\"type\":\"number\",\"unit\":\"h\",\"value\":1.0},{\"name\":\"27\",\"homematic_name\":\"w_regen_mm_gestern\",\"desc\":\"regen_mm_gestern\",\"type\":\"number\",\"unit\":\"mm\",\"value\":0.0},{\"name\":\"3\",\"homematic_name\":\"w_barometer\",\"desc\":\"nn_luftdruck\",\"type\":\"number\",\"unit\":\"mb\",\"value\":1016.07},{\"name\":\"11\",\"homematic_name\":\"w_barotrend\",\"desc\":\"luftdrucktrend\",\"type\":\"string\",\"unit\":\"\",\"value\":\"stabil\"},{\"name\":\"4\",\"homematic_name\":\"w_wind_mittel\",\"desc\":\"avg_windgeschwindigkeit\",\"type\":\"number\",\"unit\":\"m/s\",\"value\":1.4},{\"name\":\"5\",\"homematic_name\":\"w_wind_spitze\",\"desc\":\"peak_windgeschwindigkeit\",\"type\":\"number\",\"unit\":\"m/s\",\"value\":1.8},{\"name\":\"24\",\"homematic_name\":\"w_windstaerke\",\"desc\":\"bft_windgeschwindigkeit\",\"type\":\"number\",\"unit\":\"bft\",\"value\":2},{\"name\":\"23\",\"homematic_name\":\"w_windrichtung\",\"desc\":\"windrichtung\",\"type\":\"string\",\"unit\":\"\",\"value\":\"SO\"},{\"name\":\"6\",\"homematic_name\":\"w_wind_dir\",\"desc\":\"windwinkel\",\"type\":\"number\",\"unit\":\"grad\",\"value\":135},{\"name\":\"10\",\"homematic_name\":\"w_lux\",\"desc\":\"helligkeit\",\"type\":\"number\",\"unit\":\"lux\",\"value\":6.5},{\"name\":\"22\",\"homematic_name\":\"w_sonne_diff_temp\",\"desc\":\"sonnen_difftemperatur\",\"type\":\"number\",\"unit\":\"gradC\",\"value\":-0.3},{\"name\":\"15\",\"homematic_name\":\"w_sonnentemperatur\",\"desc\":\"sonnen_temperatur\",\"type\":\"number\",\"unit\":\"gradC\",\"value\":4.2},{\"name\":\"16\",\"homematic_name\":\"w_sonne_scheint\",\"desc\":\"sonne_scheint\",\"type\":\"boolean\",\"unit\":\"\",\"value\":false},{\"name\":\"26\",\"homematic_name\":\"w_sonnenstunden_heute\",\"desc\":\"Sonnenstunden_heute\",\"type\":\"number\",\"unit\":\"h\",\"value\":0.2},{\"name\":\"12\",\"homematic_name\":\"w_elevation\",\"desc\":\"sonne_elevation\",\"type\":\"number\",\"unit\":\"grad\",\"value\":-2.9},{\"name\":\"13\",\"homematic_name\":\"w_azimut\",\"desc\":\"sonne_azimut\",\"type\":\"number\",\"unit\":\"grad\",\"value\":238.4},{\"name\":\"30\",\"homematic_name\":\"w_minuten_vor_sa\",\"desc\":\"minuten_vor_sa\",\"type\":\"number\",\"unit\":\"min\",\"value\":-514},{\"name\":\"31\",\"homematic_name\":\"w_minuten_vor_su\",\"desc\":\"minuten_vor_su\",\"type\":\"number\",\"unit\":\"min\",\"value\":-17}],\"Systeminfo\":{\"MAC-Adresse\":\"e8:f5:c5:7f:cf:5c\",\"Homematic_CCU_ip\":\"192.168.168.1\",\"WLAN_ssid\":\"myTest\",\"WLAN_Signal_dBm\":-76,\"sec_seit_reset\":18464,\"zeitpunkt\":\"2018-11-28 16:45:00\",\"firmware\":\"weatherman_87\"}}\\u0004';\n\nmsg.payload = myStr;\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":1030,"wires":[["731d8b91.3e17cc"]]},{"id":"d5e7f8e7.147e48","type":"inject","z":"f92924be.ce59a8","name":"DEBUG - Weatherman Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1030,"wires":[["2d38150c.9ecbf6"]]},{"id":"39b33577.8a9ece","type":"function","z":"f92924be.ce59a8","name":"AVG READINGS - MQTT","func":"// \n// Weatherman\n//\n// - MQTT Devices einzeln versenden\n//   oder keine MQTT-Aktion\n//\nvar myMqttAnzahl = 0;\nvar myMqttMsg = msg.payload_avg;\nvar myDevMqtt = flow.get('myFlow_MqttAvg_DevMqtt');\n\nmyMqttAnzahl = myMqttMsg.length;\nfor (var i = 0; i < myMqttAnzahl; i=i+1) {\n  \n  myMqttTop = myDevMqtt;\n  myMqttMsg[i].DEV_MQTT = undefined;\n  \n  node.send( {topic:myMqttTop, payload:myMqttMsg[i]} );\n\n}\n\n// gesamtes Msg-Objekt loeschen\nmsg = undefined;\n\nreturn msg;","outputs":1,"noerr":0,"x":1180,"y":940,"wires":[["61fba989.1266fc"]]},{"id":"61fba989.1266fc","type":"function","z":"f92924be.ce59a8","name":"MQTTavg - Flow on / off","func":"var state = flow.get('myFlow_MqttAvg_Flag') || 0;\n\n// Display initial state\nif (state !== 0 ) {\n  node.status( {fill:\"green\", shape:\"dot\", text:\"on\"} );\n  return msg;\n} else {\n  node.status( {fill:\"red\", shape:\"ring\", text:\"off\"} );\n}","outputs":1,"noerr":0,"x":1180,"y":1000,"wires":[["cb1f457f.977b18"]]},{"id":"cb1f457f.977b18","type":"mqtt out","z":"f92924be.ce59a8","name":"Avg to MQTT","topic":"","qos":"1","retain":"true","broker":"907d3f79.5c45a","x":1210,"y":1060,"wires":[]},{"id":"d31f2881.c1a5f8","type":"comment","z":"f92924be.ce59a8","name":"Weatherman DB - AVG -  MQTT myHOME","info":"","x":1130,"y":880,"wires":[]},{"id":"3a4448d2.98d194","type":"inject","z":"f92924be.ce59a8","name":"DEBUG - SET MQTTavg - on","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":820,"wires":[["73f83d43.f8930c"]]},{"id":"73f83d43.f8930c","type":"function","z":"f92924be.ce59a8","name":"MQTTavg - on","func":"// \n// Weatherman\n//\n\n// MQTTavg - on\n\nflow.set('myFlow_MqttAvg_Flag', 1);\n","outputs":1,"noerr":0,"x":420,"y":820,"wires":[[]]},{"id":"e14b48a0.99d398","type":"function","z":"f92924be.ce59a8","name":"MQTTavg- off","func":"// \n// Weatherman\n//\n\n// MQTTavg - off\n\nflow.set('myFlow_MqttAvg_Flag', 0);\n","outputs":1,"noerr":0,"x":410,"y":860,"wires":[[]]},{"id":"cddf6db0.b8011","type":"inject","z":"f92924be.ce59a8","name":"DEBUG - SET MQTTavg - off","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":860,"wires":[["e14b48a0.99d398"]]},{"id":"f436c5a0.90a9d","type":"function","z":"f92924be.ce59a8","name":"Testdatensatz Weatherman FW 107","func":"//\n// Weatherman - Testdatensatz - FW 87\n//\n\nvar myStr = '{\"modultyp\":\"weatherman\",\"vars\":[{\"name\":\"0\",\"homematic_name\":\"w_ip\",\"desc\":\"weatherman_ip\",\"type\":\"string\",\"unit\":\"\",\"value\":\"192.168.0.100\"},{\"name\":\"1\",\"homematic_name\":\"w_temperatur\",\"desc\":\"aussentemperatur\",\"type\":\"number\",\"unit\":\"gradC\",\"value\":\"15.5\"},{\"name\":\"21\",\"homematic_name\":\"w_windchill\",\"desc\":\"gefuehlte_temperatur\",\"type\":\"number\",\"unit\":\"gradC\",\"value\":\"15.5\"},{\"name\":\"9\",\"homematic_name\":\"w_taupunkt\",\"desc\":\"taupunkt_temperatur\",\"type\":\"number\",\"unit\":\"gradC\",\"value\":\"7.8\"},{\"name\":\"14\",\"homematic_name\":\"w_himmeltemperatur\",\"desc\":\"himmel_temperatur\",\"type\":\"number\",\"unit\":\"gradC\",\"value\":\"0.0\"},{\"name\":\"2\",\"homematic_name\":\"w_feuchte_rel\",\"desc\":\"rel_feuchte\",\"type\":\"number\",\"unit\":\"%\",\"value\":\"60.0\"},{\"name\":\"17\",\"homematic_name\":\"w_feuchte_abs\",\"desc\":\"abs_feuchte\",\"type\":\"number\",\"unit\":\"g/m3\",\"value\":\"7.9\"},{\"name\":\"18\",\"homematic_name\":\"w_regensensor_wert\",\"desc\":\"regenmelderwert\",\"type\":\"number\",\"unit\":\"\",\"value\":\"7\"},{\"name\":\"7\",\"homematic_name\":\"w_regenmelder\",\"desc\":\"regenstatus\",\"type\":\"boolean\",\"unit\":\"\",\"value\":\"false\"},{\"name\":\"8\",\"homematic_name\":\"w_regenstaerke\",\"desc\":\"regenstaerke\",\"type\":\"number\",\"unit\":\"mm/h\",\"value\":\"0.0\"},{\"name\":\"19\",\"homematic_name\":\"w_regen_letzte_h\",\"desc\":\"regen_pro_h\",\"type\":\"number\",\"unit\":\"mm\",\"value\":\"0.0\"},{\"name\":\"20\",\"homematic_name\":\"w_regen_mm_heute\",\"desc\":\"regen_mm_heute\",\"type\":\"number\",\"unit\":\"mm\",\"value\":\"0.0\"},{\"name\":\"32\",\"homematic_name\":\"w_regenstunden_heute\",\"desc\":\"regenstunden_heute\",\"type\":\"number\",\"unit\":\"h\",\"value\":\"-0.2\"},{\"name\":\"27\",\"homematic_name\":\"w_regen_mm_gestern\",\"desc\":\"regen_mm_gestern\",\"type\":\"number\",\"unit\":\"mm\",\"value\":\"0.0\"},{\"name\":\"3\",\"homematic_name\":\"w_barometer\",\"desc\":\"nn_luftdruck\",\"type\":\"number\",\"unit\":\"mb\",\"value\":\"987.39\"},{\"name\":\"11\",\"homematic_name\":\"w_barotrend\",\"desc\":\"luftdrucktrend\",\"type\":\"string\",\"unit\":\"\",\"value\":\"fallend\"},{\"name\":\"4\",\"homematic_name\":\"w_wind_mittel\",\"desc\":\"avg_windgeschwindigkeit\",\"type\":\"number\",\"unit\":\"m/s\",\"value\":\"0.0\"},{\"name\":\"5\",\"homematic_name\":\"w_wind_spitze\",\"desc\":\"peak_windgeschwindigkeit\",\"type\":\"number\",\"unit\":\"m/s\",\"value\":\"0.0\"},{\"name\":\"24\",\"homematic_name\":\"w_windstaerke\",\"desc\":\"bft_windgeschwindigkeit\",\"type\":\"number\",\"unit\":\"bft\",\"value\":\"0\"},{\"name\":\"23\",\"homematic_name\":\"w_windrichtung\",\"desc\":\"windrichtung\",\"type\":\"string\",\"unit\":\"\",\"value\":\"NO\"},{\"name\":\"6\",\"homematic_name\":\"w_wind_dir\",\"desc\":\"windwinkel\",\"type\":\"number\",\"unit\":\"grad\",\"value\":\"45\"},{\"name\":\"10\",\"homematic_name\":\"w_lux\",\"desc\":\"helligkeit\",\"type\":\"number\",\"unit\":\"lux\",\"value\":\"6065.0\"},{\"name\":\"22\",\"homematic_name\":\"w_sonne_diff_temp\",\"desc\":\"sonnen_difftemperatur\",\"type\":\"number\",\"unit\":\"gradC\",\"value\":\"7.4\"},{\"name\":\"15\",\"homematic_name\":\"w_sonnentemperatur\",\"desc\":\"sonnen_temperatur\",\"type\":\"number\",\"unit\":\"gradC\",\"value\":\"22.9\"},{\"name\":\"16\",\"homematic_name\":\"w_sonne_scheint\",\"desc\":\"sonne_scheint\",\"type\":\"boolean\",\"unit\":\"\",\"value\":\"true\"},{\"name\":\"26\",\"homematic_name\":\"w_sonnenstunden_heute\",\"desc\":\"Sonnenstunden_heute\",\"type\":\"number\",\"unit\":\"h\",\"value\":\"1.3\"},{\"name\":\"12\",\"homematic_name\":\"w_elevation\",\"desc\":\"sonne_elevation\",\"type\":\"number\",\"unit\":\"grad\",\"value\":\"41.2\"},{\"name\":\"13\",\"homematic_name\":\"w_azimut\",\"desc\":\"sonne_azimut\",\"type\":\"number\",\"unit\":\"grad\",\"value\":\"237.6\"},{\"name\":\"30\",\"homematic_name\":\"w_minuten_vor_sa\",\"desc\":\"minuten_vor_sa\",\"type\":\"number\",\"unit\":\"min\",\"value\":\"-607\"},{\"name\":\"31\",\"homematic_name\":\"w_minuten_vor_su\",\"desc\":\"minuten_vor_su\",\"type\":\"number\",\"unit\":\"min\",\"value\":\"279\"}],\"Systeminfo\":{\"MAC-Adresse\":\"b4:e6:2d:17:fc:3b\",\"Homematic_CCU_ip\":\"192.168.0.11\",\"WLAN_ssid\":\"OnTop\",\"WLAN_Signal_dBm\":\"-80\",\"sec_seit_reset\":\"4740\",\"zeitpunkt\":\"2019.05.02/16:13:09\",\"firmware\":\"weatherman_107\"}}\\u0004';\n\nmsg.payload = myStr;\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":1070,"wires":[["731d8b91.3e17cc"]]},{"id":"4d36e1d7.0821a8","type":"inject","z":"f92924be.ce59a8","name":"DEBUG - Weatherman Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1070,"wires":[["f436c5a0.90a9d"]]},{"id":"e61b5165.c515b8","type":"ui_gauge","z":"f92924be.ce59a8","name":"Sonne-Std","group":"7fabc34f.1e9ce","order":4,"width":"3","height":"2","gtype":"gage","title":"{{payload.DEV_VAL_DESC}}","label":"{{payload.DEV_VAL_UNIT}}","format":"{{payload.READ_VALUE}}","min":"0","max":"18","colors":["#575700","#d7d700","#fefe3b"],"seg1":"","seg2":"","x":2140,"y":710,"wires":[]},{"id":"9fe6a6df.78c51","type":"ui_gauge","z":"f92924be.ce59a8","name":"Regen-Std","group":"bc8c0d14.2ff3a","order":16,"width":"3","height":"2","gtype":"gage","title":"{{payload.DEV_VAL_DESC}}","label":"{{payload.DEV_VAL_UNIT}}","format":"{{payload.READ_VALUE}}","min":"0","max":"24","colors":["#73b8fe","#0072e6","#0000e6"],"seg1":"","seg2":"","x":2140,"y":580,"wires":[]},{"id":"3a1c3254.583f2e","type":"function","z":"f92924be.ce59a8","name":"Misc","func":"//\n// Weatherman\n//\nvar msgRtn = {};\n\nmsgRtn.topic   = msg.payload.DEV_VAL_DESC;\nmsgRtn.payload = parseFloat(msg.payload.READ_VALUE).toFixed(1);\n\nreturn msgRtn;","outputs":1,"noerr":0,"x":1930,"y":890,"wires":[["1f4eee95.4d4b79"]]},{"id":"76027ace.3c1474","type":"function","z":"f92924be.ce59a8","name":"Misc","func":"//\n// Weatherman\n//\nvar msgRtn = {};\n\nmsgRtn.topic   = msg.payload.DEV_VAL_DESC;\nmsgRtn.payload = parseFloat(msg.payload.READ_VALUE).toFixed(1);\n\nreturn msgRtn;","outputs":1,"noerr":0,"x":1930,"y":920,"wires":[["1f4eee95.4d4b79"]]},{"id":"ac7fc48.847ab38","type":"function","z":"f92924be.ce59a8","name":"Misc","func":"\n//\n// Weatherman\n//\n\nvar myVal = msg.payload.READ_VALUE;\nmyVal     = Number(myVal).toFixed(1);\n\nmsg.payload.READ_VALUE = myVal;\n\nreturn msg;","outputs":1,"noerr":0,"x":1930,"y":200,"wires":[["d6559d90.2ecfb"]]},{"id":"d6559d90.2ecfb","type":"ui_gauge","z":"f92924be.ce59a8","name":"Luftdruck","group":"b0d43de3.9d93a","order":9,"width":"3","height":"2","gtype":"gage","title":"{{payload.DEV_VAL_DESC}}","label":"{{payload.DEV_VAL_UNIT}}","format":"{{payload.READ_VALUE}}","min":"960","max":"1060","colors":["#0000e6","#73e600","#e67200"],"seg1":"","seg2":"","x":2150,"y":200,"wires":[]},{"id":"cc4f672b.e6b7c8","type":"MySQLdatabase","z":"","host":"192.168.0.11","port":"3306","db":"myHOME","tz":""},{"id":"7d71ea35.7bd9c","type":"ui_group","z":"","name":"Weatherman - Status","tab":"e048bce5.056938","order":6,"disp":true,"width":"6","collapse":false},{"id":"907d3f79.5c45a","type":"mqtt-broker","z":"","name":"mosquitto 192.168.0.11 (secure: 1883 - user)","broker":"192.168.0.11","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"b0d43de3.9d93a","type":"ui_group","z":"","name":"Weatherman - Übersicht","tab":"e048bce5.056938","order":1,"disp":true,"width":"6","collapse":false},{"id":"d9cd92d6.7e9c7","type":"ui_group","z":"","name":"Verlauf","tab":"e048bce5.056938","order":2,"disp":true,"width":"6","collapse":false},{"id":"2ebc5c58.76aeec","type":"ui_group","z":"","name":"Wind","tab":"e048bce5.056938","order":3,"disp":true,"width":"6","collapse":false},{"id":"bc8c0d14.2ff3a","type":"ui_group","z":"","name":"Regen","tab":"e048bce5.056938","order":4,"disp":true,"width":"6","collapse":false},{"id":"7fabc34f.1e9ce","type":"ui_group","z":"","name":"Sonne","tab":"e048bce5.056938","order":5,"disp":true,"width":"6","collapse":false},{"id":"e048bce5.056938","type":"ui_tab","z":"","name":"Weatherman","icon":"dashboard","order":2}]