SHT_Sensor-Feinstaub/bin/FLOW - myHOME - Feinstaub_20190510.md
[{"id":"f73a1ff7.71e67","type":"tab","label":"myHOME - Feinstaub DB","disabled":false,"info":""},{"id":"45820721.7b97a","type":"tcp in","z":"f73a1ff7.71e67","name":"Listen Feinstaub","server":"server","host":"","port":"8182","datamode":"single","datatype":"utf8","newline":"","topic":"","base64":false,"x":110,"y":430,"wires":[["803e017.426cdc"]]},{"id":"2ca40e3e.8dd966","type":"function","z":"f73a1ff7.71e67","name":"Feinstaub - Testdatensatz","func":"//\n// Feinstaub - Testdatensatz\n//\n\nvar myMsg = {\"topic\":\"\",\"payload\":\"POST /feinstaub HTTP/1.1\\r\\nHost: 192.168.0.11\\r\\nContent-Type: application/json\\r\\nX-PIN: 0\\r\\nX-Sensor: esp8266-5437269\\r\\nContent-Length: 479\\r\\nConnection: close\\r\\n\\r\\n{\\\"esp8266id\\\": \\\"5437269\\\", \\\"software_version\\\": \\\"NRZ-2018-111\\\", \\\"sensordatavalues\\\":[{\\\"value_type\\\":\\\"SDS_P1\\\",\\\"value\\\":\\\"39.03\\\"},{\\\"value_type\\\":\\\"SDS_P2\\\",\\\"value\\\":\\\"15.13\\\"},{\\\"value_type\\\":\\\"BME280_temperature\\\",\\\"value\\\":\\\"3.35\\\"},{\\\"value_type\\\":\\\"BME280_humidity\\\",\\\"value\\\":\\\"87.25\\\"},{\\\"value_type\\\":\\\"BME280_pressure\\\",\\\"value\\\":\\\"98767.05\\\"},{\\\"value_type\\\":\\\"samples\\\",\\\"value\\\":\\\"1267357\\\"},{\\\"value_type\\\":\\\"min_micro\\\",\\\"value\\\":\\\"232\\\"},{\\\"value_type\\\":\\\"max_micro\\\",\\\"value\\\":\\\"78667\\\"},{\\\"value_type\\\":\\\"signal\\\",\\\"value\\\":\\\"-82\\\"}]}\\r\\n\",\"ip\":\"::ffff:192.168.0.101\",\"port\":20865,\"_session\":{\"type\":\"tcp\",\"id\":\"2ed3c436.96307c\"},\"_msgid\":\"fdd810b1.d3d59\"};\n\nreturn myMsg;","outputs":1,"noerr":0,"x":460,"y":990,"wires":[["803e017.426cdc"]]},{"id":"c4856686.c437d8","type":"inject","z":"f73a1ff7.71e67","name":"DEBUG - Feinstaub Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":990,"wires":[["2ca40e3e.8dd966"]]},{"id":"803e017.426cdc","type":"function","z":"f73a1ff7.71e67","name":"Check HTTP and add Timestamp","func":"// \n// Feinstaub\n//\n// - JSON auf Vollstaendigkeit pruefen (HTTP-Header)\n// - Timestamp erzeugen und in msg aufnehmen\n//   (allgemein gueltige Textversion 'yyyy-mm-dd hh:mm:ss')\n//\n\n// HTML-Header entfernen\nvar output = msg.payload.split(\"\\r\\n\\r\\n\");\n\n// String contains EOT, should be complete\nif (output !== null) {\n  // Try to parse JSON and validate object\n  msg.payload = JSON.parse(output[1]);\n  if (msg.payload && typeof msg.payload === 'object') {\n    // Timestamp\n    myTime = new Date();\n    myTime = (myTime.getFullYear() + '-' + ('00' + (myTime.getMonth()+1)).slice(-2) + '-' + ('00' + myTime.getDate()).slice(-2) + ' ' + ('00' + myTime.getHours()).slice(-2) + ':' + ('00' + myTime.getMinutes()).slice(-2) + ':' + ('00' + myTime.getSeconds()).slice(-2));\n    msg.timestamp = myTime;\n    return msg;\n  } else {\n    node.error('Unvollständige oder beschädigte JSON-Nachricht', msg);\n  }\n// No HTTP header found or parse error. Possibly trunctuated / corrupt message\n} else {\n  node.error('Kein HTTP-Header oder unvollständige oder beschädigte JSON-Nachricht', msg);\n}\n","outputs":1,"noerr":0,"x":360,"y":430,"wires":[["da152aab.b74f48","5bf79d1c.fb8588"]]},{"id":"9c012a31.6d1d9","type":"mysql","z":"f73a1ff7.71e67","mydb":"cc4f672b.e6b7c8","name":"","x":1100,"y":120,"wires":[["9e0ffbde.8f18b8"]]},{"id":"9e0ffbde.8f18b8","type":"function","z":"f73a1ff7.71e67","name":"INIT - DEVICES - Feinstaub","func":"// \n// Feinstaub\n//\n// - SQL-/CSV-Datenbankabfrage Devices auswerten\n// - Globale Flow Variablen setzen\n//\n// myFlow_DeviceArray_Count\n// myFlow_DeviceArray[]\n// myFlow_DeviceReadingsLast[]\n//\nvar myMsg;\nvar i = 0;\nvar mySqlAnzahl = 0;\nvar mySqlArray  = [];\nvar mySqlArrayLast = [];\nvar state = 0;\nvar stateName = \"DB\";\n\nif (Number(flow.get('myFlow_Db_Flag')) === 0 ) {\n  stateName = \"CSV\";\n}\n\n// Globale Flow Variablen zuruecksetzen\nflow.set('myFlow_DeviceArray_Count', mySqlAnzahl);\nflow.set('myFlow_DeviceArray', mySqlArray);\n\nmyMsg = msg.payload[1];\nif (myMsg && typeof myMsg === 'object') {\n  // Devices\n  mySqlAnzahl = myMsg.length;\n  if (mySqlAnzahl > 0) {\n    // alle Devices einlesen\n    for (i = 0; i < mySqlAnzahl; i=i+1) {\n      // zeilenweise uebernehmen\n      mySqlArray[i] = myMsg[i];\n    }\n    // Device-Eintraege im Flow merken\n    flow.set('myFlow_DeviceArray', mySqlArray);\n    // Anzahl der Device-Eintraege im Flow merken\n    flow.set('myFlow_DeviceArray_Count', mySqlAnzahl);\n    state = mySqlAnzahl;\n    // Init letzter Device-Wert Array\n    for (i = 0; i < mySqlAnzahl; i=i+1) {\n      // zeilenweiser Initwert\n      mySqlArrayLast[i] = '';\n    }\n    // Device-Werte im Flow merken\n    flow.set('myFlow_DeviceReadingsLast', mySqlArrayLast);\n  }\n}\n\n// Display initial state\nif (state !== 0 ) {\n  node.status( {fill:\"green\", shape:\"dot\", text:stateName + \" - init devices: \" + state} );\n  return msg;\n} else {\n  node.status( {fill:\"red\", shape:\"ring\", text:stateName + \" - no devices: \" + state} );\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1430,"y":120,"wires":[["deb8ca2d.addd6"]]},{"id":"287c860c.b4001e","type":"function","z":"f73a1ff7.71e67","name":"READ - DEVICES - Feinstaub","func":"// \n// Feinstaub\n//\n// - Globale Flow Variablen zuruecksetzen\n// - SQL-Datenbankabfrage Devices\n//\n\n// SQL - alle aktiven Device-Eintraege aus Datenbank holen\nmsg.topic = \"USE `myHOME`;\" +\n           \"SELECT * FROM SENSOR_DEVICES WHERE DEV_NAME = 'Feinstaub' AND DEV_FL_ACT <> 0;\"\n\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":120,"wires":[["40c085db.d9f59c"]]},{"id":"2585e633.0a245e","type":"comment","z":"f73a1ff7.71e67","name":"Version 1.1.0.0 - 10.05.2019 - Readme - WW-myHOME - Feinstaub DB","info":"------------------------------------------------------------------------\nReadme - WW-myHOME - Feinstaub DB\n------------------------------------------------------------------------\n(c) by Dipl.Ing. Wolfram Winter - wolfram.winter@web.de\n\nThis work is licensed under a\nCreative Commons Attribution-NonCommercial-ShareAlike 4.0 International License.\n\nYou should have received a copy of the license along with this work. If\nnot, see <http://creativecommons.org/licenses/by-nc-sa/4.0/>.\n\n------------------------------------------------------------------------\nFunktion:\n\nÜbernahme, Aufbereitung, Deployment und Visualisierung der per WiFi \nversandten Sensordaten der Feinstaub Messstation (https://luftdaten.info/) \ndurch Node-RED\n\n------------------------------------------------------------------------\nDoku:\n\nhttps://github.com/wolwin/WW-myHOME/tree/master/myHOME%20-%20Feinstaub\n\n------------------------------------------------------------------------\n    Erstellt:   10.11.2018 - Winter\n    Änderungen: 13.12.2018 - Winter\n                - Version 1.0.0.0\n                30.03.2019 - Winter\n                - Version 1.0.0.1\n                  - Fix DBdata Flag\n                  - Anordnung der Anzeigenreihenfolge geaendert\n                10.05.2019 - Winter\n                - Version 1.1.0.0\n------------------------------------------------------------------------\n","x":270,"y":30,"wires":[]},{"id":"f691c673.ec0f68","type":"comment","z":"f73a1ff7.71e67","name":"Config ...","info":"In INIT Flow evtl. die Parameter anpassen, ob\n- MQTT Status Ausgabe\n- MQTT Daten Ausgabe","x":300,"y":120,"wires":[]},{"id":"ca7c2c8.d7c02d","type":"csv","z":"f73a1ff7.71e67","name":"Read CSV","sep":";","hdrin":true,"hdrout":"","multi":"mult","ret":"\\n","temp":"","skip":"0","x":920,"y":180,"wires":[["7d6ac8b4.e222e8"]]},{"id":"c1edd589.bd9b58","type":"file in","z":"f73a1ff7.71e67","name":"myHOME_Devices_FS.csv","filename":"/home/pi/.node-red/public/myHOME_Devices_FS.csv","format":"utf8","chunk":false,"sendError":false,"x":700,"y":180,"wires":[["ca7c2c8.d7c02d"]]},{"id":"deb8ca2d.addd6","type":"debug","z":"f73a1ff7.71e67","name":"INIT - Result","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1460,"y":180,"wires":[]},{"id":"b176d6a6.19a158","type":"switch","z":"f73a1ff7.71e67","name":"Check - DB Flag","property":"myFlow_Db_Flag","propertyType":"flow","rules":[{"t":"neq","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":150,"wires":[["287c860c.b4001e"],["c1edd589.bd9b58"]]},{"id":"7d6ac8b4.e222e8","type":"function","z":"f73a1ff7.71e67","name":"CSV - DEVICES - Feinstaub","func":"// \n// Feinstaub\n//\n// CSV aktive Devices\n//\n\nvar myMsg;\nvar myTmpMsg   = [];\nvar myTmpArray = [];\n\n// eingelesene CSV Devices - nur aktive Devices\nmyMsg = msg.payload;\nif (myMsg && typeof myMsg === 'object') {\n  var arrayLength = myMsg.length;\n  for (var i = 0; i < arrayLength; i=i+1) {\n  \n    if (myMsg[i].DEV_FL_ACT !== 0);\n    \n      // CSV Textfelder mit 'undefined' korrigieren und als Textfeld (Zahlen!!) setzen\n      myMsg[i].ID_DEV       = (myMsg[i].ID_DEV       !== undefined ? myMsg[i].ID_DEV       + \"\" : \"\");\n      myMsg[i].DEV_NAME     = (myMsg[i].DEV_NAME     !== undefined ? myMsg[i].DEV_NAME     + \"\" : \"\");\n      myMsg[i].DEV_TYP      = (myMsg[i].DEV_TYP      !== undefined ? myMsg[i].DEV_TYP      + \"\" : \"\");\n      myMsg[i].DEV_DESC     = (myMsg[i].DEV_DESC     !== undefined ? myMsg[i].DEV_DESC     + \"\" : \"\");\n      myMsg[i].DEV_LOC      = (myMsg[i].DEV_LOC      !== undefined ? myMsg[i].DEV_LOC      + \"\" : \"\");\n      myMsg[i].DEV_VAL_DESC = (myMsg[i].DEV_VAL_DESC !== undefined ? myMsg[i].DEV_VAL_DESC + \"\" : \"\");\n      myMsg[i].DEV_VAL_UNIT = (myMsg[i].DEV_VAL_UNIT !== undefined ? myMsg[i].DEV_VAL_UNIT + \"\" : \"\");\n      myMsg[i].DEV_OLD_NAME = (myMsg[i].DEV_OLD_NAME !== undefined ? myMsg[i].DEV_OLD_NAME + \"\" : \"\");\n      myMsg[i].DEV_OLD_TYP  = (myMsg[i].DEV_OLD_TYP  !== undefined ? myMsg[i].DEV_OLD_TYP  + \"\" : \"\");\n      myMsg[i].DEV_MQTT     = (myMsg[i].DEV_MQTT     !== undefined ? myMsg[i].DEV_MQTT     + \"\" : \"\");\n\n      myTmpMsg.push(myMsg[i]);\n    }\n    \n}\n\n// Fake DB Rueckgabe\nmyTmpArray.push({ \"rtn\":\"none\" });\nmyTmpArray.push(myTmpMsg);\n\nmsg.payload = myTmpArray;\n\nreturn msg;","outputs":1,"noerr":0,"x":1140,"y":180,"wires":[["9e0ffbde.8f18b8"]]},{"id":"e3ac0dbf.fd3128","type":"inject","z":"f73a1ff7.71e67","name":"Autostart Flow","topic":"","payload":"Started!","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":130,"y":150,"wires":[["b6bbfab3.ef58b8"]]},{"id":"b6bbfab3.ef58b8","type":"function","z":"f73a1ff7.71e67","name":"INIT Flow","func":"// \n// Feinstaub\n//\n// - Globale Flow Variablen - Init\n//   - SQL-Datenbank Devices\n//   - Verhalten bei Device-Reading Verarbeitung\n//\n// myFlow_Flag_NewOnly_Default\n// myFlow_Flag_NewOnly\n//\n// myFlow_Db_Flag\n//\n// myFlow_DbData_Flag\n//\n// myFlow_MqttData_Flag\n// myFlow_MqttState_Flag\n// myFlow_MqttState_DevName\n// myFlow_MqttState_DevMqtt\n// myFlow_MqttAvg_Flag\n// myFlow_MqttAvg_DevMqtt\n//\n// myFlow_DeviceArray_Count\n// myFlow_DeviceArray[]\n// myFlow_DeviceReadingsLast\n// myFlow_DeviceReadingsAvg\n//\n// myFlow_ModulID\n// myFlow_ModulID_FW\n// myFlow_Wlan_ssid\n// myFlow_Wlan_signal\n//\n// myFlow_Baro_NN\n\n// =====================================\n// === Ab hier Anpassungen vornehmen ===\n// =====================================\n\n// Altitude [m] - eigene Ortshoehe ueber N.N. zur Berechnung\n// des barometrischen Luftdrucks in Bezug auf N.N.\n// - Definitionen:\n//   - absoluter Luftdruck = Luftdruckmessung am Standort\n//   - relativer Luftdruck - auf Meereshoehe reduzierter Luftdruckmesswert NN\n// - Im FS kann keine Ortshoehe zur Korrektur eingegeben werden - es wird immer \n//   der absolute Luftdruck bereitgestellt => es muss hier 'var myBaro_NN = <Ortshoehe>;' \n//   gesetzt werden, um auch den relativen Luftdruckwert ermitteln zu können\n// - Wird hier 'var myBaro_NN = 0;' eingegeben, dann wird der Luftdruckwert\n//   des FS ohne Korrektur ausgegeben\n// Mit der Ortshoehe werden automatisch die richtigen Werte fuer 'fs_baro' (absoluter Luftdruck) \n// und 'fs_baro_nn' (relativer Luftdruck) gesetzt - das gilt auch fuer die Werteanzeigen \n// 'Luftdruck' und 'Luftdruck NN' im Dashboard\n// var myBaro_NN = 0;\n// var myBaro_NN = 190;\nvar myBaro_NN = 190;\n\n// Flow-Vorgabe, ob nur neue Readings oder alle Readings \n// eines Devices beruecksichtigt werden sollen\n// = 0 - alle Readings (default)\n// > 0 - nur neue Readings\nvar myTmpNewOnly_Default = 0;\n\n// Flow-Vorgabe, ob eine DB Datenbank benutzt wird\n// myDb_Flag = 0 - keine DB Datenbank\n// myDb_Flag > 0 - mit DB Datenbank (default)\nvar myDb_Flag = 1;\n\n// Flow-Vorgabe, ob eine DB Data Ausgabe fuer das \n// 'DEV_NAME' Device erfolgen soll\n// gesteuert wird die Ausgabe ueber den Inhalt von\n// myDbData_Flag = 0 - keine DB Data Ausgabe\n// myDbData_Flag > 0 - DB Data Ausgabe (default)\nvar myDbData_Flag = 1;\n\n// Flow-Vorgabe, ob eine MQTT Data Ausgabe fuer das \n// 'DEV_NAME' Device erfolgen soll\n// gesteuert wird die Ausgabe ueber den Inhalt von\n// myMqttData_Flag = 0 - keine MQTT Data Ausgabe\n// myMqttData_Flag > 0 - MQTT Data Ausgabe (default)\nvar myMqttData_Flag = 1;\n\n// Flow-Vorgabe, ob eine MQTT Status Ausgabe fuer das \n// 'DEV_NAME' Device erfolgen soll\n// gesteuert wird die Ausgabe ueber den Inhalt von\n// myMqttState_Flag = 0 - keine MQTT Status Ausgabe\n// myMqttState_Flag > 0 - MQTT Status Ausgabe (default)\nvar myMqttState_Flag = 1;\nvar myMqttState_DevName = \"Feinstaub\";\nvar myMqttState_DevMqtt = \"/myHOME/sensor/devices/Feinstaub/state\";\n\n// Flow-Vorgabe, ob eine MQTT Ausgabe fuer den gleitenden Mittelwert (AVG)\n// aller numerischen Felder des 'DEV_NAME' Device erfolgen soll\n// gesteuert wird die Ausgabe ueber den Inhalt von\n// myMqttAvg_Flag = 0 - keine MQTT AVG Ausgabe\n// myMqttAvg_Flag > 0 - MQTT AVG Ausgabe (default)\nvar myMqttAvg_Flag = 1;\nvar myMqttAvg_DevMqtt = \"/myHOME/sensor/devices/Feinstaub/avg\";\n\n// ===========================================\n// === Ab hier KEINE Anpassungen vornehmen ===\n// ===========================================\n\nvar myTmpAnzahl   = 0;\nvar myTmpArrayDev = [];\nvar myTmpArrayVal = [];\nvar myTmpArrayAvg = [];\nvar myTmp;\n\n// Reset all\nflow.set('myFlow_DeviceArray',          undefined);\nflow.set('myFlow_DeviceArray_Count',    undefined);\nflow.set('myFlow_DeviceReadingsLast',   undefined);\nflow.set('myFlow_DeviceReadingsAvg',    undefined);\nflow.set('myFlow_Flag_NewOnly_Default', undefined);\nflow.set('myFlow_Flag_NewOnly',         undefined);\nflow.set('myFlow_Db_Flag',              undefined);    \nflow.set('myFlow_DbData_Flag',          undefined);    \nflow.set('myFlow_MqttData_Flag',        undefined);    \nflow.set('myFlow_MqttState_Flag',       undefined);    \nflow.set('myFlow_MqttState_DevName',    undefined);\nflow.set('myFlow_MqttState_DevMqtt',    undefined);\nflow.set('myFlow_MqttAvg_Flag',         undefined);    \nflow.set('myFlow_MqttAvg_DevMqtt',      undefined);\n\nflow.set('myFlow_ModulID',              undefined);\nflow.set('myFlow_ModulID_FW',           undefined);\nflow.set('myFlow_Wlan_ssid',            undefined);\nflow.set('myFlow_Wlan_signal',          undefined);\n\nflow.set('myFlow_Baro_NN',              undefined);\n\n// SQL-Datenbank - Device-Angaben\n// myTmp = flow.get('myFlow_DeviceArray');\n// if (myTmp === undefined) {\n  flow.set('myFlow_DeviceArray', myTmpArrayDev);\n// }\n// SQL-Datenbank - Anzahl der Device-Eintraege\n// myTmp = flow.get('myFlow_DeviceArray_Count');\n// if (myTmp === undefined) {\n  flow.set('myFlow_DeviceArray_Count', myTmpAnzahl);\n// }\n\n// Array der letzten Device-Readings\n// myTmp = flow.get('myFlow_DeviceReadingsLast');\n// if (myTmp === undefined) {\n  flow.set('myFlow_DeviceReadingsLast', myTmpArrayVal);\n// }\n// Array der letzten Device-Readings - gleitender Mittelwert\n// myTmp = flow.get('myFlow_DeviceReadingsLast');\n// if (myTmp === undefined) {\n  flow.set('myFlow_DeviceReadingsAvg', myTmpArrayAvg);\n// }\n\n// Flow-Vorgabe - alle / nur neuee Readings eines Devices\n// myTmp = flow.get('myFlow_Flag_NewOnly_Default');\n// if (myTmp === undefined) {\n  flow.set('myFlow_Flag_NewOnly_Default', myTmpNewOnly_Default);\n// }\n// Flag fuer die Device-Reading Verarbeitung\n// - muss beim Start auf 0 gesetzt sein, damit beim ersten eingehenden\n//   JSON-Satz ALLE Werte fuer eine Initialiserung aller Reading-Slots \n//   in den Flow-Bereiche einmalig uebernommen werden (gesamter Satz)\n// - danach wird der Wert des globalen Flags 'myFlow_Flag_NewOnly_Default'\n//   Flags gesetzt - so kann global gesteuert werden, ob dann nur neue \n//   oder immer alle Readings verarbeitet werden sollen\n// myTmp = flow.get('myFlow_Flag_NewOnly');\n// if (myTmp === undefined) {\n  flow.set('myFlow_Flag_NewOnly', myTmpNewOnly_Default);\n// }\n\n// Flow-Vorgabe, ob eine DB Datenbank\n// myTmp = flow.get('myFlow_Db_Flag');\n// if (myTmp === undefined) {\n  flow.set('myFlow_Db_Flag', myDb_Flag);    \n// }\n\n// Flow-Vorgabe, ob eine DB Data Ausgabe\n// myTmp = flow.get('myFlow_DbData_Flag');\n// if (myTmp === undefined) {\n  flow.set('myFlow_DbData_Flag', myDbData_Flag);    \n// }\n\n// Flow-Vorgabe, ob eine MQTT Data Ausgabe\n// myTmp = flow.get('myFlow_MqttData_Flag');\n// if (myTmp === undefined) {\n  flow.set('myFlow_MqttData_Flag', myMqttData_Flag);    \n// }\n\n// Flow-Vorgabe, ob eine MQTT Status Ausgabe\n// myTmp = flow.get('myFlow_MqttState_Flag');\n// if (myTmp === undefined) {\n  flow.set('myFlow_MqttState_Flag',    myMqttState_Flag);    \n  flow.set('myFlow_MqttState_DevName', myMqttState_DevName);\n  flow.set('myFlow_MqttState_DevMqtt', myMqttState_DevMqtt);\n// }\n\n// Flow-Vorgabe, ob eine MQTT AVG Ausgabe\n// myTmp = flow.get('myFlow_MqttAvg_Flag');\n// if (myTmp === undefined) {\n  flow.set('myFlow_MqttAvg_Flag',    myMqttAvg_Flag);    \n  flow.set('myFlow_MqttAvg_DevMqtt', myMqttAvg_DevMqtt);\n// }\n\n// Flow-Speicher fuer Modul-Info\nflow.set('myFlow_ModulID',    '?');\nflow.set('myFlow_ModulID_FW', '?');\n\n// Flow-Speicher fuer WLAN-Info\nflow.set('myFlow_Wlan_ssid',   '?');\nflow.set('myFlow_Wlan_signal', '?');\n\n// Altitude [m] - eigene Ortshoehe ueber N.N.\nflow.set('myFlow_Baro_NN',  myBaro_NN);\nflow.set('myFlow_fs_glb_temp', \"fs_glb_temp\");\nflow.set('myFlow_fs_glb_hum', \"fs_glb_hum\");\nflow.set('myFlow_fs_glb_baro', \"fs_glb_baro\");\nflow.set('myFlow_fs_glb_baro_nn', \"fs_glb_baro_nn\");\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":150,"wires":[["b176d6a6.19a158"]]},{"id":"40c085db.d9f59c","type":"delay","z":"f73a1ff7.71e67","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":950,"y":120,"wires":[["9c012a31.6d1d9"]]},{"id":"77e5da4c.5c88cc","type":"comment","z":"f73a1ff7.71e67","name":"Feinstaub DB - INIT Flow","info":"","x":130,"y":80,"wires":[]},{"id":"da152aab.b74f48","type":"switch","z":"f73a1ff7.71e67","name":"Check INIT - DEVICES","property":"myFlow_DeviceArray_Count","propertyType":"flow","rules":[{"t":"neq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":430,"wires":[["f467d926.e416e"]]},{"id":"eef2b282.dca94","type":"comment","z":"f73a1ff7.71e67","name":"Feinstaub DB - START Flow","info":"","x":140,"y":380,"wires":[]},{"id":"a7ce49e6.e3235","type":"function","z":"f73a1ff7.71e67","name":"Create payload_xxx","func":"// \n// Feinstaub\n//\n// - Zentrale Verarbeitung der Feinstaub msg\n//\n\n\n// DEBUG - Info\n//   console.log (msg.payload);\n//\n// console.log (flow.get('myFlow_DeviceArray[1]'));\n//\n//   var myTime = new Date();\n//   myTime = myTime.toLocaleString();\n//   console.log (myTime + \" - WM-Nachricht\");\n\n\nvar myObject_Syst = msg.payload;\nvar myObject_Vars = msg.payload.sensordatavalues;\nvar myObject = '';\n\nvar myOrgName = '';\nvar myOrgValue = '';\nvar myValUnit = '';\nvar myAvgValue = '';\nvar arrayOrgName = [];\nvar arrayOrgLength = 0;\n\nvar myResultsSys  = [];\nvar myResultsSql  = [];\nvar myResultsNew  = [];\nvar myResultsMqtt = [];\nvar myResultsAvg  = [];\n\nvar i = 0;\nvar myTmp;\nvar myTmpIndex = 0;\n\n// Flow-Verweise\nvar myDeviceArray        = flow.get ('myFlow_DeviceArray');\nvar myDeviceArrayCount   = flow.get (\"myFlow_DeviceArray_Count\");\nvar myDeviceReadingsLast = flow.get ('myFlow_DeviceReadingsLast');\nvar myDeviceReadingsAvg  = flow.get ('myFlow_DeviceReadingsAvg');\n\nvar myFlagNewOnly        = flow.get('myFlow_Flag_NewOnly');\nvar myFlagNewOnlyDefault = flow.get('myFlow_Flag_NewOnly_Default');\n\n// -------------------------------\n// --- Feinstaub - Systeminfo ---\n// -------------------------------\nmyObject = myObject_Syst;\nif (myObject && typeof myObject === 'object') {\n  arrayOrgName   = Object.keys(myObject);\n  arrayOrgLength = arrayOrgName.length;\n  // console.log(arrayOrgLength);   \n  // Ueber alle Eintrage\n  for (i = 0; i < arrayOrgLength; i=i+1) {\n    myOrgName  = arrayOrgName[i];  \n    myOrgValue = myObject[myOrgName];\n    // Index fuer den Eintrag suchen\n    myTmp = GetDeviceIndex(\"\", myOrgName);\n    if (myTmp !== '') {\n\t  // Index-Eintrag gefunden\t\n      myTmpIndex = Number(myTmp);\n      // console.log(myOrgName + \" - \" + myTmpIndex);\n      // Device-Reading behandeln, wenn ...\n      // - alle Device-Readings beruecksichtigt werden sollen\n\t  // - nur die Device-Readings beruecksichtigt werden sollen, die deren Werte sich geaendert haben\n\t  if ((myFlagNewOnly === 0) || ((myFlagNewOnly !== 0) && (myDeviceReadingsLast[myTmpIndex] !== myOrgValue))) {\n        // console.log(msg.timestamp + \" - \" + myOrgName + \" - \" + myOrgValue + \" - \" + myTmp + \" - \" + myDeviceArray[myTmpIndex].ID_DEV); \n        // neuen Wert merken  \n        myDeviceReadingsLast[myTmpIndex] = myOrgValue;  \n        // wenn das Flag fuer das Speichern in der Datenbank gesetzt ist ...\n        // SQL-Insert in SQl payload-Array ablegen\n        if ( Number(myDeviceArray[myTmpIndex].DEV_FL_STO) !== 0 ) {\n          //\n          // `ID_READ`     DATETIME(0) NOT NULL,\n          // `ID_DEV`      INT(10) UNSIGNED,\n          // `READ_TIME`   VARCHAR(25),\n          // `READ_VALUE`  VARCHAR(50),\n          // `READ_FLAG`   TINYINT UNSIGNED DEFAULT 0\n          //\n          // ID_READ wird automatisch vom Trigger der Datenbank gesetzt\n          //\n          // INSERT INTO SENSOR_READINGS (ID_DEV, READ_TIME, READ_VALUE) values ( '1', '2000-01-01 01:01:01', '47.11' );\n          // myTmp = \"INSERT INTO SENSOR_READINGS (ID_DEV, READ_TIME, READ_VALUE) values (\";\n          // myTmp = myTmp + \"'\" + myDeviceArray[myTmpIndex].ID_DEV + \"'\";\n          // myTmp = myTmp + \", '\" + msg.timestamp +  \"'\";\n          // myTmp = myTmp + \", '\" + myOrgValue +  \"'\";\n          // myTmp = myTmp + \");\"\n          //\n          // INSERT INTO SENSOR_READINGS SET ID_DEV='101901', READ_TIME='2000-01-01 01:01:01', READ_VALUE='47.11';\n          myTmp = \"INSERT INTO SENSOR_READINGS SET\";\n          myTmp = myTmp +  \" ID_DEV='\" + myDeviceArray[myTmpIndex].ID_DEV + \"'\";\n          myTmp = myTmp + \", READ_TIME='\" +  msg.timestamp + \"'\";\n          myTmp = myTmp + \", READ_VALUE='\" +  myOrgValue + \"'\";\n          myTmp = myTmp + \";\"\n          // console.log(myTmp);\n    \n          // Push SQL-Insert in Msg-Ausgabe-Array\n          // myResultsSql.push( {sql: myTmp} );\n          myResultsSql.push( myTmp );\n        }\n        \n        // `ID_DEV`='100901', \n        // `DEV_NAME` = 'Weatherman', \n        // `DEV_TYP` = 'wm_sys_mac-adr'\n        // `DEV_DESC` = 'Wetterstation'\n        // `DEV_LOC` = 'Garten'\n        // `DEV_VAL_DESC` = 'MAC-Adresse'\n        // `DEV_VAL_UNIT` = ''\n        // `DEV_OLD_NAME` = 'Systeminfo'\n        // `DEV_OLD_TYP` = 'MAC-Adresse'\n        // `DEV_MQTT` = '/myHOME/sensor/devices/Weatherman'\n        // `DEV_FL_ACT` = 1 \n        // `DEV_FL_STO` = 0 \n        // `DEV_FL_MQTT` = 0\n        // `DEV_FL_INT` = 0\n       \n        // neues msg-Objekt zusammensetzen\n        myTmp = { \"ID_DEV\": myDeviceArray[myTmpIndex].ID_DEV,\n                  \"READ_TIME\": msg.timestamp,\n                  \"READ_VALUE\": myOrgValue,\n                  \"DEV_NAME\": myDeviceArray[myTmpIndex].DEV_NAME,\n                  \"DEV_TYP\": myDeviceArray[myTmpIndex].DEV_TYP,\n                  \"DEV_DESC\": myDeviceArray[myTmpIndex].DEV_DESC,\n                  \"DEV_LOC\": myDeviceArray[myTmpIndex].DEV_LOC,\n                  \"DEV_VAL_DESC\": myDeviceArray[myTmpIndex].DEV_VAL_DESC,\n                  \"DEV_VAL_UNIT\": myDeviceArray[myTmpIndex].DEV_VAL_UNIT,\n                  \"DEV_MQTT\": myDeviceArray[myTmpIndex].DEV_MQTT,\n                  \"DEV_FL_ACT\": myDeviceArray[myTmpIndex].DEV_FL_ACT,\n                  \"DEV_FL_STO\": myDeviceArray[myTmpIndex].DEV_FL_STO,\n                  \"DEV_FL_MQTT\": myDeviceArray[myTmpIndex].DEV_FL_MQTT,\n                  \"DEV_FL_INT\": myDeviceArray[myTmpIndex].DEV_FL_INT\n                };\n        // console.log(myTmp);\n\n        // Push NEW-Insert in Msg-Ausgabe-Array\n        myResultsSys.push( myTmp );\n\n        // wenn MQTT Ausgabe, dann auch in MQTT-Liste uebernehmen\n        if ((myDeviceArray[myTmpIndex].DEV_FL_MQTT > 0) && (myDeviceArray[myTmpIndex].DEV_MQTT.length > 0)) {\n\n          // neues MQTT-Objekt zusammensetzen\n          myTmp = { \"ID_DEV\": myDeviceArray[myTmpIndex].ID_DEV,\n                    \"READ_TIME\": msg.timestamp,\n                    \"READ_VALUE\": myOrgValue,\n                    \"DEV_NAME\": myDeviceArray[myTmpIndex].DEV_NAME,\n                    \"DEV_TYP\": myDeviceArray[myTmpIndex].DEV_TYP,\n                    \"DEV_DESC\": myDeviceArray[myTmpIndex].DEV_DESC,\n                    \"DEV_LOC\": myDeviceArray[myTmpIndex].DEV_LOC,\n                    \"DEV_VAL_DESC\": myDeviceArray[myTmpIndex].DEV_VAL_DESC,\n                    \"DEV_VAL_UNIT\": myDeviceArray[myTmpIndex].DEV_VAL_UNIT,\n                    \"DEV_MQTT\": myDeviceArray[myTmpIndex].DEV_MQTT\n                  };\n          // console.log(myTmp);\n\n          // Push NEW-Insert in Msg-Ausgabe-Array\n          myResultsMqtt.push( myTmp );\n        }\n          \n      } else {\n      // Wert hat sich nicht geaendert - Eintrag wird ignoriert\n      // console.log(myOrgName + \" - \" + myOrgValue + \" - unveraendert\"); \n      }\n\n    } else {\n      // keinen Index gefunden - Eintrag wird ignoriert\n      // console.log(myOrgName + \" - \" + myOrgValue + \" - !!! FEHLT !!!\");     \n    }\n\n  }\n}\n\nmyOrgName = '';\nmyOrgValue = '';\narrayOrgName = [];\narrayOrgLength = 0;\n\n// ---------------------------------\n// --- Feinstaub - vars Readings ---\n// ---------------------------------\nmyObject = myObject_Vars;\nif (myObject && typeof myObject === 'object') {\n  arrayOrgName   = Object.keys(myObject);\n  arrayOrgLength = arrayOrgName.length\n  // console.log(arrayOrgLength);   \n  // Ueber alle Eintrage\n  for (i = 0; i < arrayOrgLength; i=i+1) {\n    myOrgName  = myObject_Vars[i].value_type;  \n    myOrgValue = myObject_Vars[i].value;\n    // Index fuer den Eintrag suchen\n    myTmp = GetDeviceIndex(\"value_type\", myOrgName);\n    // console.log(myOrgName + \" - \" + myTmp);\n    if (myTmp !== '') {\n\t  // Index-Eintrag gefunden\n      myTmpIndex = Number(myTmp);\n      // Gleitenden Mittelwert fuer alle numerischen Werte\n      if (isNaN(myOrgValue) === false) {\n        if (myDeviceReadingsAvg[myTmpIndex] === undefined) {\n          // erstmalige / erneute Intialisierung\n          myDeviceReadingsAvg[myTmpIndex] = Number(myOrgValue);   \n        } else {\n          // Berechnung gleitender Mittelwert\n          myDeviceReadingsAvg[myTmpIndex] = FloatingAvg(myDeviceReadingsAvg[myTmpIndex], Number(myOrgValue), 2);\n        }\n        myAvgValue = myDeviceReadingsAvg[myTmpIndex];\n      } else {\n        myAvgValue = myOrgValue;\n      }\n      // Parameter-Bezeichnung fuer Baro_NN erzeugen\n      myValUnit = myDeviceArray[myTmpIndex].DEV_VAL_UNIT;\n      // console.log(\"---\" + myOrgName);\n      if ( myOrgName === flow.get('myFlow_fs_glb_baro_nn') ) {\n        myValUnit = myObject_Vars[i].desc + \" \" + myValUnit;\n        // console.log(\"---\" + myDeviceArray[myTmpIndex].ID_DEV);\n        // console.log(\"-\" +  myValUnit);\n      }\n      // neues msg-Objekt AVG zusammensetzen\n      myTmp = { \"ID_DEV\": myDeviceArray[myTmpIndex].ID_DEV,\n                \"READ_TIME\": msg.timestamp,\n                \"READ_VALUE\": myAvgValue,\n                \"DEV_NAME\": myDeviceArray[myTmpIndex].DEV_NAME,\n                \"DEV_TYP\": myDeviceArray[myTmpIndex].DEV_TYP,\n                \"DEV_DESC\": myDeviceArray[myTmpIndex].DEV_DESC,\n                \"DEV_LOC\": myDeviceArray[myTmpIndex].DEV_LOC,\n                \"DEV_VAL_DESC\": myDeviceArray[myTmpIndex].DEV_VAL_DESC,\n             // \"DEV_VAL_UNIT\": myDeviceArray[myTmpIndex].DEV_VAL_UNIT,\n                \"DEV_VAL_UNIT\": myValUnit,\n                \"DEV_MQTT\": myDeviceArray[myTmpIndex].DEV_MQTT,\n                \"DEV_FL_ACT\": myDeviceArray[myTmpIndex].DEV_FL_ACT,\n                \"DEV_FL_STO\": myDeviceArray[myTmpIndex].DEV_FL_STO,\n                \"DEV_FL_MQTT\": myDeviceArray[myTmpIndex].DEV_FL_MQTT,\n                \"DEV_FL_INT\": myDeviceArray[myTmpIndex].DEV_FL_INT\n              };\n      // console.log(myTmp);\n      // Push NEW-Insert in Msg-Ausgabe-Array\n      myResultsAvg.push( myTmp );\n      // if (myDeviceReadingsAvg[myTmpIndex] !== undefined) {\n      //   console.log(myDeviceReadingsAvg[myTmpIndex]);\n      // }\n\n      // Device-Reading behandeln, wenn ...\n      // - alle Device-Readings beruecksichtigt werden sollen\n\t  // - nur die Device-Readings beruecksichtigt werden sollen, die deren Werte sich geaendert haben\n\t  if ((myFlagNewOnly === 0) || ((myFlagNewOnly !== 0) && (myDeviceReadingsLast[myTmpIndex] !== myOrgValue))) {\n        // console.log(msg.timestamp + \" - \" + myOrgName + \" - \" + myOrgValue + \" - \" + myTmp + \" - \" + myDeviceArray[myTmpIndex].ID_DEV); \n        // neuen Wert merken  \n        myDeviceReadingsLast[myTmpIndex] = myOrgValue;  \n        // wenn das Flag fuer das Speichern in der Datenbank gesetzt ist ...\n        // SQL-Insert in SQl payload-Array ablegen\n        if ( Number(myDeviceArray[myTmpIndex].DEV_FL_STO) !== 0 ) {\n          //\n          // `ID_READ`     DATETIME(0) NOT NULL,\n          // `ID_DEV`      INT(10) UNSIGNED,\n          // `READ_TIME`   VARCHAR(25),\n          // `READ_VALUE`  VARCHAR(50),\n          // `READ_FLAG`   TINYINT UNSIGNED DEFAULT 0\n          //\n          // ID_READ wird automatisch vom Trigger der Datenbank gesetzt\n          //\n          // INSERT INTO SENSOR_READINGS (ID_DEV, READ_TIME, READ_VALUE) values ( '1', '2000-01-01 01:01:01', '47.11' );\n          // myTmp = \"INSERT INTO SENSOR_READINGS (ID_DEV, READ_TIME, READ_VALUE) values (\";\n          // myTmp = myTmp + \"'\" + myDeviceArray[myTmpIndex].ID_DEV + \"'\";\n          // myTmp = myTmp + \", '\" + msg.timestamp +  \"'\";\n          // myTmp = myTmp + \", '\" + myOrgValue +  \"'\";\n          // myTmp = myTmp + \");\"\n          //\n          // INSERT INTO SENSOR_READINGS SET ID_DEV='101901', READ_TIME='2000-01-01 01:01:01', READ_VALUE='47.11';\n          myTmp = \"INSERT INTO SENSOR_READINGS SET\";\n          myTmp = myTmp +  \" ID_DEV='\" + myDeviceArray[myTmpIndex].ID_DEV + \"'\";\n          myTmp = myTmp + \", READ_TIME='\" +  msg.timestamp + \"'\";\n          myTmp = myTmp + \", READ_VALUE='\" +  myOrgValue + \"'\";\n          myTmp = myTmp + \";\"\n          // console.log(myTmp);\n    \n          // Push SQL-Insert in Msg-Ausgabe-Array\n          // myResultsSql.push( {sql: myTmp} );\n          myResultsSql.push( myTmp );\n        }\n\n        // `ID_DEV`='100001', \n        // `DEV_NAME` = 'Weatherman', \n        // `DEV_TYP` = 'wm_temp'\n        // `DEV_DESC` = 'Wetterstation'\n        // `DEV_LOC` = 'Garten'\n        // `DEV_VAL_DESC` = 'Temperatur-Aussen'\n        // `DEV_VAL_UNIT` = '?C'\n        // `DEV_OLD_NAME` = 'name'\n        // `DEV_OLD_TYP` = '1'\n        // `DEV_MQTT` = '/myHOME/sensor/devices/Weatherman'\n        // `DEV_FL_ACT` = 1 \n        // `DEV_FL_STO` = 1 \n        // `DEV_FL_MQTT` = 1;\n        // `DEV_FL_INT` = 0;\n        \n        // neues msg-Objekt zusammensetzen\n        myTmp = { \"ID_DEV\": myDeviceArray[myTmpIndex].ID_DEV,\n                  \"READ_TIME\": msg.timestamp,\n                  \"READ_VALUE\": myOrgValue,\n                  \"DEV_NAME\": myDeviceArray[myTmpIndex].DEV_NAME,\n                  \"DEV_TYP\": myDeviceArray[myTmpIndex].DEV_TYP,\n                  \"DEV_DESC\": myDeviceArray[myTmpIndex].DEV_DESC,\n                  \"DEV_LOC\": myDeviceArray[myTmpIndex].DEV_LOC,\n                  \"DEV_VAL_DESC\": myDeviceArray[myTmpIndex].DEV_VAL_DESC,\n               // \"DEV_VAL_UNIT\": myDeviceArray[myTmpIndex].DEV_VAL_UNIT,\n                  \"DEV_VAL_UNIT\": myValUnit,\n                  \"DEV_MQTT\": myDeviceArray[myTmpIndex].DEV_MQTT,\n                  \"DEV_FL_ACT\": myDeviceArray[myTmpIndex].DEV_FL_ACT,\n                  \"DEV_FL_STO\": myDeviceArray[myTmpIndex].DEV_FL_STO,\n                  \"DEV_FL_MQTT\": myDeviceArray[myTmpIndex].DEV_FL_MQTT,\n                  \"DEV_FL_INT\": myDeviceArray[myTmpIndex].DEV_FL_INT\n                };\n        // console.log(myTmp);\n\n        // Push NEW-Insert in Msg-Ausgabe-Array\n        myResultsNew.push( myTmp );\n\n        // wenn MQTT Ausgabe, dann auch in MQTT-Liste uebernehmen\n        if ((myDeviceArray[myTmpIndex].DEV_FL_MQTT > 0) && (myDeviceArray[myTmpIndex].DEV_MQTT.length > 0)) {\n\n          // neues MQTT-Objekt zusammensetzen\n          myTmp = { \"ID_DEV\": myDeviceArray[myTmpIndex].ID_DEV,\n                    \"READ_TIME\": msg.timestamp,\n                    \"READ_VALUE\": myOrgValue,\n                    \"DEV_NAME\": myDeviceArray[myTmpIndex].DEV_NAME,\n                    \"DEV_TYP\": myDeviceArray[myTmpIndex].DEV_TYP,\n                    \"DEV_DESC\": myDeviceArray[myTmpIndex].DEV_DESC,\n                    \"DEV_LOC\": myDeviceArray[myTmpIndex].DEV_LOC,\n                    \"DEV_VAL_DESC\": myDeviceArray[myTmpIndex].DEV_VAL_DESC,\n                 // \"DEV_VAL_UNIT\": myDeviceArray[myTmpIndex].DEV_VAL_UNIT,\n                    \"DEV_VAL_UNIT\": myValUnit,\n                    \"DEV_MQTT\": myDeviceArray[myTmpIndex].DEV_MQTT\n                  };\n          // console.log(myTmp);\n\n          // Push NEW-Insert in Msg-Ausgabe-Array\n          myResultsMqtt.push( myTmp );\n        }\n\n      } else {\n      // Wert hat sich nicht geaendert - Eintrag wird ignoriert\n      // console.log(myOrgName + \" - \" + myOrgValue + \" - unveraendert\"); \n      }\n\n    } else {\n      // keinen Index gefunden - Eintrag wird ignoriert\n      // console.log(myOrgName + \" - \" + myOrgValue + \" - !!! FEHLT !!!\");     \n    }\n\n  }\n  \n  // Flag fuer die Device-Reading Verarbeitung wird auf den Default-Wert gesetzt\n  // - muss beim Start auf 0 gesetzt sein, damit beim ersten eingehenden\n  //   JSON-Satz ALLE Werte fuer eine Initialiserung aller Reading-Slots \n  //   in den Flow-Bereiche einmalig uebernommen werden (gesamter Satz)\n  // - danach wird der Wert des globalen Flags 'myFlow_Flag_NewOnly_Default'\n  //   Flags gesetzt - so kann global gesteuert werden, ob dann nur neue \n  //   oder immer alle Readings verarbeitet werden sollen\n  flow.set('myFlow_Flag_NewOnly', myFlagNewOnlyDefault);\n\n}\n\n// neue Datensammlungen in msg-Objekt einhaengen\nmsg.payload_sys  = myResultsSys;\nmsg.payload_var  = myResultsNew;\nmsg.payload_avg  = myResultsAvg;\nmsg.payload_sql  = myResultsSql;\nmsg.payload_mqtt = myResultsMqtt;\n\nreturn msg;\n\n\nfunction FloatingAvg(fOldAvg, fNewVal, iDiv) {\n  // Berechnung Gleitender Mittelwert\n  // Der gleitende Mittelwert (gmw) einmal initialisiert \n  // und dann jeweils um einen neuen Wert (nw) wie folgt ergänzt:\n  // gmw = gmw – gmw / i + nw / i;\n  // Man zieht also den i-ten Teil vom Mittelwert ab und fügt den i-ten teil des neuen Wert hinzu.\n  // i muss immer größer gleich 1 sein.\n  // Je größer man i wählt, desto träger ändert sich der gmw.\n  // Bei i=1 ist gmw = nw.\n\n  var OldAvg = parseFloat(fOldAvg).toFixed(10);\n  var NewVal = parseFloat(fNewVal).toFixed(10);\n  var Div    = parseInt(iDiv);\n  \n  if (Div <= 0) { Div = 1; }\n  \n  var Add_1 = (OldAvg !== 0) ? OldAvg/iDiv : 0;\n  var Add_2 = (NewVal !== 0) ? NewVal/iDiv : 0;\n  \n  var myRtn = OldAvg - Add_1 + Add_2;\n  \n  return myRtn;\n}\n\nfunction GetDeviceIndex(sName, sTyp) {\n  // Gibt die lfd. Index-Nummer im 'myFlow_DeviceArray' zuruck,\n  // wenn 'sName' und 'sTyp ' gefunden wurden - ansonsten ''\n  var myIndex = '';\n  var myAnzahl = 0;\n  var myArray = [];\n\n  myAnzahl = flow.get (\"myFlow_DeviceArray_Count\");\n  myArray  = flow.get ('myFlow_DeviceArray');\n  \n  // console.log(myAnzahl);   \n  \n  for (var j = 0; j < myAnzahl; j=j+1) {\n      if ((myArray[j].DEV_OLD_NAME === sName ) && (myArray[j].DEV_OLD_TYP === sTyp)) {\n        // myIndex = myArray[j].ID_DEV;\n        myIndex = j;\n        j = myAnzahl;\n    }\n  }\n  return myIndex;\n}\n","outputs":1,"noerr":0,"x":1120,"y":430,"wires":[["308baf20.9f7a64","b25940ae.799f08","f990ada.a8a051","200b6136.c138e2","ad33adb3.9339d","9712b28c.e680f"]]},{"id":"f990ada.a8a051","type":"debug","z":"f73a1ff7.71e67","name":"payload_xxx","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1340,"y":390,"wires":[]},{"id":"308baf20.9f7a64","type":"change","z":"f73a1ff7.71e67","name":"payload_var","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload_var","tot":"msg"},{"t":"delete","p":"payload_mqtt","pt":"msg"},{"t":"delete","p":"payload_sys","pt":"msg"},{"t":"delete","p":"payload_sql","pt":"msg"},{"t":"delete","p":"timestamp","pt":"msg"},{"t":"delete","p":"payload_var","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":470,"wires":[["409cedf.fb16b54"]]},{"id":"b25940ae.799f08","type":"change","z":"f73a1ff7.71e67","name":"payload_sys","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload_sys","tot":"msg"},{"t":"delete","p":"payload_mqtt","pt":"msg"},{"t":"delete","p":"payload_var","pt":"msg"},{"t":"delete","p":"payload_sql","pt":"msg"},{"t":"delete","p":"timestamp","pt":"msg"},{"t":"delete","p":"payload_sys","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":430,"wires":[["7cae1e9.0de4d6"]]},{"id":"409cedf.fb16b54","type":"function","z":"f73a1ff7.71e67","name":"VAR Readings","func":"// \n// Feinstaub\n//\n// - VAR Devices einzeln versenden\n//   oder keine VAR-Aktion\n//\nvar myVarAnzahl = 0;\n\nmyVarAnzahl = msg.payload.length;\nfor (var i = 0; i < myVarAnzahl; i=i+1) {\n\n  node.send( {topic:msg.payload[i].DEV_TYP, payload:msg.payload[i]} );\n\n}\n\nreturn [msg];","outputs":1,"noerr":0,"x":1530,"y":470,"wires":[["52cc9d23.58c26c"]]},{"id":"7cae1e9.0de4d6","type":"function","z":"f73a1ff7.71e67","name":"SYS Readings","func":"// \n// Feinstaub\n//\n// - SYS Devices einzeln versenden\n//   oder keine SYS-Aktion\n//\nvar mySysAnzahl = 0;\n\nmySysAnzahl = msg.payload.length;\nfor (var i = 0; i < mySysAnzahl; i=i+1) {\n\n  node.send( {topic:msg.payload[i].DEV_TYP, payload:msg.payload[i]} );\n\n}\n\nreturn [msg];","outputs":1,"noerr":0,"x":1530,"y":430,"wires":[["d422da55.66dfb8"]]},{"id":"12e5b5f2.13fb46","type":"comment","z":"f73a1ff7.71e67","name":"Feinstaub DB - Vars","info":"","x":1720,"y":320,"wires":[]},{"id":"52cc9d23.58c26c","type":"switch","z":"f73a1ff7.71e67","name":"Switch VAR","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"fs_sds011_pm2_5","vt":"str"},{"t":"eq","v":"fs_sds011_pm10","vt":"str"},{"t":"eq","v":"fs_temp","vt":"str"},{"t":"eq","v":"fs_hum","vt":"str"},{"t":"eq","v":"fs_bmp_temp","vt":"str"},{"t":"eq","v":"fs_bmp_baro","vt":"str"},{"t":"eq","v":"fs_bme280_temp","vt":"str"},{"t":"eq","v":"fs_bme280_hum","vt":"str"},{"t":"eq","v":"fs_bme280_baro","vt":"str"},{"t":"eq","v":"fs_samples","vt":"str"},{"t":"eq","v":"fs_min_micro","vt":"str"},{"t":"eq","v":"fs_max_micro","vt":"str"},{"t":"eq","v":"fs_signal","vt":"str"},{"t":"eq","v":"fs_glb_temp","vt":"str"},{"t":"eq","v":"fs_glb_hum","vt":"str"},{"t":"eq","v":"fs_glb_baro","vt":"str"},{"t":"eq","v":"fs_glb_baro_nn","vt":"str"}],"checkall":"true","repair":false,"outputs":17,"x":1740,"y":470,"wires":[["e99320d2.49116"],["ecea0001.8cd54"],[],[],[],[],[],[],[],[],[],[],[],["69a53026.e7ea1c"],["e3c1d2bf.ebd85"],["158187cf.8b5468"],["e63e50e8.c424a8"]]},{"id":"eb24af90.14407","type":"comment","z":"f73a1ff7.71e67","name":"Feinstaub DB - System","info":"","x":1710,"y":240,"wires":[]},{"id":"d422da55.66dfb8","type":"switch","z":"f73a1ff7.71e67","name":"Switch SYS","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"fs_sys_id","vt":"str"},{"t":"eq","v":"fs_sys_firmware","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1740,"y":280,"wires":[[],[]]},{"id":"5bbd5db.483dc64","type":"ui_gauge","z":"f73a1ff7.71e67","name":"Temperatur","group":"6e9e29da.b6dd74","order":1,"width":"3","height":"2","gtype":"gage","title":"{{payload.DEV_VAL_DESC}}","label":"{{payload.DEV_VAL_UNIT}}","format":"{{payload.READ_VALUE}}","min":"-20","max":"50","colors":["#0000e6","#73e600","#e67200"],"seg1":"","seg2":"","x":2160,"y":460,"wires":[]},{"id":"e63e50e8.c424a8","type":"function","z":"f73a1ff7.71e67","name":"Misc","func":"//\n// Feinstaub\n//\n// Ergaenzt DEV_VAL_UNIT mit allgemeinen Luftdruckangaben\n// \n// < 980      sehr tief - stuermisch \n// 980-1000   tief - regnerisch \n// 1000-1020  normal - wechselhaft \n// 1020-1040  hoch - sonnig \n// > 1040     sehr hoch - sehr trocken\n\nvar myVal = msg.payload.READ_VALUE;\nvar myTxt = \"\";\n\nmyVal = Number(myVal).toFixed(1);\n\nswitch (true) {\n  case (myVal < 980):                   myTxt = \"sehr tief - stürmisch\";    break;\n  case ( 980 <= myVal && myVal < 1000): myTxt = \"tief - regnerisch\";        break;\n  case (1000 <= myVal && myVal < 1020): myTxt = \"normal - wechselhaft\";     break;\n  case (1020 <= myVal && myVal < 1040): myTxt = \"hoch - sonnig\";            break;\n  case (myVal > 1000):                  myTxt = \"sehr hoch - sehr trocken\"; break;\n}\n\nmsg.payload.READ_VALUE   = myVal;\nmsg.payload.DEV_VAL_DESC = msg.payload.DEV_VAL_DESC;\nmsg.payload.DEV_VAL_UNIT = msg.payload.DEV_VAL_UNIT + \"\\n\" + myTxt;\n\nreturn msg;","outputs":1,"noerr":0,"x":1930,"y":550,"wires":[["a5a3e445.d729e"]]},{"id":"5c630266.c1ca24","type":"ui_gauge","z":"f73a1ff7.71e67","name":"Luftfeuchtigkeit (Prozent)","group":"6e9e29da.b6dd74","order":7,"width":"3","height":"2","gtype":"gage","title":"{{payload.DEV_VAL_DESC}}","label":"{{payload.DEV_VAL_UNIT}}","format":"{{payload.READ_VALUE}}","min":"0","max":"100","colors":["#E6E600","#73e600","#0000e6"],"seg1":"","seg2":"","x":2120,"y":490,"wires":[]},{"id":"69a53026.e7ea1c","type":"function","z":"f73a1ff7.71e67","name":"Misc","func":"//\n// Feinstaub\n//\n// Rundet READ_VALUE auf 1 Nachkommastelle\n// \n\nmsg.payload.READ_VALUE = parseFloat(msg.payload.READ_VALUE).toFixed(1);\n\nreturn msg;","outputs":1,"noerr":0,"x":1930,"y":460,"wires":[["5bbd5db.483dc64"]]},{"id":"e3c1d2bf.ebd85","type":"function","z":"f73a1ff7.71e67","name":"Misc","func":"//\n// Feinstaub\n//\n// Rundet READ_VALUE auf 1 Nachkommastelle\n// \n\nmsg.payload.READ_VALUE = parseFloat(msg.payload.READ_VALUE).toFixed(1);\n\nreturn msg;","outputs":1,"noerr":0,"x":1930,"y":490,"wires":[["5c630266.c1ca24"]]},{"id":"970eab54.990c4","type":"ui_gauge","z":"f73a1ff7.71e67","name":"PM 2_5","group":"6e9e29da.b6dd74","order":3,"width":"3","height":"2","gtype":"gage","title":"{{payload.DEV_VAL_DESC}}","label":"{{payload.DEV_VAL_UNIT}}","format":"{{payload.READ_VALUE}}","min":"0","max":"100","colors":["#73e600","#e67200","#D62728"],"seg1":"","seg2":"","x":2170,"y":400,"wires":[]},{"id":"abbcb21f.9cc61","type":"ui_gauge","z":"f73a1ff7.71e67","name":"PM 10","group":"6e9e29da.b6dd74","order":4,"width":"3","height":"2","gtype":"gage","title":"{{payload.DEV_VAL_DESC}}","label":"{{payload.DEV_VAL_UNIT}}","format":"{{payload.READ_VALUE}}","min":"0","max":"100","colors":["#73e600","#e67200","#D62728"],"seg1":"","seg2":"","x":2180,"y":430,"wires":[]},{"id":"ecea0001.8cd54","type":"function","z":"f73a1ff7.71e67","name":"Misc","func":"//\n// Feinstaub\n//\n// Rundet READ_VALUE auf 1 Nachkommastelle\n// \n\nmsg.payload.READ_VALUE = parseFloat(msg.payload.READ_VALUE).toFixed(1);\n\nreturn msg;","outputs":1,"noerr":0,"x":1930,"y":430,"wires":[["abbcb21f.9cc61"]]},{"id":"e99320d2.49116","type":"function","z":"f73a1ff7.71e67","name":"Misc","func":"//\n// Feinstaub\n//\n// Rundet READ_VALUE auf 1 Nachkommastelle\n// \n\nmsg.payload.READ_VALUE = parseFloat(msg.payload.READ_VALUE).toFixed(1);\n\nreturn msg;","outputs":1,"noerr":0,"x":1930,"y":400,"wires":[["970eab54.990c4"]]},{"id":"68074956.1442f8","type":"function","z":"f73a1ff7.71e67","name":"Misc","func":"//\n// Feinstaub\n//\nvar msgRtn = {};\n\nmsgRtn.topic   = msg.payload.DEV_VAL_DESC;\nmsgRtn.payload = parseFloat(msg.payload.READ_VALUE).toFixed(1);\n\nreturn msgRtn;","outputs":1,"noerr":0,"x":1930,"y":790,"wires":[["45d00fd2.44e92"]]},{"id":"1cdfa8ef.ac8ff3","type":"function","z":"f73a1ff7.71e67","name":"Misc","func":"//\n// Feinstaub\n//\nvar msgRtn = {};\n\nmsgRtn.topic   = msg.payload.DEV_VAL_DESC;\nmsgRtn.payload = parseFloat(msg.payload.READ_VALUE).toFixed(1);\n\nreturn msgRtn;","outputs":1,"noerr":0,"x":1930,"y":730,"wires":[["4ba9b4bb.c19fd8"]]},{"id":"4ba9b4bb.c19fd8","type":"ui_chart","z":"f73a1ff7.71e67","name":"Verlauf-Temperatur","group":"c6367191.42adb","order":2,"width":"0","height":"0","label":"Verlauf - Temperatur °C","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"outputs":2,"x":2140,"y":730,"wires":[[],[]]},{"id":"9c9d374b.1a794","type":"ui_chart","z":"f73a1ff7.71e67","name":"Verlauf-Luftfeuchtigkeit","group":"c6367191.42adb","order":3,"width":0,"height":0,"label":"Verlauf - Luftfeuchtigkeit %","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"outputs":2,"x":2120,"y":760,"wires":[[],[]]},{"id":"1afeb86.7f8ba48","type":"function","z":"f73a1ff7.71e67","name":"Misc","func":"//\n// Feinstaub\n//\nvar msgRtn = {};\n\nmsgRtn.topic   = msg.payload.DEV_VAL_DESC;\nmsgRtn.payload = parseFloat(msg.payload.READ_VALUE).toFixed(1);\n\nreturn msgRtn;","outputs":1,"noerr":0,"x":1930,"y":760,"wires":[["9c9d374b.1a794"]]},{"id":"db5ccb3d.b5555","type":"function","z":"f73a1ff7.71e67","name":"Misc","func":"//\n// Feinstaub\n//\nvar msgRtn = {};\n\nmsgRtn.topic   = msg.payload.DEV_VAL_DESC;\nmsgRtn.payload = parseFloat(msg.payload.READ_VALUE).toFixed(1);\n\nreturn msgRtn;","outputs":1,"noerr":0,"x":1930,"y":690,"wires":[["b8f8c67b.f91d98"]]},{"id":"b8f8c67b.f91d98","type":"ui_chart","z":"f73a1ff7.71e67","name":"Verlauf-PM","group":"c6367191.42adb","order":1,"width":"0","height":"0","label":"Verlauf - Feinstaub µg/m³","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":2160,"y":660,"wires":[[]]},{"id":"8511b23c.73ee08","type":"function","z":"f73a1ff7.71e67","name":"Misc","func":"//\n// Feinstaub\n//\nvar msgRtn = {};\n\nmsgRtn.topic   = msg.payload.DEV_VAL_DESC;\nmsgRtn.payload = parseFloat(msg.payload.READ_VALUE).toFixed(1);\n\nreturn msgRtn;","outputs":1,"noerr":0,"x":1930,"y":660,"wires":[["b8f8c67b.f91d98"]]},{"id":"5bf79d1c.fb8588","type":"rbe","z":"f73a1ff7.71e67","name":"WatchDog","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":270,"y":320,"wires":[["9c89c1d9.787a78","7ee1943e.735324","c9041527.f823c8"]]},{"id":"9c89c1d9.787a78","type":"trigger","z":"f73a1ff7.71e67","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"6","extend":true,"units":"min","reset":"1","bytopic":"all","name":"Timeout (6 min)","x":450,"y":280,"wires":[["d4ccc8b8.1b37e8"]]},{"id":"d4ccc8b8.1b37e8","type":"switch","z":"f73a1ff7.71e67","name":"Check Timeout","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":640,"y":260,"wires":[["60a458f.101f968"],["bc6c29db.840368"]]},{"id":"60a458f.101f968","type":"change","z":"f73a1ff7.71e67","name":"Timeout - false","rules":[{"t":"set","p":"payload","pt":"msg","to":"con_ok","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":240,"wires":[["46efe24.acf405c"]]},{"id":"bc6c29db.840368","type":"change","z":"f73a1ff7.71e67","name":"Timeout - true","rules":[{"t":"set","p":"payload","pt":"msg","to":"con_timeout","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":280,"wires":[["46efe24.acf405c"]]},{"id":"7ee1943e.735324","type":"trigger","z":"f73a1ff7.71e67","op1":"0","op2":"1","op1type":"num","op2type":"num","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"Heart Beat","x":850,"y":320,"wires":[["46efe24.acf405c"]]},{"id":"a4c93f.032d12c","type":"ui_template","z":"f73a1ff7.71e67","group":"3d5fa463.e98968","name":"FS - Status - Text","order":22,"width":"6","height":"5","format":"<script>\n// ( function(scope ) {\n//   scope.$watch('msg', function(msg) {\n//     if (msg != null) {\n//     } else {\n//     }\n//   });\n// } (scope) );\n</script>\n<table width=\"100%\" border=\"0\">\n  <tbody>\n    <tr>\n      <td width=\"120\">Verbindung:</td>\n      <td>\n        <font color={{msg.ledcolor}}><i class=\"fa fa-circle\" style=\"font-size:10px;\"></i></font>\n      </td>\n      <td>{{msg.txtstatus}}</td>\n    </tr>\n    <tr>\n      <td>ID:</td>\n      <td colspan=\"2\">{{msg.iddev}}</td>\n    </tr>\n    <tr>\n      <td>Firmware:</td>\n      <td colspan=\"2\">{{msg.iddevfw}}</td>\n    </tr>\n    <tr>\n      <td>WLAN:</td>\n      <td colspan=\"2\">{{msg.wlan}}</td>\n    </tr>\n    <tr>\n      <td>Letzte Aktivität:</td>\n      <td colspan=\"2\">{{msg.timestamp}}</td>\n    </tr>\n    <tr>\n      <td>Empfang:</td>\n      <td colspan=\"2\">{{msg.jsonstatus}}<br>{{msg.jsonerror.message}}</td>\n    </tr>\n    <tr>\n      <td colspan=\"3\"><font size=\"-3\"><br>CC BY-NC-SA 4.0<br>(c) by Dipl.-Ing. Wolfram Winter</font></td>\n    </tr>\n  </tbody>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1190,"y":340,"wires":[[]]},{"id":"1a487f7e.206a05","type":"comment","z":"f73a1ff7.71e67","name":"Feinstaub DB - Monitoring und Fehlerbehandlung","info":"","x":210,"y":230,"wires":[]},{"id":"8e79e4b8.c79c48","type":"catch","z":"f73a1ff7.71e67","name":"JSON Error","scope":["74caa47c.27846"],"x":850,"y":360,"wires":[["46efe24.acf405c"]]},{"id":"a9ee1397.81641","type":"ui_text","z":"f73a1ff7.71e67","group":"6e9e29da.b6dd74","order":2,"width":"3","height":"2","name":"FS - Status - LED","label":"{{msg.txtled}}","format":"<font color={{msg.ledcolor}}><i class=\"fa fa-circle\" style=\"font-size:10px;\"></i></font>","layout":"row-spread","x":1190,"y":300,"wires":[]},{"id":"46efe24.acf405c","type":"function","z":"f73a1ff7.71e67","name":"Status","func":"\n//\n// Feinstaub\n//\n// Status Text und LED\n// \n\nvar msgRtn = {};\n\nvar myColor = \"#B8B8B8\";\nvar myTxtLed     = \"Verbunden\";\nvar myTxtStatus  = \"aktiv\";\nvar myMqttStatus = \"online\";\nvar myJsonStatus = \"ok.\";\nvar myJsonError  = \"\";\nvar myWlanStatus = flow.get('myFlow_Wlan_signal') + \" dBm\";\n                   if (flow.get('myFlow_Wlan_ssid') !== \"?\") {\n                     myWlanStatus = flow.get('myFlow_Wlan_ssid') + \" (\" + myWlanStatus + \")\";\n                   }\nvar myModulID    = flow.get('myFlow_ModulID');\nvar myModulID_FW = flow.get('myFlow_ModulID_FW');\n\n    if (msg !== null) {\n      if (msg.payload === 1) {\n        myColor = \"lime\";\n      } else if (msg.payload === 0) {\n        myColor = \"blue\";\n        myTxtStatus = \"Empfang\";\n      } else if (msg.payload === \"con_ok\") {\n        myColor = \"green\";\n      } else if (msg.payload === \"con_timeout\") {\n        myColor = \"red\";\n        myTxtLed     = \"Verbindung unterbrochen\";\n        myTxtStatus  = \"unterbrochen\";\n        myMqttStatus = \"offline\";\n        myWlanStatus = \"-\";\n        myModulID    = \"-\";\n        myModulID_FW = \"-\"; \n      }\n      if (msg.error !== undefined) {\n        // Timestamp\n        var myTime = new Date();\n        myTime = (myTime.getFullYear() + '-' + ('00' + (myTime.getMonth()+1)).slice(-2) + '-' + ('00' + myTime.getDate()).slice(-2) + ' ' + ('00' + myTime.getHours()).slice(-2) + ':' + ('00' + myTime.getMinutes()).slice(-2) + ':' + ('00' + myTime.getSeconds()).slice(-2));\n        msg.timestamp = myTime;\n        // Fehler\n        myColor = \"yellow\";\n        myJsonStatus = \"JSON Fehler:\";\n        myTxtLed     = \"JSON Fehler\";\n        myTxtStatus  = myTxtLed;\n        myMqttStatus = \"offline\";\n        myJsonError  = msg.error;\n      }\n    }\n\nmsgRtn.payload    = msg.payload;\nmsgRtn.timestamp  = msg.timestamp;\nmsgRtn.txtled     = myTxtLed;\nmsgRtn.txtstatus  = myTxtStatus;\nmsgRtn.mqttstatus = myMqttStatus;\nmsgRtn.jsonstatus = myJsonStatus;\nmsgRtn.jsonerror  = myJsonError;\nmsgRtn.ledcolor   = myColor;\nmsgRtn.wlan       = myWlanStatus;\nmsgRtn.iddev      = myModulID;\nmsgRtn.iddevfw    = myModulID_FW;\n\nreturn msgRtn;","outputs":1,"noerr":0,"x":1010,"y":300,"wires":[["a9ee1397.81641","a4c93f.032d12c","106dbee8.7dfc29"]]},{"id":"5f3b5a92.619c1","type":"mqtt out","z":"f73a1ff7.71e67","name":"State to MQTT","topic":"","qos":"1","retain":"true","broker":"907d3f79.5c45a","x":1430,"y":250,"wires":[]},{"id":"106dbee8.7dfc29","type":"function","z":"f73a1ff7.71e67","name":"MQTTstate - Flow on / off","func":"\n//\n// Feinstaub\n//\n// MQTT Online Status \n// \n\nvar myMqttMsg = [];\nvar myTmp = \"\";\n\nvar myDevFlag = flow.get('myFlow_MqttState_Flag') || 0;\nvar myDevName = flow.get('myFlow_MqttState_DevName');\nvar myDevMqtt = flow.get('myFlow_MqttState_DevMqtt');\n\n// Display initial state\nif (myDevFlag !== 0 ) {\n  node.status( {fill:\"green\", shape:\"dot\", text:\"on\"} );\n} else {\n  node.status( {fill:\"red\", shape:\"ring\", text:\"off\"} );\n}\n\n// MQTTstatus\nif (myDevFlag && myDevMqtt && myDevMqtt.length > 0) {\n\n  myTmp = { \"DEV_NAME\":myDevName,\n            \"READ_TIME\": msg.timestamp,\n            \"state\":msg.mqttstatus,\n            \"wlan\":msg.wlan,\n            \"iddev\":msg.iddev,\n            \"iddevfw\":msg.iddevfw,\n            \"ledcolor\":msg.ledcolor,\n            \"txtled\":msg.txtled,\n            \"txtstatus\":msg.txtstatus,\n            \"jsonstatus\":msg.jsonstatus,\n            \"jsonerror\":msg.jsonerror\n            // , \"DEV_MQTT\":myDevMqtt\n          };\n  myMqttMsg.push( myTmp );\n  node.send( {topic:myDevMqtt, payload:myTmp} );\n\n  return node;\n}\n","outputs":1,"noerr":0,"x":1210,"y":250,"wires":[["5f3b5a92.619c1"]]},{"id":"c9041527.f823c8","type":"function","z":"f73a1ff7.71e67","name":"Info WLAN","func":"// \n// Feinstaub \n// \n// WLAN Infos merken\n//\n\nvar myObject = msg.payload;\n\nif (myObject && typeof myObject === 'object') {\n\n  myTmp = myObject.sensordatavalues[8].value;\n  if (myTmp) {\n    flow.set('myFlow_Wlan_signal', myTmp);\n  } else {\n    flow.set('myFlow_Wlan_signal', '?');\n  }\n\n  myTmp = myObject.esp8266id;\n  if (myTmp) {\n    flow.set('myFlow_ModulID', myTmp);\n  } else {\n    flow.set('myFlow_ModulID', '?');\n  }\n\n  myTmp = myObject.software_version;\n  if (myTmp) {\n    flow.set('myFlow_ModulID_FW', myTmp);\n  } else {\n    flow.set('myFlow_ModulID_FW', '?');\n  }\n\n}\n","outputs":1,"noerr":0,"x":460,"y":350,"wires":[[]]},{"id":"b005c51c.2faaf8","type":"mqtt out","z":"f73a1ff7.71e67","name":"Data to MQTT","topic":"","qos":"1","retain":"true","broker":"907d3f79.5c45a","x":1210,"y":750,"wires":[]},{"id":"a334a10a.b4ffd","type":"mysql","z":"f73a1ff7.71e67","mydb":"cc4f672b.e6b7c8","name":"","x":830,"y":810,"wires":[[]]},{"id":"ad33adb3.9339d","type":"function","z":"f73a1ff7.71e67","name":"VAR READINGS - Feinstaub - DB","func":"// \n// Feinstaub\n//\n// - SQL-Datenbank Devices INSERT zusammenfuegen \n//   oder x als leere Rueckgabe (keine Datenbankaktion)\n//\nvar mySqlAnzahl = 0;\nvar mySqlText = \"x\";\n\nmySqlAnzahl = msg.payload_sql.length;\nfor (var i = 0; i < mySqlAnzahl; i=i+1) {\n  if (i === 0) { mySqlText = \"\"; }  \n  mySqlText = mySqlText + \" \" + msg.payload_sql[i];\n}\n\nif (mySqlText !== \"x\") {\n  mySqlText = \"USE `myHOME`; \" +  mySqlText \n}\n\nmsg.topic = mySqlText;\n\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":630,"wires":[["ba5c7c62.5af0c"]]},{"id":"ba5c7c62.5af0c","type":"switch","z":"f73a1ff7.71e67","name":"Check INSERT - DB","property":"topic","propertyType":"msg","rules":[{"t":"neq","v":"x","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":800,"y":690,"wires":[["96ddf0b3.39b6d"]]},{"id":"96ddf0b3.39b6d","type":"function","z":"f73a1ff7.71e67","name":"DBdata - Flow on / off","func":"var state = flow.get('myFlow_DbData_Flag') || 0;\nvar stateName = \"\";\n\nif (Number(flow.get('myFlow_Db_Flag')) === 0 ) {\n  state = 0;\n  stateName = \"DB Flag - \"\n}\n\n// Display initial state\nif (state !== 0 ) {\n  node.status( {fill:\"green\", shape:\"dot\", text:\"on\"} );\n  return msg;\n} else {\n  node.status( {fill:\"red\", shape:\"ring\", text:stateName + \"off\"} );\n}","outputs":1,"noerr":0,"x":800,"y":750,"wires":[["a334a10a.b4ffd"]]},{"id":"1ef81e93.d1bb79","type":"comment","z":"f73a1ff7.71e67","name":"Feinstaub DB - OUT - Database myHOME","info":"","x":740,"y":580,"wires":[]},{"id":"200b6136.c138e2","type":"function","z":"f73a1ff7.71e67","name":"VAR READINGS - Feinstaub - MQTT","func":"// \n// Feinstaub\n//\n// - MQTT Devices einzeln versenden\n//   oder keine MQTT-Aktion\n//\nvar myMqttAnzahl = 0;\nvar myMqttMsg = msg.payload_mqtt;\nvar myMqttTop = '';\n\nmyMqttAnzahl = myMqttMsg.length;\nfor (var i = 0; i < myMqttAnzahl; i=i+1) {\n  \n  myMqttTop = myMqttMsg[i].DEV_MQTT;\n  myMqttMsg[i].DEV_MQTT = undefined;\n  \n  node.send( {topic:myMqttTop, payload:myMqttMsg[i]} );\n\n}\n\n// gesamtes Msg-Objekt loeschen\nmsg = undefined;\n\nreturn msg;","outputs":1,"noerr":0,"x":1140,"y":630,"wires":[["b35415ef.a6b28"]]},{"id":"b35415ef.a6b28","type":"function","z":"f73a1ff7.71e67","name":"MQTTdata - Flow on / off","func":"var state = flow.get('myFlow_MqttData_Flag') || 0;\n\n// Display initial state\nif (state !== 0 ) {\n  node.status( {fill:\"green\", shape:\"dot\", text:\"on\"} );\n  return msg;\n} else {\n  node.status( {fill:\"red\", shape:\"ring\", text:\"off\"} );\n}","outputs":1,"noerr":0,"x":1180,"y":690,"wires":[["b005c51c.2faaf8"]]},{"id":"5cc06840.71f8bc","type":"comment","z":"f73a1ff7.71e67","name":"Feinstaub DB - OUT -  MQTT myHOME","info":"","x":1140,"y":580,"wires":[]},{"id":"9e0ea2e6.cf60a","type":"inject","z":"f73a1ff7.71e67","name":"DEBUG - SET NewOnly - on","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":580,"wires":[["2cad4b10.0add5c"]]},{"id":"2cad4b10.0add5c","type":"function","z":"f73a1ff7.71e67","name":"NewOnly - on","func":"// \n// Feinstaub\n//\n\n// NewOnly - on\n\nvar myTmpNewOnly_Default = 1;\n\nflow.set('myFlow_Flag_NewOnly_Default', myTmpNewOnly_Default);\nflow.set('myFlow_Flag_NewOnly', 0);\n","outputs":1,"noerr":0,"x":420,"y":580,"wires":[[]]},{"id":"a9dc4179.6d5c","type":"function","z":"f73a1ff7.71e67","name":"NewOnly - off","func":"// \n// Feinstaub\n//\n\n// NewOnly - off\n\nvar myTmpNewOnly_Default = 0;\n\nflow.set('myFlow_Flag_NewOnly_Default', myTmpNewOnly_Default);\nflow.set('myFlow_Flag_NewOnly', 0);\n","outputs":1,"noerr":0,"x":420,"y":620,"wires":[[]]},{"id":"4ba91504.e84124","type":"inject","z":"f73a1ff7.71e67","name":"DEBUG - SET NewOnly - off","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":620,"wires":[["a9dc4179.6d5c"]]},{"id":"1c86d4fe.4f3f3f","type":"inject","z":"f73a1ff7.71e67","name":"DEBUG - SET MQTTstate - on","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":740,"wires":[["cb99f460.ff96c8"]]},{"id":"cb99f460.ff96c8","type":"function","z":"f73a1ff7.71e67","name":"MQTTstate - on","func":"// \n// Feinstaub\n//\n\n// MQTTstate - on\n\nflow.set('myFlow_MqttState_Flag', 1);\n","outputs":1,"noerr":0,"x":420,"y":740,"wires":[[]]},{"id":"a666d08.8a4553","type":"function","z":"f73a1ff7.71e67","name":"MQTTstate- off","func":"// \n// Feinstaub\n//\n\n// MQTTstate - off\n\nflow.set('myFlow_MqttState_Flag', 0);\n","outputs":1,"noerr":0,"x":420,"y":780,"wires":[[]]},{"id":"142521f2.9de4e6","type":"inject","z":"f73a1ff7.71e67","name":"DEBUG - SET MQTTstate - off","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":780,"wires":[["a666d08.8a4553"]]},{"id":"cc0dd471.e6d348","type":"inject","z":"f73a1ff7.71e67","name":"DEBUG - SET MQTTdata - on","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":660,"wires":[["278da4f8.b8893"]]},{"id":"278da4f8.b8893","type":"function","z":"f73a1ff7.71e67","name":"MQTTdata - on","func":"// \n// Feinstaub\n//\n\n// MQTTdata - on\n\nflow.set('myFlow_MqttData_Flag', 1);\n","outputs":1,"noerr":0,"x":420,"y":660,"wires":[[]]},{"id":"a0d45f3a.21125","type":"function","z":"f73a1ff7.71e67","name":"MQTTdata- off","func":"// \n// Feinstaub\n//\n\n// MQTTdata - off\n\nflow.set('myFlow_MqttData_Flag', 0);\n","outputs":1,"noerr":0,"x":420,"y":700,"wires":[[]]},{"id":"aaca892d.261b4","type":"inject","z":"f73a1ff7.71e67","name":"DEBUG - SET MQTTdata - off","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":700,"wires":[["a0d45f3a.21125"]]},{"id":"589aca5.22622f4","type":"inject","z":"f73a1ff7.71e67","name":"DEBUG - SET DBdata - on","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":900,"wires":[["ae52592f.2359a8"]]},{"id":"ae52592f.2359a8","type":"function","z":"f73a1ff7.71e67","name":"DBdata - on","func":"// \n// Feinstaub\n//\n\n// DBdata - on\n\nflow.set('myFlow_DbData_Flag', 1);\n","outputs":1,"noerr":0,"x":410,"y":900,"wires":[[]]},{"id":"223750fe.d99ca","type":"function","z":"f73a1ff7.71e67","name":"DBdata- off","func":"// \n// Feinstaub\n//\n\n// DBdata - off\n\nflow.set('myFlow_DbData_Flag', 0);\n","outputs":1,"noerr":0,"x":410,"y":940,"wires":[[]]},{"id":"2ea2f315.6c8a98","type":"inject","z":"f73a1ff7.71e67","name":"DEBUG - SET DBdata - off","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":940,"wires":[["223750fe.d99ca"]]},{"id":"679f97bb.039ec","type":"inject","z":"f73a1ff7.71e67","name":"DEBUG - Init Flow","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":540,"wires":[["b6bbfab3.ef58b8"]]},{"id":"c46a08fc.6964a8","type":"comment","z":"f73a1ff7.71e67","name":"DEBUG - Section","info":"","x":100,"y":500,"wires":[]},{"id":"f467d926.e416e","type":"function","z":"f73a1ff7.71e67","name":"XXX_pressure to N.N.","func":"//\n// Feinstaub \n//\n// Luftdruck auf hPa Einheit bringen und auf NN reduzieren \n//\n\nvar i_pres = null;\nvar i_temp = null;\nvar i_hum = null;\n\nvar myAlti = null;\nvar myPres = null;\nvar myTemp = null;\nvar myDesc = null;\n\n// Datensatz - Kopien\nvar myObjectTemp = {};\nvar myObjectPres = {};\nvar myObjectPresNN = {};\nvar myObjectHum = {};\n\nvar myObject_Vars = msg.payload.sensordatavalues;\n\nmyObject = myObject_Vars;\nif (myObject && typeof myObject === 'object') {\n  var arrayLength = myObject.length;\n  // console.log(arrayLength);   \n  // Ueber alle Eintrage\n  for (var i = 0; i < arrayLength; i=i+1) {\n    if (myObject[i].value_type.indexOf(\"temperature\") > 0) {\n      // temperature\n      // BMP_temperature\n      // BME280_temperature\n      i_temp = i;\n      Object.assign(myObjectTemp, myObject[i]);\n    }\n    if (myObject[i].value_type.indexOf(\"humidity\") > 0) {\n      // humidity\n      // BMP_humidity\n      // BME280_humidity\n      i_hum = i;\n      Object.assign(myObjectHum, myObject[i]);\n    }\n    if (myObject[i].value_type.indexOf(\"pressure\") > 0) {\n      // BMP_pressure\n      // BME280_pressure\n      i_pres = i;\n      myObject[i].value = (Number(myObject[i].value) / 100.0).toFixed(4);\n      // Datensatz - Kopie anlegen\n      Object.assign(myObjectPres, myObject[i]);\n      Object.assign(myObjectPresNN, myObject[i]);\n    }\n  }\n  // Kopierte Datensaetze als FS-Datensaetze kennzeichnen und anhaengen\n  if (i_temp >= 0) {\n    myObjectTemp.value_type = flow.get('myFlow_fs_glb_temp');\n    // FS-Kopie anfuegen\n    myObject.push( myObjectTemp );\n  }\n  if (i_hum >= 0) {\n    myObjectHum.value_type = flow.get('myFlow_fs_glb_hum');\n    // FS-Kopie anfuegen\n    myObject.push( myObjectHum );\n  }\n  if (i_pres >= 0) {\n    myObjectPres.value_type = flow.get('myFlow_fs_glb_baro');\n    // FS-Kopie anfuegen\n    myObject.push( myObjectPres );\n  }\n\n  // Baro Wert nach Baro-NN Wert\n  if ((i_pres >= 0) && (i_temp >= 0)) {\n    myObjectPresNN.value_type = flow.get('myFlow_fs_glb_baro_nn');\n      \n    myAlti = flow.get('myFlow_Baro_NN');\n    myPres = myObject[i_pres].value;\n    myTemp = myObject[i_temp].value;\n    \n    myDesc = \"\";  \n\n    if (myAlti > 0) {\n      // Im Original-Datensatz steht der absolute Luftdruckwert\n      // Umrechnung auf relativen Luftdruck - NN-Hoehe \n      myPres = baro2baroNN(myPres, myTemp, myAlti);\n      myDesc = Number(myObject[i_pres].value);\n      myDesc = myDesc.toFixed(1);\n      myDesc = \"(\" + myAlti + \" m) - \" + myDesc;\n    } else {\n      // Im Original-Datensatz steht ein Luftdruckwert - Wert wird ohne Aenderung uebernommen\n      myDesc = \"\";  \n    }\n\n    // Werte in Kopie aendern - mit den berechneten NN-Angaben fuellen\n    myObjectPresNN.value = myPres.toString();\n    myObjectPresNN.desc = myDesc;\n\n    // FS-Kopie anfuegen\n    myObject.push( myObjectPresNN );\n\n  }\n }\n\nreturn msg;\n\nfunction baro2baroNN(baro_value, temp_value, hoehe_value) {\n    \n  // Der Temperaturgradient gibt an, wie schnell die Temperatur mit der Höhe fällt. Eine gute Schätzung bei normalem Wetter ist 0,0065 °C/Meter.\t\t\t\t\t\t\t\t\t\t\n  // Temperaturschätzung: Temperatur auf Meereshöhe = Temperatur + Temperaturgradient * Höhe\t\t\t\t\t\t\t\t\t\t\n  // Barometrische Höhenformel:\t\t\t\t\t\t\t\t\t\t\n  // Luftdruck auf Meereshöhe = Barometeranzeige / (1-Temperaturgradient*Höhe/Temperatur auf Meereshöhe in Kelvin)^(0,03416/Temperaturgradient)\t\t\t\t\t\t\t\t\t\t\n  // Celsius nach Kelvin: CelsiusWert + 273 = KelvinWert\n\n  var myVal  = Number(baro_value);\n  var myVal2 = 0.0065;\n  var myVal1 = (1.0 - myVal2 * Number(hoehe_value) / (Number(temp_value) + 273.0));\n  myVal2 = (0.03416 / myVal2);\n\n  myVal = myVal / Math.pow(myVal1, myVal2);\n  myVal = myVal.toFixed(4);\n  \n  return myVal;\n}\n","outputs":1,"noerr":0,"x":890,"y":430,"wires":[["a7ce49e6.e3235"]]},{"id":"a5a3e445.d729e","type":"ui_gauge","z":"f73a1ff7.71e67","name":"Luftdruck NN","group":"6e9e29da.b6dd74","order":5,"width":"3","height":"2","gtype":"gage","title":"{{payload.DEV_VAL_DESC}}","label":"{{payload.DEV_VAL_UNIT}}","format":"{{payload.READ_VALUE}}","min":"960","max":"1060","colors":["#0000e6","#73e600","#e67200"],"seg1":"","seg2":"","x":2150,"y":550,"wires":[]},{"id":"45d00fd2.44e92","type":"ui_chart","z":"f73a1ff7.71e67","name":"Verlauf-Luftdruck NN","group":"c6367191.42adb","order":4,"width":"0","height":"0","label":"Verlauf - Luftdruck NN hPa","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":2130,"y":790,"wires":[[]]},{"id":"604b3dbc.14e3f8","type":"trigger","z":"f73a1ff7.71e67","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"5","extend":false,"units":"min","reset":"1","bytopic":"all","name":"AVG Timeout (5 min)","x":1480,"y":780,"wires":[["a7c0a69c.415ee8"]]},{"id":"a7c0a69c.415ee8","type":"switch","z":"f73a1ff7.71e67","name":"Check AVG Timeout","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1480,"y":830,"wires":[["258e3d34.375c9a","b0cf0716.54ef98"]]},{"id":"258e3d34.375c9a","type":"function","z":"f73a1ff7.71e67","name":"AVG Readings","func":"// \n// Feinstaub\n//\n// - AVG Devices einzeln versenden\n//   oder keine AVG-Aktion\n//\nvar i = 0;\nvar myAvgAnzahl = 0;\n\nif ( msg.payload_avg !== undefined) {\n  myAvgAnzahl = msg.payload_avg.length;\n  for (i = 0; i < myAvgAnzahl; i=i+1) {\n\n    node.send( {topic:msg.payload_avg[i].DEV_TYP, payload:msg.payload_avg[i]} );\n\n  }\n}\n\n// alle AVG-Werte zuruecksetzen\nvar myDeviceReadingsAvg = flow.get ('myFlow_DeviceReadingsAvg');\nmyAvgAnzahl = myDeviceReadingsAvg.length;\nfor (i = 0; i < myAvgAnzahl; i=i+1) {\n  myDeviceReadingsAvg[i] = undefined;\n}\n\nreturn [msg];","outputs":1,"noerr":0,"x":1500,"y":880,"wires":[["ef29f97a.004a7"]]},{"id":"9712b28c.e680f","type":"change","z":"f73a1ff7.71e67","name":"payload_avg","rules":[{"t":"delete","p":"payload_var","pt":"msg"},{"t":"delete","p":"payload_mqtt","pt":"msg"},{"t":"delete","p":"payload_sys","pt":"msg"},{"t":"delete","p":"payload_sql","pt":"msg"},{"t":"delete","p":"timestamp","pt":"msg"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":510,"wires":[["604b3dbc.14e3f8"]]},{"id":"ef29f97a.004a7","type":"switch","z":"f73a1ff7.71e67","name":"Switch AVG","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"fs_sds011_pm2_5","vt":"str"},{"t":"eq","v":"fs_sds011_pm10","vt":"str"},{"t":"eq","v":"fs_temp","vt":"str"},{"t":"eq","v":"fs_hum","vt":"str"},{"t":"eq","v":"fs_bmp_temp","vt":"str"},{"t":"eq","v":"fs_bmp_baro","vt":"str"},{"t":"eq","v":"fs_bme280_temp","vt":"str"},{"t":"eq","v":"fs_bme280_hum","vt":"str"},{"t":"eq","v":"fs_bme280_baro","vt":"str"},{"t":"eq","v":"fs_samples","vt":"str"},{"t":"eq","v":"fs_min_micro","vt":"str"},{"t":"eq","v":"fs_max_micro","vt":"str"},{"t":"eq","v":"fs_signal","vt":"str"},{"t":"eq","v":"fs_glb_temp","vt":"str"},{"t":"eq","v":"fs_glb_hum","vt":"str"},{"t":"eq","v":"fs_glb_baro","vt":"str"},{"t":"eq","v":"fs_glb_baro_nn","vt":"str"}],"checkall":"true","repair":false,"outputs":17,"x":1740,"y":770,"wires":[["8511b23c.73ee08"],["db5ccb3d.b5555"],[],[],[],[],["1cdfa8ef.ac8ff3"],["1afeb86.7f8ba48"],[],[],[],[],[],[],[],[],["68074956.1442f8"]]},{"id":"16860a7d.143566","type":"comment","z":"f73a1ff7.71e67","name":"Feinstaub DB - AVG","info":"","x":1720,"y":620,"wires":[]},{"id":"b0cf0716.54ef98","type":"function","z":"f73a1ff7.71e67","name":"AVG READINGS - MQTT","func":"// \n// Feinstaub\n//\n// - MQTT Devices einzeln versenden\n//   oder keine MQTT-Aktion\n//\nvar myMqttAnzahl = 0;\nvar myMqttMsg = msg.payload_avg;\nvar myDevMqtt = flow.get('myFlow_MqttAvg_DevMqtt');\n\nmyMqttAnzahl = myMqttMsg.length;\nfor (var i = 0; i < myMqttAnzahl; i=i+1) {\n  \n  myMqttTop = myDevMqtt;\n  myMqttMsg[i].DEV_MQTT = undefined;\n  \n  node.send( {topic:myMqttTop, payload:myMqttMsg[i]} );\n\n}\n\n// gesamtes Msg-Objekt loeschen\nmsg = undefined;\n\nreturn msg;","outputs":1,"noerr":0,"x":1180,"y":880,"wires":[["c61bf34f.9fbfb"]]},{"id":"c61bf34f.9fbfb","type":"function","z":"f73a1ff7.71e67","name":"MQTTavg - Flow on / off","func":"var state = flow.get('myFlow_MqttAvg_Flag') || 0;\n\n// Display initial state\nif (state !== 0 ) {\n  node.status( {fill:\"green\", shape:\"dot\", text:\"on\"} );\n  return msg;\n} else {\n  node.status( {fill:\"red\", shape:\"ring\", text:\"off\"} );\n}","outputs":1,"noerr":0,"x":1180,"y":940,"wires":[["6a86ed1a.1edb3"]]},{"id":"6a86ed1a.1edb3","type":"mqtt out","z":"f73a1ff7.71e67","name":"Avg to MQTT","topic":"","qos":"1","retain":"true","broker":"907d3f79.5c45a","x":1210,"y":1000,"wires":[]},{"id":"44c452cf.60d07c","type":"comment","z":"f73a1ff7.71e67","name":"Feinstaub DB - AVG -  MQTT myHOME","info":"","x":1140,"y":830,"wires":[]},{"id":"a83b939b.4c5c8","type":"inject","z":"f73a1ff7.71e67","name":"DEBUG - SET MQTTavg - on","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":820,"wires":[["20b69dc4.bb314e"]]},{"id":"20b69dc4.bb314e","type":"function","z":"f73a1ff7.71e67","name":"MQTTavg - on","func":"// \n// Feinstaub\n//\n\n// MQTTavg - on\n\nflow.set('myFlow_MqttAvg_Flag', 1);\n","outputs":1,"noerr":0,"x":420,"y":820,"wires":[[]]},{"id":"72fefe8c.c842c4","type":"function","z":"f73a1ff7.71e67","name":"MQTTavg- off","func":"// \n// Feinstaub\n//\n\n// MQTTavg - off\n\nflow.set('myFlow_MqttAvg_Flag', 0);\n","outputs":1,"noerr":0,"x":410,"y":860,"wires":[[]]},{"id":"eaaef555.98ffb8","type":"inject","z":"f73a1ff7.71e67","name":"DEBUG - SET MQTTavg - off","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":860,"wires":[["72fefe8c.c842c4"]]},{"id":"158187cf.8b5468","type":"function","z":"f73a1ff7.71e67","name":"Misc","func":"//\n// Feinstaub\n//\n\nvar myVal = msg.payload.READ_VALUE;\nmyVal     = Number(myVal).toFixed(1);\n\nmsg.payload.READ_VALUE = myVal;\n\nreturn msg;","outputs":1,"noerr":0,"x":1930,"y":520,"wires":[["936d4f57.4cf528"]]},{"id":"936d4f57.4cf528","type":"ui_gauge","z":"f73a1ff7.71e67","name":"Luftdruck","group":"6e9e29da.b6dd74","order":6,"width":"3","height":"2","gtype":"gage","title":"{{payload.DEV_VAL_DESC}}","label":"{{payload.DEV_VAL_UNIT}}","format":"{{payload.READ_VALUE}}","min":"960","max":"1060","colors":["#0000e6","#73e600","#e67200"],"seg1":"","seg2":"","x":2170,"y":520,"wires":[]},{"id":"cc4f672b.e6b7c8","type":"MySQLdatabase","z":"","host":"192.168.0.11","port":"3306","db":"myHOME","tz":""},{"id":"6e9e29da.b6dd74","type":"ui_group","z":"","name":"Feinstaub - Übersicht","tab":"f7ba2cad.be827","order":1,"disp":true,"width":"6","collapse":false},{"id":"c6367191.42adb","type":"ui_group","z":"","name":"Verlauf","tab":"f7ba2cad.be827","order":2,"disp":true,"width":"6","collapse":false},{"id":"3d5fa463.e98968","type":"ui_group","z":"","name":"Feinstaub - Status","tab":"f7ba2cad.be827","order":3,"disp":true,"width":"6","collapse":false},{"id":"907d3f79.5c45a","type":"mqtt-broker","z":"","name":"mosquitto 192.168.0.11 (secure: 1883 - user)","broker":"192.168.0.11","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"f7ba2cad.be827","type":"ui_tab","z":"","name":"Feinstaub","icon":"dashboard","order":4}]