SHT_Sensor-Feinstaub/bin/FLOW - myHOME - Feinstaub_MQTT_20190510.md
[{"id":"8f6fc60f.91cd48","type":"tab","label":"myHOME - Feinstaub MQTT","disabled":false,"info":""},{"id":"faf85672.3da828","type":"mqtt in","z":"8f6fc60f.91cd48","name":"","topic":"/myHOME/sensor/devices/Feinstaub","qos":"2","broker":"907d3f79.5c45a","x":170,"y":140,"wires":[["e15f0ee6.58b7"]]},{"id":"e15f0ee6.58b7","type":"json","z":"8f6fc60f.91cd48","name":"","property":"payload","action":"obj","pretty":false,"x":450,"y":140,"wires":[["8c905468.d1a4e8"]]},{"id":"b7c22db2.93066","type":"mqtt in","z":"8f6fc60f.91cd48","name":"","topic":"/myHOME/sensor/devices/Feinstaub/avg","qos":"2","broker":"907d3f79.5c45a","x":180,"y":200,"wires":[["d9f64c13.9461"]]},{"id":"d9f64c13.9461","type":"json","z":"8f6fc60f.91cd48","name":"","property":"payload","action":"obj","pretty":false,"x":450,"y":200,"wires":[["90b1aefe.56874"]]},{"id":"fbb4d5aa.e46788","type":"mqtt in","z":"8f6fc60f.91cd48","name":"","topic":"/myHOME/sensor/devices/Feinstaub/state","qos":"2","broker":"907d3f79.5c45a","x":190,"y":80,"wires":[["69022cc1.0d6ee8"]]},{"id":"69022cc1.0d6ee8","type":"json","z":"8f6fc60f.91cd48","name":"","property":"payload","action":"obj","pretty":false,"x":450,"y":80,"wires":[["a706c2a7.73858","fa7c005c.a68"]]},{"id":"a706c2a7.73858","type":"ui_text","z":"8f6fc60f.91cd48","group":"dfb1eaf9.a7e9c8","order":2,"width":"3","height":"2","name":"FS - Status - LED","label":"{{payload.txtled}}","format":"<font color={{payload.ledcolor}}><i class=\"fa fa-circle\" style=\"font-size:10px;\"></i></font>","layout":"row-spread","x":670,"y":80,"wires":[]},{"id":"fa7c005c.a68","type":"ui_template","z":"8f6fc60f.91cd48","group":"7907b140.68d564","name":"WM - Status - Text","order":22,"width":"6","height":"5","format":"<script>\n// ( function(scope ) {\n//   scope.$watch('msg', function(msg) {\n//     if (msg != null) {\n//     } else {\n//     }\n//   });\n// } (scope) );\n</script>\n<table width=\"100%\" border=\"0\">\n  <tbody>\n    <tr>\n      <td width=\"120\">Verbindung:</td>\n      <td>\n        <font color={{msg.payload.ledcolor}}><i class=\"fa fa-circle\" style=\"font-size:10px;\"></i></font>\n      </td>\n      <td>{{msg.payload.txtstatus}}</td>\n    </tr>\n    <tr>\n      <td>ID:</td>\n      <td colspan=\"2\">{{msg.payload.iddev}}</td>\n    </tr>\n    <tr>\n      <td>Firmware:</td>\n      <td colspan=\"2\">{{msg.payload.iddevfw}}</td>\n    </tr>\n    <tr>\n      <td>WLAN:</td>\n      <td colspan=\"2\">{{msg.payload.wlan}}</td>\n    </tr>\n    <tr>\n      <td>Letzte Aktivität:</td>\n      <td colspan=\"2\">{{msg.payload.READ_TIME}}</td>\n    </tr>\n    <tr>\n      <td>Empfang:</td>\n      <td colspan=\"2\">{{msg.payload.jsonstatus}}<br>{{msg.payload.jsonerror.message}}</td>\n    </tr>\n    <tr>\n      <td colspan=\"3\"><font size=\"-3\"><br>CC BY-NC-SA 4.0<br>(c) by Dipl.-Ing. Wolfram Winter</font></td>\n    </tr>\n  </tbody>\n</table>","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":670,"y":110,"wires":[[]]},{"id":"91b7bee5.8ec868","type":"comment","z":"8f6fc60f.91cd48","name":"Version 1.1.0.0 - 10.05.2019 - Readme - WW-myHOME - Feinstaub - MQTT","info":"------------------------------------------------------------------------\nReadme - WW-myHOME - Feinstaub - MQTT\n------------------------------------------------------------------------\n(c) by Dipl.Ing. Wolfram Winter - wolfram.winter@web.de\n\nThis work is licensed under a\nCreative Commons Attribution-NonCommercial-ShareAlike 4.0 International License.\n\nYou should have received a copy of the license along with this work. If\nnot, see <http://creativecommons.org/licenses/by-nc-sa/4.0/>.\n\n------------------------------------------------------------------------\nFunktion:\n\nAnzeige der durch Node-RED aufbereiteten und versandten MQTT Daten \n(Modul Feinstaub DB) der Sensordaten der Feinstaub Messstation\n(https://luftdaten.info/) \n\n------------------------------------------------------------------------\nDoku:\n\nhttps://github.com/wolwin/WW-myHOME/tree/master/myHOME%20-%20Feinstaub\n\n------------------------------------------------------------------------\n    Erstellt:   01.12.2018 - Winter\n    Änderungen: 08.12.2018 - Winter\n                - Version 1.0.0.0\n                30.03.2019 - Winter\n                - Version 1.0.0.1\n                  - Anordnung der Anzeigenreihenfolge geaendert\n                10.05.2019 - Winter\n                - Version 1.1.0.0\n------------------------------------------------------------------------\n","x":280,"y":30,"wires":[]},{"id":"83449913.0e48d","type":"comment","z":"8f6fc60f.91cd48","name":"Feinstaub DB - Vars","info":"","x":630,"y":220,"wires":[]},{"id":"8c905468.d1a4e8","type":"switch","z":"8f6fc60f.91cd48","name":"Switch VAR","property":"payload.DEV_TYP","propertyType":"msg","rules":[{"t":"eq","v":"fs_sds011_pm2_5","vt":"str"},{"t":"eq","v":"fs_sds011_pm10","vt":"str"},{"t":"eq","v":"fs_bmp_temp","vt":"str"},{"t":"eq","v":"fs_bme280_temp","vt":"str"},{"t":"eq","v":"fs_bme280_hum","vt":"str"},{"t":"eq","v":"fs_bme280_baro","vt":"str"},{"t":"eq","v":"fs_glb_temp","vt":"str"},{"t":"eq","v":"fs_glb_hum","vt":"str"},{"t":"eq","v":"fs_glb_baro","vt":"str"},{"t":"eq","v":"fs_glb_baro_nn","vt":"str"}],"checkall":"true","repair":false,"outputs":10,"x":650,"y":320,"wires":[["38f7c6eb.c6531e"],["cd207b36.a868e8"],[],[],[],[],["b88d6229.884a8"],["c038f208.d48c68"],["2bb5bb5f.f9ed34"],["df2b357b.1b9808"]]},{"id":"8b8661dd.5b8fa8","type":"ui_gauge","z":"8f6fc60f.91cd48","name":"Temperatur","group":"dfb1eaf9.a7e9c8","order":1,"width":"3","height":"2","gtype":"gage","title":"{{payload.DEV_VAL_DESC}}","label":"{{payload.DEV_VAL_UNIT}}","format":"{{payload.READ_VALUE}}","min":"-20","max":"50","colors":["#0000e6","#73e600","#e67200"],"seg1":"","seg2":"","x":1070,"y":320,"wires":[]},{"id":"2bb5bb5f.f9ed34","type":"function","z":"8f6fc60f.91cd48","name":"Misc","func":"//\n// Feinstaub\n//\n\nvar myVal = msg.payload.READ_VALUE;\nmyVal     = Number(myVal).toFixed(1);\n\nmsg.payload.READ_VALUE = myVal;\n\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":380,"wires":[["af9b6287.f5094"]]},{"id":"ac369ad1.46f0f8","type":"ui_gauge","z":"8f6fc60f.91cd48","name":"Luftfeuchtigkeit (Prozent)","group":"dfb1eaf9.a7e9c8","order":7,"width":"3","height":"2","gtype":"gage","title":"{{payload.DEV_VAL_DESC}}","label":"{{payload.DEV_VAL_UNIT}}","format":"{{payload.READ_VALUE}}","min":"0","max":"100","colors":["#E6E600","#73e600","#0000e6"],"seg1":"","seg2":"","x":1030,"y":350,"wires":[]},{"id":"b88d6229.884a8","type":"function","z":"8f6fc60f.91cd48","name":"Misc","func":"//\n// Feinstaub\n//\n// Rundet READ_VALUE auf 1 Nachkommastelle\n// \n\nmsg.payload.READ_VALUE = parseFloat(msg.payload.READ_VALUE).toFixed(1);\n\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":320,"wires":[["8b8661dd.5b8fa8"]]},{"id":"c038f208.d48c68","type":"function","z":"8f6fc60f.91cd48","name":"Misc","func":"//\n// Feinstaub\n//\n// Rundet READ_VALUE auf 1 Nachkommastelle\n// \n\nmsg.payload.READ_VALUE = parseFloat(msg.payload.READ_VALUE).toFixed(1);\n\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":350,"wires":[["ac369ad1.46f0f8"]]},{"id":"60c86323.287f48","type":"ui_gauge","z":"8f6fc60f.91cd48","name":"PM 2_5","group":"dfb1eaf9.a7e9c8","order":3,"width":"3","height":"2","gtype":"gage","title":"{{payload.DEV_VAL_DESC}}","label":"{{payload.DEV_VAL_UNIT}}","format":"{{payload.READ_VALUE}}","min":"0","max":"100","colors":["#73e600","#e67200","#D62728"],"seg1":"","seg2":"","x":1080,"y":260,"wires":[]},{"id":"b227ea76.cd05","type":"ui_gauge","z":"8f6fc60f.91cd48","name":"PM 10","group":"dfb1eaf9.a7e9c8","order":4,"width":"3","height":"2","gtype":"gage","title":"{{payload.DEV_VAL_DESC}}","label":"{{payload.DEV_VAL_UNIT}}","format":"{{payload.READ_VALUE}}","min":"0","max":"100","colors":["#73e600","#e67200","#D62728"],"seg1":"","seg2":"","x":1090,"y":290,"wires":[]},{"id":"cd207b36.a868e8","type":"function","z":"8f6fc60f.91cd48","name":"Misc","func":"//\n// Feinstaub\n//\n// Rundet READ_VALUE auf 1 Nachkommastelle\n// \n\nmsg.payload.READ_VALUE = parseFloat(msg.payload.READ_VALUE).toFixed(1);\n\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":290,"wires":[["b227ea76.cd05"]]},{"id":"38f7c6eb.c6531e","type":"function","z":"8f6fc60f.91cd48","name":"Misc","func":"//\n// Feinstaub\n//\n// Rundet READ_VALUE auf 1 Nachkommastelle\n// \n\nmsg.payload.READ_VALUE = parseFloat(msg.payload.READ_VALUE).toFixed(1);\n\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":260,"wires":[["60c86323.287f48"]]},{"id":"70d554c5.e5ba68","type":"function","z":"8f6fc60f.91cd48","name":"Misc","func":"//\n// Feinstaub\n//\nvar msgRtn = {};\n\nmsgRtn.topic   = msg.payload.DEV_VAL_DESC;\nmsgRtn.payload = parseFloat(msg.payload.READ_VALUE).toFixed(1);\n\nreturn msgRtn;","outputs":1,"noerr":0,"x":840,"y":590,"wires":[["32e20280.bd1f76"]]},{"id":"d6d0ec27.a287a8","type":"function","z":"8f6fc60f.91cd48","name":"Misc","func":"//\n// Feinstaub\n//\nvar msgRtn = {};\n\nmsgRtn.topic   = msg.payload.DEV_VAL_DESC;\nmsgRtn.payload = parseFloat(msg.payload.READ_VALUE).toFixed(1);\n\nreturn msgRtn;","outputs":1,"noerr":0,"x":840,"y":530,"wires":[["e4923e2f.d0d92"]]},{"id":"e4923e2f.d0d92","type":"ui_chart","z":"8f6fc60f.91cd48","name":"Verlauf-Temperatur","group":"56641cf6.61b578","order":2,"width":"0","height":"0","label":"Verlauf - Temperatur °C","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"outputs":2,"x":1050,"y":530,"wires":[[],[]]},{"id":"11d9edde.918cee","type":"ui_chart","z":"8f6fc60f.91cd48","name":"Verlauf-Luftfeuchtigkeit","group":"56641cf6.61b578","order":3,"width":0,"height":0,"label":"Verlauf - Luftfeuchtigkeit %","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"outputs":2,"x":1030,"y":560,"wires":[[],[]]},{"id":"99519ace.d9ddd8","type":"function","z":"8f6fc60f.91cd48","name":"Misc","func":"//\n// Feinstaub\n//\nvar msgRtn = {};\n\nmsgRtn.topic   = msg.payload.DEV_VAL_DESC;\nmsgRtn.payload = parseFloat(msg.payload.READ_VALUE).toFixed(1);\n\nreturn msgRtn;","outputs":1,"noerr":0,"x":840,"y":560,"wires":[["11d9edde.918cee"]]},{"id":"a578baf3.13ea08","type":"function","z":"8f6fc60f.91cd48","name":"Misc","func":"//\n// Feinstaub\n//\nvar msgRtn = {};\n\nmsgRtn.topic   = msg.payload.DEV_VAL_DESC;\nmsgRtn.payload = parseFloat(msg.payload.READ_VALUE).toFixed(1);\n\nreturn msgRtn;","outputs":1,"noerr":0,"x":840,"y":490,"wires":[["d354a776.2a44d"]]},{"id":"d354a776.2a44d","type":"ui_chart","z":"8f6fc60f.91cd48","name":"Verlauf-PM","group":"56641cf6.61b578","order":1,"width":"0","height":"0","label":"Verlauf - Feinstaub µg/m³","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1070,"y":460,"wires":[[]]},{"id":"87159da1.4c52f","type":"function","z":"8f6fc60f.91cd48","name":"Misc","func":"//\n// Feinstaub\n//\nvar msgRtn = {};\n\nmsgRtn.topic   = msg.payload.DEV_VAL_DESC;\nmsgRtn.payload = parseFloat(msg.payload.READ_VALUE).toFixed(1);\n\nreturn msgRtn;","outputs":1,"noerr":0,"x":840,"y":460,"wires":[["d354a776.2a44d"]]},{"id":"af9b6287.f5094","type":"ui_gauge","z":"8f6fc60f.91cd48","name":"Luftdruck","group":"dfb1eaf9.a7e9c8","order":6,"width":"3","height":"2","gtype":"gage","title":"{{payload.DEV_VAL_DESC}}","label":"{{payload.DEV_VAL_UNIT}}","format":"{{payload.READ_VALUE}}","min":"960","max":"1060","colors":["#0000e6","#73e600","#e67200"],"seg1":"","seg2":"","x":1080,"y":380,"wires":[]},{"id":"32e20280.bd1f76","type":"ui_chart","z":"8f6fc60f.91cd48","name":"Verlauf-Luftdruck","group":"56641cf6.61b578","order":4,"width":"0","height":"0","label":"Verlauf - Luftdruck hPa","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"outputs":2,"x":1050,"y":590,"wires":[[],[]]},{"id":"90b1aefe.56874","type":"switch","z":"8f6fc60f.91cd48","name":"Switch AVG","property":"payload.DEV_TYP","propertyType":"msg","rules":[{"t":"eq","v":"fs_sds011_pm2_5","vt":"str"},{"t":"eq","v":"fs_sds011_pm10","vt":"str"},{"t":"eq","v":"fs_bme280_temp","vt":"str"},{"t":"eq","v":"fs_bme280_hum","vt":"str"},{"t":"eq","v":"fs_bme280_baro","vt":"str"},{"t":"eq","v":"fs_glb_temp","vt":"str"},{"t":"eq","v":"fs_glb_hum","vt":"str"},{"t":"eq","v":"fs_glb_baro","vt":"str"},{"t":"eq","v":"fs_glb_baro_nn","vt":"str"}],"checkall":"true","repair":false,"outputs":9,"x":650,"y":510,"wires":[["87159da1.4c52f"],["a578baf3.13ea08"],[],[],[],["d6d0ec27.a287a8"],["99519ace.d9ddd8"],[],["70d554c5.e5ba68"]]},{"id":"26d039a9.4a6062","type":"comment","z":"8f6fc60f.91cd48","name":"Feinstaub DB - AVG","info":"","x":630,"y":420,"wires":[]},{"id":"df2b357b.1b9808","type":"function","z":"8f6fc60f.91cd48","name":"Misc","func":"//\n// Feinstaub\n//\n// Ergaenzt DEV_VAL_UNIT mit allgemeinen Luftdruckangaben\n// \n// < 980      sehr tief - stuermisch \n// 980-1000   tief - regnerisch \n// 1000-1020  normal - wechselhaft \n// 1020-1040  hoch - sonnig \n// > 1040     sehr hoch - sehr trocken\n\nvar myVal = msg.payload.READ_VALUE;\nvar myTxt = \"\";\n\nmyVal = Number(myVal).toFixed(1);\n\nswitch (true) {\n  case (myVal < 980):                   myTxt = \"sehr tief - stürmisch\";    break;\n  case ( 980 <= myVal && myVal < 1000): myTxt = \"tief - regnerisch\";        break;\n  case (1000 <= myVal && myVal < 1020): myTxt = \"normal - wechselhaft\";     break;\n  case (1020 <= myVal && myVal < 1040): myTxt = \"hoch - sonnig\";            break;\n  case (myVal > 1000):                  myTxt = \"sehr hoch - sehr trocken\"; break;\n}\n\nmsg.payload.READ_VALUE   = myVal;\nmsg.payload.DEV_VAL_DESC = msg.payload.DEV_VAL_DESC;\nmsg.payload.DEV_VAL_UNIT = msg.payload.DEV_VAL_UNIT + \"\\n\" + myTxt;\n\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":410,"wires":[["c1cc33ed.593528"]]},{"id":"c1cc33ed.593528","type":"ui_gauge","z":"8f6fc60f.91cd48","name":"Luftdruck NN","group":"dfb1eaf9.a7e9c8","order":5,"width":"3","height":"2","gtype":"gage","title":"{{payload.DEV_VAL_DESC}}","label":"{{payload.DEV_VAL_UNIT}}","format":"{{payload.READ_VALUE}}","min":"960","max":"1060","colors":["#0000e6","#73e600","#e67200"],"seg1":"","seg2":"","x":1060,"y":410,"wires":[]},{"id":"907d3f79.5c45a","type":"mqtt-broker","z":"","name":"mosquitto 192.168.0.11 (secure: 1883 - user)","broker":"192.168.0.11","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"dfb1eaf9.a7e9c8","type":"ui_group","z":"","name":"Feinstaub - Übersicht","tab":"9fbe4fd5.ae26a","order":1,"disp":true,"width":"6","collapse":false},{"id":"7907b140.68d564","type":"ui_group","z":"","name":"Feinstaub - Status","tab":"9fbe4fd5.ae26a","order":3,"disp":true,"width":"6","collapse":false},{"id":"56641cf6.61b578","type":"ui_group","z":"","name":"Verlauf","tab":"9fbe4fd5.ae26a","order":2,"disp":true,"width":"6","collapse":false},{"id":"9fbe4fd5.ae26a","type":"ui_tab","z":"","name":"Feinstaub (MQTT)","icon":"dashboard","order":5}]