SHT_Sensor-Weatherman/bin/archive/FLOW - myHOME - Weatherman_20181213.md
[{"id":"3a451a4e.63faca","type":"tab","label":"myHOME - Weatherman DB","disabled":false,"info":""},{"id":"4336cc55.95cbc8","type":"mysql","z":"3a451a4e.63faca","mydb":"cc4f672b.e6b7c8","name":"","x":1100,"y":120,"wires":[["3228cdb3.ba1ade"]]},{"id":"3228cdb3.ba1ade","type":"function","z":"3a451a4e.63faca","name":"INIT - DEVICES - Weatherman","func":"// \n// Weatherman\n//\n// - SQL-/CSV-Datenbankabfrage Devices auswerten\n// - Globale Flow Variablen setzen\n//\n// myFlow_DeviceArray_Count\n// myFlow_DeviceArray[]\n// myFlow_DeviceReadingsLast[]\n//\nvar myMsg;\nvar mySqlAnzahl = 0;\nvar mySqlArray  = [];\nvar mySqlArrayLast = [];\nvar state = 0;\nvar stateName = \"DB\";\n\nif (Number(flow.get('myFlow_Db_Flag')) === 0 ) {\n  stateName = \"CSV\";\n}\n\n// Globale Flow Variablen zuruecksetzen\nflow.set('myFlow_DeviceArray_Count', mySqlAnzahl);\nflow.set('myFlow_DeviceArray', mySqlArray);\n\nmyMsg = msg.payload[1];\nif (myMsg && typeof myMsg === 'object') {\n  // Devices\n  mySqlAnzahl = myMsg.length;\n  if (mySqlAnzahl > 0) {\n    // alle Devices einlesen\n    for (var i = 0; i < mySqlAnzahl; i=i+1) {\n      // zeilenweise uebernehmen\n      mySqlArray[i] = myMsg[i];\n    }\n    // Device-Eintraege im Flow merken\n    flow.set('myFlow_DeviceArray', mySqlArray);\n    // Anzahl der Device-Eintraege im Flow merken\n    flow.set('myFlow_DeviceArray_Count', mySqlAnzahl);\n    state = mySqlAnzahl;\n    // Init letzter Device-Wert Array\n    for (var i = 0; i < mySqlAnzahl; i=i+1) {\n      // zeilenweiser Initwert\n      mySqlArrayLast[i] = '';\n    }\n    // Device-Werte im Flow merken\n    flow.set('myFlow_DeviceReadingsLast', mySqlArrayLast);\n  }\n}\n\n// Display initial state\nif (state !== 0 ) {\n  node.status( {fill:\"green\", shape:\"dot\", text:stateName + \" - init devices: \" + state} );\n  return msg;\n} else {\n  node.status( {fill:\"red\", shape:\"ring\", text:stateName + \" - no devices: \" + state} );\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1440,"y":120,"wires":[["e46269d3.cf8d28"]]},{"id":"657fcca.30267f4","type":"tcp in","z":"3a451a4e.63faca","name":"Listen Weatherman","server":"server","host":"","port":"8181","datamode":"single","datatype":"utf8","newline":"","topic":"","base64":false,"x":120,"y":430,"wires":[["48d7a6bc.c323cc"]]},{"id":"3304be2.2ad7ec2","type":"switch","z":"3a451a4e.63faca","name":"Check INIT - DEVICES","property":"myFlow_DeviceArray_Count","propertyType":"flow","rules":[{"t":"neq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":430,"wires":[["457c8292.b2779"]]},{"id":"a8394171.45ecc8","type":"function","z":"3a451a4e.63faca","name":"READ - DEVICES - Weatherman","func":"// \n// Weatherman\n//\n// - Globale Flow Variablen zuruecksetzen\n// - SQL-Datenbankabfrage Devices\n//\n\n// SQL - alle aktiven Device-Eintraege aus Datenbank holen\nmsg.topic = \"USE `myHOME`;\" +\n           \"SELECT * FROM SENSOR_DEVICES WHERE DEV_NAME = 'Weatherman' AND DEV_FL_ACT <> 0;\"\n\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":120,"wires":[["41628820.0bd224"]]},{"id":"48d7a6bc.c323cc","type":"function","z":"3a451a4e.63faca","name":"Check EOT and add Timestamp","func":"// \n// Weatherman\n//\n// - JSON auf Vollstaendigkeit pruefen (EOT-Zeichen)\n// - Timestamp erzeugen und in msg aufnehmen\n//   (allgemein gueltige Textversion 'yyyy-mm-dd hh:mm:ss')\n//\n//\nvar myJSON = msg.payload;\n\n// Regex to match the unicode characters for EOT\nvar grepEOT = /(.*)(\\u0003|\\u0004)/;\nvar match = grepEOT.exec(myJSON);\n\n// String contains EOT, should be complete\nif (match !== null) {\n  // Try to parse JSON and validate object\n  msg.payload = JSON.parse(match[1]);\n  if (msg.payload && typeof msg.payload === 'object') {\n    // Timestamp\n    myTime = new Date();\n    myTime = (myTime.getFullYear() + '-' + ('00' + (myTime.getMonth()+1)).slice(-2) + '-' + ('00' + myTime.getDate()).slice(-2) + ' ' + ('00' + myTime.getHours()).slice(-2) + ':' + ('00' + myTime.getMinutes()).slice(-2) + ':' + ('00' + myTime.getSeconds()).slice(-2));\n    msg.timestamp = myTime;\n    return msg;\n  } else {\n    node.error('Unvollständige oder beschädigte JSON-Nachricht', msg);\n  }\n// No EOT found or parse error. Possibly trunctuated / corrupt message\n} else {\n  node.error('Kein EOT oder unvollständige oder beschädigte JSON-Nachricht', msg);\n}\n","outputs":1,"noerr":0,"x":370,"y":430,"wires":[["3304be2.2ad7ec2","779fbabd.9afdd4"]],"outputLabels":["bla"]},{"id":"e14ccd3a.a43cc8","type":"comment","z":"3a451a4e.63faca","name":"Weatherman DB - System","info":"","x":1700,"y":20,"wires":[]},{"id":"779fbabd.9afdd4","type":"rbe","z":"3a451a4e.63faca","name":"WatchDog","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":270,"y":320,"wires":[["2b670467.bbf8b8","d1727290.d92c18","7a8c1cf7.f44b3c"]]},{"id":"2b670467.bbf8b8","type":"trigger","z":"3a451a4e.63faca","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"2","extend":true,"units":"min","reset":"1","bytopic":"all","name":"Timeout (2 min)","x":450,"y":280,"wires":[["4a73e710.d9d058"]]},{"id":"4a73e710.d9d058","type":"switch","z":"3a451a4e.63faca","name":"Check Timeout","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":640,"y":260,"wires":[["9158d35.d3b6e7"],["278453e0.878494"]]},{"id":"9158d35.d3b6e7","type":"change","z":"3a451a4e.63faca","name":"Timeout - false","rules":[{"t":"set","p":"payload","pt":"msg","to":"con_ok","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":240,"wires":[["560347dc.13047"]]},{"id":"278453e0.878494","type":"change","z":"3a451a4e.63faca","name":"Timeout - true","rules":[{"t":"set","p":"payload","pt":"msg","to":"con_timeout","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":280,"wires":[["560347dc.13047"]]},{"id":"d1727290.d92c18","type":"trigger","z":"3a451a4e.63faca","op1":"0","op2":"1","op1type":"num","op2type":"num","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"Heart Beat","x":850,"y":320,"wires":[["560347dc.13047"]]},{"id":"ecc49f76.54c5e","type":"ui_template","z":"3a451a4e.63faca","group":"7d71ea35.7bd9c","name":"WM - Status - Text","order":22,"width":"6","height":"5","format":"<script>\n// ( function(scope ) {\n//   scope.$watch('msg', function(msg) {\n//     if (msg != null) {\n//     } else {\n//     }\n//   });\n// } (scope) );\n</script>\n<table width=\"100%\" border=\"0\">\n  <tbody>\n    <tr>\n      <td width=\"120\">Verbindung:</td>\n      <td>\n        <font color={{msg.ledcolor}}><i class=\"fa fa-circle\" style=\"font-size:10px;\"></i></font>\n      </td>\n      <td>{{msg.txtstatus}}</td>\n    </tr>\n    <tr>\n      <td>ID:</td>\n      <td colspan=\"2\">{{msg.iddev}}</td>\n    </tr>\n    <tr>\n      <td>Firmware:</td>\n      <td colspan=\"2\">{{msg.iddevfw}}</td>\n    </tr>\n    <tr>\n      <td>WLAN:</td>\n      <td colspan=\"2\">{{msg.wlan}}</td>\n    </tr>\n    <tr>\n      <td>Letzte Aktivität:</td>\n      <td colspan=\"2\">{{msg.timestamp}}</td>\n    </tr>\n    <tr>\n      <td>Empfang:</td>\n      <td colspan=\"2\">{{msg.jsonstatus}}<br>{{msg.jsonerror.message}}</td>\n    </tr>\n    <tr>\n      <td colspan=\"3\"><font size=\"-3\"><br>CC BY-NC-SA 4.0<br>(c) by Dipl.-Ing. Wolfram Winter</font></td>\n    </tr>\n  </tbody>\n</table>","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":1190,"y":340,"wires":[[]]},{"id":"6259508f.74469","type":"comment","z":"3a451a4e.63faca","name":"Weatherman DB - Monitoring und Fehlerbehandlung","info":"","x":220,"y":230,"wires":[]},{"id":"c6e8048f.844b4","type":"catch","z":"3a451a4e.63faca","name":"JSON Error","scope":["48d7a6bc.c323cc"],"x":850,"y":360,"wires":[["560347dc.13047"]]},{"id":"7ecfb916.6f8d3c","type":"function","z":"3a451a4e.63faca","name":"Create payload_xxx","func":"// \n// Weatherman\n//\n// - Zentrale Verarbeitung der Weatherman msg\n//\n\n\n// DEBUG - Info\n//   console.log (msg.payload);\n//\n// console.log (flow.get('myFlow_DeviceArray[1]'));\n//\n//   var myTime = new Date();\n//   myTime = myTime.toLocaleString();\n//   console.log (myTime + \" - WM-Nachricht\");\n\n\nvar myObject_Syst = msg.payload.Systeminfo;\nvar myObject_Vars = msg.payload.vars;\nvar myObject = '';\n\nvar myOrgName = '';\nvar myOrgValue = '';\nvar myAvgValue = '';\nvar arrayOrgName = [];\nvar arrayOrgLength = 0;\n\nvar myResultsSys  = [];\nvar myResultsSql  = [];\nvar myResultsNew  = [];\nvar myResultsMqtt = [];\nvar myResultsAvg  = [];\n\nvar myTmp;\nvar myTmpIndex = 0;\n\n// Flow-Verweise\nvar myDeviceArray        = flow.get ('myFlow_DeviceArray');\nvar myDeviceArrayCount   = flow.get (\"myFlow_DeviceArray_Count\");\nvar myDeviceReadingsLast = flow.get ('myFlow_DeviceReadingsLast');\nvar myDeviceReadingsAvg  = flow.get ('myFlow_DeviceReadingsAvg');\n\nvar myFlagNewOnly        = flow.get('myFlow_Flag_NewOnly');\nvar myFlagNewOnlyDefault = flow.get('myFlow_Flag_NewOnly_Default');\n\n// -------------------------------\n// --- Weatherman - Systeminfo ---\n// -------------------------------\nmyObject = myObject_Syst;\nif (myObject && typeof myObject === 'object') {\n  arrayOrgName   = Object.keys(myObject);\n  arrayOrgLength = arrayOrgName.length;\n  // console.log(arrayOrgLength);   \n  // Ueber alle Eintrage\n  for (var i = 0; i < arrayOrgLength; i=i+1) {\n    myOrgName  = arrayOrgName[i];  \n    myOrgValue = myObject[myOrgName];\n    // Index fuer den Eintrag suchen\n    myTmp = GetDeviceIndex(\"Systeminfo\", myOrgName);\n    if (myTmp !== '') {\n\t  // Index-Eintrag gefunden\t\n      myTmpIndex = Number(myTmp);\n      // Device-Reading behandeln, wenn ...\n      // - alle Device-Readings beruecksichtigt werden sollen\n\t  // - nur die Device-Readings beruecksichtigt werden sollen, die deren Werte sich geaendert haben\n\t  if ((myFlagNewOnly === 0) || ((myFlagNewOnly !== 0) && (myDeviceReadingsLast[myTmpIndex] !== myOrgValue))) {\n        // console.log(msg.timestamp + \" - \" + myOrgName + \" - \" + myOrgValue + \" - \" + myTmp + \" - \" + myDeviceArray[myTmpIndex].ID_DEV); \n        // neuen Wert merken  \n        myDeviceReadingsLast[myTmpIndex] = myOrgValue;  \n        // wenn das Flag fuer das Speichern in der Datenbank gesetzt ist ...\n        // SQL-Insert in SQl payload-Array ablegen\n        if ( Number(myDeviceArray[myTmpIndex].DEV_FL_STO) !== 0 ) {\n          //\n          // `ID_READ`     DATETIME(0) NOT NULL,\n          // `ID_DEV`      INT(10) UNSIGNED,\n          // `READ_TIME`   VARCHAR(25),\n          // `READ_VALUE`  VARCHAR(50),\n          // `READ_FLAG`   TINYINT UNSIGNED DEFAULT 0\n          //\n          // ID_READ wird automatisch vom Trigger der Datenbank gesetzt\n          //\n          // INSERT INTO SENSOR_READINGS (ID_DEV, READ_TIME, READ_VALUE) values ( '1', '2000-01-01 01:01:01', '47.11' );\n          // myTmp = \"INSERT INTO SENSOR_READINGS (ID_DEV, READ_TIME, READ_VALUE) values (\";\n          // myTmp = myTmp + \"'\" + myDeviceArray[myTmpIndex].ID_DEV + \"'\";\n          // myTmp = myTmp + \", '\" + msg.timestamp +  \"'\";\n          // myTmp = myTmp + \", '\" + myOrgValue +  \"'\";\n          // myTmp = myTmp + \");\"\n          //\n          // INSERT INTO SENSOR_READINGS SET ID_DEV='101901', READ_TIME='2000-01-01 01:01:01', READ_VALUE='47.11';\n          myTmp = \"INSERT INTO SENSOR_READINGS SET\";\n          myTmp = myTmp +  \" ID_DEV='\" + myDeviceArray[myTmpIndex].ID_DEV + \"'\";\n          myTmp = myTmp + \", READ_TIME='\" +  msg.timestamp + \"'\";\n          myTmp = myTmp + \", READ_VALUE='\" +  myOrgValue + \"'\";\n          myTmp = myTmp + \";\"\n          // console.log(myTmp);\n    \n          // Push SQL-Insert in Msg-Ausgabe-Array\n          // myResultsSql.push( {sql: myTmp} );\n          myResultsSql.push( myTmp );\n        }\n        \n        // `ID_DEV`='100901', \n        // `DEV_NAME` = 'Weatherman', \n        // `DEV_TYP` = 'wm_sys_mac-adr'\n        // `DEV_DESC` = 'Wetterstation'\n        // `DEV_LOC` = 'Garten'\n        // `DEV_VAL_DESC` = 'MAC-Adresse'\n        // `DEV_VAL_UNIT` = ''\n        // `DEV_OLD_NAME` = 'Systeminfo'\n        // `DEV_OLD_TYP` = 'MAC-Adresse'\n        // `DEV_MQTT` = '/myHOME/sensor/devices/Weatherman'\n        // `DEV_FL_ACT` = 1 \n        // `DEV_FL_STO` = 0 \n        // `DEV_FL_MQTT` = 0\n        // `DEV_FL_INT` = 0\n       \n        // neues msg-Objekt zusammensetzen\n        myTmp = { \"ID_DEV\": myDeviceArray[myTmpIndex].ID_DEV,\n                  \"READ_TIME\": msg.timestamp,\n                  \"READ_VALUE\": myOrgValue,\n                  \"DEV_NAME\": myDeviceArray[myTmpIndex].DEV_NAME,\n                  \"DEV_TYP\": myDeviceArray[myTmpIndex].DEV_TYP,\n                  \"DEV_DESC\": myDeviceArray[myTmpIndex].DEV_DESC,\n                  \"DEV_LOC\": myDeviceArray[myTmpIndex].DEV_LOC,\n                  \"DEV_VAL_DESC\": myDeviceArray[myTmpIndex].DEV_VAL_DESC,\n                  \"DEV_VAL_UNIT\": myDeviceArray[myTmpIndex].DEV_VAL_UNIT,\n                  \"DEV_MQTT\": myDeviceArray[myTmpIndex].DEV_MQTT,\n                  \"DEV_FL_ACT\": myDeviceArray[myTmpIndex].DEV_FL_ACT,\n                  \"DEV_FL_STO\": myDeviceArray[myTmpIndex].DEV_FL_STO,\n                  \"DEV_FL_MQTT\": myDeviceArray[myTmpIndex].DEV_FL_MQTT,\n                  \"DEV_FL_INT\": myDeviceArray[myTmpIndex].DEV_FL_INT\n                };\n        // console.log(myTmp);\n\n        // Push NEW-Insert in Msg-Ausgabe-Array\n        myResultsSys.push( myTmp );\n\n        // wenn MQTT Ausgabe, dann auch in MQTT-Liste uebernehmen\n        if ((myDeviceArray[myTmpIndex].DEV_FL_MQTT > 0) && (myDeviceArray[myTmpIndex].DEV_MQTT.length > 0)) {\n\n          // neues MQTT-Objekt zusammensetzen\n          myTmp = { \"ID_DEV\": myDeviceArray[myTmpIndex].ID_DEV,\n                    \"READ_TIME\": msg.timestamp,\n                    \"READ_VALUE\": myOrgValue,\n                    \"DEV_NAME\": myDeviceArray[myTmpIndex].DEV_NAME,\n                    \"DEV_TYP\": myDeviceArray[myTmpIndex].DEV_TYP,\n                    \"DEV_DESC\": myDeviceArray[myTmpIndex].DEV_DESC,\n                    \"DEV_LOC\": myDeviceArray[myTmpIndex].DEV_LOC,\n                    \"DEV_VAL_DESC\": myDeviceArray[myTmpIndex].DEV_VAL_DESC,\n                    \"DEV_VAL_UNIT\": myDeviceArray[myTmpIndex].DEV_VAL_UNIT,\n                    \"DEV_MQTT\": myDeviceArray[myTmpIndex].DEV_MQTT\n                  };\n          // console.log(myTmp);\n\n          // Push NEW-Insert in Msg-Ausgabe-Array\n          myResultsMqtt.push( myTmp );\n        }\n          \n      } else {\n      // Wert hat sich nicht geaendert - Eintrag wird ignoriert\n      // console.log(myOrgName + \" - \" + myOrgValue + \" - unveraendert\"); \n      }\n\n    } else {\n      // keinen Index gefunden - Eintrag wird ignoriert\n      // console.log(myOrgName + \" - \" + myOrgValue + \" - !!! FEHLT !!!\");     \n    }\n\n  }\n}\n\nmyOrgName = '';\nmyOrgValue = '';\narrayOrgName = [];\narrayOrgLength = 0;\n\n// ----------------------------------\n// --- Weatherman - vars Readings ---\n// ----------------------------------\nmyObject = myObject_Vars;\nif (myObject && typeof myObject === 'object') {\n  arrayOrgName   = Object.keys(myObject);\n  arrayOrgLength = arrayOrgName.length\n  // console.log(arrayOrgLength);   \n  // Ueber alle Eintrage\n  for (var i = 0; i < arrayOrgLength; i=i+1) {\n    myOrgName  = myObject_Vars[i].name;  \n    myOrgValue = myObject_Vars[i].value;\n    // Index fuer den Eintrag suchen\n    myTmp = GetDeviceIndex(\"name\", myOrgName);\n    if (myTmp !== '') {\n\t  // Index-Eintrag gefunden\n      myTmpIndex = Number(myTmp);\n      \n      // Gleitenden Mittelwert fuer alle numerischen Werte\n      if (isNaN(myOrgValue) === false) {\n        if (myDeviceReadingsAvg[myTmpIndex] === undefined) {\n          // erstmalige / erneute Intialisierung\n          myDeviceReadingsAvg[myTmpIndex] = Number(myOrgValue);   \n        } else {\n          // Berechnung gleitender Mittelwert\n          myDeviceReadingsAvg[myTmpIndex] = FloatingAvg(myDeviceReadingsAvg[myTmpIndex], Number(myOrgValue), 2);\n        }\n        myAvgValue = myDeviceReadingsAvg[myTmpIndex];\n      } else {\n        myAvgValue = myOrgValue;\n      }\n      // neues msg-Objekt AVG zusammensetzen\n      myTmp = { \"ID_DEV\": myDeviceArray[myTmpIndex].ID_DEV,\n                \"READ_TIME\": msg.timestamp,\n                \"READ_VALUE\": myAvgValue,\n                \"DEV_NAME\": myDeviceArray[myTmpIndex].DEV_NAME,\n                \"DEV_TYP\": myDeviceArray[myTmpIndex].DEV_TYP,\n                \"DEV_DESC\": myDeviceArray[myTmpIndex].DEV_DESC,\n                \"DEV_LOC\": myDeviceArray[myTmpIndex].DEV_LOC,\n                \"DEV_VAL_DESC\": myDeviceArray[myTmpIndex].DEV_VAL_DESC,\n                \"DEV_VAL_UNIT\": myDeviceArray[myTmpIndex].DEV_VAL_UNIT,\n                \"DEV_MQTT\": myDeviceArray[myTmpIndex].DEV_MQTT,\n                \"DEV_FL_ACT\": myDeviceArray[myTmpIndex].DEV_FL_ACT,\n                \"DEV_FL_STO\": myDeviceArray[myTmpIndex].DEV_FL_STO,\n                \"DEV_FL_MQTT\": myDeviceArray[myTmpIndex].DEV_FL_MQTT,\n                \"DEV_FL_INT\": myDeviceArray[myTmpIndex].DEV_FL_INT\n              };\n      // console.log(myTmp);\n      // Push NEW-Insert in Msg-Ausgabe-Array\n      myResultsAvg.push( myTmp );\n      // if (myDeviceReadingsAvg[myTmpIndex] !== undefined) {\n      //   console.log(myDeviceReadingsAvg[myTmpIndex]);\n      // }\n\n      // Device-Reading behandeln, wenn ...\n      // - alle Device-Readings beruecksichtigt werden sollen\n\t  // - nur die Device-Readings beruecksichtigt werden sollen, die deren Werte sich geaendert haben\n\t  if ((myFlagNewOnly === 0) || ((myFlagNewOnly !== 0) && (myDeviceReadingsLast[myTmpIndex] !== myOrgValue))) {\n        // console.log(msg.timestamp + \" - \" + myOrgName + \" - \" + myOrgValue + \" - \" + myTmp + \" - \" + myDeviceArray[myTmpIndex].ID_DEV); \n        // neuen Wert merken  \n        myDeviceReadingsLast[myTmpIndex] = myOrgValue;  \n        // wenn das Flag fuer das Speichern in der Datenbank gesetzt ist ...\n        // SQL-Insert in SQl payload-Array ablegen\n        if ( Number(myDeviceArray[myTmpIndex].DEV_FL_STO) !== 0 ) {\n          //\n          // `ID_READ`     DATETIME(0) NOT NULL,\n          // `ID_DEV`      INT(10) UNSIGNED,\n          // `READ_TIME`   VARCHAR(25),\n          // `READ_VALUE`  VARCHAR(50),\n          // `READ_FLAG`   TINYINT UNSIGNED DEFAULT 0\n          //\n          // ID_READ wird automatisch vom Trigger der Datenbank gesetzt\n          //\n          // INSERT INTO SENSOR_READINGS (ID_DEV, READ_TIME, READ_VALUE) values ( '1', '2000-01-01 01:01:01', '47.11' );\n          // myTmp = \"INSERT INTO SENSOR_READINGS (ID_DEV, READ_TIME, READ_VALUE) values (\";\n          // myTmp = myTmp + \"'\" + myDeviceArray[myTmpIndex].ID_DEV + \"'\";\n          // myTmp = myTmp + \", '\" + msg.timestamp +  \"'\";\n          // myTmp = myTmp + \", '\" + myOrgValue +  \"'\";\n          // myTmp = myTmp + \");\"\n          //\n          // INSERT INTO SENSOR_READINGS SET ID_DEV='101901', READ_TIME='2000-01-01 01:01:01', READ_VALUE='47.11';\n          myTmp = \"INSERT INTO SENSOR_READINGS SET\";\n          myTmp = myTmp +  \" ID_DEV='\" + myDeviceArray[myTmpIndex].ID_DEV + \"'\";\n          myTmp = myTmp + \", READ_TIME='\" +  msg.timestamp + \"'\";\n          myTmp = myTmp + \", READ_VALUE='\" +  myOrgValue + \"'\";\n          myTmp = myTmp + \";\"\n          // console.log(myTmp);\n    \n          // Push SQL-Insert in Msg-Ausgabe-Array\n          // myResultsSql.push( {sql: myTmp} );\n          myResultsSql.push( myTmp );\n        }\n\n        // `ID_DEV`='100001', \n        // `DEV_NAME` = 'Weatherman', \n        // `DEV_TYP` = 'wm_temp'\n        // `DEV_DESC` = 'Wetterstation'\n        // `DEV_LOC` = 'Garten'\n        // `DEV_VAL_DESC` = 'Temperatur-Aussen'\n        // `DEV_VAL_UNIT` = '?C'\n        // `DEV_OLD_NAME` = 'name'\n        // `DEV_OLD_TYP` = '1'\n        // `DEV_MQTT` = '/myHOME/sensor/devices/Weatherman'\n        // `DEV_FL_ACT` = 1 \n        // `DEV_FL_STO` = 1 \n        // `DEV_FL_MQTT` = 1;\n        // `DEV_FL_INT` = 0;\n        \n        // neues msg-Objekt zusammensetzen\n        myTmp = { \"ID_DEV\": myDeviceArray[myTmpIndex].ID_DEV,\n                  \"READ_TIME\": msg.timestamp,\n                  \"READ_VALUE\": myOrgValue,\n                  \"DEV_NAME\": myDeviceArray[myTmpIndex].DEV_NAME,\n                  \"DEV_TYP\": myDeviceArray[myTmpIndex].DEV_TYP,\n                  \"DEV_DESC\": myDeviceArray[myTmpIndex].DEV_DESC,\n                  \"DEV_LOC\": myDeviceArray[myTmpIndex].DEV_LOC,\n                  \"DEV_VAL_DESC\": myDeviceArray[myTmpIndex].DEV_VAL_DESC,\n                  \"DEV_VAL_UNIT\": myDeviceArray[myTmpIndex].DEV_VAL_UNIT,\n                  \"DEV_MQTT\": myDeviceArray[myTmpIndex].DEV_MQTT,\n                  \"DEV_FL_ACT\": myDeviceArray[myTmpIndex].DEV_FL_ACT,\n                  \"DEV_FL_STO\": myDeviceArray[myTmpIndex].DEV_FL_STO,\n                  \"DEV_FL_MQTT\": myDeviceArray[myTmpIndex].DEV_FL_MQTT,\n                  \"DEV_FL_INT\": myDeviceArray[myTmpIndex].DEV_FL_INT\n                };\n        // console.log(myTmp);\n\n        // Push NEW-Insert in Msg-Ausgabe-Array\n        myResultsNew.push( myTmp );\n\n        // wenn MQTT Ausgabe, dann auch in MQTT-Liste uebernehmen\n        if ((myDeviceArray[myTmpIndex].DEV_FL_MQTT > 0) && (myDeviceArray[myTmpIndex].DEV_MQTT.length > 0)) {\n\n          // neues MQTT-Objekt zusammensetzen\n          myTmp = { \"ID_DEV\": myDeviceArray[myTmpIndex].ID_DEV,\n                    \"READ_TIME\": msg.timestamp,\n                    \"READ_VALUE\": myOrgValue,\n                    \"DEV_NAME\": myDeviceArray[myTmpIndex].DEV_NAME,\n                    \"DEV_TYP\": myDeviceArray[myTmpIndex].DEV_TYP,\n                    \"DEV_DESC\": myDeviceArray[myTmpIndex].DEV_DESC,\n                    \"DEV_LOC\": myDeviceArray[myTmpIndex].DEV_LOC,\n                    \"DEV_VAL_DESC\": myDeviceArray[myTmpIndex].DEV_VAL_DESC,\n                    \"DEV_VAL_UNIT\": myDeviceArray[myTmpIndex].DEV_VAL_UNIT,\n                    \"DEV_MQTT\": myDeviceArray[myTmpIndex].DEV_MQTT\n                  };\n          // console.log(myTmp);\n\n          // Push NEW-Insert in Msg-Ausgabe-Array\n          myResultsMqtt.push( myTmp );\n        }\n\n      } else {\n      // Wert hat sich nicht geaendert - Eintrag wird ignoriert\n      // console.log(myOrgName + \" - \" + myOrgValue + \" - unveraendert\"); \n      }\n\n    } else {\n      // keinen Index gefunden - Eintrag wird ignoriert\n      // console.log(myOrgName + \" - \" + myOrgValue + \" - !!! FEHLT !!!\");     \n    }\n\n  }\n  \n  // Flag fuer die Device-Reading Verarbeitung wird auf den Default-Wert gesetzt\n  // - muss beim Start auf 0 gesetzt sein, damit beim ersten eingehenden\n  //   JSON-Satz ALLE Werte fuer eine Initialiserung aller Reading-Slots \n  //   in den Flow-Bereiche einmalig uebernommen werden (gesamter Satz)\n  // - danach wird der Wert des globalen Flags 'myFlow_Flag_NewOnly_Default'\n  //   Flags gesetzt - so kann global gesteuert werden, ob dann nur neue \n  //   oder immer alle Readings verarbeitet werden sollen\n  flow.set('myFlow_Flag_NewOnly', myFlagNewOnlyDefault);\n\n}\n\n// neue Datensammlungen in msg-Objekt einhaengen\nmsg.payload_sys  = myResultsSys;\nmsg.payload_var  = myResultsNew;\nmsg.payload_avg  = myResultsAvg;\nmsg.payload_sql  = myResultsSql;\nmsg.payload_mqtt = myResultsMqtt;\n\nreturn msg;\n\n\nfunction FloatingAvg(fOldAvg, fNewVal, iDiv) {\n  // Berechnung Gleitender Mittelwert\n  // Der gleitende Mittelwert (gmw) einmal initialisiert \n  // und dann jeweils um einen neuen Wert (nw) wie folgt ergänzt:\n  // gmw = gmw – gmw / i + nw / i;\n  // Man zieht also den i-ten Teil vom Mittelwert ab und fügt den i-ten teil des neuen Wert hinzu.\n  // i muss immer größer gleich 1 sein.\n  // Je größer man i wählt, desto träger ändert sich der gmw.\n  // Bei i=1 ist gmw = nw.\n\n  var OldAvg = parseFloat(fOldAvg).toFixed(10);\n  var NewVal = parseFloat(fNewVal).toFixed(10);\n  var Div    = parseInt(iDiv);\n  \n  if (Div <= 0) { Div = 1; }\n  \n  var Add_1 = (OldAvg !== 0) ? OldAvg/iDiv : 0;\n  var Add_2 = (NewVal !== 0) ? NewVal/iDiv : 0;\n  \n  var myRtn = OldAvg - Add_1 + Add_2;\n  \n  return myRtn;\n}\n\nfunction GetDeviceIndex(sName, sTyp) {\n  // Gibt die lfd. Index-Nummer im 'myFlow_DeviceArray' zuruck,\n  // wenn 'sName' und 'sTyp ' gefunden wurden - ansonsten ''\n  var myIndex = '';\n  var myAnzahl = 0;\n  var myArray = [];\n\n  myAnzahl = flow.get (\"myFlow_DeviceArray_Count\");\n  myArray  = flow.get ('myFlow_DeviceArray');\n  \n  // console.log(myAnzahl);   \n  \n  for (var j = 0; j < myAnzahl; j=j+1) {\n      if ((myArray[j].DEV_OLD_NAME === sName ) && (myArray[j].DEV_OLD_TYP === sTyp)) {\n        // myIndex = myArray[j].ID_DEV;\n        myIndex = j;\n        j = myAnzahl;\n    }\n  }\n  return myIndex;\n}\n","outputs":1,"noerr":0,"x":1120,"y":430,"wires":[["b3c327ec.4ce248","d9262cd4.ebd0a","1bf75431.2890e","dc1a31ef.65997","f79d55c9.14f17","1ac96c79.39e13"]]},{"id":"e1b14db9.3d89f","type":"comment","z":"3a451a4e.63faca","name":"Version 1.0.0.0 - 13.12.2018 - Readme - WW-myHOME - Weatherman DB","info":"------------------------------------------------------------------------\nReadme - WW-myHOME - Weatherman DB\n------------------------------------------------------------------------\n(c) by Dipl.Ing. Wolfram Winter - wolfram.winter@web.de\n\nThis work is licensed under a\nCreative Commons Attribution-NonCommercial-ShareAlike 4.0 International License.\n\nYou should have received a copy of the license along with this work. If\nnot, see <http://creativecommons.org/licenses/by-nc-sa/4.0/>.\n\n------------------------------------------------------------------------\nFunktion:\n\nÜbernahme, Aufbereitung, Deployment und Visualisierung der per WiFi \nversandten Sensordaten der Wetterstation 'Weatherman' (Dr. Stall) \ndurch Node-RED\n\n------------------------------------------------------------------------\nDoku:\n\nhttps://github.com/wolwin/WW-myHOME/tree/master/myHOME%20-%20Weatherman\n\n------------------------------------------------------------------------\n    Erstellt:   10.11.2018 - Winter\n    Änderungen: 13.12.2018 - Winter\n                - Version 1.0.0.0\n------------------------------------------------------------------------\n","x":270,"y":30,"wires":[]},{"id":"8ed14a8b.7bbee8","type":"mqtt out","z":"3a451a4e.63faca","name":"Data to MQTT","topic":"","qos":"1","retain":"true","broker":"907d3f79.5c45a","x":1210,"y":750,"wires":[]},{"id":"a6fe2920.15a938","type":"mysql","z":"3a451a4e.63faca","mydb":"cc4f672b.e6b7c8","name":"","x":840,"y":810,"wires":[[]]},{"id":"b3c327ec.4ce248","type":"function","z":"3a451a4e.63faca","name":"VAR READINGS - Weatherman - DB","func":"// \n// Weatherman\n//\n// - SQL-Datenbank Devices INSERT zusammenfuegen \n//   oder x als leere Rueckgabe (keine Datenbankaktion)\n//\nvar mySqlAnzahl = 0;\nvar mySqlText = \"x\";\n\nmySqlAnzahl = msg.payload_sql.length;\nfor (var i = 0; i < mySqlAnzahl; i=i+1) {\n  if (i === 0) { mySqlText = \"\"; }  \n  mySqlText = mySqlText + \" \" + msg.payload_sql[i];\n}\n\nif (mySqlText !== \"x\") {\n  mySqlText = \"USE `myHOME`; \" +  mySqlText \n}\n\nmsg.topic = mySqlText;\n\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":630,"wires":[["785ab37c.78b3f"]]},{"id":"785ab37c.78b3f","type":"switch","z":"3a451a4e.63faca","name":"Check INSERT - DB","property":"topic","propertyType":"msg","rules":[{"t":"neq","v":"x","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":800,"y":690,"wires":[["68d9c8b2.1db898"]]},{"id":"68d9c8b2.1db898","type":"function","z":"3a451a4e.63faca","name":"DBdata - Flow on / off","func":"var state = flow.get('myFlow_Db_Flag') || 0;\nvar stateName = \"\";\n\nif (Number(flow.get('myFlow_Db_Flag')) === 0 ) {\n  var state = 0;\n  stateName = \"DB Flag - \"\n}\n\n// Display initial state\nif (state !== 0 ) {\n  node.status( {fill:\"green\", shape:\"dot\", text:\"on\"} );\n  return msg;\n} else {\n  node.status( {fill:\"red\", shape:\"ring\", text:stateName + \"off\"} );\n}","outputs":1,"noerr":0,"x":800,"y":750,"wires":[["a6fe2920.15a938"]]},{"id":"fe634a47.3191b8","type":"comment","z":"3a451a4e.63faca","name":"Weatherman DB - OUT - Database myHOME","info":"","x":730,"y":580,"wires":[]},{"id":"1bf75431.2890e","type":"function","z":"3a451a4e.63faca","name":"VAR READINGS - Weatherman - MQTT","func":"// \n// Weatherman\n//\n// - MQTT Devices einzeln versenden\n//   oder keine MQTT-Aktion\n//\nvar myMqttAnzahl = 0;\nvar myMqttMsg = msg.payload_mqtt;\nvar myMqttTop = '';\n\nmyMqttAnzahl = myMqttMsg.length;\nfor (var i = 0; i < myMqttAnzahl; i=i+1) {\n  \n  myMqttTop = myMqttMsg[i].DEV_MQTT;\n  myMqttMsg[i].DEV_MQTT = undefined;\n  \n  node.send( {topic:myMqttTop, payload:myMqttMsg[i]} );\n\n}\n\n// gesamtes Msg-Objekt loeschen\nmsg = undefined;\n\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":630,"wires":[["4f07fca5.260cac"]]},{"id":"4f07fca5.260cac","type":"function","z":"3a451a4e.63faca","name":"MQTTdata - Flow on / off","func":"var state = flow.get('myFlow_MqttData_Flag') || 0;\n\n// Display initial state\nif (state !== 0 ) {\n  node.status( {fill:\"green\", shape:\"dot\", text:\"on\"} );\n  return msg;\n} else {\n  node.status( {fill:\"red\", shape:\"ring\", text:\"off\"} );\n}","outputs":1,"noerr":0,"x":1180,"y":690,"wires":[["8ed14a8b.7bbee8"]]},{"id":"b137fc7c.02931","type":"comment","z":"3a451a4e.63faca","name":"Weatherman DB - OUT -  MQTT myHOME","info":"","x":1130,"y":580,"wires":[]},{"id":"d9262cd4.ebd0a","type":"change","z":"3a451a4e.63faca","name":"payload_var","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload_var","tot":"msg"},{"t":"delete","p":"payload_mqtt","pt":"msg"},{"t":"delete","p":"payload_sys","pt":"msg"},{"t":"delete","p":"payload_sql","pt":"msg"},{"t":"delete","p":"payload_avg","pt":"msg"},{"t":"delete","p":"timestamp","pt":"msg"},{"t":"delete","p":"payload_var","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":470,"wires":[["12de96aa.b448fd"]]},{"id":"ccc50aff.357e88","type":"ui_gauge","z":"3a451a4e.63faca","name":"Temperatur-Aussen","group":"b0d43de3.9d93a","order":1,"width":"3","height":"2","gtype":"gage","title":"{{payload.DEV_VAL_DESC}}","label":"{{payload.DEV_VAL_UNIT}}","format":"{{payload.READ_VALUE}}","min":"-20","max":"50","colors":["#0000e6","#73e600","#e67200"],"seg1":"","seg2":"","x":2110,"y":60,"wires":[]},{"id":"9e22367e.46a138","type":"switch","z":"3a451a4e.63faca","name":"Switch VAR","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"wm_sys_ip","vt":"str"},{"t":"eq","v":"wm_temp","vt":"str"},{"t":"eq","v":"wm_temp_windchill","vt":"str"},{"t":"eq","v":"wm_temp_dewpoint","vt":"str"},{"t":"eq","v":"wm_temp_sky","vt":"str"},{"t":"eq","v":"wm_hum_pro","vt":"str"},{"t":"eq","v":"wm_hum_abs","vt":"str"},{"t":"eq","v":"wm_rain_activity","vt":"str"},{"t":"eq","v":"wm_rain_status","vt":"str"},{"t":"eq","v":"wm_rain_intensity","vt":"str"},{"t":"eq","v":"wm_rain_volume_1","vt":"str"},{"t":"eq","v":"wm_rain_volume_24","vt":"str"},{"t":"eq","v":"wm_rain_yesterday","vt":"str"},{"t":"eq","v":"wm_rain_hours_24","vt":"str"},{"t":"eq","v":"wm_baro_nn","vt":"str"},{"t":"eq","v":"wm_baro_trend","vt":"str"},{"t":"eq","v":"wm_wind_avg","vt":"str"},{"t":"eq","v":"wm_wind_peak","vt":"str"},{"t":"eq","v":"wm_wind_force","vt":"str"},{"t":"eq","v":"wm_wind_direction","vt":"str"},{"t":"eq","v":"wm_wind_dir","vt":"str"},{"t":"eq","v":"wm_sun_lux","vt":"str"},{"t":"eq","v":"wm_sun_temp","vt":"str"},{"t":"eq","v":"wm_sun_temp_diff","vt":"str"},{"t":"eq","v":"wm_sun_status","vt":"str"},{"t":"eq","v":"wm_sun_elevation","vt":"str"},{"t":"eq","v":"wm_sun_azimut","vt":"str"},{"t":"eq","v":"wm_sun_today_hours","vt":"str"},{"t":"eq","v":"wm_sun_before_sunrise","vt":"str"},{"t":"eq","v":"wm_sun_before_sunset","vt":"str"},{"t":"eq","v":"wm_ground_hum","vt":"str"}],"checkall":"true","repair":false,"outputs":31,"x":1740,"y":430,"wires":[[],["ccc50aff.357e88","3eeeade3.7b059a"],["88971347.e5c6b"],["42742f68.75c57c"],[],["db02f94b.00c378"],["113c0ff.12dd57"],["e2277e80.6fcf4"],["e2277e80.6fcf4"],["8a075500.b42968"],["1d99b30e.08c249"],["6e5a83e4.14f338"],["c04a8e84.7bcc1"],["c04a8e84.7bcc1"],["6590dcb2.497234"],["ed455390.e67648"],["a79ca7ca.e15c2"],["686b8bb1.b7bbcc"],["ba45338a.ac5fe8"],["89c40194.068f48"],["89c40194.068f48"],["61746232.b43b8"],["3eeeade3.7b059a"],["3eeeade3.7b059a"],["77a962ba.7f34"],[],[],[],[],[],[]]},{"id":"12de96aa.b448fd","type":"function","z":"3a451a4e.63faca","name":"VAR Readings","func":"// \n// Weatherman\n//\n// - VAR Devices einzeln versenden\n//   oder keine VAR-Aktion\n//\nvar myVarAnzahl = 0;\n\nmyVarAnzahl = msg.payload.length;\nfor (var i = 0; i < myVarAnzahl; i=i+1) {\n\n  node.send( {topic:msg.payload[i].DEV_TYP, payload:msg.payload[i]} );\n\n}\n\nreturn [msg];","outputs":1,"noerr":0,"x":1530,"y":470,"wires":[["9e22367e.46a138"]]},{"id":"42742f68.75c57c","type":"ui_gauge","z":"3a451a4e.63faca","name":"Temperatur-Taupunkt","group":"b0d43de3.9d93a","order":4,"width":"3","height":"2","gtype":"gage","title":"{{payload.DEV_VAL_DESC}}","label":"{{payload.DEV_VAL_UNIT}}","format":"{{payload.READ_VALUE}}","min":"-20","max":"50","colors":["#0000e6","#73e600","#e67200"],"seg1":"","seg2":"","x":2110,"y":120,"wires":[]},{"id":"88971347.e5c6b","type":"ui_gauge","z":"3a451a4e.63faca","name":"Temperatur-Gefuehlt","group":"b0d43de3.9d93a","order":5,"width":"3","height":"2","gtype":"gage","title":"{{payload.DEV_VAL_DESC}}","label":"{{payload.DEV_VAL_UNIT}}","format":"{{payload.READ_VALUE}}","min":"-20","max":"50","colors":["#0000e6","#73e600","#e67200"],"seg1":"","seg2":"","x":2110,"y":90,"wires":[]},{"id":"b1b814bd.318ff8","type":"function","z":"3a451a4e.63faca","name":"Misc","func":"//\n// Weatherman\n//\nvar msgRtn = {};\n\nmsgRtn.topic   = msg.payload.DEV_VAL_DESC;\nmsgRtn.payload = parseFloat(msg.payload.READ_VALUE).toFixed(1);\n\nreturn msgRtn;","outputs":1,"noerr":0,"x":1930,"y":770,"wires":[["8fbb3165.164df"]]},{"id":"8fbb3165.164df","type":"ui_chart","z":"3a451a4e.63faca","name":"Verlauf-Temperatur","group":"d9cd92d6.7e9c7","order":9,"width":"0","height":"0","label":"Verlauf - Temperatur °C","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"x":2120,"y":800,"wires":[[],[]]},{"id":"db02f94b.00c378","type":"ui_gauge","z":"3a451a4e.63faca","name":"Luftfeuchtigkeit-Aussen (Prozent)","group":"b0d43de3.9d93a","order":6,"width":"3","height":"2","gtype":"gage","title":"{{payload.DEV_VAL_DESC}}","label":"{{payload.DEV_VAL_UNIT}}","format":"{{payload.READ_VALUE}}","min":"0","max":"100","colors":["#E6E600","#73e600","#0000e6"],"seg1":"","seg2":"","x":2070,"y":160,"wires":[]},{"id":"113c0ff.12dd57","type":"ui_gauge","z":"3a451a4e.63faca","name":"Luftfeuchtigkeit-Aussen (absolut)","group":"b0d43de3.9d93a","order":7,"width":"3","height":"2","gtype":"gage","title":"{{payload.DEV_VAL_DESC}}","label":"{{payload.DEV_VAL_UNIT}}","format":"{{payload.READ_VALUE}}","min":"0","max":"30","colors":["#E6E600","#73e600","#0000e6"],"seg1":"10","seg2":"20","x":2070,"y":190,"wires":[]},{"id":"9c44099a.7314f","type":"inject","z":"3a451a4e.63faca","name":"DEBUG - SET NewOnly - on","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":580,"wires":[["d68acc.ee6b3938"]]},{"id":"d68acc.ee6b3938","type":"function","z":"3a451a4e.63faca","name":"NewOnly - on","func":"// \n// Weatherman\n//\n\n// NewOnly - on\n\nvar myTmpNewOnly_Default = 1;\n\nflow.set('myFlow_Flag_NewOnly_Default', myTmpNewOnly_Default);\nflow.set('myFlow_Flag_NewOnly', 0);\n","outputs":1,"noerr":0,"x":420,"y":580,"wires":[[]]},{"id":"989178d6.90fbe","type":"function","z":"3a451a4e.63faca","name":"NewOnly - off","func":"// \n// Weatherman\n//\n\n// NewOnly - off\n\nvar myTmpNewOnly_Default = 0;\n\nflow.set('myFlow_Flag_NewOnly_Default', myTmpNewOnly_Default);\nflow.set('myFlow_Flag_NewOnly', 0);\n","outputs":1,"noerr":0,"x":420,"y":620,"wires":[[]]},{"id":"dcf656f0.3973c","type":"inject","z":"3a451a4e.63faca","name":"DEBUG - SET NewOnly - off","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":620,"wires":[["989178d6.90fbe"]]},{"id":"aaeab50.5c1be48","type":"function","z":"3a451a4e.63faca","name":"SYS Readings","func":"// \n// Weatherman\n//\n// - SYS Devices einzeln versenden\n//   oder keine SYS-Aktion\n//\nvar mySysAnzahl = 0;\n\nmySysAnzahl = msg.payload.length;\nfor (var i = 0; i < mySysAnzahl; i=i+1) {\n\n  node.send( {topic:msg.payload[i].DEV_TYP, payload:msg.payload[i]} );\n\n}\n\nreturn [msg];","outputs":1,"noerr":0,"x":1530,"y":430,"wires":[["93518f9e.0d51d8"]]},{"id":"93518f9e.0d51d8","type":"switch","z":"3a451a4e.63faca","name":"Switch SYS","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"wm_sys_mac-adr","vt":"str"},{"t":"eq","v":"wm_sys_hm-ccu-ip","vt":"str"},{"t":"eq","v":"wm_sys_wlan-ssid","vt":"str"},{"t":"eq","v":"wm_sys_wlan-signal-dbm","vt":"str"},{"t":"eq","v":"wm_sys_sec-seit-reset","vt":"str"},{"t":"eq","v":"wm_sys_zeitpunkt","vt":"str"},{"t":"eq","v":"wm_sys_firmware","vt":"str"}],"checkall":"true","repair":false,"outputs":7,"x":1740,"y":100,"wires":[[],[],[],[],[],[],[]]},{"id":"dc1a31ef.65997","type":"change","z":"3a451a4e.63faca","name":"payload_sys","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload_sys","tot":"msg"},{"t":"delete","p":"payload_mqtt","pt":"msg"},{"t":"delete","p":"payload_var","pt":"msg"},{"t":"delete","p":"payload_sql","pt":"msg"},{"t":"delete","p":"payload_avg","pt":"msg"},{"t":"delete","p":"timestamp","pt":"msg"},{"t":"delete","p":"payload_sys","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":430,"wires":[["aaeab50.5c1be48"]]},{"id":"39c239fc.cd3532","type":"comment","z":"3a451a4e.63faca","name":"Weatherman DB - Vars","info":"","x":1710,"y":180,"wires":[]},{"id":"66c76b04.cb5e64","type":"ui_gauge","z":"3a451a4e.63faca","name":"Luftdruck N.N.","group":"b0d43de3.9d93a","order":8,"width":"3","height":"2","gtype":"gage","title":"{{payload.DEV_VAL_DESC}}","label":"{{payload.DEV_VAL_UNIT}}","format":"{{payload.READ_VALUE}}","min":"960","max":"1060","colors":["#0000e6","#73e600","#e67200"],"seg1":"","seg2":"","x":2130,"y":230,"wires":[]},{"id":"130934e4.8657c7","type":"ui_text","z":"3a451a4e.63faca","group":"b0d43de3.9d93a","order":9,"width":"3","height":"2","name":"Luftdruck-Trend","label":"{{payload.DEV_VAL_DESC}}","format":"{{payload.READ_VALUE}}","layout":"col-center","x":2130,"y":260,"wires":[]},{"id":"6590dcb2.497234","type":"function","z":"3a451a4e.63faca","name":"Misc","func":"\n//\n// Weatherman\n//\n// Ergaenzt DEV_VAL_UNIT mit allgemeinen Luftdruckangaben\n// und berechnet den N.N. Luftdruck \n// \n// < 980      sehr tief - stuermisch \n// 980-1000   tief - regnerisch \n// 1000-1020  normal - wechselhaft \n// 1020-1040  hoch - sonnig \n// > 1040     sehr hoch - sehr trocken\n\nvar myVal      = msg.payload.READ_VALUE;\nvar myValHoehe = flow.get(\"myFlow_Baro_NN\");\n\nvar myTxt = \"\";\n\nmyVal      = Number(myVal).toFixed(1);\nmyValHoehe = Number(myValHoehe).toFixed(0);\n\nswitch (true) {\n  case (myVal < 980):                   myTxt = \"sehr tief - stürmisch\";    break;\n  case ( 980 <= myVal && myVal < 1000): myTxt = \"tief - regnerisch\";        break;\n  case (1000 <= myVal && myVal < 1020): myTxt = \"normal - wechselhaft\";     break;\n  case (1020 <= myVal && myVal < 1040): myTxt = \"hoch - sonnig\";            break;\n  case (myVal > 1000):                  myTxt = \"sehr hoch - sehr trocken\"; break;\n}\n\nmsg.payload.DEV_VAL_DESC = msg.payload.DEV_VAL_DESC;\nmsg.payload.READ_VALUE   = myVal;\n// msg.payload.DEV_VAL_UNIT = msg.payload.DEV_VAL_UNIT + \" (\" + myValHoehe +\" m ü. N.N.)\\n\" + myTxt;\nmsg.payload.DEV_VAL_UNIT = msg.payload.DEV_VAL_UNIT + \"\\n\" + myTxt;\n\nreturn msg;","outputs":1,"noerr":0,"x":1930,"y":230,"wires":[["66c76b04.cb5e64"]]},{"id":"7cb9f2f8.d5321c","type":"ui_gauge","z":"3a451a4e.63faca","name":"Wind-Staerke","group":"2ebc5c58.76aeec","order":8,"width":"3","height":"2","gtype":"gage","title":"{{payload.DEV_VAL_DESC}}","label":"{{payload.DEV_VAL_UNIT}}","format":"{{payload.READ_VALUE}}","min":"0","max":"12","colors":["#0000e6","#73e600","#e67200"],"seg1":"","seg2":"","x":2130,"y":300,"wires":[]},{"id":"22ad9b7c.93d324","type":"ui_gauge","z":"3a451a4e.63faca","name":"Wind-Staerke AVG","group":"2ebc5c58.76aeec","order":10,"width":"3","height":"2","gtype":"gage","title":"{{payload.DEV_VAL_DESC}}","label":"{{payload.DEV_VAL_UNIT}}","format":"{{payload.READ_VALUE}}","min":"0","max":"120","colors":["#0000e6","#73e600","#e67200"],"seg1":"","seg2":"","x":2120,"y":390,"wires":[]},{"id":"62eb23e3.9e966","type":"ui_gauge","z":"3a451a4e.63faca","name":"Wind-Staerke PEAK","group":"2ebc5c58.76aeec","order":11,"width":"3","height":"2","gtype":"gage","title":"{{payload.DEV_VAL_DESC}}","label":"{{payload.DEV_VAL_UNIT}}","format":"{{payload.READ_VALUE}}","min":"0","max":"120","colors":["#0000e6","#73e600","#e67200"],"seg1":"","seg2":"","x":2110,"y":360,"wires":[]},{"id":"ed455390.e67648","type":"function","z":"3a451a4e.63faca","name":"Misc","func":"//\n// Weatherman\n//\n// Entfernt Unterstrich im Baro-Trend und\n// ersetzt ihn durch ein Leerzeichen\n\nvar str = msg.payload.READ_VALUE;\nvar pos = str.indexOf(\"_\");\n\nif (pos > 0) {\n  msg.payload.READ_VALUE = str.slice(0, pos) + \" \" + str.slice(pos+1);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1930,"y":260,"wires":[["130934e4.8657c7"]]},{"id":"89c40194.068f48","type":"function","z":"3a451a4e.63faca","name":"Misc","func":"// \n//\n//\n// wm_wind_dir\n// Label: {{payload.DEV_VAL_DESC}}\n// Value: {{payload.READ_VALUE}}\n// Units: {{payload.DEV_VAL_UNIT}}\n\nvar msgRtn = {};\n\nvar my_wind_desc  = context.get(\"my_wind_desc\")  || context.set(\"my_wind_desc\",  \"?\");\nvar my_wind_value = context.get(\"my_wind_value\") || context.set(\"my_wind_value\", 0);\nvar my_wind_unit  = context.get(\"my_wind_unit\")  || context.set(\"my_wind_unit\",  \"?\");\nvar my_wind_udir  = context.get(\"my_wind_udir\")  || context.set(\"my_wind_udir\",  \"?\");\n\n// console.log (\"### DEV_TYP ### = \" + msg.payload.DEV_TYP);\n\nif ( msg.payload.DEV_TYP === \"wm_wind_dir\" ) {\n  context.set('my_wind_desc' , msg.payload.DEV_VAL_DESC);\n  context.set('my_wind_value', msg.payload.READ_VALUE);\n  context.set('my_wind_unit' , msg.payload.DEV_VAL_UNIT);\n}\nif ( msg.payload.DEV_TYP === \"wm_wind_direction\" ) {\n  context.set('my_wind_udir', msg.payload.READ_VALUE);\n}\n\n// console.log (\"- my_wind_desc  = \" + context.get('my_wind_desc'));\n// console.log (\"- my_wind_value = \" + context.get('my_wind_value'));\n// console.log (\"- my_wind_unit  = \" + context.get('my_wind_unit'));\n// console.log (\"- my_wind_udir  = \" + context.get('my_wind_udir'));\n// console.log (\"=\");\n\nmsgRtn.topic   = context.get('my_wind_desc');\nmsgRtn.payload = context.get('my_wind_value') + context.get('my_wind_unit');\nmsgRtn.units   = \"\\n\\n\" + context.get('my_wind_udir');\n\nreturn msgRtn;","outputs":1,"noerr":0,"x":1930,"y":330,"wires":[["1ce3c68d.56f54d"]]},{"id":"1ce3c68d.56f54d","type":"ui_gauge","z":"3a451a4e.63faca","name":"Wind-Richtung X","group":"2ebc5c58.76aeec","order":9,"width":"3","height":"2","gtype":"compass","title":"{{topic}}","label":"{{units}}","format":"{{payload}}","min":0,"max":"360","colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":2120,"y":330,"wires":[]},{"id":"ba45338a.ac5fe8","type":"function","z":"3a451a4e.63faca","name":"Misc","func":"\n//\n// Weatherman\n//\n// Ergaenzt DEV_VAL_UNIT mit allgemeinen Wind-Angaben\n// \n\n// https://de.wikipedia.org/wiki/Beaufortskala\n// Windstärke\n// in Bft  Bezeichnung         m/s         km/h  \n// 0   Windstille, Flaute   0,0 – < 0,3    0 – 1\n// 1   leiser Zug           0,3 – < 1,6    1 – 5\n// 2   leichte Brise        1,6 – < 3,4    6 – 11\n// 3   schwache Brise       3,4 – < 5,5   12 – 19\n// 4   mäßige Brise         5,5 – < 8,0   20 – 28\n// 5   frische Brise        8,0 – < 10,8  29 – 38\n// 6   starker Wind        10,8 – < 13,9  39 – 49\n// 7   steifer Wind        13,9 – < 17,2  50 – 61\n// 8   stürmischer Wind    17,2 – < 20,8  62 – 74\n// 9   Sturm               20,8 – < 24,5  75 – 88\n// 10  schwerer Sturm      24,5 – < 28,5  89 – 102\n// 11  orkanartiger Sturm  28,5 – < 32,7 103 – 117\n// 12  Orkan                    ≥ 32,7       ≥ 118  \n\nvar myTxt   = \"\";\nvar myTxtKm = \"\";\nvar myVal   = Number(msg.payload.READ_VALUE);\n\nif (isNaN(myVal)) {\n  myVal = 0;\n}\n\nswitch (true) {\n  case (myVal === 0):  myTxt = \"Windstille\";         myTxtKm = \"0-1\";      break;\n  case (myVal === 1):  myTxt = \"leiser Zug\";         myTxtKm = \"1-5\";      break;\n  case (myVal === 2):  myTxt = \"leichte Brise\";      myTxtKm = \"6-11\";     break;\n  case (myVal === 3):  myTxt = \"schwache Brise\";     myTxtKm = \"12-19\";    break;\n  case (myVal === 4):  myTxt = \"mäßige Brise\";       myTxtKm = \"20-28\";    break;\n  case (myVal === 5):  myTxt = \"frische Brise\";      myTxtKm = \"29-38\";    break;\n  case (myVal === 6):  myTxt = \"starker Wind\";       myTxtKm = \"39-49\";    break;\n  case (myVal === 7):  myTxt = \"steifer Wind\";       myTxtKm = \"50-61\";    break;\n  case (myVal === 8):  myTxt = \"stürmischer Wind\";   myTxtKm = \"62-74\";    break;\n  case (myVal === 9):  myTxt = \"Sturm\";              myTxtKm = \"75-88\";    break;\n  case (myVal === 10): myTxt = \"schwerer Sturm\";     myTxtKm = \"89-102\";   break;\n  case (myVal === 11): myTxt = \"orkanartiger Sturm\"; myTxtKm = \"103-117\";  break;\n  case (myVal === 12): myTxt = \"Orkan\";              myTxtKm = \"≥118\";     break;\n}\n\nmsg.payload.DEV_VAL_UNIT = msg.payload.DEV_VAL_UNIT + \" (\" + myTxtKm + \" km/h)\" + \"\\n\" + myTxt;\n\nreturn msg;","outputs":1,"noerr":0,"x":1930,"y":300,"wires":[["7cb9f2f8.d5321c"]]},{"id":"5445d228.14c108","type":"ui_text","z":"3a451a4e.63faca","group":"bc8c0d14.2ff3a","order":13,"width":"3","height":"2","name":"Regen-Status X","label":"{{msg.payload}}","format":"<font color={{msg.color}}><i class=\"fa fa-circle\" style=\"font-size:10px;\"></i></font>","layout":"row-spread","x":2130,"y":460,"wires":[]},{"id":"e2277e80.6fcf4","type":"function","z":"3a451a4e.63faca","name":"Misc","func":"\n//\n// Weatherman\n//\n// LED Regenstatus\n// \n// wm_rain_xxx\n// Label: {{payload.DEV_VAL_DESC}}\n// Value: {{payload.READ_VALUE}}\n// Units: {{payload.DEV_VAL_UNIT}}\n//\n// <font color={{msg.color}}><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>\n// <font color={{msg.color}}><i class=\"fa fa-lightbulb-o fa-2x nr-dashboard-ok\" style=\"font-size:24px;\"></i></font>\n// <font color={{msg.color}}><i class=\"fa fa-lightbulb-o fa-2x nr-dashboard-warning\" style=\"font-size:24px;\"></i></font>\n// <font color={{msg.color}}><i class=\"fa fa-lightbulb-o fa-2x nr-dashboard-error\" style=\"font-size:24px;\"></i></font>\n// <font color={{msg.color}}><i class=\"fa fa-lightbulb-o fa-2x nr-dashboard-dim\" style=\"font-size:24px;\"></i></font>\n// <font color={{msg.color}}><i class=\"fa fa-lightbulb-o fa-2x nr-dashboard-color\" style=\"font-size:24px;\"></i></font>\n\nvar msgRtn = {};\n\nvar my_rain_desc   = context.get(\"my_rain_desc\")   || context.set(\"my_rain_desc\",   \"Regen-Status\");\nvar my_rain_value  = context.get(\"my_rain_value\")  || context.set(\"my_rain_value\",  0);\nvar my_rain_status = context.get(\"my_rain_status\") || context.set(\"my_rain_status\", false);\n\n// console.log (\"### DEV_TYP ### = \" + msg.payload.DEV_TYP);\n\nif ( msg.payload.DEV_TYP === \"wm_rain_activity\" ) {\n  context.set('my_rain_value', msg.payload.READ_VALUE);\n}\nif ( msg.payload.DEV_TYP === \"wm_rain_status\" ) {\n  context.set('my_rain_desc'  , msg.payload.DEV_VAL_DESC);\n  context.set('my_rain_status', msg.payload.READ_VALUE);\n}\n\n// console.log (\"- my_rain_desc   = \" + context.get('my_rain_desc'));\n// console.log (\"- my_rain_status = \" + context.get('my_rain_status'));\n// console.log (\"- my_rain_value  = \" + context.get('my_rain_value'));\n// console.log (\"=\");\n\nmsgRtn.color   = (context.get('my_rain_status') === false) ? \"#B8B8B8\" : \"#0072E6\";\nmsgRtn.payload = context.get('my_rain_desc') + \"\\n\\n[\" + context.get('my_rain_value') + \"]\";\n\nreturn msgRtn;","outputs":1,"noerr":0,"x":1930,"y":460,"wires":[["5445d228.14c108"]]},{"id":"8a075500.b42968","type":"ui_gauge","z":"3a451a4e.63faca","name":"Regen-Staerke","group":"bc8c0d14.2ff3a","order":12,"width":"3","height":"2","gtype":"gage","title":"{{payload.DEV_VAL_DESC}}","label":"{{payload.DEV_VAL_UNIT}}","format":"{{payload.READ_VALUE}}","min":"0","max":"50","colors":["#73B8FE","#0072E6","#0000e6"],"seg1":"","seg2":"","x":2130,"y":430,"wires":[]},{"id":"1d99b30e.08c249","type":"ui_gauge","z":"3a451a4e.63faca","name":"Regen-Vol-1","group":"bc8c0d14.2ff3a","order":14,"width":"3","height":"2","gtype":"gage","title":"{{payload.DEV_VAL_DESC}}","label":"{{payload.DEV_VAL_UNIT}}","format":"{{payload.READ_VALUE}}","min":"0","max":"50","colors":["#73B8FE","#0072E6","#0000e6"],"seg1":"","seg2":"","x":2140,"y":490,"wires":[]},{"id":"6e5a83e4.14f338","type":"ui_gauge","z":"3a451a4e.63faca","name":"Regen-Vol-24","group":"bc8c0d14.2ff3a","order":15,"width":"3","height":"2","gtype":"gage","title":"{{payload.DEV_VAL_DESC}}","label":"{{payload.DEV_VAL_UNIT}}","format":"{{payload.READ_VALUE}}","min":"0","max":"50","colors":["#73B8FE","#0072E6","#0000e6"],"seg1":"","seg2":"","x":2130,"y":520,"wires":[]},{"id":"c04a8e84.7bcc1","type":"ui_gauge","z":"3a451a4e.63faca","name":"Regen-Vol-Y","group":"bc8c0d14.2ff3a","order":16,"width":"3","height":"2","gtype":"gage","title":"{{payload.DEV_VAL_DESC}}","label":"{{payload.DEV_VAL_UNIT}}","format":"{{payload.READ_VALUE}}","min":"0","max":"50","colors":["#73B8FE","#0072E6","#0000e6"],"seg1":"","seg2":"","x":2140,"y":550,"wires":[]},{"id":"b66684a1.5145f","type":"ui_text","z":"3a451a4e.63faca","group":"bc8c0d14.2ff3a","order":17,"width":"3","height":"2","name":"Regen-LEER","label":"","format":"","layout":"row-spread","x":2140,"y":580,"wires":[]},{"id":"10c284fe.758d2b","type":"ui_gauge","z":"3a451a4e.63faca","name":"Sonne-Lux","group":"7fabc34f.1e9ce","order":18,"width":"3","height":"2","gtype":"gage","title":"{{payload.DEV_VAL_DESC}}","label":"{{payload.DEV_VAL_UNIT}}","format":"{{payload.READ_VALUE}}","min":"0","max":"20000","colors":["#575700","#D7D700","#fefe3b"],"seg1":"","seg2":"","x":2140,"y":620,"wires":[]},{"id":"61746232.b43b8","type":"function","z":"3a451a4e.63faca","name":"Misc","func":"\n//\n// Weatherman\n//\n// Rundet READ_VALUE ohne Nachkommastellen\n// \n\nmsg.payload.READ_VALUE = parseFloat(msg.payload.READ_VALUE).toFixed(0);\n\nreturn msg;","outputs":1,"noerr":0,"x":1930,"y":620,"wires":[["10c284fe.758d2b"]]},{"id":"dca44a.a036e7b8","type":"ui_gauge","z":"3a451a4e.63faca","name":"Sonne-Temperatur","group":"7fabc34f.1e9ce","order":20,"width":"3","height":"2","gtype":"gage","title":"{{topic}}","label":"{{units}}","format":"{{payload}}","min":"-20","max":"50","colors":["#0000e6","#73e600","#e67200"],"seg1":"","seg2":"","x":2120,"y":680,"wires":[]},{"id":"3eeeade3.7b059a","type":"function","z":"3a451a4e.63faca","name":"Misc","func":"\n//\n// Weatherman\n//\n// LED Sonnenstatus\n// \n// wm_sun_xxx\n// Label: {{payload.DEV_VAL_DESC}}\n// Value: {{payload.READ_VALUE}}\n// Units: {{payload.DEV_VAL_UNIT}}\n//\n// <font color={{msg.color}}><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>\n// <font color={{msg.color}}><i class=\"fa fa-lightbulb-o fa-2x nr-dashboard-ok\" style=\"font-size:24px;\"></i></font>\n// <font color={{msg.color}}><i class=\"fa fa-lightbulb-o fa-2x nr-dashboard-warning\" style=\"font-size:24px;\"></i></font>\n// <font color={{msg.color}}><i class=\"fa fa-lightbulb-o fa-2x nr-dashboard-error\" style=\"font-size:24px;\"></i></font>\n// <font color={{msg.color}}><i class=\"fa fa-lightbulb-o fa-2x nr-dashboard-dim\" style=\"font-size:24px;\"></i></font>\n// <font color={{msg.color}}><i class=\"fa fa-lightbulb-o fa-2x nr-dashboard-color\" style=\"font-size:24px;\"></i></font>\n\nvar msgRtn = {};\nvar myVal = 0;\n\nvar my_temp_desc  = context.get(\"my_temp_desc\")  || context.set(\"my_temp_desc\",  \"Temperatur\");\nvar my_temp_value = context.get(\"my_temp_value\") || context.set(\"my_temp_value\", 0);\nvar my_temp_unit  = context.get(\"my_temp_unit\")  || context.set(\"my_temp_unit\",  \"°C\");\n\nvar my_sun_flag  = context.get(\"my_sun_flag\")  || context.set(\"my_sun_flag\",  false);\nvar my_sun_desc  = context.get(\"my_sun_desc\")  || context.set(\"my_sun_desc\",  \"Sonne-Temperatur\");\nvar my_sun_value = context.get(\"my_sun_value\") || context.set(\"my_sun_value\", 0);\nvar my_sun_unit  = context.get(\"my_sun_unit\")  || context.set(\"my_sun_unit\",  \"°C\");\nvar my_sun_delta = context.get(\"my_sun_delta\") || context.set(\"my_sun_delta\", 0);\n\nvar my_sun_diff_desc  = context.get(\"my_sun_diff_desc\")  || context.set(\"my_sun_diff_desc\",  \"Sonne-Diff.Temp.\");\nvar my_sun_diff_value = context.get(\"my_sun_diff_value\") || context.set(\"my_sun_diff_value\", 0);\nvar my_sun_diff_unit  = context.get(\"my_sun_diff_unit\")  || context.set(\"my_sun_diff_unit\",  \"°C\");\n\n// console.log (\"### DEV_TYP ### = \" + msg.payload.DEV_TYP);\n\nif ( msg.payload.DEV_TYP === \"wm_sun_temp_diff\" ) {\n  context.set('my_sun_diff_desc' , msg.payload.DEV_VAL_DESC);\n  context.set('my_sun_diff_value', msg.payload.READ_VALUE);\n  context.set('my_sun_diff_unit' , msg.payload.DEV_VAL_UNIT);\n}\nif ( msg.payload.DEV_TYP === \"wm_sun_temp\" ) {\n  context.set('my_sun_desc' , msg.payload.DEV_VAL_DESC);\n  context.set('my_sun_value', msg.payload.READ_VALUE);\n  context.set('my_sun_unit' , msg.payload.DEV_VAL_UNIT);\n  context.set('my_sun_flag' , true);\n}\nif ( msg.payload.DEV_TYP === \"wm_temp\" ) {\n  context.set('my_temp_desc' , msg.payload.DEV_VAL_DESC);\n  context.set('my_temp_value', msg.payload.READ_VALUE);\n  context.set('my_temp_unit' , msg.payload.DEV_VAL_UNIT);\n}\n\n// console.log (\"- my_temp_desc  = \" + context.get('my_temp_desc'));\n// console.log (\"- my_temp_value = \" + context.get('my_temp_value'));\n// console.log (\"- my_temp_unit  = \" + context.get('my_temp_unit'));\n// console.log (\"- my_sun_desc  = \" + context.get('my_sun_desc'));\n// console.log (\"- my_sun_value = \" + context.get('my_sun_value'));\n// console.log (\"- my_sun_unit  = \" + context.get('my_sun_unit'));\n// console.log (\"- my_sun_flag  = \" + context.get('my_sun_flag'));\n// console.log (\"- my_sun_diff_desc  = \" + context.get('my_sun_diff_desc'));\n// console.log (\"- my_sun_diff_value = \" + context.get('my_sun_diff_value'));\n// console.log (\"- my_sun_diff_unit  = \" + context.get('my_sun_diff_unit'));\n// console.log (\"=\");\n\nif (context.get('my_sun_flag') === true) {\n  myVal = context.get('my_sun_value');\n} else {\n  myVal = context.get('my_temp_value') + context.get('my_diff_value');\n}\nif (isNaN(myVal)) {\n  myVal = 0;\n}\nmyVal = parseFloat(myVal).toFixed(1);\n\nmsgRtn.topic   = context.get('my_sun_desc');\nmsgRtn.payload = myVal;\nmsgRtn.units   = context.get('my_sun_unit') + \"\\nDelta Temp. \" + context.get('my_sun_diff_value') + \" \" + context.get('my_sun_diff_unit');\n\nreturn msgRtn;","outputs":1,"noerr":0,"x":1930,"y":680,"wires":[["dca44a.a036e7b8"]]},{"id":"af6d08ca.f311","type":"ui_text","z":"3a451a4e.63faca","group":"7fabc34f.1e9ce","order":19,"width":"3","height":"2","name":"Sonne-Status X","label":"{{msg.payload}}","format":"<font color={{msg.color}}><i class=\"fa fa-circle\" style=\"font-size:10px;\"></i></font>","layout":"row-spread","x":2130,"y":650,"wires":[]},{"id":"77a962ba.7f34","type":"function","z":"3a451a4e.63faca","name":"Misc","func":"\n//\n// Weatherman\n//\n// LED Sonnenstatus\n// \n// wm_sun_xxx\n// Label: {{payload.DEV_VAL_DESC}}\n// Value: {{payload.READ_VALUE}}\n// Units: {{payload.DEV_VAL_UNIT}}\n//\n// <font color={{msg.color}}><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>\n// <font color={{msg.color}}><i class=\"fa fa-lightbulb-o fa-2x nr-dashboard-ok\" style=\"font-size:24px;\"></i></font>\n// <font color={{msg.color}}><i class=\"fa fa-lightbulb-o fa-2x nr-dashboard-warning\" style=\"font-size:24px;\"></i></font>\n// <font color={{msg.color}}><i class=\"fa fa-lightbulb-o fa-2x nr-dashboard-error\" style=\"font-size:24px;\"></i></font>\n// <font color={{msg.color}}><i class=\"fa fa-lightbulb-o fa-2x nr-dashboard-dim\" style=\"font-size:24px;\"></i></font>\n// <font color={{msg.color}}><i class=\"fa fa-lightbulb-o fa-2x nr-dashboard-color\" style=\"font-size:24px;\"></i></font>\n\nvar msgRtn = {};\n\nmsgRtn.payload = msg.payload.DEV_VAL_DESC;\nmsgRtn.color   = (msg.payload.READ_VALUE === false) ? \"#B8B8B8\" : \"#E6E600\";\n\nreturn msgRtn;","outputs":1,"noerr":0,"x":1930,"y":650,"wires":[["af6d08ca.f311"]]},{"id":"8d16931b.70343","type":"function","z":"3a451a4e.63faca","name":"Misc","func":"//\n// Weatherman\n//\nvar msgRtn = {};\n\nmsgRtn.topic   = msg.payload.DEV_VAL_DESC;\nmsgRtn.payload = parseFloat(msg.payload.READ_VALUE).toFixed(1);\n\nreturn msgRtn;","outputs":1,"noerr":0,"x":1930,"y":800,"wires":[["8fbb3165.164df"]]},{"id":"162cdb90.eee948","type":"function","z":"3a451a4e.63faca","name":"Misc","func":"//\n// Weatherman\n//\nvar msgRtn = {};\n\nmsgRtn.topic   = msg.payload.DEV_VAL_DESC;\nmsgRtn.payload = parseFloat(msg.payload.READ_VALUE).toFixed(1);\n\nreturn msgRtn;","outputs":1,"noerr":0,"x":1930,"y":830,"wires":[["3038d64c.f18d56"]]},{"id":"3038d64c.f18d56","type":"ui_chart","z":"3a451a4e.63faca","name":"Verlauf-Luftfeuchtigkeit","group":"d9cd92d6.7e9c7","order":9,"width":0,"height":0,"label":"Verlauf - Luftfeuchtigkeit %","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"x":2110,"y":830,"wires":[[],[]]},{"id":"a17f65d.677a4d8","type":"function","z":"3a451a4e.63faca","name":"Misc","func":"//\n// Weatherman\n//\nvar msgRtn = {};\n\nmsgRtn.topic   = msg.payload.DEV_VAL_DESC;\nmsgRtn.payload = parseFloat(msg.payload.READ_VALUE).toFixed(1);\n\nreturn msgRtn;","outputs":1,"noerr":0,"x":1930,"y":860,"wires":[["4fa719a.0869a68"]]},{"id":"4fa719a.0869a68","type":"ui_chart","z":"3a451a4e.63faca","name":"Verlauf-Luftdruck","group":"d9cd92d6.7e9c7","order":9,"width":"0","height":"0","label":"Verlauf - Luftdruck hPa","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"x":2120,"y":860,"wires":[[],[]]},{"id":"c75ab09e.cacfd","type":"ui_text","z":"3a451a4e.63faca","group":"b0d43de3.9d93a","order":2,"width":"3","height":"2","name":"WM - Status - LED","label":"{{msg.txtled}}","format":"<font color={{msg.ledcolor}}><i class=\"fa fa-circle\" style=\"font-size:10px;\"></i></font>","layout":"row-spread","x":1190,"y":300,"wires":[]},{"id":"560347dc.13047","type":"function","z":"3a451a4e.63faca","name":"Status","func":"\n//\n// Weatherman\n//\n// Status Text und LED\n// \n\nvar msgRtn = {};\n\nvar myColor = \"#B8B8B8\";\nvar myTxtLed     = \"Verbunden\";\nvar myTxtStatus  = \"aktiv\";\nvar myMqttStatus = \"online\";\nvar myJsonStatus = \"ok.\";\nvar myJsonError  = \"\";\nvar myWlanStatus = flow.get('myFlow_Wlan_signal') + \" dBm\";\n                   if (flow.get('myFlow_Wlan_ssid') !== \"?\") {\n                     myWlanStatus = flow.get('myFlow_Wlan_ssid') + \" (\" + myWlanStatus + \")\";\n                   }\nvar myModulID    = flow.get('myFlow_ModulID');\nvar myModulID_FW = flow.get('myFlow_ModulID_FW');\n\n    if (msg !== null) {\n      if (msg.payload === 1) {\n        myColor = \"lime\";\n      } else if (msg.payload === 0) {\n        myColor = \"blue\";\n        myTxtStatus = \"Empfang\";\n      } else if (msg.payload === \"con_ok\") {\n        myColor = \"green\";\n      } else if (msg.payload === \"con_timeout\") {\n        myColor = \"red\";\n        myTxtLed     = \"Verbindung unterbrochen\";\n        myTxtStatus  = \"unterbrochen\";\n        myMqttStatus = \"offline\";\n        myWlanStatus = \"-\";\n        myModulID    = \"-\";\n        myModulID_FW = \"-\"; \n      }\n      if (msg.error !== undefined) {\n        // Timestamp\n        var myTime = new Date();\n        myTime = (myTime.getFullYear() + '-' + ('00' + (myTime.getMonth()+1)).slice(-2) + '-' + ('00' + myTime.getDate()).slice(-2) + ' ' + ('00' + myTime.getHours()).slice(-2) + ':' + ('00' + myTime.getMinutes()).slice(-2) + ':' + ('00' + myTime.getSeconds()).slice(-2));\n        msg.timestamp = myTime;\n        // Fehler\n        myColor = \"yellow\";\n        myJsonStatus = \"JSON Fehler:\";\n        myTxtLed     = \"JSON Fehler\";\n        myTxtStatus  = myTxtLed;\n        myMqttStatus = \"offline\";\n        myJsonError  = msg.error;\n      }\n    }\n\nmsgRtn.payload    = msg.payload;\nmsgRtn.timestamp  = msg.timestamp;\nmsgRtn.txtled     = myTxtLed;\nmsgRtn.txtstatus  = myTxtStatus;\nmsgRtn.mqttstatus = myMqttStatus;\nmsgRtn.jsonstatus = myJsonStatus;\nmsgRtn.jsonerror  = myJsonError;\nmsgRtn.ledcolor   = myColor;\nmsgRtn.wlan       = myWlanStatus;\nmsgRtn.iddev      = myModulID;\nmsgRtn.iddevfw    = myModulID_FW;\n\nreturn msgRtn;","outputs":1,"noerr":0,"x":1010,"y":300,"wires":[["c75ab09e.cacfd","ecc49f76.54c5e","9bbd4c26.de94e"]]},{"id":"dc4bd7f0.96a828","type":"mqtt out","z":"3a451a4e.63faca","name":"State to MQTT","topic":"","qos":"1","retain":"true","broker":"907d3f79.5c45a","x":1430,"y":250,"wires":[]},{"id":"9bbd4c26.de94e","type":"function","z":"3a451a4e.63faca","name":"MQTTstate - Flow on / off","func":"\n//\n// Weatherman\n//\n// MQTT Online Status \n// \n\nvar myMqttMsg = [];\nvar myTmp = \"\";\n\nvar myDevFlag = flow.get('myFlow_MqttState_Flag') || 0;\nvar myDevName = flow.get('myFlow_MqttState_DevName');\nvar myDevMqtt = flow.get('myFlow_MqttState_DevMqtt');\n\n// Display initial state\nif (myDevFlag !== 0 ) {\n  node.status( {fill:\"green\", shape:\"dot\", text:\"on\"} );\n} else {\n  node.status( {fill:\"red\", shape:\"ring\", text:\"off\"} );\n}\n\n// MQTTstatus\nif (myDevFlag && myDevMqtt && myDevMqtt.length > 0) {\n\n  myTmp = { \"DEV_NAME\":myDevName,\n            \"READ_TIME\": msg.timestamp,\n            \"state\":msg.mqttstatus,\n            \"wlan\":msg.wlan,\n            \"iddev\":msg.iddev,\n            \"iddevfw\":msg.iddevfw,\n            \"ledcolor\":msg.ledcolor,\n            \"txtled\":msg.txtled,\n            \"txtstatus\":msg.txtstatus,\n            \"jsonstatus\":msg.jsonstatus,\n            \"jsonerror\":msg.jsonerror\n            // , \"DEV_MQTT\":myDevMqtt\n          };\n  myMqttMsg.push( myTmp );\n  node.send( {topic:myDevMqtt, payload:myTmp} );\n\n  return node;\n}\n","outputs":1,"noerr":0,"x":1210,"y":250,"wires":[["dc4bd7f0.96a828"]]},{"id":"eeb19eb6.a14938","type":"comment","z":"3a451a4e.63faca","name":"Config ...","info":"In INIT Flow evtl. die Parameter anpassen, ob\n- MQTT Status Ausgabe\n- MQTT Daten Ausgabe","x":300,"y":120,"wires":[]},{"id":"7a29d461.52e9e8","type":"inject","z":"3a451a4e.63faca","name":"DEBUG - SET MQTTstate - on","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":740,"wires":[["d8fe29e5.9813"]]},{"id":"d8fe29e5.9813","type":"function","z":"3a451a4e.63faca","name":"MQTTstate - on","func":"// \n// Weatherman\n//\n\n// MQTTstate - on\n\nflow.set('myFlow_MqttState_Flag', 1);\n","outputs":1,"noerr":0,"x":420,"y":740,"wires":[[]]},{"id":"73c4a76f.eb7fac","type":"function","z":"3a451a4e.63faca","name":"MQTTstate- off","func":"// \n// Weatherman\n//\n\n// MQTTstate - off\n\nflow.set('myFlow_MqttState_Flag', 0);\n","outputs":1,"noerr":0,"x":420,"y":780,"wires":[[]]},{"id":"cb7e6cea.4c6bc","type":"inject","z":"3a451a4e.63faca","name":"DEBUG - SET MQTTstate - off","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":780,"wires":[["73c4a76f.eb7fac"]]},{"id":"a9cd3a93.61e2a","type":"inject","z":"3a451a4e.63faca","name":"DEBUG - SET MQTTdata - on","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":660,"wires":[["a24ae58c.897808"]]},{"id":"a24ae58c.897808","type":"function","z":"3a451a4e.63faca","name":"MQTTdata - on","func":"// \n// Weatherman\n//\n\n// MQTTdata - on\n\nflow.set('myFlow_MqttData_Flag', 1);\n","outputs":1,"noerr":0,"x":420,"y":660,"wires":[[]]},{"id":"4ae1d29f.eae8e8","type":"function","z":"3a451a4e.63faca","name":"MQTTdata- off","func":"// \n// Weatherman\n//\n\n// MQTTdata - off\n\nflow.set('myFlow_MqttData_Flag', 0);\n","outputs":1,"noerr":0,"x":420,"y":700,"wires":[[]]},{"id":"25af0e53.4bb0c2","type":"inject","z":"3a451a4e.63faca","name":"DEBUG - SET MQTTdata - off","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":700,"wires":[["4ae1d29f.eae8e8"]]},{"id":"c75f7af0.548bd8","type":"inject","z":"3a451a4e.63faca","name":"DEBUG - SET DBdata - on","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":900,"wires":[["d0b5992d.a17b28"]]},{"id":"d0b5992d.a17b28","type":"function","z":"3a451a4e.63faca","name":"DBdata - on","func":"// \n// Weatherman\n//\n\n// DBdata - on\n\nflow.set('myFlow_DbData_Flag', 1);\n","outputs":1,"noerr":0,"x":410,"y":900,"wires":[[]]},{"id":"f2b509e5.09b77","type":"function","z":"3a451a4e.63faca","name":"DBdata- off","func":"// \n// Weatherman\n//\n\n// DBdata - off\n\nflow.set('myFlow_DbData_Flag', 0);\n","outputs":1,"noerr":0,"x":410,"y":940,"wires":[[]]},{"id":"7dd4c82c.441ed8","type":"inject","z":"3a451a4e.63faca","name":"DEBUG - SET DBdata - off","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":940,"wires":[["f2b509e5.09b77"]]},{"id":"c106a270.6cff7","type":"csv","z":"3a451a4e.63faca","name":"Read CSV","sep":";","hdrin":true,"hdrout":"","multi":"mult","ret":"\\n","temp":"","skip":"0","x":920,"y":180,"wires":[["6ed0b1dc.1817a"]]},{"id":"d97769b.119e458","type":"file in","z":"3a451a4e.63faca","name":"myHOME_Devices_WM.csv","filename":"/home/pi/.node-red/public/myHOME_Devices_WM.csv","format":"utf8","chunk":false,"sendError":false,"x":700,"y":180,"wires":[["c106a270.6cff7"]]},{"id":"e46269d3.cf8d28","type":"debug","z":"3a451a4e.63faca","name":"INIT - Result","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1480,"y":180,"wires":[]},{"id":"a3d4a873.9cc838","type":"switch","z":"3a451a4e.63faca","name":"Check - DB Flag","property":"myFlow_Db_Flag","propertyType":"flow","rules":[{"t":"neq","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":150,"wires":[["a8394171.45ecc8"],["d97769b.119e458"]]},{"id":"b39e651e.c78b48","type":"inject","z":"3a451a4e.63faca","name":"DEBUG - Init Flow","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":540,"wires":[["5dc04ca1.2c6244"]]},{"id":"6ed0b1dc.1817a","type":"function","z":"3a451a4e.63faca","name":"CSV - DEVICES - Weatherman","func":"// \n// Weatherman\n//\n// CSV aktive Devices\n//\n\nvar myMsg;\nvar myTmpMsg   = [];\nvar myTmpArray = [];\n\n// eingelesene CSV Devices - nur aktive Devices\nmyMsg = msg.payload;\nif (myMsg && typeof myMsg === 'object') {\n  var arrayLength = myMsg.length;\n  for (var i = 0; i < arrayLength; i=i+1) {\n  \n    if (myMsg[i].DEV_FL_ACT !== 0);\n    \n      // CSV Textfelder mit 'undefined' korrigieren und als Textfeld (Zahlen!!) setzen\n      myMsg[i].ID_DEV       = (myMsg[i].ID_DEV       !== undefined ? myMsg[i].ID_DEV       + \"\" : \"\");\n      myMsg[i].DEV_NAME     = (myMsg[i].DEV_NAME     !== undefined ? myMsg[i].DEV_NAME     + \"\" : \"\");\n      myMsg[i].DEV_TYP      = (myMsg[i].DEV_TYP      !== undefined ? myMsg[i].DEV_TYP      + \"\" : \"\");\n      myMsg[i].DEV_DESC     = (myMsg[i].DEV_DESC     !== undefined ? myMsg[i].DEV_DESC     + \"\" : \"\");\n      myMsg[i].DEV_LOC      = (myMsg[i].DEV_LOC      !== undefined ? myMsg[i].DEV_LOC      + \"\" : \"\");\n      myMsg[i].DEV_VAL_DESC = (myMsg[i].DEV_VAL_DESC !== undefined ? myMsg[i].DEV_VAL_DESC + \"\" : \"\");\n      myMsg[i].DEV_VAL_UNIT = (myMsg[i].DEV_VAL_UNIT !== undefined ? myMsg[i].DEV_VAL_UNIT + \"\" : \"\");\n      myMsg[i].DEV_OLD_NAME = (myMsg[i].DEV_OLD_NAME !== undefined ? myMsg[i].DEV_OLD_NAME + \"\" : \"\");\n      myMsg[i].DEV_OLD_TYP  = (myMsg[i].DEV_OLD_TYP  !== undefined ? myMsg[i].DEV_OLD_TYP  + \"\" : \"\");\n      myMsg[i].DEV_MQTT     = (myMsg[i].DEV_MQTT     !== undefined ? myMsg[i].DEV_MQTT     + \"\" : \"\");\n\n      myTmpMsg.push(myMsg[i]);\n    }\n    \n}\n\n// Fake DB Rueckgabe\nmyTmpArray.push({ \"rtn\":\"none\" });\nmyTmpArray.push(myTmpMsg);\n\nmsg.payload = myTmpArray;\n\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":180,"wires":[["3228cdb3.ba1ade"]]},{"id":"3a02b09d.5d9058","type":"inject","z":"3a451a4e.63faca","name":"Autostart Flow","topic":"","payload":"Started!","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":130,"y":150,"wires":[["5dc04ca1.2c6244"]]},{"id":"5dc04ca1.2c6244","type":"function","z":"3a451a4e.63faca","name":"INIT Flow","func":"// \n// Weatherman\n//\n// - Globale Flow Variablen - Init\n//   - SQL-Datenbank Devices\n//   - Verhalten bei Device-Reading Verarbeitung\n//\n// myFlow_Flag_NewOnly_Default\n// myFlow_Flag_NewOnly\n//\n// myFlow_Db_Flag\n//\n// myFlow_DbData_Flag\n//\n// myFlow_MqttData_Flag\n// myFlow_MqttState_Flag\n// myFlow_MqttState_DevName\n// myFlow_MqttState_DevMqtt\n// myFlow_MqttAvg_Flag\n// myFlow_MqttAvg_DevMqtt\n//\n// myFlow_DeviceArray_Count\n// myFlow_DeviceArray[]\n// myFlow_DeviceReadingsLast\n// myFlow_DeviceReadingsAvg\n//\n// myFlow_ModulID\n// myFlow_ModulID_FW\n// myFlow_Wlan_ssid\n// myFlow_Wlan_signal\n//\n// myFlow_Baro_NN\n\n// =====================================\n// === Ab hier Anpassungen vornehmen ===\n// =====================================\n\n// Altitude [m] - eigene Ortshoehe ueber N.N. zur Berechnung\n// des barometrischen Luftdrucks in Bezug auf N.N.\n// Wenn hier eine N.N. Hoehe eingetragen wird, dann muss\n// beim Weatherman der Altitude Wert auf 0 gesetzt werden\n// http://<IP-Adresse Weatherman>/?param:20:0:\n// Wird im Weatherman eine Ortshoehe eingetragen mit\n// http://<IP-Adresse Weatherman>/?param:20:<Ortshoehe>:\n// dann muss 'myBaro_NN = 0;' gesetzt werden\nvar myBaro_NN = 190;\n// In 'myHOME_Devices_WM' den Wert in der folgenden Zeile anpassen:\n// 100003;\"Weatherman\";\"wm_baro_nn\";\"Wetterstation\";\"Garten\";\"Luftdruck\";\"hPa (190 m ü. N.N.)\";\"name\";\"3\";\"/myHOME/sensor/devices/Weatherman\";1;1;1;0;\n\n// Flow-Vorgabe, ob nur neue Readings oder alle Readings \n// eines Devices beruecksichtigt werden sollen\n// = 0 - alle Readings\n// > 0 - nur neue Readings (default)\nvar myTmpNewOnly_Default = 1;\n\n// Flow-Vorgabe, ob eine DB Datenbank benutzt wird\n// myDb_Flag = 0 - keine DB Datenbank\n// myDb_Flag > 0 - mit DB Datenbank (default)\nvar myDb_Flag = 1;\n\n// Flow-Vorgabe, ob eine DB Data Ausgabe fuer das \n// 'DEV_NAME' Device erfolgen soll\n// gesteuert wird die Ausgabe ueber den Inhalt von\n// myDbData_Flag = 0 - keine DB Data Ausgabe\n// myDbData_Flag > 0 - DB Data Ausgabe (default)\nvar myDbData_Flag = 1;\n\n// Flow-Vorgabe, ob eine MQTT Data Ausgabe fuer das \n// 'DEV_NAME' Device erfolgen soll\n// gesteuert wird die Ausgabe ueber den Inhalt von\n// myMqttData_Flag = 0 - keine MQTT Data Ausgabe\n// myMqttData_Flag > 0 - MQTT Data Ausgabe (default)\nvar myMqttData_Flag = 1;\n\n// Flow-Vorgabe, ob eine MQTT Status Ausgabe fuer das \n// 'DEV_NAME' Device erfolgen soll\n// gesteuert wird die Ausgabe ueber den Inhalt von\n// myMqttState_Flag = 0 - keine MQTT Status Ausgabe\n// myMqttState_Flag > 0 - MQTT Status Ausgabe (default)\nvar myMqttState_Flag = 1;\nvar myMqttState_DevName = \"Weatherman\";\nvar myMqttState_DevMqtt = \"/myHOME/sensor/devices/Weatherman/state\";\n\n// Flow-Vorgabe, ob eine MQTT Ausgabe fuer den gleitenden Mittelwert (AVG)\n// aller numerischen Felder des 'DEV_NAME' Device erfolgen soll\n// gesteuert wird die Ausgabe ueber den Inhalt von\n// myMqttAvg_Flag = 0 - keine MQTT AVG Ausgabe\n// myMqttAvg_Flag > 0 - MQTT AVG Ausgabe (default)\nvar myMqttAvg_Flag = 1;\nvar myMqttAvg_DevMqtt = \"/myHOME/sensor/devices/Weatherman/avg\";\n\n// ===========================================\n// === Ab hier KEINE Anpassungen vornehmen ===\n// ===========================================\n\nvar myTmpAnzahl   = 0;\nvar myTmpArrayDev = [];\nvar myTmpArrayVal = [];\nvar myTmpArrayAvg = [];\nvar myTmp;\n\n// Reset all\nflow.set('myFlow_DeviceArray',          undefined);\nflow.set('myFlow_DeviceArray_Count',    undefined);\nflow.set('myFlow_DeviceReadingsLast',   undefined);\nflow.set('myFlow_DeviceReadingsAvg',    undefined);\nflow.set('myFlow_Flag_NewOnly_Default', undefined);\nflow.set('myFlow_Flag_NewOnly',         undefined);\nflow.set('myFlow_Db_Flag',              undefined);    \nflow.set('myFlow_DbData_Flag',          undefined);    \nflow.set('myFlow_MqttData_Flag',        undefined);    \nflow.set('myFlow_MqttState_Flag',       undefined);    \nflow.set('myFlow_MqttState_DevName',    undefined);\nflow.set('myFlow_MqttState_DevMqtt',    undefined);\nflow.set('myFlow_MqttAvg_Flag',         undefined);    \nflow.set('myFlow_MqttAvg_DevMqtt',      undefined);\n\nflow.set('myFlow_ModulID',              undefined);\nflow.set('myFlow_ModulID_FW',           undefined);\nflow.set('myFlow_Wlan_ssid',            undefined);\nflow.set('myFlow_Wlan_signal',          undefined);\n\nflow.set('myFlow_Baro_NN',              undefined);\n\n// SQL-Datenbank - Device-Angaben\n// myTmp = flow.get('myFlow_DeviceArray');\n// if (myTmp === undefined) {\n  flow.set('myFlow_DeviceArray', myTmpArrayDev);\n// }\n// SQL-Datenbank - Anzahl der Device-Eintraege\n// myTmp = flow.get('myFlow_DeviceArray_Count');\n// if (myTmp === undefined) {\n  flow.set('myFlow_DeviceArray_Count', myTmpAnzahl);\n// }\n\n// Array der letzten Device-Readings\n// myTmp = flow.get('myFlow_DeviceReadingsLast');\n// if (myTmp === undefined) {\n  flow.set('myFlow_DeviceReadingsLast', myTmpArrayVal);\n// }\n// Array der letzten Device-Readings - gleitender Mittelwert\n// myTmp = flow.get('myFlow_DeviceReadingsLast');\n// if (myTmp === undefined) {\n  flow.set('myFlow_DeviceReadingsAvg', myTmpArrayAvg);\n// }\n\n// Flow-Vorgabe - alle / nur neuee Readings eines Devices\n// myTmp = flow.get('myFlow_Flag_NewOnly_Default');\n// if (myTmp === undefined) {\n  flow.set('myFlow_Flag_NewOnly_Default', myTmpNewOnly_Default);\n// }\n// Flag fuer die Device-Reading Verarbeitung\n// - muss beim Start auf 0 gesetzt sein, damit beim ersten eingehenden\n//   JSON-Satz ALLE Werte fuer eine Initialiserung aller Reading-Slots \n//   in den Flow-Bereiche einmalig uebernommen werden (gesamter Satz)\n// - danach wird der Wert des globalen Flags 'myFlow_Flag_NewOnly_Default'\n//   Flags gesetzt - so kann global gesteuert werden, ob dann nur neue \n//   oder immer alle Readings verarbeitet werden sollen\n// myTmp = flow.get('myFlow_Flag_NewOnly');\n// if (myTmp === undefined) {\n  flow.set('myFlow_Flag_NewOnly', myTmpNewOnly_Default);\n// }\n\n// Flow-Vorgabe, ob eine DB Datenbank\n// myTmp = flow.get('myFlow_Db_Flag');\n// if (myTmp === undefined) {\n  flow.set('myFlow_Db_Flag', myDb_Flag);    \n// }\n\n// Flow-Vorgabe, ob eine DB Data Ausgabe\n// myTmp = flow.get('myFlow_DbData_Flag');\n// if (myTmp === undefined) {\n  flow.set('myFlow_DbData_Flag', myDbData_Flag);    \n// }\n\n// Flow-Vorgabe, ob eine MQTT Data Ausgabe\n// myTmp = flow.get('myFlow_MqttData_Flag');\n// if (myTmp === undefined) {\n  flow.set('myFlow_MqttData_Flag', myMqttData_Flag);    \n// }\n\n// Flow-Vorgabe, ob eine MQTT Status Ausgabe\n// myTmp = flow.get('myFlow_MqttState_Flag');\n// if (myTmp === undefined) {\n  flow.set('myFlow_MqttState_Flag',    myMqttState_Flag);    \n  flow.set('myFlow_MqttState_DevName', myMqttState_DevName);\n  flow.set('myFlow_MqttState_DevMqtt', myMqttState_DevMqtt);\n// }\n\n// Flow-Vorgabe, ob eine MQTT AVG Ausgabe\n// myTmp = flow.get('myFlow_MqttAvg_Flag');\n// if (myTmp === undefined) {\n  flow.set('myFlow_MqttAvg_Flag',    myMqttAvg_Flag);    \n  flow.set('myFlow_MqttAvg_DevMqtt', myMqttAvg_DevMqtt);\n// }\n\n// Flow-Speicher fuer Modul-Info\nflow.set('myFlow_ModulID',    '?');\nflow.set('myFlow_ModulID_FW', '?');\n\n// Flow-Speicher fuer WLAN-Info\nflow.set('myFlow_Wlan_ssid',   '?');\nflow.set('myFlow_Wlan_signal', '?');\n\n// Altitude [m] - eigene Ortshoehe ueber N.N.\nflow.set('myFlow_Baro_NN',  myBaro_NN);\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":150,"wires":[["a3d4a873.9cc838"]]},{"id":"41628820.0bd224","type":"delay","z":"3a451a4e.63faca","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":950,"y":120,"wires":[["4336cc55.95cbc8"]]},{"id":"9ad72f20.fcaca8","type":"comment","z":"3a451a4e.63faca","name":"Weatherman DB - INIT Flow","info":"","x":150,"y":80,"wires":[]},{"id":"7b79d131.410134","type":"comment","z":"3a451a4e.63faca","name":"Weatherman DB - START Flow","info":"","x":160,"y":380,"wires":[]},{"id":"bd90f810.7f7d48","type":"comment","z":"3a451a4e.63faca","name":"DEBUG - Section","info":"","x":110,"y":500,"wires":[]},{"id":"7a8c1cf7.f44b3c","type":"function","z":"3a451a4e.63faca","name":"Info WLAN","func":"// \n// Weatherman \n// \n// WLAN Infos merken\n//\n\nvar myObject = msg.payload;\n\nif (myObject && typeof myObject === 'object') {\n\n  myTmp = msg.payload.modultyp;\n  if (myTmp) {\n    flow.set('myFlow_ModulID', myTmp);\n  } else {\n    flow.set('myFlow_ModulID', '?');\n  }\n\n}\n\nmyObject = msg.payload.Systeminfo;\nif (myObject && typeof myObject === 'object') {\n\n  var myTmp = myObject.WLAN_ssid;\n  if (myTmp) {\n    flow.set('myFlow_Wlan_ssid', myTmp);\n  } else {\n    flow.set('myFlow_Wlan_ssid', '?');      \n  }\n  \n  myTmp = myObject.WLAN_Signal_dBm;\n  if (myTmp) {\n    flow.set('myFlow_Wlan_signal', myTmp);\n  } else {\n    flow.set('myFlow_Wlan_signal', '?');\n  }\n\n  myTmp = myObject.firmware;\n  if (myTmp) {\n    flow.set('myFlow_ModulID_FW', myTmp);\n  } else {\n    flow.set('myFlow_ModulID_FW', '?');\n  }\n\n}\n","outputs":1,"noerr":0,"x":460,"y":350,"wires":[[]]},{"id":"457c8292.b2779","type":"function","z":"3a451a4e.63faca","name":"XXX_pressure to N.N.","func":"//\n// Feinstaub \n//\n// Luftdruck auf hPa Einheit bringen und auf NN reduzieren \n//\n\nvar i_pres = null;\nvar i_temp = null;\n\nvar myObject_Vars = msg.payload.vars;\n\nmyObject = myObject_Vars;\nif (myObject && typeof myObject === 'object') {\n  var arrayLength = myObject.length;\n  // console.log(arrayLength);   \n  // Ueber alle Eintrage\n  for (var i = 0; i < arrayLength; i=i+1) {\n    if (myObject[i].name === \"3\") {\n      // w_barometer\n      i_pres = i;\n    }\n    if (myObject[i].name === \"1\") {\n      // w_temperature\n      i_temp = i;\n    }\n  }\n  // Baro Wert nach Baro-NN Wert\n  if ((i_pres>= 0) && (i_pres>= 0)) {\n    // console.log(myObject[i_pres].value + \" - \" + myObject[i_temp].value + \" - \" + flow.get('myFlow_Baro_NN'));\n    myObject[i_pres].value = baro2baroNN(myObject[i_pres].value, myObject[i_temp].value, flow.get('myFlow_Baro_NN'));\n    // console.log(\"---\" + myObject[i_pres].value);\n  }\n }\n\nreturn msg;\n\nfunction baro2baroNN(baro_value, temp_value, hoehe_value) {\n    \n  // Der Temperaturgradient gibt an, wie schnell die Temperatur mit der Höhe fällt. Eine gute Schätzung bei normalem Wetter ist 0,0065 °C/Meter.\t\t\t\t\t\t\t\t\t\t\n  // Temperaturschätzung: Temperatur auf Meereshöhe = Temperatur + Temperaturgradient * Höhe\t\t\t\t\t\t\t\t\t\t\n  // Barometrische Höhenformel:\t\t\t\t\t\t\t\t\t\t\n  // Luftdruck auf Meereshöhe = Barometeranzeige / (1-Temperaturgradient*Höhe/Temperatur auf Meereshöhe in Kelvin)^(0,03416/Temperaturgradient)\t\t\t\t\t\t\t\t\t\t\n  // Celsius nach Kelvin: CelsiusWert + 273 = KelvinWert\n\n  var myVal  = Number(baro_value);\n  var myVal2 = 0.0065;\n  var myVal1 = (1.0 - myVal2 * Number(hoehe_value) / (Number(temp_value) + 273.0));\n  myVal2 = (0.03416 / myVal2);\n\n  myVal = myVal / Math.pow(myVal1, myVal2);\n  myVal = myVal.toFixed(4);\n  \n  return myVal;\n}\n","outputs":1,"noerr":0,"x":890,"y":430,"wires":[["7ecfb916.6f8d3c"]]},{"id":"f79d55c9.14f17","type":"change","z":"3a451a4e.63faca","name":"payload_avg","rules":[{"t":"delete","p":"payload_var","pt":"msg"},{"t":"delete","p":"payload_mqtt","pt":"msg"},{"t":"delete","p":"payload_sys","pt":"msg"},{"t":"delete","p":"payload_sql","pt":"msg"},{"t":"delete","p":"timestamp","pt":"msg"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":510,"wires":[["21befa3d.69a166"]]},{"id":"21befa3d.69a166","type":"trigger","z":"3a451a4e.63faca","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"5","extend":false,"units":"min","reset":"1","bytopic":"all","name":"AVG Timeout (5 min)","x":1510,"y":840,"wires":[["756b8b67.86d75c"]]},{"id":"756b8b67.86d75c","type":"switch","z":"3a451a4e.63faca","name":"Check AVG Timeout","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1510,"y":890,"wires":[["87053cfe.ef3d9","7c8a0617.743818"]]},{"id":"87053cfe.ef3d9","type":"function","z":"3a451a4e.63faca","name":"AVG Readings","func":"// \n// Weatherman\n//\n// - AVG Devices einzeln versenden\n//   oder keine AVG-Aktion\n//\nvar myAvgAnzahl = 0;\n\nif ( msg.payload_avg !== undefined) {\n  myAvgAnzahl = msg.payload_avg.length;\n  for (var i = 0; i < myAvgAnzahl; i=i+1) {\n\n    node.send( {topic:msg.payload_avg[i].DEV_TYP, payload:msg.payload_avg[i]} );\n\n  }\n}\n\n// alle AVG-Werte zuruecksetzen\nvar myDeviceReadingsAvg = flow.get ('myFlow_DeviceReadingsAvg');\nmyAvgAnzahl = myDeviceReadingsAvg.length;\nfor (var i = 0; i < myAvgAnzahl; i=i+1) {\n  myDeviceReadingsAvg[i] = undefined;\n}\n\nreturn [msg];","outputs":1,"noerr":0,"x":1530,"y":940,"wires":[["d5d492a6.033438"]]},{"id":"d5d492a6.033438","type":"switch","z":"3a451a4e.63faca","name":"Switch AVG","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"wm_sys_ip","vt":"str"},{"t":"eq","v":"wm_temp","vt":"str"},{"t":"eq","v":"wm_temp_windchill","vt":"str"},{"t":"eq","v":"wm_temp_dewpoint","vt":"str"},{"t":"eq","v":"wm_temp_sky","vt":"str"},{"t":"eq","v":"wm_hum_pro","vt":"str"},{"t":"eq","v":"wm_hum_abs","vt":"str"},{"t":"eq","v":"wm_rain_activity","vt":"str"},{"t":"eq","v":"wm_rain_status","vt":"str"},{"t":"eq","v":"wm_rain_intensity","vt":"str"},{"t":"eq","v":"wm_rain_volume_1","vt":"str"},{"t":"eq","v":"wm_rain_volume_24","vt":"str"},{"t":"eq","v":"wm_rain_yesterday","vt":"str"},{"t":"eq","v":"wm_rain_hours_24","vt":"str"},{"t":"eq","v":"wm_baro_nn","vt":"str"},{"t":"eq","v":"wm_baro_trend","vt":"str"},{"t":"eq","v":"wm_wind_avg","vt":"str"},{"t":"eq","v":"wm_wind_peak","vt":"str"},{"t":"eq","v":"wm_wind_force","vt":"str"},{"t":"eq","v":"wm_wind_direction","vt":"str"},{"t":"eq","v":"wm_wind_dir","vt":"str"},{"t":"eq","v":"wm_sun_lux","vt":"str"},{"t":"eq","v":"wm_sun_temp","vt":"str"},{"t":"eq","v":"wm_sun_temp_diff","vt":"str"},{"t":"eq","v":"wm_sun_status","vt":"str"},{"t":"eq","v":"wm_sun_elevation","vt":"str"},{"t":"eq","v":"wm_sun_azimut","vt":"str"},{"t":"eq","v":"wm_sun_today_hours","vt":"str"},{"t":"eq","v":"wm_sun_before_sunrise","vt":"str"},{"t":"eq","v":"wm_sun_before_sunset","vt":"str"},{"t":"eq","v":"wm_ground_hum","vt":"str"}],"checkall":"true","repair":false,"outputs":31,"x":1740,"y":940,"wires":[[],["b1b814bd.318ff8"],[],["8d16931b.70343"],[],["162cdb90.eee948"],[],[],[],[],[],[],[],[],["a17f65d.677a4d8"],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[]]},{"id":"a1ef6570.565778","type":"comment","z":"3a451a4e.63faca","name":"Weatherman DB - AVG","info":"","x":1710,"y":690,"wires":[]},{"id":"1ac96c79.39e13","type":"debug","z":"3a451a4e.63faca","name":"payload_xxx","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1340,"y":390,"wires":[]},{"id":"686b8bb1.b7bbcc","type":"function","z":"3a451a4e.63faca","name":"Misc","func":"\n//\n// Weatherman\n//\n// Wandelt Wert und Bezeichnung von m/sec in km/h\n// \n\nvar myVal = Number(msg.payload.READ_VALUE);\nif (isNaN(myVal)) {\n  myVal = 0;\n}\nmyVal = Number(myVal) * 3.6;\nmyVal = parseFloat(myVal).toFixed(0);\n\nmsg.payload.DEV_VAL_UNIT = \"km/h\\n\" + msg.payload.READ_VALUE + \" \" + msg.payload.DEV_VAL_UNIT;\nmsg.payload.READ_VALUE = myVal;\n\nreturn msg;","outputs":1,"noerr":0,"x":1930,"y":360,"wires":[["62eb23e3.9e966"]]},{"id":"a79ca7ca.e15c2","type":"function","z":"3a451a4e.63faca","name":"Misc","func":"\n//\n// Weatherman\n//\n// Wandelt Wert und Bezeichnung von m/sec in km/h\n// \n\nvar myVal = Number(msg.payload.READ_VALUE);\nif (isNaN(myVal)) {\n  myVal = 0;\n}\nmyVal = Number(myVal) * 3.6;\nmyVal = parseFloat(myVal).toFixed(0);\n\nmsg.payload.DEV_VAL_UNIT = \"km/h\\n\" + msg.payload.READ_VALUE + \" \" + msg.payload.DEV_VAL_UNIT;\nmsg.payload.READ_VALUE = myVal;\n\nreturn msg;","outputs":1,"noerr":0,"x":1930,"y":390,"wires":[["22ad9b7c.93d324"]]},{"id":"d6321597.29e3d","type":"function","z":"3a451a4e.63faca","name":"Testdatensatz Weatherman FW 58","func":"//\n// Weatherman - Testdatensatz - FW 58\n//\n\nvar myStr = '{\"modultyp\":\"weatherman\",\"vars\":[{\"name\":\"0\",\"homematic_name\":\"w_ip\",\"desc\":\"weatherman_ip\",\"type\":\"string\",\"unit\":\"\",\"value\":\"192.168.168.100\"},{\"name\":\"1\",\"homematic_name\":\"w_temperature\",\"desc\":\"aussentemperatur\",\"type\":\"number\",\"unit\":\"gradC\",\"value\":20.0},{\"name\":\"21\",\"homematic_name\":\"w_windchill\",\"desc\":\"gefuehlte_temperatur\",\"type\":\"number\",\"unit\":\"gradC\",\"value\":20.0},{\"name\":\"9\",\"homematic_name\":\"w_taupunkt\",\"desc\":\"taupunkt\",\"type\":\"number\",\"unit\":\"gradC\",\"value\":10.5},{\"name\":\"2\",\"homematic_name\":\"w_humidity\",\"desc\":\"rel_feuchte\",\"type\":\"number\",\"unit\":\"%\",\"value\":54.4},{\"name\":\"17\",\"homematic_name\":\"w_hum_abs\",\"desc\":\"abs_feuchte\",\"type\":\"number\",\"unit\":\"g/m3\",\"value\":9.4},{\"name\":\"4\",\"homematic_name\":\"w_wind_avg\",\"desc\":\"avg_windgeschwindigkeit\",\"type\":\"number\",\"unit\":\"m/s\",\"value\":1.0},{\"name\":\"5\",\"homematic_name\":\"w_wind_peak\",\"desc\":\"peak_windgeschwindigkeit\",\"type\":\"number\",\"unit\":\"m/s\",\"value\":1.4},{\"name\":\"24\",\"homematic_name\":\"w_windstaerke\",\"desc\":\"bft_windgeschwindigkeit\",\"type\":\"number\",\"unit\":\"bft\",\"value\":1},{\"name\":\"23\",\"homematic_name\":\"w_wind_direction\",\"desc\":\"windrichtung\",\"type\":\"string\",\"unit\":\"\",\"value\":\"N\"},{\"name\":\"6\",\"homematic_name\":\"w_wind_dir\",\"desc\":\"windwinkel\",\"type\":\"number\",\"unit\":\"grad\",\"value\":0},{\"name\":\"18\",\"homematic_name\":\"w_rain_activity\",\"desc\":\"regenmelderwert\",\"type\":\"number\",\"unit\":\"\",\"value\":5},{\"name\":\"7\",\"homematic_name\":\"w_rain_status\",\"desc\":\"regenstatus\",\"type\":\"boolean\",\"unit\":\"\",\"value\":false},{\"name\":\"8\",\"homematic_name\":\"w_rain_intensity\",\"desc\":\"regenstaerke\",\"type\":\"number\",\"unit\":\"mm/h\",\"value\":0.0},{\"name\":\"19\",\"homematic_name\":\"w_rain_volume_1\",\"desc\":\"regen_pro_h\",\"type\":\"number\",\"unit\":\"mm\",\"value\":0.0},{\"name\":\"20\",\"homematic_name\":\"w_rain_volume_24\",\"desc\":\"regen_pro_24h\",\"type\":\"number\",\"unit\":\"mm\",\"value\":0.0},{\"name\":\"27\",\"homematic_name\":\"w_rain_yesterday\",\"desc\":\"regen_gestern\",\"type\":\"number\",\"unit\":\"mm\",\"value\":0.0},{\"name\":\"25\",\"homematic_name\":\"w_bodenfeuchte\",\"desc\":\"bodenfeuchtewert\",\"type\":\"number\",\"unit\":\"\",\"value\":0},{\"name\":\"3\",\"homematic_name\":\"w_barometer\",\"desc\":\"nn_luftdruck\",\"type\":\"number\",\"unit\":\"mb\",\"value\":1014.77},{\"name\":\"11\",\"homematic_name\":\"w_barotrend\",\"desc\":\"luftdrucktrend\",\"type\":\"string\",\"unit\":\"\",\"value\":\"not_valid\"},{\"name\":\"14\",\"homematic_name\":\"w_sky_temp\",\"desc\":\"himmel_temperatur\",\"type\":\"number\",\"unit\":\"gradC\",\"value\":0.0},{\"name\":\"15\",\"homematic_name\":\"w_sun_temp\",\"desc\":\"sonnentemperatur\",\"type\":\"number\",\"unit\":\"gradC\",\"value\":20.4},{\"name\":\"22\",\"homematic_name\":\"w_diff_temp\",\"desc\":\"sonnen_difftemperatur\",\"type\":\"number\",\"unit\":\"gradC\",\"value\":0.4},{\"name\":\"16\",\"homematic_name\":\"w_sonne_scheint\",\"desc\":\"sonne_scheint\",\"type\":\"boolean\",\"unit\":\"\",\"value\":false},{\"name\":\"10\",\"homematic_name\":\"w_lux\",\"desc\":\"helligkeit\",\"type\":\"number\",\"unit\":\"lux\",\"value\":0.0},{\"name\":\"12\",\"homematic_name\":\"w_elevation\",\"desc\":\"sonne_elevation\",\"type\":\"number\",\"unit\":\"grad\",\"value\":-29.1},{\"name\":\"13\",\"homematic_name\":\"w_azimut\",\"desc\":\"sonne_azimut\",\"type\":\"number\",\"unit\":\"grad\",\"value\":296.8}],\"Systeminfo\":{\"MAC-Adresse\":\"3b:fc:17:2d:e6:b4\",\"Homematic_CCU_ip\":\"192.168.168.1\",\"WLAN_ssid\":\"myTest\",\"WLAN_Signal_dBm\":-90,\"sec_seit_reset\":999,\"zeitpunkt\":\" 4 21:51\",\"firmware\":\"weatherman_58\"}}\\u0004';\n\nmsg.payload = myStr;\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":990,"wires":[["48d7a6bc.c323cc"]]},{"id":"ba9833c3.fa3e8","type":"inject","z":"3a451a4e.63faca","name":"DEBUG - Weatherman Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":990,"wires":[["d6321597.29e3d"]]},{"id":"c0e7269b.a71108","type":"function","z":"3a451a4e.63faca","name":"Testdatensatz Weatherman FW 87","func":"//\n// Weatherman - Testdatensatz - FW 87\n//\n\nvar myStr = '{\"modultyp\":\"weatherman\",\"vars\":[{\"name\":\"0\",\"homematic_name\":\"w_ip\",\"desc\":\"weatherman_ip\",\"type\":\"string\",\"unit\":\"\",\"value\":\"192.168.168.100\"},{\"name\":\"1\",\"homematic_name\":\"w_temperatur\",\"desc\":\"aussentemperatur\",\"type\":\"number\",\"unit\":\"gradC\",\"value\":4.5},{\"name\":\"21\",\"homematic_name\":\"w_windchill\",\"desc\":\"gefuehlte_temperatur\",\"type\":\"number\",\"unit\":\"gradC\",\"value\":3.5},{\"name\":\"9\",\"homematic_name\":\"w_taupunkt\",\"desc\":\"taupunkt_temperatur\",\"type\":\"number\",\"unit\":\"gradC\",\"value\":2.8},{\"name\":\"14\",\"homematic_name\":\"w_himmeltemperatur\",\"desc\":\"himmel_temperatur\",\"type\":\"number\",\"unit\":\"gradC\",\"value\":1037.5},{\"name\":\"2\",\"homematic_name\":\"w_feuchte_rel\",\"desc\":\"rel_feuchte\",\"type\":\"number\",\"unit\":\"%\",\"value\":88.4},{\"name\":\"17\",\"homematic_name\":\"w_feuchte_abs\",\"desc\":\"abs_feuchte\",\"type\":\"number\",\"unit\":\"g/m3\",\"value\":5.8},{\"name\":\"18\",\"homematic_name\":\"w_regensensor_wert\",\"desc\":\"regenmelderwert\",\"type\":\"number\",\"unit\":\"\",\"value\":8},{\"name\":\"7\",\"homematic_name\":\"w_regenmelder\",\"desc\":\"regenstatus\",\"type\":\"boolean\",\"unit\":\"\",\"value\":false},{\"name\":\"8\",\"homematic_name\":\"w_regenstaerke\",\"desc\":\"regenstaerke\",\"type\":\"number\",\"unit\":\"mm/h\",\"value\":0.0},{\"name\":\"19\",\"homematic_name\":\"w_regen_letzte_h\",\"desc\":\"regen_pro_h\",\"type\":\"number\",\"unit\":\"mm\",\"value\":0.0},{\"name\":\"20\",\"homematic_name\":\"w_regen_mm_heute\",\"desc\":\"regen_mm_heute\",\"type\":\"number\",\"unit\":\"mm\",\"value\":0.0},{\"name\":\"32\",\"homematic_name\":\"w_regenstunden_heute\",\"desc\":\"regenstunden_heute\",\"type\":\"number\",\"unit\":\"h\",\"value\":1.0},{\"name\":\"27\",\"homematic_name\":\"w_regen_mm_gestern\",\"desc\":\"regen_mm_gestern\",\"type\":\"number\",\"unit\":\"mm\",\"value\":0.0},{\"name\":\"3\",\"homematic_name\":\"w_barometer\",\"desc\":\"nn_luftdruck\",\"type\":\"number\",\"unit\":\"mb\",\"value\":1016.07},{\"name\":\"11\",\"homematic_name\":\"w_barotrend\",\"desc\":\"luftdrucktrend\",\"type\":\"string\",\"unit\":\"\",\"value\":\"stabil\"},{\"name\":\"4\",\"homematic_name\":\"w_wind_mittel\",\"desc\":\"avg_windgeschwindigkeit\",\"type\":\"number\",\"unit\":\"m/s\",\"value\":1.4},{\"name\":\"5\",\"homematic_name\":\"w_wind_spitze\",\"desc\":\"peak_windgeschwindigkeit\",\"type\":\"number\",\"unit\":\"m/s\",\"value\":1.8},{\"name\":\"24\",\"homematic_name\":\"w_windstaerke\",\"desc\":\"bft_windgeschwindigkeit\",\"type\":\"number\",\"unit\":\"bft\",\"value\":2},{\"name\":\"23\",\"homematic_name\":\"w_windrichtung\",\"desc\":\"windrichtung\",\"type\":\"string\",\"unit\":\"\",\"value\":\"SO\"},{\"name\":\"6\",\"homematic_name\":\"w_wind_dir\",\"desc\":\"windwinkel\",\"type\":\"number\",\"unit\":\"grad\",\"value\":135},{\"name\":\"10\",\"homematic_name\":\"w_lux\",\"desc\":\"helligkeit\",\"type\":\"number\",\"unit\":\"lux\",\"value\":6.5},{\"name\":\"22\",\"homematic_name\":\"w_sonne_diff_temp\",\"desc\":\"sonnen_difftemperatur\",\"type\":\"number\",\"unit\":\"gradC\",\"value\":-0.3},{\"name\":\"15\",\"homematic_name\":\"w_sonnentemperatur\",\"desc\":\"sonnen_temperatur\",\"type\":\"number\",\"unit\":\"gradC\",\"value\":4.2},{\"name\":\"16\",\"homematic_name\":\"w_sonne_scheint\",\"desc\":\"sonne_scheint\",\"type\":\"boolean\",\"unit\":\"\",\"value\":false},{\"name\":\"26\",\"homematic_name\":\"w_sonnenstunden_heute\",\"desc\":\"Sonnenstunden_heute\",\"type\":\"number\",\"unit\":\"h\",\"value\":0.2},{\"name\":\"12\",\"homematic_name\":\"w_elevation\",\"desc\":\"sonne_elevation\",\"type\":\"number\",\"unit\":\"grad\",\"value\":-2.9},{\"name\":\"13\",\"homematic_name\":\"w_azimut\",\"desc\":\"sonne_azimut\",\"type\":\"number\",\"unit\":\"grad\",\"value\":238.4},{\"name\":\"30\",\"homematic_name\":\"w_minuten_vor_sa\",\"desc\":\"minuten_vor_sa\",\"type\":\"number\",\"unit\":\"min\",\"value\":-514},{\"name\":\"31\",\"homematic_name\":\"w_minuten_vor_su\",\"desc\":\"minuten_vor_su\",\"type\":\"number\",\"unit\":\"min\",\"value\":-17}],\"Systeminfo\":{\"MAC-Adresse\":\"e8:f5:c5:7f:cf:5c\",\"Homematic_CCU_ip\":\"192.168.168.1\",\"WLAN_ssid\":\"myTest\",\"WLAN_Signal_dBm\":-76,\"sec_seit_reset\":18464,\"zeitpunkt\":\"2018-11-28 16:45:00\",\"firmware\":\"weatherman_87\"}}\\u0004';\n\nmsg.payload = myStr;\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":1030,"wires":[["48d7a6bc.c323cc"]]},{"id":"49a540f.2b5d8","type":"inject","z":"3a451a4e.63faca","name":"DEBUG - Weatherman Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1030,"wires":[["c0e7269b.a71108"]]},{"id":"7c8a0617.743818","type":"function","z":"3a451a4e.63faca","name":"AVG READINGS - MQTT","func":"// \n// Weatherman\n//\n// - MQTT Devices einzeln versenden\n//   oder keine MQTT-Aktion\n//\nvar myMqttAnzahl = 0;\nvar myMqttMsg = msg.payload_avg;\nvar myDevMqtt = flow.get('myFlow_MqttAvg_DevMqtt');\n\nmyMqttAnzahl = myMqttMsg.length;\nfor (var i = 0; i < myMqttAnzahl; i=i+1) {\n  \n  myMqttTop = myDevMqtt;\n  myMqttMsg[i].DEV_MQTT = undefined;\n  \n  node.send( {topic:myMqttTop, payload:myMqttMsg[i]} );\n\n}\n\n// gesamtes Msg-Objekt loeschen\nmsg = undefined;\n\nreturn msg;","outputs":1,"noerr":0,"x":1180,"y":940,"wires":[["b440ac19.16c8e"]]},{"id":"b440ac19.16c8e","type":"function","z":"3a451a4e.63faca","name":"MQTTavg - Flow on / off","func":"var state = flow.get('myFlow_MqttAvg_Flag') || 0;\n\n// Display initial state\nif (state !== 0 ) {\n  node.status( {fill:\"green\", shape:\"dot\", text:\"on\"} );\n  return msg;\n} else {\n  node.status( {fill:\"red\", shape:\"ring\", text:\"off\"} );\n}","outputs":1,"noerr":0,"x":1180,"y":1000,"wires":[["2a148e70.9629e6"]]},{"id":"2a148e70.9629e6","type":"mqtt out","z":"3a451a4e.63faca","name":"Avg to MQTT","topic":"","qos":"1","retain":"true","broker":"907d3f79.5c45a","x":1220,"y":1060,"wires":[]},{"id":"a723976f.7a2ac8","type":"comment","z":"3a451a4e.63faca","name":"Weatherman DB - AVG -  MQTT myHOME","info":"","x":1130,"y":880,"wires":[]},{"id":"7db9f91b.436394","type":"inject","z":"3a451a4e.63faca","name":"DEBUG - SET MQTTavg - on","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":820,"wires":[["dd133fa1.7f638"]]},{"id":"dd133fa1.7f638","type":"function","z":"3a451a4e.63faca","name":"MQTTavg - on","func":"// \n// Weatherman\n//\n\n// MQTTavg - on\n\nflow.set('myFlow_MqttAvg_Flag', 1);\n","outputs":1,"noerr":0,"x":420,"y":820,"wires":[[]]},{"id":"61559bf4.bed5f4","type":"function","z":"3a451a4e.63faca","name":"MQTTavg- off","func":"// \n// Weatherman\n//\n\n// MQTTavg - off\n\nflow.set('myFlow_MqttAvg_Flag', 0);\n","outputs":1,"noerr":0,"x":420,"y":860,"wires":[[]]},{"id":"926b25ee.496138","type":"inject","z":"3a451a4e.63faca","name":"DEBUG - SET MQTTavg - off","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":860,"wires":[["61559bf4.bed5f4"]]},{"id":"cc4f672b.e6b7c8","type":"MySQLdatabase","z":"","host":"192.168.0.11","port":"3306","db":"myHOME","tz":""},{"id":"7d71ea35.7bd9c","type":"ui_group","z":"","name":"Weatherman - Status","tab":"e048bce5.056938","order":6,"disp":true,"width":"6","collapse":false},{"id":"907d3f79.5c45a","type":"mqtt-broker","z":"","name":"mosquitto 192.168.0.11 (secure: 1883 - user)","broker":"192.168.0.11","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"b0d43de3.9d93a","type":"ui_group","z":"","name":"Weatherman - Übersicht","tab":"e048bce5.056938","order":1,"disp":true,"width":"6","collapse":false},{"id":"d9cd92d6.7e9c7","type":"ui_group","z":"","name":"Verlauf","tab":"e048bce5.056938","order":2,"disp":true,"width":"6","collapse":false},{"id":"2ebc5c58.76aeec","type":"ui_group","z":"","name":"Wind","tab":"e048bce5.056938","order":3,"disp":true,"width":"6","collapse":false},{"id":"bc8c0d14.2ff3a","type":"ui_group","z":"","name":"Regen","tab":"e048bce5.056938","order":4,"disp":true,"width":"6","collapse":false},{"id":"7fabc34f.1e9ce","type":"ui_group","z":"","name":"Sonne","tab":"e048bce5.056938","order":5,"disp":true,"width":"6","collapse":false},{"id":"e048bce5.056938","type":"ui_tab","z":"","name":"Weatherman","icon":"dashboard","order":2}]