SHT_Sensor-Weatherman/bin/archive/FLOW - myHOME - Weatherman_MQTT_20181208.md
[{"id":"29eb76da.f27d3e","type":"tab","label":"myHOME - Weatherman MQTT","disabled":false,"info":""},{"id":"9f7503cc.e0e5d8","type":"mqtt in","z":"29eb76da.f27d3e","name":"","topic":"/myHOME/sensor/devices/Weatherman","qos":"2","broker":"907d3f79.5c45a","x":170,"y":140,"wires":[["ef5c10dc.6156f"]]},{"id":"ef5c10dc.6156f","type":"json","z":"29eb76da.f27d3e","name":"","property":"payload","action":"obj","pretty":false,"x":450,"y":140,"wires":[["6e1d809b.514888"]]},{"id":"6e1d809b.514888","type":"switch","z":"29eb76da.f27d3e","name":"Switch VAR","property":"payload.DEV_TYP","propertyType":"msg","rules":[{"t":"eq","v":"wm_temp","vt":"str"},{"t":"eq","v":"wm_temp_windchill","vt":"str"},{"t":"eq","v":"wm_temp_dewpoint","vt":"str"},{"t":"eq","v":"wm_hum_pro","vt":"str"},{"t":"eq","v":"wm_hum_abs","vt":"str"},{"t":"eq","v":"wm_rain_activity","vt":"str"},{"t":"eq","v":"wm_rain_status","vt":"str"},{"t":"eq","v":"wm_rain_intensity","vt":"str"},{"t":"eq","v":"wm_rain_volume_1","vt":"str"},{"t":"eq","v":"wm_rain_volume_24","vt":"str"},{"t":"eq","v":"wm_rain_yesterday","vt":"str"},{"t":"eq","v":"wm_rain_hours_24","vt":"str"},{"t":"eq","v":"wm_baro_nn","vt":"str"},{"t":"eq","v":"wm_baro_trend","vt":"str"},{"t":"eq","v":"wm_wind_avg","vt":"str"},{"t":"eq","v":"wm_wind_peak","vt":"str"},{"t":"eq","v":"wm_wind_force","vt":"str"},{"t":"eq","v":"wm_wind_direction","vt":"str"},{"t":"eq","v":"wm_wind_dir","vt":"str"},{"t":"eq","v":"wm_sun_lux","vt":"str"},{"t":"eq","v":"wm_sun_temp","vt":"str"},{"t":"eq","v":"wm_sun_temp_diff","vt":"str"},{"t":"eq","v":"wm_sun_status","vt":"str"}],"checkall":"true","repair":false,"outputs":23,"x":650,"y":450,"wires":[["3fa2dfd8.69b0e","c54b934.e9109b"],["51588537.32db6c"],["8f9b06a4.6a4768"],["430306ed.bc46c4"],["32f78bde.f28144"],["9dcda45b.31b758"],["9dcda45b.31b758"],["9eb0c19c.717f5"],["3502bb4f.f8390c"],["4cad0830.6431d8"],["81e633bd.dc33d"],["81e633bd.dc33d"],["ea07d10c.af38e"],["e00751a6.97f92"],["e6cd3c59.a4ab"],["42c6263.ec7fd58"],["f442e197.62d69"],["42bd6493.eb2268"],["42bd6493.eb2268"],["a0da8285.3812b"],["c54b934.e9109b"],["c54b934.e9109b"],["86d73e34.51029"]]},{"id":"8f9b06a4.6a4768","type":"ui_gauge","z":"29eb76da.f27d3e","name":"Temperatur-Taupunkt","group":"f343fa63.bf71b8","order":4,"width":"3","height":"2","gtype":"gage","title":"{{payload.DEV_VAL_DESC}}","label":"{{payload.DEV_VAL_UNIT}}","format":"{{payload.READ_VALUE}}","min":"-20","max":"50","colors":["#0000e6","#73e600","#e67200"],"seg1":"","seg2":"","x":1020,"y":140,"wires":[]},{"id":"430306ed.bc46c4","type":"ui_gauge","z":"29eb76da.f27d3e","name":"Luftfeuchtigkeit-Aussen (Prozent)","group":"f343fa63.bf71b8","order":6,"width":"3","height":"2","gtype":"gage","title":"{{payload.DEV_VAL_DESC}}","label":"{{payload.DEV_VAL_UNIT}}","format":"{{payload.READ_VALUE}}","min":"0","max":"100","colors":["#E6E600","#73e600","#0000e6"],"seg1":"","seg2":"","x":980,"y":180,"wires":[]},{"id":"32f78bde.f28144","type":"ui_gauge","z":"29eb76da.f27d3e","name":"Luftfeuchtigkeit-Aussen (absolut)","group":"f343fa63.bf71b8","order":7,"width":"3","height":"2","gtype":"gage","title":"{{payload.DEV_VAL_DESC}}","label":"{{payload.DEV_VAL_UNIT}}","format":"{{payload.READ_VALUE}}","min":"0","max":"30","colors":["#E6E600","#73e600","#0000e6"],"seg1":"10","seg2":"20","x":980,"y":210,"wires":[]},{"id":"c952700c.4a181","type":"comment","z":"29eb76da.f27d3e","name":"Weatherman DB - Vars","info":"","x":620,"y":260,"wires":[]},{"id":"c4ac3e9.e9b114","type":"ui_gauge","z":"29eb76da.f27d3e","name":"Luftdruck N.N.","group":"f343fa63.bf71b8","order":8,"width":"3","height":"2","gtype":"gage","title":"{{payload.DEV_VAL_DESC}}","label":"{{payload.DEV_VAL_UNIT}}","format":"{{payload.READ_VALUE}}","min":"960","max":"1060","colors":["#0000e6","#73e600","#e67200"],"seg1":"","seg2":"","x":1040,"y":250,"wires":[]},{"id":"2da89f63.aaca88","type":"ui_text","z":"29eb76da.f27d3e","group":"f343fa63.bf71b8","order":9,"width":"3","height":"2","name":"Luftdruck-Trend","label":"{{payload.DEV_VAL_DESC}}","format":"{{payload.READ_VALUE}}","layout":"col-center","x":1040,"y":280,"wires":[]},{"id":"ea07d10c.af38e","type":"function","z":"29eb76da.f27d3e","name":"Misc","func":"\n//\n// Weatherman\n//\n// Ergaenzt DEV_VAL_UNIT mit allgemeinen Luftdruckangaben\n// und berechnet den N.N. Luftdruck \n// \n// < 980      sehr tief - stuermisch \n// 980-1000   tief - regnerisch \n// 1000-1020  normal - wechselhaft \n// 1020-1040  hoch - sonnig \n// > 1040     sehr hoch - sehr trocken\n\nvar myVal      = msg.payload.READ_VALUE;\nvar myValHoehe = flow.get(\"myFlow_Baro_NN\");\n\nvar myTxt = \"\";\n\nmyVal      = Number(myVal).toFixed(1);\nmyValHoehe = Number(myValHoehe).toFixed(0);\n\nswitch (true) {\n  case (myVal < 980):                   myTxt = \"sehr tief - stürmisch\";    break;\n  case ( 980 <= myVal && myVal < 1000): myTxt = \"tief - regnerisch\";        break;\n  case (1000 <= myVal && myVal < 1020): myTxt = \"normal - wechselhaft\";     break;\n  case (1020 <= myVal && myVal < 1040): myTxt = \"hoch - sonnig\";            break;\n  case (myVal > 1000):                  myTxt = \"sehr hoch - sehr trocken\"; break;\n}\n\nmsg.payload.DEV_VAL_DESC = msg.payload.DEV_VAL_DESC;\nmsg.payload.READ_VALUE   = myVal;\n// msg.payload.DEV_VAL_UNIT = msg.payload.DEV_VAL_UNIT + \" (\" + myValHoehe +\" m ü. N.N.)\\n\" + myTxt;\nmsg.payload.DEV_VAL_UNIT = msg.payload.DEV_VAL_UNIT + \"\\n\" + myTxt;\n\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":250,"wires":[["c4ac3e9.e9b114"]]},{"id":"7db2781b.dda5c4","type":"ui_gauge","z":"29eb76da.f27d3e","name":"Wind-Staerke","group":"16b2e122.cb9407","order":8,"width":"3","height":"2","gtype":"gage","title":"{{payload.DEV_VAL_DESC}}","label":"{{payload.DEV_VAL_UNIT}}","format":"{{payload.READ_VALUE}}","min":"0","max":"12","colors":["#0000e6","#73e600","#e67200"],"seg1":"","seg2":"","x":1040,"y":320,"wires":[]},{"id":"b9de6ab3.5b56e8","type":"ui_gauge","z":"29eb76da.f27d3e","name":"Wind-Staerke AVG","group":"16b2e122.cb9407","order":10,"width":"3","height":"2","gtype":"gage","title":"{{payload.DEV_VAL_DESC}}","label":"{{payload.DEV_VAL_UNIT}}","format":"{{payload.READ_VALUE}}","min":"0","max":"120","colors":["#0000e6","#73e600","#e67200"],"seg1":"","seg2":"","x":1030,"y":410,"wires":[]},{"id":"b7439aa6.2f1848","type":"ui_gauge","z":"29eb76da.f27d3e","name":"Wind-Staerke PEAK","group":"16b2e122.cb9407","order":11,"width":"3","height":"2","gtype":"gage","title":"{{payload.DEV_VAL_DESC}}","label":"{{payload.DEV_VAL_UNIT}}","format":"{{payload.READ_VALUE}}","min":"0","max":"120","colors":["#0000e6","#73e600","#e67200"],"seg1":"","seg2":"","x":1020,"y":380,"wires":[]},{"id":"e00751a6.97f92","type":"function","z":"29eb76da.f27d3e","name":"Misc","func":"//\n// Weatherman\n//\n// Entfernt Unterstrich im Baro-Trend und\n// ersetzt ihn durch ein Leerzeichen\n\nvar str = msg.payload.READ_VALUE;\nvar pos = str.indexOf(\"_\");\n\nif (pos > 0) {\n  msg.payload.READ_VALUE = str.slice(0, pos) + \" \" + str.slice(pos+1);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":280,"wires":[["2da89f63.aaca88"]]},{"id":"42bd6493.eb2268","type":"function","z":"29eb76da.f27d3e","name":"Misc","func":"// \n//\n//\n// wm_wind_dir\n// Label: {{payload.DEV_VAL_DESC}}\n// Value: {{payload.READ_VALUE}}\n// Units: {{payload.DEV_VAL_UNIT}}\n\nvar msgRtn = {};\n\nvar my_wind_desc  = context.get(\"my_wind_desc\")  || context.set(\"my_wind_desc\",  \"?\");\nvar my_wind_value = context.get(\"my_wind_value\") || context.set(\"my_wind_value\", 0);\nvar my_wind_unit  = context.get(\"my_wind_unit\")  || context.set(\"my_wind_unit\",  \"?\");\nvar my_wind_udir  = context.get(\"my_wind_udir\")  || context.set(\"my_wind_udir\",  \"?\");\n\n// console.log (\"### DEV_TYP ### = \" + msg.payload.DEV_TYP);\n\nif ( msg.payload.DEV_TYP === \"wm_wind_dir\" ) {\n  context.set('my_wind_desc' , msg.payload.DEV_VAL_DESC);\n  context.set('my_wind_value', msg.payload.READ_VALUE);\n  context.set('my_wind_unit' , msg.payload.DEV_VAL_UNIT);\n}\nif ( msg.payload.DEV_TYP === \"wm_wind_direction\" ) {\n  context.set('my_wind_udir', msg.payload.READ_VALUE);\n}\n\n// console.log (\"- my_wind_desc  = \" + context.get('my_wind_desc'));\n// console.log (\"- my_wind_value = \" + context.get('my_wind_value'));\n// console.log (\"- my_wind_unit  = \" + context.get('my_wind_unit'));\n// console.log (\"- my_wind_udir  = \" + context.get('my_wind_udir'));\n// console.log (\"=\");\n\nmsgRtn.topic   = context.get('my_wind_desc');\nmsgRtn.payload = context.get('my_wind_value') + context.get('my_wind_unit');\nmsgRtn.units   = \"\\n\\n\" + context.get('my_wind_udir');\n\nreturn msgRtn;","outputs":1,"noerr":0,"x":840,"y":350,"wires":[["6cf33690.b06558"]]},{"id":"6cf33690.b06558","type":"ui_gauge","z":"29eb76da.f27d3e","name":"Wind-Richtung X","group":"16b2e122.cb9407","order":9,"width":"3","height":"2","gtype":"compass","title":"{{topic}}","label":"{{units}}","format":"{{payload}}","min":0,"max":"360","colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":1030,"y":350,"wires":[]},{"id":"f442e197.62d69","type":"function","z":"29eb76da.f27d3e","name":"Misc","func":"\n//\n// Weatherman\n//\n// Ergaenzt DEV_VAL_UNIT mit allgemeinen Wind-Angaben\n// \n\n// https://de.wikipedia.org/wiki/Beaufortskala\n// Windstärke\n// in Bft  Bezeichnung         m/s         km/h  \n// 0   Windstille, Flaute   0,0 – < 0,3    0 – 1\n// 1   leiser Zug           0,3 – < 1,6    1 – 5\n// 2   leichte Brise        1,6 – < 3,4    6 – 11\n// 3   schwache Brise       3,4 – < 5,5   12 – 19\n// 4   mäßige Brise         5,5 – < 8,0   20 – 28\n// 5   frische Brise        8,0 – < 10,8  29 – 38\n// 6   starker Wind        10,8 – < 13,9  39 – 49\n// 7   steifer Wind        13,9 – < 17,2  50 – 61\n// 8   stürmischer Wind    17,2 – < 20,8  62 – 74\n// 9   Sturm               20,8 – < 24,5  75 – 88\n// 10  schwerer Sturm      24,5 – < 28,5  89 – 102\n// 11  orkanartiger Sturm  28,5 – < 32,7 103 – 117\n// 12  Orkan                    ≥ 32,7       ≥ 118  \n\nvar myTxt   = \"\";\nvar myTxtKm = \"\";\nvar myVal   = Number(msg.payload.READ_VALUE);\n\nif (isNaN(myVal)) {\n  myVal = 0;\n}\n\nswitch (true) {\n  case (myVal === 0):  myTxt = \"Windstille\";         myTxtKm = \"0-1\";      break;\n  case (myVal === 1):  myTxt = \"leiser Zug\";         myTxtKm = \"1-5\";      break;\n  case (myVal === 2):  myTxt = \"leichte Brise\";      myTxtKm = \"6-11\";     break;\n  case (myVal === 3):  myTxt = \"schwache Brise\";     myTxtKm = \"12-19\";    break;\n  case (myVal === 4):  myTxt = \"mäßige Brise\";       myTxtKm = \"20-28\";    break;\n  case (myVal === 5):  myTxt = \"frische Brise\";      myTxtKm = \"29-38\";    break;\n  case (myVal === 6):  myTxt = \"starker Wind\";       myTxtKm = \"39-49\";    break;\n  case (myVal === 7):  myTxt = \"steifer Wind\";       myTxtKm = \"50-61\";    break;\n  case (myVal === 8):  myTxt = \"stürmischer Wind\";   myTxtKm = \"62-74\";    break;\n  case (myVal === 9):  myTxt = \"Sturm\";              myTxtKm = \"75-88\";    break;\n  case (myVal === 10): myTxt = \"schwerer Sturm\";     myTxtKm = \"89-102\";   break;\n  case (myVal === 11): myTxt = \"orkanartiger Sturm\"; myTxtKm = \"103-117\";  break;\n  case (myVal === 12): myTxt = \"Orkan\";              myTxtKm = \"≥118\";     break;\n}\n\nmsg.payload.DEV_VAL_UNIT = msg.payload.DEV_VAL_UNIT + \" (\" + myTxtKm + \" km/h)\" + \"\\n\" + myTxt;\n\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":320,"wires":[["7db2781b.dda5c4"]]},{"id":"d689e3b7.51f0a8","type":"ui_text","z":"29eb76da.f27d3e","group":"f6c6ff6.d04124","order":13,"width":"3","height":"2","name":"Regen-Status X","label":"{{msg.payload}}","format":"<font color={{msg.color}}><i class=\"fa fa-circle\" style=\"font-size:10px;\"></i></font>","layout":"row-spread","x":1040,"y":480,"wires":[]},{"id":"9dcda45b.31b758","type":"function","z":"29eb76da.f27d3e","name":"Misc","func":"\n//\n// Weatherman\n//\n// LED Regenstatus\n// \n// wm_rain_xxx\n// Label: {{payload.DEV_VAL_DESC}}\n// Value: {{payload.READ_VALUE}}\n// Units: {{payload.DEV_VAL_UNIT}}\n//\n// <font color={{msg.color}}><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>\n// <font color={{msg.color}}><i class=\"fa fa-lightbulb-o fa-2x nr-dashboard-ok\" style=\"font-size:24px;\"></i></font>\n// <font color={{msg.color}}><i class=\"fa fa-lightbulb-o fa-2x nr-dashboard-warning\" style=\"font-size:24px;\"></i></font>\n// <font color={{msg.color}}><i class=\"fa fa-lightbulb-o fa-2x nr-dashboard-error\" style=\"font-size:24px;\"></i></font>\n// <font color={{msg.color}}><i class=\"fa fa-lightbulb-o fa-2x nr-dashboard-dim\" style=\"font-size:24px;\"></i></font>\n// <font color={{msg.color}}><i class=\"fa fa-lightbulb-o fa-2x nr-dashboard-color\" style=\"font-size:24px;\"></i></font>\n\nvar msgRtn = {};\n\nvar my_rain_desc   = context.get(\"my_rain_desc\")   || context.set(\"my_rain_desc\",   \"Regen-Status\");\nvar my_rain_value  = context.get(\"my_rain_value\")  || context.set(\"my_rain_value\",  0);\nvar my_rain_status = context.get(\"my_rain_status\") || context.set(\"my_rain_status\", false);\n\n// console.log (\"### DEV_TYP ### = \" + msg.payload.DEV_TYP);\n\nif ( msg.payload.DEV_TYP === \"wm_rain_activity\" ) {\n  context.set('my_rain_value', msg.payload.READ_VALUE);\n}\nif ( msg.payload.DEV_TYP === \"wm_rain_status\" ) {\n  context.set('my_rain_desc'  , msg.payload.DEV_VAL_DESC);\n  context.set('my_rain_status', msg.payload.READ_VALUE);\n}\n\n// console.log (\"- my_rain_desc   = \" + context.get('my_rain_desc'));\n// console.log (\"- my_rain_status = \" + context.get('my_rain_status'));\n// console.log (\"- my_rain_value  = \" + context.get('my_rain_value'));\n// console.log (\"=\");\n\nmsgRtn.color   = (context.get('my_rain_status') === false) ? \"#B8B8B8\" : \"#0072E6\";\nmsgRtn.payload = context.get('my_rain_desc') + \"\\n\\n[\" + context.get('my_rain_value') + \"]\";\n\nreturn msgRtn;","outputs":1,"noerr":0,"x":840,"y":480,"wires":[["d689e3b7.51f0a8"]]},{"id":"9eb0c19c.717f5","type":"ui_gauge","z":"29eb76da.f27d3e","name":"Regen-Staerke","group":"f6c6ff6.d04124","order":12,"width":"3","height":"2","gtype":"gage","title":"{{payload.DEV_VAL_DESC}}","label":"{{payload.DEV_VAL_UNIT}}","format":"{{payload.READ_VALUE}}","min":"0","max":"50","colors":["#73B8FE","#0072E6","#0000e6"],"seg1":"","seg2":"","x":1040,"y":450,"wires":[]},{"id":"3502bb4f.f8390c","type":"ui_gauge","z":"29eb76da.f27d3e","name":"Regen-Vol-1","group":"f6c6ff6.d04124","order":14,"width":"3","height":"2","gtype":"gage","title":"{{payload.DEV_VAL_DESC}}","label":"{{payload.DEV_VAL_UNIT}}","format":"{{payload.READ_VALUE}}","min":"0","max":"50","colors":["#73B8FE","#0072E6","#0000e6"],"seg1":"","seg2":"","x":1050,"y":510,"wires":[]},{"id":"4cad0830.6431d8","type":"ui_gauge","z":"29eb76da.f27d3e","name":"Regen-Vol-24","group":"f6c6ff6.d04124","order":15,"width":"3","height":"2","gtype":"gage","title":"{{payload.DEV_VAL_DESC}}","label":"{{payload.DEV_VAL_UNIT}}","format":"{{payload.READ_VALUE}}","min":"0","max":"50","colors":["#73B8FE","#0072E6","#0000e6"],"seg1":"","seg2":"","x":1040,"y":540,"wires":[]},{"id":"81e633bd.dc33d","type":"ui_gauge","z":"29eb76da.f27d3e","name":"Regen-Vol-Y","group":"f6c6ff6.d04124","order":16,"width":"3","height":"2","gtype":"gage","title":"{{payload.DEV_VAL_DESC}}","label":"{{payload.DEV_VAL_UNIT}}","format":"{{payload.READ_VALUE}}","min":"0","max":"50","colors":["#73B8FE","#0072E6","#0000e6"],"seg1":"","seg2":"","x":1050,"y":570,"wires":[]},{"id":"f36731ea.dc3988","type":"ui_text","z":"29eb76da.f27d3e","group":"f6c6ff6.d04124","order":17,"width":"3","height":"2","name":"Regen-LEER","label":"","format":"","layout":"row-spread","x":1050,"y":600,"wires":[]},{"id":"da7ee00f.b36a9","type":"ui_gauge","z":"29eb76da.f27d3e","name":"Sonne-Lux","group":"beb9ec90.0d797","order":18,"width":"3","height":"2","gtype":"gage","title":"{{payload.DEV_VAL_DESC}}","label":"{{payload.DEV_VAL_UNIT}}","format":"{{payload.READ_VALUE}}","min":"0","max":"20000","colors":["#575700","#D7D700","#fefe3b"],"seg1":"","seg2":"","x":1050,"y":640,"wires":[]},{"id":"a0da8285.3812b","type":"function","z":"29eb76da.f27d3e","name":"Misc","func":"\n//\n// Weatherman\n//\n// Rundet READ_VALUE ohne Nachkommastellen\n// \n\nmsg.payload.READ_VALUE = parseFloat(msg.payload.READ_VALUE).toFixed(0);\n\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":640,"wires":[["da7ee00f.b36a9"]]},{"id":"326356b1.f828f6","type":"ui_gauge","z":"29eb76da.f27d3e","name":"Sonne-Temperatur","group":"beb9ec90.0d797","order":20,"width":"3","height":"2","gtype":"gage","title":"{{topic}}","label":"{{units}}","format":"{{payload}}","min":"-20","max":"50","colors":["#0000e6","#73e600","#e67200"],"seg1":"","seg2":"","x":1030,"y":700,"wires":[]},{"id":"c54b934.e9109b","type":"function","z":"29eb76da.f27d3e","name":"Misc","func":"\n//\n// Weatherman\n//\n// LED Sonnenstatus\n// \n// wm_sun_xxx\n// Label: {{payload.DEV_VAL_DESC}}\n// Value: {{payload.READ_VALUE}}\n// Units: {{payload.DEV_VAL_UNIT}}\n//\n// <font color={{msg.color}}><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>\n// <font color={{msg.color}}><i class=\"fa fa-lightbulb-o fa-2x nr-dashboard-ok\" style=\"font-size:24px;\"></i></font>\n// <font color={{msg.color}}><i class=\"fa fa-lightbulb-o fa-2x nr-dashboard-warning\" style=\"font-size:24px;\"></i></font>\n// <font color={{msg.color}}><i class=\"fa fa-lightbulb-o fa-2x nr-dashboard-error\" style=\"font-size:24px;\"></i></font>\n// <font color={{msg.color}}><i class=\"fa fa-lightbulb-o fa-2x nr-dashboard-dim\" style=\"font-size:24px;\"></i></font>\n// <font color={{msg.color}}><i class=\"fa fa-lightbulb-o fa-2x nr-dashboard-color\" style=\"font-size:24px;\"></i></font>\n\nvar msgRtn = {};\nvar myVal = 0;\n\nvar my_temp_desc  = context.get(\"my_temp_desc\")  || context.set(\"my_temp_desc\",  \"Temperatur\");\nvar my_temp_value = context.get(\"my_temp_value\") || context.set(\"my_temp_value\", 0);\nvar my_temp_unit  = context.get(\"my_temp_unit\")  || context.set(\"my_temp_unit\",  \"°C\");\n\nvar my_sun_flag  = context.get(\"my_sun_flag\")  || context.set(\"my_sun_flag\",  false);\nvar my_sun_desc  = context.get(\"my_sun_desc\")  || context.set(\"my_sun_desc\",  \"Sonne-Temperatur\");\nvar my_sun_value = context.get(\"my_sun_value\") || context.set(\"my_sun_value\", 0);\nvar my_sun_unit  = context.get(\"my_sun_unit\")  || context.set(\"my_sun_unit\",  \"°C\");\nvar my_sun_delta = context.get(\"my_sun_delta\") || context.set(\"my_sun_delta\", 0);\n\nvar my_sun_diff_desc  = context.get(\"my_sun_diff_desc\")  || context.set(\"my_sun_diff_desc\",  \"Sonne-Diff.Temp.\");\nvar my_sun_diff_value = context.get(\"my_sun_diff_value\") || context.set(\"my_sun_diff_value\", 0);\nvar my_sun_diff_unit  = context.get(\"my_sun_diff_unit\")  || context.set(\"my_sun_diff_unit\",  \"°C\");\n\n// console.log (\"### DEV_TYP ### = \" + msg.payload.DEV_TYP);\n\nif ( msg.payload.DEV_TYP === \"wm_sun_temp_diff\" ) {\n  context.set('my_sun_diff_desc' , msg.payload.DEV_VAL_DESC);\n  context.set('my_sun_diff_value', msg.payload.READ_VALUE);\n  context.set('my_sun_diff_unit' , msg.payload.DEV_VAL_UNIT);\n}\nif ( msg.payload.DEV_TYP === \"wm_sun_temp\" ) {\n  context.set('my_sun_desc' , msg.payload.DEV_VAL_DESC);\n  context.set('my_sun_value', msg.payload.READ_VALUE);\n  context.set('my_sun_unit' , msg.payload.DEV_VAL_UNIT);\n  context.set('my_sun_flag' , true);\n}\nif ( msg.payload.DEV_TYP === \"wm_temp\" ) {\n  context.set('my_temp_desc' , msg.payload.DEV_VAL_DESC);\n  context.set('my_temp_value', msg.payload.READ_VALUE);\n  context.set('my_temp_unit' , msg.payload.DEV_VAL_UNIT);\n}\n\n// console.log (\"- my_temp_desc  = \" + context.get('my_temp_desc'));\n// console.log (\"- my_temp_value = \" + context.get('my_temp_value'));\n// console.log (\"- my_temp_unit  = \" + context.get('my_temp_unit'));\n// console.log (\"- my_sun_desc  = \" + context.get('my_sun_desc'));\n// console.log (\"- my_sun_value = \" + context.get('my_sun_value'));\n// console.log (\"- my_sun_unit  = \" + context.get('my_sun_unit'));\n// console.log (\"- my_sun_flag  = \" + context.get('my_sun_flag'));\n// console.log (\"- my_sun_diff_desc  = \" + context.get('my_sun_diff_desc'));\n// console.log (\"- my_sun_diff_value = \" + context.get('my_sun_diff_value'));\n// console.log (\"- my_sun_diff_unit  = \" + context.get('my_sun_diff_unit'));\n// console.log (\"=\");\n\nif (context.get('my_sun_flag') === true) {\n  myVal = context.get('my_sun_value');\n} else {\n  myVal = context.get('my_temp_value') + context.get('my_diff_value');\n}\nif (isNaN(myVal)) {\n  myVal = 0;\n}\nmyVal = parseFloat(myVal).toFixed(1);\n\nmsgRtn.topic   = context.get('my_sun_desc');\nmsgRtn.payload = myVal;\nmsgRtn.units   = context.get('my_sun_unit') + \"\\nDelta Temp. \" + context.get('my_sun_diff_value') + \" \" + context.get('my_sun_diff_unit');\n\nreturn msgRtn;","outputs":1,"noerr":0,"x":840,"y":700,"wires":[["326356b1.f828f6"]]},{"id":"87445aa4.09295","type":"ui_text","z":"29eb76da.f27d3e","group":"beb9ec90.0d797","order":19,"width":"3","height":"2","name":"Sonne-Status X","label":"{{msg.payload}}","format":"<font color={{msg.color}}><i class=\"fa fa-circle\" style=\"font-size:10px;\"></i></font>","layout":"row-spread","x":1040,"y":670,"wires":[]},{"id":"86d73e34.51029","type":"function","z":"29eb76da.f27d3e","name":"Misc","func":"\n//\n// Weatherman\n//\n// LED Sonnenstatus\n// \n// wm_sun_xxx\n// Label: {{payload.DEV_VAL_DESC}}\n// Value: {{payload.READ_VALUE}}\n// Units: {{payload.DEV_VAL_UNIT}}\n//\n// <font color={{msg.color}}><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>\n// <font color={{msg.color}}><i class=\"fa fa-lightbulb-o fa-2x nr-dashboard-ok\" style=\"font-size:24px;\"></i></font>\n// <font color={{msg.color}}><i class=\"fa fa-lightbulb-o fa-2x nr-dashboard-warning\" style=\"font-size:24px;\"></i></font>\n// <font color={{msg.color}}><i class=\"fa fa-lightbulb-o fa-2x nr-dashboard-error\" style=\"font-size:24px;\"></i></font>\n// <font color={{msg.color}}><i class=\"fa fa-lightbulb-o fa-2x nr-dashboard-dim\" style=\"font-size:24px;\"></i></font>\n// <font color={{msg.color}}><i class=\"fa fa-lightbulb-o fa-2x nr-dashboard-color\" style=\"font-size:24px;\"></i></font>\n\nvar msgRtn = {};\n\nmsgRtn.payload = msg.payload.DEV_VAL_DESC;\nmsgRtn.color   = (msg.payload.READ_VALUE === false) ? \"#B8B8B8\" : \"#E6E600\";\n\nreturn msgRtn;","outputs":1,"noerr":0,"x":840,"y":670,"wires":[["87445aa4.09295"]]},{"id":"b4182424.452b98","type":"comment","z":"29eb76da.f27d3e","name":"Weatherman DB - AVG","info":"","x":620,"y":730,"wires":[]},{"id":"42c6263.ec7fd58","type":"function","z":"29eb76da.f27d3e","name":"Misc","func":"\n//\n// Weatherman\n//\n// Wandelt Wert und Bezeichnung von m/sec in km/h\n// \n\nvar myVal = Number(msg.payload.READ_VALUE);\nif (isNaN(myVal)) {\n  myVal = 0;\n}\nmyVal = Number(myVal) * 3.6;\nmyVal = parseFloat(myVal).toFixed(0);\n\nmsg.payload.DEV_VAL_UNIT = \"km/h\\n\" + msg.payload.READ_VALUE + \" \" + msg.payload.DEV_VAL_UNIT;\nmsg.payload.READ_VALUE = myVal;\n\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":380,"wires":[["b7439aa6.2f1848"]]},{"id":"e6cd3c59.a4ab","type":"function","z":"29eb76da.f27d3e","name":"Misc","func":"\n//\n// Weatherman\n//\n// Wandelt Wert und Bezeichnung von m/sec in km/h\n// \n\nvar myVal = Number(msg.payload.READ_VALUE);\nif (isNaN(myVal)) {\n  myVal = 0;\n}\nmyVal = Number(myVal) * 3.6;\nmyVal = parseFloat(myVal).toFixed(0);\n\nmsg.payload.DEV_VAL_UNIT = \"km/h\\n\" + msg.payload.READ_VALUE + \" \" + msg.payload.DEV_VAL_UNIT;\nmsg.payload.READ_VALUE = myVal;\n\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":410,"wires":[["b9de6ab3.5b56e8"]]},{"id":"51588537.32db6c","type":"ui_gauge","z":"29eb76da.f27d3e","name":"Temperatur-Gefuehlt","group":"f343fa63.bf71b8","order":5,"width":"3","height":"2","gtype":"gage","title":"{{payload.DEV_VAL_DESC}}","label":"{{payload.DEV_VAL_UNIT}}","format":"{{payload.READ_VALUE}}","min":"-20","max":"50","colors":["#0000e6","#73e600","#e67200"],"seg1":"","seg2":"","x":1020,"y":110,"wires":[]},{"id":"3fa2dfd8.69b0e","type":"ui_gauge","z":"29eb76da.f27d3e","name":"Temperatur-Aussen","group":"f343fa63.bf71b8","order":1,"width":"3","height":"2","gtype":"gage","title":"{{payload.DEV_VAL_DESC}}","label":"{{payload.DEV_VAL_UNIT}}","format":"{{payload.READ_VALUE}}","min":"-20","max":"50","colors":["#0000e6","#73e600","#e67200"],"seg1":"","seg2":"","x":1020,"y":80,"wires":[]},{"id":"8f3830c5.f49e98","type":"switch","z":"29eb76da.f27d3e","name":"Switch AVG","property":"payload.DEV_TYP","propertyType":"msg","rules":[{"t":"eq","v":"wm_temp","vt":"str"},{"t":"eq","v":"wm_temp_dewpoint","vt":"str"},{"t":"eq","v":"wm_hum_pro","vt":"str"},{"t":"eq","v":"wm_baro_nn","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":650,"y":780,"wires":[["a0b01dd4.839fd"],["7b998741.0874f4"],["f7022492.93bc18"],["39308de4.8b6a72"]]},{"id":"a0b01dd4.839fd","type":"function","z":"29eb76da.f27d3e","name":"Misc","func":"//\n// Weatherman\n//\nvar msgRtn = {};\n\nmsgRtn.topic   = msg.payload.DEV_VAL_DESC;\nmsgRtn.payload = parseFloat(msg.payload.READ_VALUE).toFixed(1);\n\nreturn msgRtn;","outputs":1,"noerr":0,"x":840,"y":740,"wires":[["904d72da.1be8c"]]},{"id":"7b998741.0874f4","type":"function","z":"29eb76da.f27d3e","name":"Misc","func":"//\n// Weatherman\n//\nvar msgRtn = {};\n\nmsgRtn.topic   = msg.payload.DEV_VAL_DESC;\nmsgRtn.payload = parseFloat(msg.payload.READ_VALUE).toFixed(1);\n\nreturn msgRtn;","outputs":1,"noerr":0,"x":840,"y":770,"wires":[["904d72da.1be8c"]]},{"id":"f7022492.93bc18","type":"function","z":"29eb76da.f27d3e","name":"Misc","func":"//\n// Weatherman\n//\nvar msgRtn = {};\n\nmsgRtn.topic   = msg.payload.DEV_VAL_DESC;\nmsgRtn.payload = parseFloat(msg.payload.READ_VALUE).toFixed(1);\n\nreturn msgRtn;","outputs":1,"noerr":0,"x":840,"y":800,"wires":[["34ab2ff9.4eff48"]]},{"id":"39308de4.8b6a72","type":"function","z":"29eb76da.f27d3e","name":"Misc","func":"//\n// Weatherman\n//\nvar msgRtn = {};\n\nmsgRtn.topic   = msg.payload.DEV_VAL_DESC;\nmsgRtn.payload = parseFloat(msg.payload.READ_VALUE).toFixed(1);\n\nreturn msgRtn;","outputs":1,"noerr":0,"x":840,"y":830,"wires":[["97b4df6f.dc53f"]]},{"id":"904d72da.1be8c","type":"ui_chart","z":"29eb76da.f27d3e","name":"Verlauf-Temperatur","group":"99e214f8.8b4e58","order":9,"width":"0","height":"0","label":"Verlauf - Temperatur °C","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"x":1030,"y":770,"wires":[[],[]]},{"id":"34ab2ff9.4eff48","type":"ui_chart","z":"29eb76da.f27d3e","name":"Verlauf-Luftfeuchtigkeit","group":"99e214f8.8b4e58","order":9,"width":0,"height":0,"label":"Verlauf - Luftfeuchtigkeit %","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"x":1020,"y":800,"wires":[[],[]]},{"id":"97b4df6f.dc53f","type":"ui_chart","z":"29eb76da.f27d3e","name":"Verlauf-Luftdruck","group":"99e214f8.8b4e58","order":9,"width":"0","height":"0","label":"Verlauf - Luftdruck hPa","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"x":1030,"y":830,"wires":[[],[]]},{"id":"a42308b7.24a41","type":"mqtt in","z":"29eb76da.f27d3e","name":"","topic":"/myHOME/sensor/devices/Weatherman/avg","qos":"2","broker":"907d3f79.5c45a","x":190,"y":200,"wires":[["4e4ac97.9b58b78"]]},{"id":"4e4ac97.9b58b78","type":"json","z":"29eb76da.f27d3e","name":"","property":"payload","action":"obj","pretty":false,"x":450,"y":200,"wires":[["8f3830c5.f49e98"]]},{"id":"6b784ce3.956b6","type":"mqtt in","z":"29eb76da.f27d3e","name":"","topic":"/myHOME/sensor/devices/Weatherman/state","qos":"2","broker":"907d3f79.5c45a","x":190,"y":80,"wires":[["1ef19f4.6d74961"]]},{"id":"1ef19f4.6d74961","type":"json","z":"29eb76da.f27d3e","name":"","property":"payload","action":"obj","pretty":false,"x":450,"y":80,"wires":[["fd026376.34e4a","a13b2b76.c695b8"]]},{"id":"fd026376.34e4a","type":"ui_text","z":"29eb76da.f27d3e","group":"f343fa63.bf71b8","order":2,"width":"3","height":"2","name":"WM - Status - LED","label":"{{payload.txtled}}","format":"<font color={{payload.ledcolor}}><i class=\"fa fa-circle\" style=\"font-size:10px;\"></i></font>","layout":"row-spread","x":670,"y":80,"wires":[]},{"id":"a13b2b76.c695b8","type":"ui_template","z":"29eb76da.f27d3e","group":"5afd9a3a.ca7a2","name":"WM - Status - Text","order":22,"width":"6","height":"5","format":"<script>\n// ( function(scope ) {\n//   scope.$watch('msg', function(msg) {\n//     if (msg != null) {\n//     } else {\n//     }\n//   });\n// } (scope) );\n</script>\n<table width=\"100%\" border=\"0\">\n  <tbody>\n    <tr>\n      <td width=\"120\">Verbindung:</td>\n      <td>\n        <font color={{msg.payload.ledcolor}}><i class=\"fa fa-circle\" style=\"font-size:10px;\"></i></font>\n      </td>\n      <td>{{msg.payload.txtstatus}}</td>\n    </tr>\n    <tr>\n      <td>ID:</td>\n      <td colspan=\"2\">{{msg.payload.iddev}}</td>\n    </tr>\n    <tr>\n      <td>Firmware:</td>\n      <td colspan=\"2\">{{msg.payload.iddevfw}}</td>\n    </tr>\n    <tr>\n      <td>WLAN:</td>\n      <td colspan=\"2\">{{msg.payload.wlan}}</td>\n    </tr>\n    <tr>\n      <td>Letzte Aktivität:</td>\n      <td colspan=\"2\">{{msg.payload.READ_TIME}}</td>\n    </tr>\n    <tr>\n      <td>Empfang:</td>\n      <td colspan=\"2\">{{msg.payload.jsonstatus}}<br>{{msg.payload.jsonerror.message}}</td>\n    </tr>\n    <tr>\n      <td colspan=\"3\"><font size=\"-3\"><br>CC BY-NC-SA 4.0<br>(c) by Dipl.-Ing. Wolfram Winter</font></td>\n    </tr>\n  </tbody>\n</table>","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":670,"y":110,"wires":[[]]},{"id":"ffb804bf.c1e718","type":"comment","z":"29eb76da.f27d3e","name":"Version 1.0.0.0 - 08.12.2018 - Readme - WW-myHOME - Weatherman MQTT","info":"------------------------------------------------------------------------\nReadme - WW-myHOME - Weatherman MQTT\n------------------------------------------------------------------------\n(c) by Dipl.Ing. Wolfram Winter - wolfram.winter@web.de\n\nThis work is licensed under a\nCreative Commons Attribution-NonCommercial-ShareAlike 4.0 International License.\n\nYou should have received a copy of the license along with this work. If\nnot, see <http://creativecommons.org/licenses/by-nc-sa/4.0/>.\n\n------------------------------------------------------------------------\nFunktion:\n\nAnzeige der durch Node-RED aufbereiteten und versandten MQTT Daten \n(Modul Weatherman DB) der Sensordaten der Wetterstation Weatherman \n(Dr. Stall) \n\n------------------------------------------------------------------------\nDoku:\n\nhttps://github.com/wolwin/WW-myHOME/tree/master/myHOME%20-%20Weatherman\n\n------------------------------------------------------------------------\n    Erstellt:   01.12.2018 - Winter\n    Änderungen: 08.12.2018 - Winter\n                - Version 1.0.0.0\n------------------------------------------------------------------------\n","x":280,"y":30,"wires":[]},{"id":"907d3f79.5c45a","type":"mqtt-broker","z":"","name":"mosquitto 192.168.0.11 (secure: 1883 - user)","broker":"192.168.0.11","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"f343fa63.bf71b8","type":"ui_group","z":"","name":"Weatherman - Übersicht","tab":"fdf79d6a.d3961","order":1,"disp":true,"width":"6","collapse":false},{"id":"16b2e122.cb9407","type":"ui_group","z":"","name":"Wind","tab":"fdf79d6a.d3961","order":3,"disp":true,"width":"6","collapse":false},{"id":"f6c6ff6.d04124","type":"ui_group","z":"","name":"Regen","tab":"fdf79d6a.d3961","order":4,"disp":true,"width":"6","collapse":false},{"id":"beb9ec90.0d797","type":"ui_group","z":"","name":"Sonne","tab":"fdf79d6a.d3961","order":5,"disp":true,"width":"6","collapse":false},{"id":"99e214f8.8b4e58","type":"ui_group","z":"","name":"Verlauf","tab":"fdf79d6a.d3961","order":2,"disp":true,"width":"6","collapse":false},{"id":"5afd9a3a.ca7a2","type":"ui_group","z":"","name":"Weatherman - Status","tab":"fdf79d6a.d3961","order":6,"disp":true,"width":"6","collapse":false},{"id":"fdf79d6a.d3961","type":"ui_tab","z":"","name":"Weatherman (MQTT)","icon":"dashboard","order":3}]