SHT_Sensor-Datenbank/bin/archive/FLOW - myHOME - Datenbank_20181208.md
[{"id":"5b5ca811.a671d","type":"tab","label":"myHOME - Datenbank","disabled":false,"info":"Anlegen der myHOME-Datenbank"},{"id":"50f08e72.b94794","type":"mysql","z":"5b5ca811.a671d","mydb":"cc4f672b.e6b7c8","name":"","x":510,"y":300,"wires":[["2c729c0c.71d3e4"]]},{"id":"2c729c0c.71d3e4","type":"debug","z":"5b5ca811.a671d","name":"MSG_myHOME","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":710,"y":300,"wires":[]},{"id":"cf40ea35.1732b","type":"inject","z":"5b5ca811.a671d","name":"03 - Create table SENSOR_DEVICES","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":170,"wires":[["71f39eb3.97954c"]]},{"id":"71f39eb3.97954c","type":"function","z":"5b5ca811.a671d","name":"SQL - myHOME.SENSOR_DEVICES","func":"var myMsg = {\n \"topic\":\n \"USE `myHOME`;\" +\n \"DROP TABLE IF EXISTS `SENSOR_DEVICES`;\" +\n \"CREATE TABLE `SENSOR_DEVICES` (\" +\n \"   `ID_DEV`       INT(10) UNSIGNED NOT NULL DEFAULT 0,\" +\n \"   `DEV_NAME`     VARCHAR(50) NOT NULL,\" +\n \"   `DEV_TYP`      VARCHAR(50) NOT NULL,\" +\n \"   `DEV_DESC`     VARCHAR(50) NOT NULL,\" +\n \"   `DEV_LOC`      VARCHAR(50) NOT NULL DEFAULT '',\" +\n \"   `DEV_VAL_DESC` VARCHAR(50) NOT NULL,\" +\n \"   `DEV_VAL_UNIT` VARCHAR(20) NOT NULL DEFAULT '',\" +\n \"   `DEV_OLD_NAME` VARCHAR(50) NOT NULL DEFAULT '',\" +\n \"   `DEV_OLD_TYP`  VARCHAR(50) NOT NULL DEFAULT '',\" +\n \"   `DEV_MQTT`     VARCHAR(150) NOT NULL DEFAULT '',\" +\n \"   `DEV_FL_ACT`   TINYINT UNSIGNED DEFAULT 1,\" +\n \"   `DEV_FL_STO`   TINYINT UNSIGNED DEFAULT 0,\" +\n \"   `DEV_FL_MQTT`  TINYINT UNSIGNED DEFAULT 0,\" +\n \"   `DEV_FL_INT`   TINYINT UNSIGNED DEFAULT 0\" +\n \" , PRIMARY KEY (`ID_DEV`)\" +\n \" , KEY `idx_DEV_ALL` (`DEV_NAME`, `DEV_TYP`, `ID_DEV`)\" +\n \");\" +\n\"DROP TRIGGER IF EXISTS `trig_SENSOR_DEVICES`;\" +\n\"CREATE TRIGGER `trig_SENSOR_DEVICES`\" +\n\"  BEFORE INSERT ON `SENSOR_DEVICES`\" +\n\"    FOR EACH ROW BEGIN\" +\n       // # NULL-Test ID_DEV\n\"      IF new.ID_DEV = 0\" +\n\"      THEN\" +\n\"        SET new.ID_DEV = (SELECT MAX(ID_DEV) + 1 FROM SENSOR_DEVICES);\" +\n\"        IF new.ID_DEV IS NULL\" +\n\"        THEN\" +\n\"          SET new.ID_DEV = 0;\" +\n\"        END IF;\" +\n\"      END IF;\" +\n       // # NULL-Test DEV_NAME\n\"      IF new.DEV_NAME IS NULL\" +\n\"      THEN\" +\n\"        SET new.DEV_NAME = CONCAT('DEV_NAME - ', new.ID_DEV);\" +\n\"      END IF;\" +\n       // # NULL-Test DEV_TYP\n\"      IF new.DEV_TYP IS NULL\" +\n\"      THEN\" +\n\"        SET new.DEV_TYP = CONCAT('DEV_TYP - ', new.ID_DEV);\" +\n\"      END IF;\" +\n       // # NULL-Test DEV_DESC\n\"      IF new.DEV_DESC IS NULL\" +\n\"      THEN\" +\n\"        SET new.DEV_DESC = CONCAT('DEV_DESC - ', new.ID_DEV);\" +\n\"      END IF;\" +\n       // # NULL-Test DEV_VAL_DESC\n\"      IF new.DEV_VAL_DESC IS NULL\" +\n\"      THEN\" +\n\"        SET new.DEV_VAL_DESC = CONCAT('DEV_VAL_DESC - ', new.ID_DEV);\" +\n\"      END IF;\" +\n\"    END;\" +\n\"INSERT INTO SENSOR_DEVICES SET `ID_DEV` = 0,  `DEV_NAME` = 'DEV_NAME - ???', `DEV_TYP` = 'DEV_TYP - ???', `DEV_DESC` = 'DEV_DESC - ???', `DEV_LOC` = 'DEV_LOC - ???', `DEV_VAL_DESC` = 'DEV_VAL_DESC - ???', `DEV_VAL_UNIT` = 'DEV_VAL_UNIT - ???';\"\n}\nreturn myMsg;","outputs":1,"noerr":0,"x":600,"y":170,"wires":[["50f08e72.b94794"]]},{"id":"9262770c.f950b8","type":"inject","z":"5b5ca811.a671d","name":"04 - Create table SENSOR_READINGS","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":210,"wires":[["2dca51a3.643a72"]]},{"id":"2dca51a3.643a72","type":"function","z":"5b5ca811.a671d","name":"SQL - myHOME.SENSOR_READINGS","func":"var myMsg = {\n \"topic\":\n \"USE `myHOME`;\" +\n \"DROP TABLE IF EXISTS `SENSOR_READINGS`;\" +\n \"CREATE TABLE `SENSOR_READINGS` (\" +\n \"  `ID_READ`     DATETIME(0) NOT NULL,\" +\n \"  `ID_DEV`      INT(10) UNSIGNED,\" +\n \"  `READ_TIME`   VARCHAR(25),\" +\n \"  `READ_VALUE`  VARCHAR(50),\" +\n \"  `READ_FLAG`   TINYINT UNSIGNED DEFAULT 0\" +\n \"  , KEY `idx_ID_READ`   (`ID_READ`)\" +\n \"  , KEY `idx_ID_ALL`    (`ID_READ`, `ID_DEV`)\" +\n \"  , KEY `idx_READ_TIME` (`READ_TIME`)\" +\n \");\" +\n \"DROP TRIGGER IF EXISTS `trig_SENSOR_READINGS`;\" +\n \"CREATE TRIGGER `trig_SENSOR_READINGS`\" +\n \"  BEFORE INSERT ON `SENSOR_READINGS`\" +\n \"    FOR EACH ROW BEGIN\" +\n        // # NULL-Test ID_DEV\n \"      IF new.ID_DEV IS NULL\" +\n \"      THEN\" +\n \"        SET new.ID_DEV = 0;\" +\n \"      END IF;\" +\n        // # NULL-Test READ_TIME mit ID_READ setzen\n \"      IF new.READ_TIME IS NULL\" +\n \"      THEN\" +\n \"        SET new.ID_READ = now();\" +\n          // # Format: 2018-11-04T10:28:24+00:00\n          // # SET new.READ_TIME = DATE_FORMAT(now(), '%Y-%m-%dT%T+00:00');\n          // # Format: 2018-11-04 10:28:24\n \"        SET new.READ_TIME = DATE_FORMAT(new.ID_READ, '%Y-%m-%d %T');\" +\n \"       ELSE\" +\n \"        SET new.ID_READ = CAST(new.READ_TIME AS DATETIME);\" +\n          // # NULL-Test ID_READ\n \"        IF new.ID_READ IS NULL\" +\n \"        THEN\" +\n \"          SET new.ID_READ = now();\" +\n \"        END IF;\" +\n \"      END IF;\" +\n        // # NULL-Test READ_FLAG\n \"      IF new.READ_FLAG IS NULL\" +\n \"      THEN\" +\n \"        SET new.READ_FLAG = 0;\" +\n \"      END IF;\" +\n \"    END;\"\n // # Test\n // # INSERT INTO SENSOR_READINGS (ID_DEV, READ_TIME, READ_VALUE) values ( '1', '2000-01-01 01:01:01', '47.11' );\n}\nreturn myMsg;","outputs":1,"noerr":0,"x":610,"y":210,"wires":[["50f08e72.b94794"]]},{"id":"b30c1c60.7bb218","type":"comment","z":"5b5ca811.a671d","name":"01 - myHOME SQL-Datenbank anlegen (manuell) - SQL-Befehle ...","info":"Für die mariaDB-Datenbank:\n\nDROP DATABASE IF EXISTS `myHOME`;\nCREATE DATABASE `myHOME` DEFAULT CHARACTER SET utf8 COLLATE utf8_bin;\n","x":260,"y":90,"wires":[]},{"id":"65d40c3c.697fb8","type":"comment","z":"5b5ca811.a671d","name":"02 - Verbindungsparameter in myHOME-Node eintragen","info":"Die Verbindungsparameter müssen in den Datenbank-Node eingetragen werden.\n","x":220,"y":130,"wires":[]},{"id":"2e62c3be.b95eb4","type":"function","z":"5b5ca811.a671d","name":"SQL - SENSOR_DEVICES - Weatherman","func":"var myMsg = {\n \"topic\":\n \"USE `myHOME`;\" +\n // #\n // # ### Weatherman ###\n // #\n // \n // # `ID_DEV`-Aufbau xxxyyy mit\n // # xxx = von der IP-Adresse 192.168.010.xxx \n // # yyy = 3stelliger Index - hier: interne param-Nummerierung des Weatherman\n //\n // # Weatherman - Firmware stable 58        # Weatherman - Firmware 87\n // # System-Infos\n \"INSERT INTO SENSOR_DEVICES SET `ID_DEV`='100901', `DEV_NAME` = 'Weatherman', `DEV_TYP` = 'wm_sys_mac-adr',         `DEV_DESC` = 'Wetterstation', `DEV_LOC` = 'Garten', `DEV_VAL_DESC` = 'MAC-Adresse',      `DEV_VAL_UNIT` = '',    `DEV_OLD_NAME` = 'Systeminfo', `DEV_OLD_TYP` = 'MAC-Adresse',      `DEV_MQTT` = '/myHOME/sensor/devices/Weatherman', `DEV_FL_STO` = 0 , `DEV_FL_MQTT` = 0;\" +\n \"INSERT INTO SENSOR_DEVICES SET `ID_DEV`='100902', `DEV_NAME` = 'Weatherman', `DEV_TYP` = 'wm_sys_hm-ccu-ip',       `DEV_DESC` = 'Wetterstation', `DEV_LOC` = 'Garten', `DEV_VAL_DESC` = 'Homematic CCU IP', `DEV_VAL_UNIT` = '',    `DEV_OLD_NAME` = 'Systeminfo', `DEV_OLD_TYP` = 'Homematic_CCU_ip', `DEV_MQTT` = '/myHOME/sensor/devices/Weatherman', `DEV_FL_STO` = 0 , `DEV_FL_MQTT` = 0;\" +\n \"INSERT INTO SENSOR_DEVICES SET `ID_DEV`='100903', `DEV_NAME` = 'Weatherman', `DEV_TYP` = 'wm_sys_wlan-ssid',       `DEV_DESC` = 'Wetterstation', `DEV_LOC` = 'Garten', `DEV_VAL_DESC` = 'WLAN SSID',        `DEV_VAL_UNIT` = '',    `DEV_OLD_NAME` = 'Systeminfo', `DEV_OLD_TYP` = 'WLAN_ssid',        `DEV_MQTT` = '/myHOME/sensor/devices/Weatherman', `DEV_FL_STO` = 0 , `DEV_FL_MQTT` = 0;\" +\n \"INSERT INTO SENSOR_DEVICES SET `ID_DEV`='100904', `DEV_NAME` = 'Weatherman', `DEV_TYP` = 'wm_sys_wlan-signal-dbm', `DEV_DESC` = 'Wetterstation', `DEV_LOC` = 'Garten', `DEV_VAL_DESC` = 'WLAN Signal',      `DEV_VAL_UNIT` = 'dBm', `DEV_OLD_NAME` = 'Systeminfo', `DEV_OLD_TYP` = 'WLAN_Signal_dBm',  `DEV_MQTT` = '/myHOME/sensor/devices/Weatherman', `DEV_FL_STO` = 0 , `DEV_FL_MQTT` = 0;\" +\n \"INSERT INTO SENSOR_DEVICES SET `ID_DEV`='100905', `DEV_NAME` = 'Weatherman', `DEV_TYP` = 'wm_sys_sec-seit-reset',  `DEV_DESC` = 'Wetterstation', `DEV_LOC` = 'Garten', `DEV_VAL_DESC` = 'Zeit seit Reset',  `DEV_VAL_UNIT` = 'sec', `DEV_OLD_NAME` = 'Systeminfo', `DEV_OLD_TYP` = 'sec_seit_reset',   `DEV_MQTT` = '/myHOME/sensor/devices/Weatherman', `DEV_FL_STO` = 0 , `DEV_FL_MQTT` = 0;\" +\n \"INSERT INTO SENSOR_DEVICES SET `ID_DEV`='100906', `DEV_NAME` = 'Weatherman', `DEV_TYP` = 'wm_sys_zeitpunkt',       `DEV_DESC` = 'Wetterstation', `DEV_LOC` = 'Garten', `DEV_VAL_DESC` = 'Zeitpunkt',        `DEV_VAL_UNIT` = '',    `DEV_OLD_NAME` = 'Systeminfo', `DEV_OLD_TYP` = 'zeitpunkt',        `DEV_MQTT` = '/myHOME/sensor/devices/Weatherman', `DEV_FL_STO` = 0 , `DEV_FL_MQTT` = 0;\" +\n \"INSERT INTO SENSOR_DEVICES SET `ID_DEV`='100907', `DEV_NAME` = 'Weatherman', `DEV_TYP` = 'wm_sys_firmware',        `DEV_DESC` = 'Wetterstation', `DEV_LOC` = 'Garten', `DEV_VAL_DESC` = 'Firmware',         `DEV_VAL_UNIT` = '',    `DEV_OLD_NAME` = 'Systeminfo', `DEV_OLD_TYP` = 'firmware',         `DEV_MQTT` = '/myHOME/sensor/devices/Weatherman', `DEV_FL_STO` = 0 , `DEV_FL_MQTT` = 0;\" +\n // \n // # Weatherman - Firmware stable 58        # Weatherman - Firmware 87\n // # name: 0: w_ip                          # name: 0: w_ip\n \"INSERT INTO SENSOR_DEVICES SET `ID_DEV`='100000', `DEV_NAME` = 'Weatherman', `DEV_TYP` = 'wm_sys_ip',              `DEV_DESC` = 'Wetterstation', `DEV_LOC` = 'Garten', `DEV_VAL_DESC` = 'IP-Adresse', `DEV_VAL_UNIT` = '', `DEV_OLD_NAME` = 'name', `DEV_OLD_TYP` = '0', `DEV_MQTT` = '/myHOME/sensor/devices/Weatherman', `DEV_FL_STO` = 0 , `DEV_FL_MQTT` = 0;\" +\n //\n // # Weatherman - Firmware stable 58        # Weatherman - Firmware 87\n // # name: 1: w_temperature                 # name: 1: w_temperature\n // # name:21: w_windchill                   # name:21: w_windchill\n // # name: 9: w_taupunkt                    # name: 9: w_taupunkt\n // #                                        # name:14: w_himmeltemperatur\n \"INSERT INTO SENSOR_DEVICES SET `ID_DEV`='100001', `DEV_NAME` = 'Weatherman', `DEV_TYP` = 'wm_temp',           `DEV_DESC` = 'Wetterstation', `DEV_LOC` = 'Garten', `DEV_VAL_DESC` = 'Temperatur-Außen',    `DEV_VAL_UNIT` = '°C', `DEV_OLD_NAME` = 'name', `DEV_OLD_TYP` = '1',  `DEV_MQTT` = '/myHOME/sensor/devices/Weatherman', `DEV_FL_STO` = 1 ,  `DEV_FL_MQTT` = 1;\" +\n \"INSERT INTO SENSOR_DEVICES SET `ID_DEV`='100021', `DEV_NAME` = 'Weatherman', `DEV_TYP` = 'wm_temp_windchill', `DEV_DESC` = 'Wetterstation', `DEV_LOC` = 'Garten', `DEV_VAL_DESC` = 'Temperatur-Gefühlt',  `DEV_VAL_UNIT` = '°C', `DEV_OLD_NAME` = 'name', `DEV_OLD_TYP` = '21', `DEV_MQTT` = '/myHOME/sensor/devices/Weatherman', `DEV_FL_STO` = 1 ,  `DEV_FL_MQTT` = 1;\" +\n \"INSERT INTO SENSOR_DEVICES SET `ID_DEV`='100009', `DEV_NAME` = 'Weatherman', `DEV_TYP` = 'wm_temp_dewpoint',  `DEV_DESC` = 'Wetterstation', `DEV_LOC` = 'Garten', `DEV_VAL_DESC` = 'Temperatur-Taupunkt', `DEV_VAL_UNIT` = '°C', `DEV_OLD_NAME` = 'name', `DEV_OLD_TYP` = '9',  `DEV_MQTT` = '/myHOME/sensor/devices/Weatherman', `DEV_FL_STO` = 1 ,  `DEV_FL_MQTT` = 1;\" +\n \"INSERT INTO SENSOR_DEVICES SET `ID_DEV`='100014', `DEV_NAME` = 'Weatherman', `DEV_TYP` = 'wm_temp_sky',       `DEV_DESC` = 'Wetterstation', `DEV_LOC` = 'Garten', `DEV_VAL_DESC` = 'Temperatur-Himmel',   `DEV_VAL_UNIT` = '°C', `DEV_OLD_NAME` = 'name', `DEV_OLD_TYP` = '14', `DEV_MQTT` = '/myHOME/sensor/devices/Weatherman', `DEV_FL_STO` = 1 ,  `DEV_FL_MQTT` = 1;\" +\n // \n // # Weatherman - Firmware stable 58        # Weatherman - Firmware 87\n // # name: 2: w_humidity                    # name: 2: w_feuchte_rel\n // # name:17: w_hum_abs                     # name:17: w_feuchte_abs\n \"INSERT INTO SENSOR_DEVICES SET `ID_DEV`='100002', `DEV_NAME` = 'Weatherman', `DEV_TYP` = 'wm_hum_pro', `DEV_DESC` = 'Wetterstation', `DEV_LOC` = 'Garten', `DEV_VAL_DESC` = 'Feuchte-Außen', `DEV_VAL_UNIT` = '%',    `DEV_OLD_NAME` = 'name', `DEV_OLD_TYP` = '2',  `DEV_MQTT` = '/myHOME/sensor/devices/Weatherman', `DEV_FL_STO` = 1 , `DEV_FL_MQTT` = 1;\" +\n \"INSERT INTO SENSOR_DEVICES SET `ID_DEV`='100017', `DEV_NAME` = 'Weatherman', `DEV_TYP` = 'wm_hum_abs', `DEV_DESC` = 'Wetterstation', `DEV_LOC` = 'Garten', `DEV_VAL_DESC` = 'Feuchte-Außen', `DEV_VAL_UNIT` = 'g/m³', `DEV_OLD_NAME` = 'name', `DEV_OLD_TYP` = '17', `DEV_MQTT` = '/myHOME/sensor/devices/Weatherman', `DEV_FL_STO` = 1 , `DEV_FL_MQTT` = 1;\" +\n // \n // # Weatherman - Firmware stable 58        # Weatherman - Firmware 87\n // # name:18: w_rain_activity               # name:18: w_regensensor_wert\n // # name: 7: w_rain_status                 # name: 7: w_regenmelder\n // # name: 8: w_rain_intensity              # name: 8: w_regenstaerke\n // # name:19: w_rain_volume_1               # name:19: w_regen_letzte_h\n // # name:20: w_rain_volume_24              # name:20: w_regen_mm_heute\n // # name:27: w_rain_yesterday              # name:27: w_regen_mm_gestern\n \"INSERT INTO SENSOR_DEVICES SET `ID_DEV`='100018', `DEV_NAME` = 'Weatherman', `DEV_TYP` = 'wm_rain_activity',  `DEV_DESC` = 'Wetterstation', `DEV_LOC` = 'Garten', `DEV_VAL_DESC` = 'Regen-Melderwert',  `DEV_VAL_UNIT` = '',     `DEV_OLD_NAME` = 'name', `DEV_OLD_TYP` = '18', `DEV_MQTT` = '/myHOME/sensor/devices/Weatherman', `DEV_FL_STO` = 1 , `DEV_FL_MQTT` = 1;\" +\n \"INSERT INTO SENSOR_DEVICES SET `ID_DEV`='100007', `DEV_NAME` = 'Weatherman', `DEV_TYP` = 'wm_rain_status',    `DEV_DESC` = 'Wetterstation', `DEV_LOC` = 'Garten', `DEV_VAL_DESC` = 'Regen-Status',      `DEV_VAL_UNIT` = '',     `DEV_OLD_NAME` = 'name', `DEV_OLD_TYP` = '7',  `DEV_MQTT` = '/myHOME/sensor/devices/Weatherman', `DEV_FL_STO` = 1 , `DEV_FL_MQTT` = 1;\" +\n \"INSERT INTO SENSOR_DEVICES SET `ID_DEV`='100008', `DEV_NAME` = 'Weatherman', `DEV_TYP` = 'wm_rain_intensity', `DEV_DESC` = 'Wetterstation', `DEV_LOC` = 'Garten', `DEV_VAL_DESC` = 'Regen-Stärke',      `DEV_VAL_UNIT` = 'mm/h', `DEV_OLD_NAME` = 'name', `DEV_OLD_TYP` = '8',  `DEV_MQTT` = '/myHOME/sensor/devices/Weatherman', `DEV_FL_STO` = 1 , `DEV_FL_MQTT` = 1;\" +\n \"INSERT INTO SENSOR_DEVICES SET `ID_DEV`='100019', `DEV_NAME` = 'Weatherman', `DEV_TYP` = 'wm_rain_volume_1',  `DEV_DESC` = 'Wetterstation', `DEV_LOC` = 'Garten', `DEV_VAL_DESC` = 'Regen-Menge (1h)',  `DEV_VAL_UNIT` = 'mm',   `DEV_OLD_NAME` = 'name', `DEV_OLD_TYP` = '19', `DEV_MQTT` = '/myHOME/sensor/devices/Weatherman', `DEV_FL_STO` = 1 , `DEV_FL_MQTT` = 1;\" +\n \"INSERT INTO SENSOR_DEVICES SET `ID_DEV`='100020', `DEV_NAME` = 'Weatherman', `DEV_TYP` = 'wm_rain_volume_24', `DEV_DESC` = 'Wetterstation', `DEV_LOC` = 'Garten', `DEV_VAL_DESC` = 'Regen-Menge (24h)', `DEV_VAL_UNIT` = 'mm',   `DEV_OLD_NAME` = 'name', `DEV_OLD_TYP` = '20', `DEV_MQTT` = '/myHOME/sensor/devices/Weatherman', `DEV_FL_STO` = 1 , `DEV_FL_MQTT` = 1;\" +\n \"INSERT INTO SENSOR_DEVICES SET `ID_DEV`='100027', `DEV_NAME` = 'Weatherman', `DEV_TYP` = 'wm_rain_yesterday', `DEV_DESC` = 'Wetterstation', `DEV_LOC` = 'Garten', `DEV_VAL_DESC` = 'Regen-Menge gest.', `DEV_VAL_UNIT` = 'mm',   `DEV_OLD_NAME` = 'name', `DEV_OLD_TYP` = '27', `DEV_MQTT` = '/myHOME/sensor/devices/Weatherman', `DEV_FL_STO` = 1 , `DEV_FL_MQTT` = 1;\" +\n // #                                        # name:32: w_regenstunden_heute  --> 'wm_rain_hours_24'\n  \"INSERT INTO SENSOR_DEVICES SET `ID_DEV`='100032', `DEV_NAME` = 'Weatherman', `DEV_TYP` = 'wm_rain_hours_24',  `DEV_DESC` = 'Wetterstation', `DEV_LOC` = 'Garten', `DEV_VAL_DESC` = 'Regen-Std. heute',  `DEV_VAL_UNIT` = 'h',    `DEV_OLD_NAME` = 'name', `DEV_OLD_TYP` = '32', `DEV_MQTT` = '/myHOME/sensor/devices/Weatherman', `DEV_FL_STO` = 1 , `DEV_FL_MQTT` = 1;\" +\n // \n // # Weatherman - Firmware stable 58        # Weatherman - Firmware 86\n // # name: 3: w_barometer                   # name: 3: w_barometer\n // # name:11: w_barotrend                   # name:11: w_barotrend\n \"INSERT INTO SENSOR_DEVICES SET `ID_DEV`='100003', `DEV_NAME` = 'Weatherman', `DEV_TYP` = 'wm_baro_nn',    `DEV_DESC` = 'Wetterstation', `DEV_LOC` = 'Garten', `DEV_VAL_DESC` = 'Luftdruck',       `DEV_VAL_UNIT` = 'hPa', `DEV_OLD_NAME` = 'name', `DEV_OLD_TYP` = '3',  `DEV_MQTT` = '/myHOME/sensor/devices/Weatherman', `DEV_FL_STO` = 1 , `DEV_FL_MQTT` = 1;\" +\n \"INSERT INTO SENSOR_DEVICES SET `ID_DEV`='100011', `DEV_NAME` = 'Weatherman', `DEV_TYP` = 'wm_baro_trend', `DEV_DESC` = 'Wetterstation', `DEV_LOC` = 'Garten', `DEV_VAL_DESC` = 'Luftdruck-Trend', `DEV_VAL_UNIT` = '',    `DEV_OLD_NAME` = 'name', `DEV_OLD_TYP` = '11', `DEV_MQTT` = '/myHOME/sensor/devices/Weatherman', `DEV_FL_STO` = 1 , `DEV_FL_MQTT` = 1;\" +\n // \n // # Weatherman - Firmware stable 58        # Weatherman - Firmware 87\n // # name: 4: w_wind_avg                    # name: 4: w_wind_mittel\n // # name: 5: w_wind_peak                   # name: 5: w_wind_spitze\n // # name:24: w_windstaerke                 # name:24: w_windstaerke\n // # name:23: w_wind_direction              # name:23: w_windrichtung\n // # name: 6: w_wind_dir                    # name: 6: w_wind_dir\n \"INSERT INTO SENSOR_DEVICES SET `ID_DEV`='100004', `DEV_NAME` = 'Weatherman', `DEV_TYP` = 'wm_wind_avg',       `DEV_DESC` = 'Wetterstation', `DEV_LOC` = 'Garten', `DEV_VAL_DESC` = 'Wind-Geschw. Mittel', `DEV_VAL_UNIT` = 'm/s', `DEV_OLD_NAME` = 'name', `DEV_OLD_TYP` = '4',  `DEV_MQTT` = '/myHOME/sensor/devices/Weatherman', `DEV_FL_STO` = 1 , `DEV_FL_MQTT` = 1;\" +\n \"INSERT INTO SENSOR_DEVICES SET `ID_DEV`='100005', `DEV_NAME` = 'Weatherman', `DEV_TYP` = 'wm_wind_peak',      `DEV_DESC` = 'Wetterstation', `DEV_LOC` = 'Garten', `DEV_VAL_DESC` = 'Wind-Geschw. Spitze', `DEV_VAL_UNIT` = 'm/s', `DEV_OLD_NAME` = 'name', `DEV_OLD_TYP` = '5',  `DEV_MQTT` = '/myHOME/sensor/devices/Weatherman', `DEV_FL_STO` = 1 , `DEV_FL_MQTT` = 1;\" +\n \"INSERT INTO SENSOR_DEVICES SET `ID_DEV`='100024', `DEV_NAME` = 'Weatherman', `DEV_TYP` = 'wm_wind_force',     `DEV_DESC` = 'Wetterstation', `DEV_LOC` = 'Garten', `DEV_VAL_DESC` = 'Wind-Stärke',         `DEV_VAL_UNIT` = 'Bft', `DEV_OLD_NAME` = 'name', `DEV_OLD_TYP` = '24', `DEV_MQTT` = '/myHOME/sensor/devices/Weatherman', `DEV_FL_STO` = 1 , `DEV_FL_MQTT` = 1;\" +\n \"INSERT INTO SENSOR_DEVICES SET `ID_DEV`='100023', `DEV_NAME` = 'Weatherman', `DEV_TYP` = 'wm_wind_direction', `DEV_DESC` = 'Wetterstation', `DEV_LOC` = 'Garten', `DEV_VAL_DESC` = 'Wind-Richtung',       `DEV_VAL_UNIT` = '',    `DEV_OLD_NAME` = 'name', `DEV_OLD_TYP` = '23', `DEV_MQTT` = '/myHOME/sensor/devices/Weatherman', `DEV_FL_STO` = 1 , `DEV_FL_MQTT` = 1;\" +\n \"INSERT INTO SENSOR_DEVICES SET `ID_DEV`='100006', `DEV_NAME` = 'Weatherman', `DEV_TYP` = 'wm_wind_dir',       `DEV_DESC` = 'Wetterstation', `DEV_LOC` = 'Garten', `DEV_VAL_DESC` = 'Wind-Richtung',       `DEV_VAL_UNIT` = '°',   `DEV_OLD_NAME` = 'name', `DEV_OLD_TYP` = '6',  `DEV_MQTT` = '/myHOME/sensor/devices/Weatherman', `DEV_FL_STO` = 1 , `DEV_FL_MQTT` = 1;\" +\n // \n // # Weatherman - Firmware stable 58        # Weatherman - Firmware 87\n // # name:10: w_lux                         # name:10: w_lux\n // # name:15: w_sun_temp                    # name:15: --entfallen--\n // # name:22: w_diff_temp                   # name:22: w_sonne_diff_temp\n // # name:16: w_sonne_scheint               # name:16: w_sonne_scheint\n // # name:12: w_elevation                   # name:12: w_elevation\n // # name:13: w_azimut                      # name:13: w_azimut\n \"INSERT INTO SENSOR_DEVICES SET `ID_DEV`='100010', `DEV_NAME` = 'Weatherman', `DEV_TYP` = 'wm_sun_lux',            `DEV_DESC` = 'Wetterstation', `DEV_LOC` = 'Garten', `DEV_VAL_DESC` = 'Sonne-Helligkeit',     `DEV_VAL_UNIT` = 'Lux', `DEV_OLD_NAME` = 'name', `DEV_OLD_TYP` = '10', `DEV_MQTT` = '/myHOME/sensor/devices/Weatherman', `DEV_FL_STO` = 1 , `DEV_FL_MQTT` = 1;\" +\n \"INSERT INTO SENSOR_DEVICES SET `ID_DEV`='100015', `DEV_NAME` = 'Weatherman', `DEV_TYP` = 'wm_sun_temp',           `DEV_DESC` = 'Wetterstation', `DEV_LOC` = 'Garten', `DEV_VAL_DESC` = 'Sonne-Temperatur',     `DEV_VAL_UNIT` = '°C',  `DEV_OLD_NAME` = 'name', `DEV_OLD_TYP` = '15', `DEV_MQTT` = '/myHOME/sensor/devices/Weatherman', `DEV_FL_STO` = 1 , `DEV_FL_MQTT` = 1;\" +\n \"INSERT INTO SENSOR_DEVICES SET `ID_DEV`='100022', `DEV_NAME` = 'Weatherman', `DEV_TYP` = 'wm_sun_temp_diff',      `DEV_DESC` = 'Wetterstation', `DEV_LOC` = 'Garten', `DEV_VAL_DESC` = 'Sonne-DiffTemperatur', `DEV_VAL_UNIT` = '°C',  `DEV_OLD_NAME` = 'name', `DEV_OLD_TYP` = '22', `DEV_MQTT` = '/myHOME/sensor/devices/Weatherman', `DEV_FL_STO` = 1 , `DEV_FL_MQTT` = 1;\" +\n \"INSERT INTO SENSOR_DEVICES SET `ID_DEV`='100016', `DEV_NAME` = 'Weatherman', `DEV_TYP` = 'wm_sun_status',         `DEV_DESC` = 'Wetterstation', `DEV_LOC` = 'Garten', `DEV_VAL_DESC` = 'Sonne-Status',         `DEV_VAL_UNIT` = '',    `DEV_OLD_NAME` = 'name', `DEV_OLD_TYP` = '16', `DEV_MQTT` = '/myHOME/sensor/devices/Weatherman', `DEV_FL_STO` = 1 , `DEV_FL_MQTT` = 1;\" +\n \"INSERT INTO SENSOR_DEVICES SET `ID_DEV`='100012', `DEV_NAME` = 'Weatherman', `DEV_TYP` = 'wm_sun_elevation',      `DEV_DESC` = 'Wetterstation', `DEV_LOC` = 'Garten', `DEV_VAL_DESC` = 'Sonne-Elevation',      `DEV_VAL_UNIT` = '°',   `DEV_OLD_NAME` = 'name', `DEV_OLD_TYP` = '12', `DEV_MQTT` = '/myHOME/sensor/devices/Weatherman', `DEV_FL_STO` = 1 , `DEV_FL_MQTT` = 1;\" +\n \"INSERT INTO SENSOR_DEVICES SET `ID_DEV`='100013', `DEV_NAME` = 'Weatherman', `DEV_TYP` = 'wm_sun_azimut',         `DEV_DESC` = 'Wetterstation', `DEV_LOC` = 'Garten', `DEV_VAL_DESC` = 'Sonne-Azimut',         `DEV_VAL_UNIT` = '°',   `DEV_OLD_NAME` = 'name', `DEV_OLD_TYP` = '13', `DEV_MQTT` = '/myHOME/sensor/devices/Weatherman', `DEV_FL_STO` = 1 , `DEV_FL_MQTT` = 1;\" +\n // #                                        # name:26: w_sonnenstunden_heute\n // #                                        # name:30: w_minuten_vor_sa\n // #                                        # name:31: w_minuten_vor su\n \"INSERT INTO SENSOR_DEVICES SET `ID_DEV`='100026', `DEV_NAME` = 'Weatherman', `DEV_TYP` = 'wm_sun_today_hours',    `DEV_DESC` = 'Wetterstation', `DEV_LOC` = 'Garten', `DEV_VAL_DESC` = 'Sonnen-Stunden heute',  `DEV_VAL_UNIT` = 'h',   `DEV_OLD_NAME` = 'name', `DEV_OLD_TYP` = '26', `DEV_MQTT` = '/myHOME/sensor/devices/Weatherman', `DEV_FL_STO` = 1 , `DEV_FL_MQTT` = 1;\" +\n \"INSERT INTO SENSOR_DEVICES SET `ID_DEV`='100030', `DEV_NAME` = 'Weatherman', `DEV_TYP` = 'wm_sun_before_sunrise', `DEV_DESC` = 'Wetterstation', `DEV_LOC` = 'Garten', `DEV_VAL_DESC` = 'Sonne - vor Aufgang',   `DEV_VAL_UNIT` = 'min', `DEV_OLD_NAME` = 'name', `DEV_OLD_TYP` = '30', `DEV_MQTT` = '/myHOME/sensor/devices/Weatherman', `DEV_FL_STO` = 1 , `DEV_FL_MQTT` = 1;\" +\n \"INSERT INTO SENSOR_DEVICES SET `ID_DEV`='100031', `DEV_NAME` = 'Weatherman', `DEV_TYP` = 'wm_sun_before_sunset',  `DEV_DESC` = 'Wetterstation', `DEV_LOC` = 'Garten', `DEV_VAL_DESC` = 'Sonne - vor Untergang', `DEV_VAL_UNIT` = 'min', `DEV_OLD_NAME` = 'name', `DEV_OLD_TYP` = '31', `DEV_MQTT` = '/myHOME/sensor/devices/Weatherman', `DEV_FL_STO` = 1 , `DEV_FL_MQTT` = 1;\" +\n // # Weatherman - Firmware stable 58        # Weatherman - Firmware 87\n // # name:25: w_bodenfeuchte                # name:25: w_bodenfeuchte\n \"INSERT INTO SENSOR_DEVICES SET `ID_DEV`='100025', `DEV_NAME` = 'Weatherman', `DEV_TYP` = 'wm_ground_hum', `DEV_DESC` = 'Wetterstation', `DEV_LOC` = 'Garten', `DEV_VAL_DESC` = 'Boden-Feuchtewert', `DEV_VAL_UNIT` = '', `DEV_OLD_NAME` = 'name', `DEV_OLD_TYP` = '25', `DEV_MQTT` = '/myHOME/sensor/devices/Weatherman', `DEV_FL_STO` = 1 , `DEV_FL_MQTT` = 1;\"\n}\nreturn myMsg;","outputs":1,"noerr":0,"x":610,"y":580,"wires":[[]]},{"id":"c7f39551.bdecc8","type":"inject","z":"5b5ca811.a671d","name":"100 - Init SENSOR_DEVICES - Weatherman","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":500,"wires":[["6c17c236.ee02a4"]]},{"id":"a341db2b.de5908","type":"inject","z":"5b5ca811.a671d","name":"100 - Weatherman -  !!! ALLE !!!  Devices löschen","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":460,"wires":[["18b3767c.6b3f7e"]]},{"id":"18b3767c.6b3f7e","type":"function","z":"5b5ca811.a671d","name":"SQL - Weatherman -  !!! ALLE !!!  Devices löschen","func":"var myMsg = {\n \"topic\":\n \"USE `myHOME`;\" +\n // #\n // # ### ALLE Weatherman Devices löschen  ###\n // #\n // \n // \"DELETE QUICK FROM SENSOR_READINGS WHERE ID_DEV >= '100000' AND ID_DEV <= '100999';\" +\n \"DELETE QUICK FROM SENSOR_DEVICES WHERE DEV_NAME = 'Weatherman';\"\n}\nreturn myMsg;","outputs":1,"noerr":0,"x":640,"y":460,"wires":[["50f08e72.b94794"]]},{"id":"ffaf990.4c7b228","type":"function","z":"5b5ca811.a671d","name":"SQL - SENSOR_DEVICES - Feinstaub","func":"var myMsg = {\n \"topic\":\n \"USE `myHOME`;\" +\n // #\n // # ### Feinstaub ###\n // #\n // \n // # `ID_DEV`-Aufbau xxxyyy mit\n // # xxx = von der IP-Adresse 192.168.010.xxx \n // # yyy = 3stelliger Index - hier: interne param-Nummerierung des Feinstaub\n \"INSERT INTO SENSOR_DEVICES SET `ID_DEV`='101901', `DEV_NAME` = 'Feinstaub', `DEV_TYP` = 'fs_sys_id',       `DEV_DESC` = 'Feinstaub-Sensor', `DEV_LOC` = 'Garten', `DEV_VAL_DESC` = 'EPS286-ID', `DEV_VAL_UNIT` = '', `DEV_OLD_NAME` = '', `DEV_OLD_TYP` = 'esp8266id',        `DEV_MQTT` = '/myHOME/sensor/devices/Feinstaub', `DEV_FL_STO` = 0, `DEV_FL_MQTT` = 1;\" +\n \"INSERT INTO SENSOR_DEVICES SET `ID_DEV`='101902', `DEV_NAME` = 'Feinstaub', `DEV_TYP` = 'fs_sys_firmware', `DEV_DESC` = 'Feinstaub-Sensor', `DEV_LOC` = 'Garten', `DEV_VAL_DESC` = 'Firmware',  `DEV_VAL_UNIT` = '', `DEV_OLD_NAME` = '', `DEV_OLD_TYP` = 'software_version', `DEV_MQTT` = '/myHOME/sensor/devices/Feinstaub', `DEV_FL_STO` = 0, `DEV_FL_MQTT` = 1;\" +\n\n \"INSERT INTO SENSOR_DEVICES SET `ID_DEV`='101001', `DEV_NAME` = 'Feinstaub', `DEV_TYP` = 'fs_sds011_pm2_5', `DEV_DESC` = 'Feinstaub-Sensor', `DEV_LOC` = 'Garten', `DEV_VAL_DESC` = 'PM2.5',       `DEV_VAL_UNIT` = 'µg/m³', `DEV_OLD_NAME` = 'value_type', `DEV_OLD_TYP` = 'SDS_P1',             `DEV_MQTT` = '/myHOME/sensor/devices/Feinstaub', `DEV_FL_STO` = 1, `DEV_FL_MQTT` = 1;\" +\n \"INSERT INTO SENSOR_DEVICES SET `ID_DEV`='101002', `DEV_NAME` = 'Feinstaub', `DEV_TYP` = 'fs_sds011_pm10',  `DEV_DESC` = 'Feinstaub-Sensor', `DEV_LOC` = 'Garten', `DEV_VAL_DESC` = 'PM10',        `DEV_VAL_UNIT` = 'µg/m³', `DEV_OLD_NAME` = 'value_type', `DEV_OLD_TYP` = 'SDS_P2',             `DEV_MQTT` = '/myHOME/sensor/devices/Feinstaub', `DEV_FL_STO` = 1, `DEV_FL_MQTT` = 1;\" +\n \"INSERT INTO SENSOR_DEVICES SET `ID_DEV`='101011', `DEV_NAME` = 'Feinstaub', `DEV_TYP` = 'fs_temp',         `DEV_DESC` = 'Feinstaub-Sensor', `DEV_LOC` = 'Garten', `DEV_VAL_DESC` = 'Temperatur',  `DEV_VAL_UNIT` = '°C',    `DEV_OLD_NAME` = 'value_type', `DEV_OLD_TYP` = 'temperature',        `DEV_MQTT` = '/myHOME/sensor/devices/Feinstaub', `DEV_FL_STO` = 1, `DEV_FL_MQTT` = 1;\" +\n \"INSERT INTO SENSOR_DEVICES SET `ID_DEV`='101012', `DEV_NAME` = 'Feinstaub', `DEV_TYP` = 'fs_hum',          `DEV_DESC` = 'Feinstaub-Sensor', `DEV_LOC` = 'Garten', `DEV_VAL_DESC` = 'Luftfeuchte', `DEV_VAL_UNIT` = '%',     `DEV_OLD_NAME` = 'value_type', `DEV_OLD_TYP` = 'humidity',           `DEV_MQTT` = '/myHOME/sensor/devices/Feinstaub', `DEV_FL_STO` = 1, `DEV_FL_MQTT` = 1;\" +\n \"INSERT INTO SENSOR_DEVICES SET `ID_DEV`='101021', `DEV_NAME` = 'Feinstaub', `DEV_TYP` = 'fs_bmp_temp',     `DEV_DESC` = 'Feinstaub-Sensor', `DEV_LOC` = 'Garten', `DEV_VAL_DESC` = 'Temperatur',  `DEV_VAL_UNIT` = '°C',    `DEV_OLD_NAME` = 'value_type', `DEV_OLD_TYP` = 'BMP_temperature',    `DEV_MQTT` = '/myHOME/sensor/devices/Feinstaub', `DEV_FL_STO` = 1, `DEV_FL_MQTT` = 1;\" +\n \"INSERT INTO SENSOR_DEVICES SET `ID_DEV`='101022', `DEV_NAME` = 'Feinstaub', `DEV_TYP` = 'fs_bmp_baro',     `DEV_DESC` = 'Feinstaub-Sensor', `DEV_LOC` = 'Garten', `DEV_VAL_DESC` = 'Luftdruck',   `DEV_VAL_UNIT` = 'hPa',   `DEV_OLD_NAME` = 'value_type', `DEV_OLD_TYP` = 'BMP_pressure',       `DEV_MQTT` = '/myHOME/sensor/devices/Feinstaub', `DEV_FL_STO` = 1, `DEV_FL_MQTT` = 1;\" +\n \"INSERT INTO SENSOR_DEVICES SET `ID_DEV`='101031', `DEV_NAME` = 'Feinstaub', `DEV_TYP` = 'fs_bme280_temp',  `DEV_DESC` = 'Feinstaub-Sensor', `DEV_LOC` = 'Garten', `DEV_VAL_DESC` = 'Temperatur',  `DEV_VAL_UNIT` = '°C',    `DEV_OLD_NAME` = 'value_type', `DEV_OLD_TYP` = 'BME280_temperature', `DEV_MQTT` = '/myHOME/sensor/devices/Feinstaub', `DEV_FL_STO` = 1, `DEV_FL_MQTT` = 1;\" +\n \"INSERT INTO SENSOR_DEVICES SET `ID_DEV`='101032', `DEV_NAME` = 'Feinstaub', `DEV_TYP` = 'fs_bme280_hum',   `DEV_DESC` = 'Feinstaub-Sensor', `DEV_LOC` = 'Garten', `DEV_VAL_DESC` = 'Luftfeuchte', `DEV_VAL_UNIT` = '%',     `DEV_OLD_NAME` = 'value_type', `DEV_OLD_TYP` = 'BME280_humidity',    `DEV_MQTT` = '/myHOME/sensor/devices/Feinstaub', `DEV_FL_STO` = 1, `DEV_FL_MQTT` = 1;\" +\n \"INSERT INTO SENSOR_DEVICES SET `ID_DEV`='101033', `DEV_NAME` = 'Feinstaub', `DEV_TYP` = 'fs_bme280_baro',  `DEV_DESC` = 'Feinstaub-Sensor', `DEV_LOC` = 'Garten', `DEV_VAL_DESC` = 'Luftdruck',   `DEV_VAL_UNIT` = 'hPa',   `DEV_OLD_NAME` = 'value_type', `DEV_OLD_TYP` = 'BME280_pressure',    `DEV_MQTT` = '/myHOME/sensor/devices/Feinstaub', `DEV_FL_STO` = 1, `DEV_FL_MQTT` = 1;\" +\n\n \"INSERT INTO SENSOR_DEVICES SET `ID_DEV`='101801', `DEV_NAME` = 'Feinstaub', `DEV_TYP` = 'fs_sys_samples',   `DEV_DESC` = 'Feinstaub-Sensor', `DEV_LOC` = 'Garten', `DEV_VAL_DESC` = 'Messungen', `DEV_VAL_UNIT` = '',    `DEV_OLD_NAME` = 'value_type', `DEV_OLD_TYP` = 'samples',   `DEV_MQTT` = '/myHOME/sensor/devices/Feinstaub', `DEV_FL_STO` = 0, `DEV_FL_MQTT` = 1;\" +\n \"INSERT INTO SENSOR_DEVICES SET `ID_DEV`='101802', `DEV_NAME` = 'Feinstaub', `DEV_TYP` = 'fs_sys_min_micro', `DEV_DESC` = 'Feinstaub-Sensor', `DEV_LOC` = 'Garten', `DEV_VAL_DESC` = 'min Micro', `DEV_VAL_UNIT` = '',    `DEV_OLD_NAME` = 'value_type', `DEV_OLD_TYP` = 'min_micro', `DEV_MQTT` = '/myHOME/sensor/devices/Feinstaub', `DEV_FL_STO` = 0, `DEV_FL_MQTT` = 1;\" +\n \"INSERT INTO SENSOR_DEVICES SET `ID_DEV`='101803', `DEV_NAME` = 'Feinstaub', `DEV_TYP` = 'fs_sys_max_micro', `DEV_DESC` = 'Feinstaub-Sensor', `DEV_LOC` = 'Garten', `DEV_VAL_DESC` = 'max Micro', `DEV_VAL_UNIT` = '',    `DEV_OLD_NAME` = 'value_type', `DEV_OLD_TYP` = 'max_micro', `DEV_MQTT` = '/myHOME/sensor/devices/Feinstaub', `DEV_FL_STO` = 0, `DEV_FL_MQTT` = 1;\" +\n \"INSERT INTO SENSOR_DEVICES SET `ID_DEV`='101804', `DEV_NAME` = 'Feinstaub', `DEV_TYP` = 'fs_sys_signal',    `DEV_DESC` = 'Feinstaub-Sensor', `DEV_LOC` = 'Garten', `DEV_VAL_DESC` = 'Signal',    `DEV_VAL_UNIT` = 'dBm', `DEV_OLD_NAME` = 'value_type', `DEV_OLD_TYP` = 'signal',    `DEV_MQTT` = '/myHOME/sensor/devices/Feinstaub', `DEV_FL_STO` = 0, `DEV_FL_MQTT` = 1;\"\n}\nreturn myMsg;","outputs":1,"noerr":0,"x":600,"y":770,"wires":[[]]},{"id":"86f9848d.d7c758","type":"inject","z":"5b5ca811.a671d","name":"101 - Init SENSOR_DEVICES - Feinstaub","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":690,"wires":[["8e227520.a3b378"]]},{"id":"16521771.8d7d51","type":"inject","z":"5b5ca811.a671d","name":"101 - Feinstaub -  !!! ALLE !!!  Devices löschen","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":650,"wires":[["e1f4b596.8d5088"]]},{"id":"e1f4b596.8d5088","type":"function","z":"5b5ca811.a671d","name":"SQL - Feinstaub -  !!! ALLE !!!  Devices löschen","func":"var myMsg = {\n \"topic\":\n \"USE `myHOME`;\" +\n // #\n // # ### ALLE Feinstaub Devices löschen  ###\n // #\n // \n // \"DELETE QUICK FROM SENSOR_READINGS WHERE ID_DEV >= '101000' AND ID_DEV <= '101999';\" +\n \"DELETE QUICK FROM SENSOR_DEVICES WHERE DEV_NAME = 'Feinstaub';\"\n}\nreturn myMsg;","outputs":1,"noerr":0,"x":630,"y":650,"wires":[["50f08e72.b94794"]]},{"id":"35d03fcd.746884","type":"comment","z":"5b5ca811.a671d","name":"Version 1.0.0.0 - 08.12.2018 - Readme - WW-myHOME - Datenbank","info":"------------------------------------------------------------------------\nReadme - WW-myHOME - Datenbank\n------------------------------------------------------------------------\n(c) by Dipl.Ing. Wolfram Winter - wolfram.winter@web.de\n\nThis work is licensed under a\nCreative Commons Attribution-NonCommercial-ShareAlike 4.0 International License.\n\nYou should have received a copy of the license along with this work. If\nnot, see <http://creativecommons.org/licenses/by-nc-sa/4.0/>.\n\n------------------------------------------------------------------------\nFunktion:\n\nErstellen der myHOME-Datenbank mit Node-RED\n\n------------------------------------------------------------------------\nDoku:\n\nhttps://github.com/wolwin/WW-myHOME/tree/master/myHOME%20-%20Datenbank\n\n------------------------------------------------------------------------\n    Erstellt:   10.11.2018 - Winter\n    Änderungen: 08.12.2018 - Winter\n                - Version 1.0.0.0\n\n------------------------------------------------------------------------\n","x":260,"y":30,"wires":[]},{"id":"5d0f01d6.52c0b8","type":"comment","z":"5b5ca811.a671d","name":"100 - Weatherman","info":"","x":120,"y":420,"wires":[]},{"id":"62f8984f.a1ee8c","type":"comment","z":"5b5ca811.a671d","name":"101 - Feinstaub","info":"","x":110,"y":610,"wires":[]},{"id":"6c17c236.ee02a4","type":"file in","z":"5b5ca811.a671d","name":"","filename":"/home/pi/.node-red/public/myHOME_Devices_WM.csv","format":"utf8","chunk":false,"sendError":false,"x":650,"y":500,"wires":[["bcf23cfc.cbc9c"]]},{"id":"bcf23cfc.cbc9c","type":"csv","z":"5b5ca811.a671d","name":"Read CSV","sep":";","hdrin":true,"hdrout":"","multi":"mult","ret":"\\n","temp":"","skip":"0","x":180,"y":350,"wires":[["f67046c6.f2147"]]},{"id":"f67046c6.f2147","type":"function","z":"5b5ca811.a671d","name":"CSV - SENSOR_DEVICES","func":"\n//\n// CSV - alle Device-Eintraege einlesen\n//\nvar myMsg = {};\nvar myTmp = \"\";\n\nvar myDeviceArray = msg.payload;\n\nif (myDeviceArray && typeof myDeviceArray === 'object') {\n  // Ueber alle Eintrage\n  var arrayLength = myDeviceArray.length;\n  for (var i = 0; i < arrayLength; i=i+1) {\n    // INSERT INTO SENSOR_DEVICES SET `ID_DEV`='100901', `DEV_NAME` = 'Weatherman', `DEV_TYP` = 'wm_sys_mac-adr',         `DEV_DESC` = 'Wetterstation', `DEV_LOC` = 'Garten', `DEV_VAL_DESC` = 'MAC-Adresse',      `DEV_VAL_UNIT` = '',    `DEV_OLD_NAME` = 'Systeminfo', `DEV_OLD_TYP` = 'MAC-Adresse',      `DEV_MQTT` = '/myHOME/sensor/devices/Weatherman', `DEV_FL_STO` = 0 , `DEV_FL_MQTT` = 0;\n    myTmp = myTmp + \" INSERT INTO SENSOR_DEVICES SET\";\n    myTmp = myTmp +  \" ID_DEV='\"       + (myDeviceArray[i].ID_DEV       !== undefined ? myDeviceArray[i].ID_DEV       : \"\") + \"'\";\n    myTmp = myTmp + \", DEV_NAME='\"     + (myDeviceArray[i].DEV_NAME     !== undefined ? myDeviceArray[i].DEV_NAME     : \"\") + \"'\";\n    myTmp = myTmp + \", DEV_TYP='\"      + (myDeviceArray[i].DEV_TYP      !== undefined ? myDeviceArray[i].DEV_TYP      : \"\") + \"'\";\n    myTmp = myTmp + \", DEV_DESC='\"     + (myDeviceArray[i].DEV_DESC     !== undefined ? myDeviceArray[i].DEV_DESC     : \"\") + \"'\";\n    myTmp = myTmp + \", DEV_LOC='\"      + (myDeviceArray[i].DEV_LOC      !== undefined ? myDeviceArray[i].DEV_LOC      : \"\") + \"'\";\n    myTmp = myTmp + \", DEV_VAL_DESC='\" + (myDeviceArray[i].DEV_VAL_DESC !== undefined ? myDeviceArray[i].DEV_VAL_DESC : \"\") + \"'\";\n    myTmp = myTmp + \", DEV_VAL_UNIT='\" + (myDeviceArray[i].DEV_VAL_UNIT !== undefined ? myDeviceArray[i].DEV_VAL_UNIT : \"\") + \"'\";\n    myTmp = myTmp + \", DEV_OLD_NAME='\" + (myDeviceArray[i].DEV_OLD_NAME !== undefined ? myDeviceArray[i].DEV_OLD_NAME : \"\") + \"'\";\n    myTmp = myTmp + \", DEV_OLD_TYP='\"  + (myDeviceArray[i].DEV_OLD_TYP  !== undefined ? myDeviceArray[i].DEV_OLD_TYP  : \"\") + \"'\";\n    myTmp = myTmp + \", DEV_MQTT='\"     + (myDeviceArray[i].DEV_MQTT     !== undefined ? myDeviceArray[i].DEV_MQTT     : \"\") + \"'\";\n    myTmp = myTmp + \", DEV_FL_ACT=\"    + myDeviceArray[i].DEV_FL_ACT   + \"\";\n    myTmp = myTmp + \", DEV_FL_STO=\"    + myDeviceArray[i].DEV_FL_STO   + \"\";\n    myTmp = myTmp + \", DEV_FL_MQTT=\"   + myDeviceArray[i].DEV_FL_MQTT  + \"\";\n    myTmp = myTmp + \", DEV_FL_INT=\"    + myDeviceArray[i].DEV_FL_INT   + \"\";\n    myTmp = myTmp + \";\"\n    // console.log(myTmp);\n  }\n\n  if (myTmp.length > 0) {\n    myMsg = { \"topic\": \"USE `myHOME`;\" + myTmp };\n  }\n}\n\nreturn myMsg;","outputs":1,"noerr":0,"x":230,"y":300,"wires":[["50f08e72.b94794"]]},{"id":"8e227520.a3b378","type":"file in","z":"5b5ca811.a671d","name":"","filename":"/home/pi/.node-red/public/myHOME_Devices_FS.csv","format":"utf8","chunk":false,"sendError":false,"x":650,"y":690,"wires":[["bcf23cfc.cbc9c"]]},{"id":"291b99df.5291d2","type":"inject","z":"5b5ca811.a671d","name":"100 - Weatherman -  !!! ALLE !!!  Readings löschen","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":540,"wires":[["5522dbbf.513fe8"]]},{"id":"5522dbbf.513fe8","type":"function","z":"5b5ca811.a671d","name":"SQL - Weatherman -  !!! ALLE !!!  Readings löschen","func":"var myMsg = {\n \"topic\":\n \"USE `myHOME`;\" +\n // #\n // # ### ALLE Weatherman Readings löschen  ###\n // #\n // \n \"DELETE QUICK FROM SENSOR_READINGS WHERE ID_DEV >= '100000' AND ID_DEV <= '100999';\"\n // \"DELETE QUICK FROM SENSOR_DEVICES WHERE DEV_NAME = 'Weatherman';\"\n}\nreturn myMsg;","outputs":1,"noerr":0,"x":640,"y":540,"wires":[["50f08e72.b94794"]]},{"id":"3b928f64.b14914","type":"inject","z":"5b5ca811.a671d","name":"101 - Feinstaub -  !!! ALLE !!!  Readings löschen","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":730,"wires":[["b1cec4f0.de20b"]]},{"id":"b1cec4f0.de20b","type":"function","z":"5b5ca811.a671d","name":"SQL - Feinstaub -  !!! ALLE !!!  Readings löschen","func":"var myMsg = {\n \"topic\":\n \"USE `myHOME`;\" +\n // #\n // # ### ALLE Feinstaub Readings löschen  ###\n // #\n // \n \"DELETE QUICK FROM SENSOR_READINGS WHERE ID_DEV >= '101000' AND ID_DEV <= '101999';\"\n // \"DELETE QUICK FROM SENSOR_DEVICES WHERE DEV_NAME = 'Feinstaub';\"\n}\nreturn myMsg;","outputs":1,"noerr":0,"x":630,"y":730,"wires":[["50f08e72.b94794"]]},{"id":"cc4f672b.e6b7c8","type":"MySQLdatabase","z":"","host":"192.168.0.11","port":"3306","db":"myHOME","tz":""}]